{% load i18n %}
<div class="form-group" id="id_custom_table_wrapper" style="margin-left: 20px;">
    <p>
        {% blocktrans trimmed %}
            Setup how you wish to map points to grade.
            Specify the grade in the first column, and the minimum number of
            points required to get that grade in the second column.
            The first row always has the value 0 in the second column,
            and this is not editable.
        {% endblocktrans %}
    </p>

    <div class="devilry-tabulardata-list devilry-tabulardata-list--as-table">
        <div class="devilry-tabulardata-list__content">
            <div class="devilry-tabulardata-list__header">
                <div class="devilry-tabulardata-list__cell">
                    {% trans 'Grade' %}
                </div>
                <div class="devilry-tabulardata-list__cell">
                    {% trans 'Minimum points required for grade' %}
                </div>
                <div class="devilry-tabulardata-list__cell"></div>
            </div>
            <div id="id_custom_table_body"
                 class="devilry-tabulardata-list__body"
                 data-ievv-jsbase-widget="devilry-grading-configuration-custom-table"
                 data-ievv-jsbase-widget-config='{}'></div>
        </div>
    </div>
    <div class="tabular-datalist-footer">
        <button type="button"
                class="btn btn-primary btn-sm"
                id="id_custom_table_add_row_button">
            {% trans "Add row" %}
        </button>
        <button type="button"
                class="btn btn-default btn-sm"
                id="id_custom_table_setup_atof_example_button">
            {% trans "Setup A-F example" %}
        </button>
    </div>
</div>
