{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load devilry_core_tags %}

{% block title %}
    {% trans "Delivery" %}#{{ delivery.number }} - {{ request.cradmin_role.assignment }}
{% endblock title %}

{% block jsimports %}
    {% include "markup/mathjaxheader.django.html" %}
    {{ block.super }}
{% endblock jsimports %}

{% block pageheader-inner %}
    <h1>
        {% trans "Delivery" %}#{{ delivery.number }}
    </h1>
    <p>
        {{ group.assignment.long_name }} -
        {{ group.subject.long_name }} -
        {{ group.period.long_name }}
    </p>
{% endblock pageheader-inner %}

{% block content %}

    {% if delivery.last_feedback %}
        <div id="devilry_student_group_deliverydetails_feedback_summary"
             class="container django-cradmin-container-focus
                {% if delivery.last_feedback.is_passing_grade %}
                    django-cradmin-container-focus-success
                    devilry-student-deliverydetails-feedbacksummary-passed
                {% else %}
                    django-cradmin-container-focus-warning
                    devilry-student-deliverydetails-feedbacksummary-failed
                {% endif %}
             ">
            {% trans "This delivery has been corrected, and the grade is" %}:
            <strong>{{ delivery.last_feedback|devilry_feedback_shortformat }}</strong>
        </div>
        {% if delivery.last_feedback.rendered_view or delivery.last_feedback.files.exists %}
            <div id="devilry_student_group_deliverydetails_feedback_text"
                 class="container django-cradmin-container-focus">
                <div id="devilry_student_group_deliverydetails_feedback_rendered_view"
                        class="devilry-feedback-rendered-view">
                    {% include "devilry_student/include/feedback-rendered-view.django.html" with feedback=delivery.last_feedback only %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div id="devilry_student_group_deliverydetails_metadata"
            class="container {% if not delivery.last_feedback %}django-cradmin-container-focus{% endif %}">
        <dl>
            {% if filemetas %}
                <dt id="devilry_student_group_deliverydetails_files_title">{% trans "Files" %}:</dt>
                <dd id="devilry_student_group_deliverydetails_files">
                    {% for filemeta in filemetas %}
                        <a href="{% url 'devilry-delivery-file-download' filemeta.id %}">{{ filemeta.filename }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </dd>
            {% endif %}

{#            {% if group.assignment.is_electronic %}#}
            {% if delivery.is_electronic %}
                {% if delivery.delivered_by %}
                    <dt id="devilry_student_group_deliverydetails_delivered_by_title">
                        {% trans "Delivered by" %}:
                    </dt>
                    <dd id="devilry_student_group_deliverydetails_delivered_by">
                        {{ delivery.delivered_by.student|devilry_user_displayname }}
                    </dd>
                {% endif %}

                <dt id="devilry_student_group_deliverydetails_time_of_delivery_title">
                    {% trans "Time of delivery" %}:
                </dt>
                <dd id="devilry_student_group_deliverydetails_time_of_delivery">
                    {{ delivery.time_of_delivery|date:"DATETIME_FORMAT" }}
                    {% if delivery.after_deadline %}
                        <span class='label label-danger'>
                            {% trans "After the deadline" %}
                        </span>
                    {% endif %}
                </dd>

                <dt id="devilry_student_group_deliverydetails_deadline_title">{% trans "Deadline" %}:</dt>
                <dd id="devilry_student_group_deliverydetails_deadline">
                    {{ delivery.deadline.deadline|date:"DATETIME_FORMAT" }}
                </dd>
            {% endif %}

            {% if delivery.last_feedback %}
                {% if not group.assignment.is_anonymous %}
                    <dt>{% trans "Feedback written by" %}:</dt>
                    <dd id="devilry_student_group_deliverydetails_feedback_written_by">
                        {{ delivery.last_feedback.saved_by|devilry_user_displayname }}
                    </dd>
                {% endif %}
                <dt>{% trans "Feedback time" %}:</dt>
                <dd id="devilry_student_group_deliverydetails_feedback_save_timestamp">
                    {{ delivery.last_feedback.save_timestamp|date:"DATETIME_FORMAT" }}
                </dd>
            {% endif %}
        </dl>
    </div>
{% endblock content %}
