{% extends "cradmin_legacy/viewhelpers/objecttable/objecttable.django.html" %}
{% load devilry_examiner_tags %}
{% load i18n %}

{% block title %}
    {% trans "Deliveries" %}
    -
    {{ request.cradmin_role.assignment }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% trans "Deliveries" %}
    </h1>
    <p>
        {% with group=request.cradmin_role  %}
            {{ group.assignment.long_name }} -
            {{ group.subject.long_name }} -
            {{ group.period.long_name }}
        {% endwith %}
    </p>
{% endblock pageheader-inner %}
