{% extends "devilry_examiner/base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}

{% block bodyid %}allgroupsoverview{% endblock %}

{% block body %}
<div class="container">
  <div class="page-header page-header-with-subheader">
    <h1>{{ assignment.long_name }}</h1>
    <p class="subheader">
      {{ assignment.parentnode.parentnode.long_name}} &mdash; {{ assignment.parentnode.long_name }}
    </p>
  </div>
  <ol class="breadcrumb">
    <li><a href="{% url 'devilry_frontpage' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
    <li class="active">{{ assignment.get_path }}</li>
  </ol>
</div>


<div class="container">
  <p>
{% block navbar %}
  <a class="btn btn-default" href="{% url 'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}/waiting_for_feedback" role="button">Waiting for feedback</a>
  <a class="btn btn-default" href="{% url 'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}/waiting_for_deliveries" role="button">Waiting for deliveries</a>
  <a class="btn btn-default" href="{% url 'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}/corrected" role="button">Corrected</a>
  <a class="btn btn-default active" href="{% url
  'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id
  }}" role="button">All</a>
{% endblock navbar %}
  </p>
</div>


</div>

{% block content %}
  <div class="container grouplistingbox">
    <table class="table table-striped infolistingtable">
      {% for group in groups %}
      <tr class="group">
        <td class="titled-cell groupinfo">
          <h3>
            <a href="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
              {{ group.long_displayname }}
            </a>
          </h3>
          
          <p class="text-{{
          group|group_delivery_status_to_bootstrapclass }} deliverystatus">{{ group.get_status|formatted_status }}</p>
        </td>

        <td class="hidden-xs">
          {% if group.get_status == "waiting-for-deliveries" %}
          <button type="button" class="btn btn-default hidden
                                       hidden-xs">{{ group.get_status|status_to_buttontext}}</button>
          {% else %}
          <button type="button" class="btn btn-default
                                       hidden-xs">{{ group.get_status|status_to_buttontext}}</button>
          {% endif %}

        </td>
      </tr>

      {% endfor%}
    </table><!-- row -->


    <ul class="pager">
      {% if groups.has_previous %}
      <li><a href="?page={{ groups.previous_page_number }}">previous</a></li>
      {% else %}
      <li class="disabled"><a href="?page={{ groups.previous_page_number }}">previous</a></li>
      {% endif %}

      <!-- <span class="current"> -->
      <!--   Page {{ groups.number }} of {{ groups.paginator.num_pages }}. -->
      <!-- </span> -->

      {% if groups.has_next %}
      <li><a href="?page={{ groups.next_page_number }}">next</a></li>
      {% else %}
      <li class="disabled"><a href="?page={{ groups.next_page_number }}">next</a></li>
      {% endif %}
    </ul>


  </div><!-- container -->



{% endblock content %}


{% endblock body%}
