{% extends "devilry_examiner/base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}

{% block bodyid %}allgroupsoverview{% endblock %}

{% block body %}
<div class="container">

  <div class="page-header page-header-with-subheader">
    <h1>{{ assignment.long_name }}</h1>
    <p class="subheader">
      {{ assignment.parentnode.parentnode.long_name}} &mdash; {{ assignment.parentnode.long_name }}
    </p>
  </div>
  <ol class="breadcrumb">
    <li><a href="{% url 'devilry_frontpage' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
    <li class="active">{{ assignment.get_path }}</li>
  </ol>
</div>


<div class="container">
  {% block navbar %}

  <ul class="nav nav-tabs">
    <li><a href="{% url 'devilry_examiner_waiting_for_feedback' assignment.id %}">Waiting for feedback</a></li>
    <li><a href="{% url 'devilry_examiner_waiting_for_deliveries' assignment.id %}">Waiting for deliveries</a></li>
    <li><a href="{% url 'devilry_examiner_corrected' assignment.id %}">Corrected</a></li>
    <li class="active"><a href="{% url 'devilry_examiner_allgroupsoverview' assignment.id %}">All</a></li>
  </ul>

  {% endblock navbar %}

</div>


</div>


{% block content %}
<!-- <div class="container"> -->
<!--     <ul class="pager pull-right"> -->
<!--       {% if groups.has_previous %} -->
<!--       <li><a href="?page={{ groups.previous_page_number }}">previous</a></li> -->
<!--       {% else %} -->
<!--       <li class="disabled"><a href="#">previous</a></li> -->
<!--       {% endif %} -->

<!--       <\!-- <span class="current"> -\-> -->
<!--       <\!--   Page {{ groups.number }} of {{ groups.paginator.num_pages }}. -\-> -->
<!--       <\!-- </span> -\-> -->

<!--       {% if groups.has_next %} -->
<!--       <li><a href="?page={{ groups.next_page_number }}">next</a></li> -->
<!--       {% else %} -->
<!--       <li class="disabled"><a href="#">next</a></li> -->
<!--       {% endif %} -->
<!--     </ul> -->
<!-- </div> -->

  <div class="container grouplistingbox">

    <form action="{{ assignment|get_feedback_url }}" method="get">{% csrf_token %}

    <table class="table table-striped infolistingtable">
      {% for group in groups %}
      <tr class="group">
        <td><input type="checkbox" name="group_ids" value="{{ group.id }}" /></td>
        <td class="titled-cell groupinfo">
          <h3>
            <a href="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
              {{ group.long_displayname }}
            </a>
          </h3>
          
          <p class="text-{{ group|group_delivery_status_to_bootstrapclass }} deliverystatus">{{ group.get_status|formatted_status }}</p>
        </td>

        <td class="hidden-xs">
          {% if group.get_status == "waiting-for-deliveries" %}
          <button type="button" class="btn btn-default hidden
                                       hidden-xs pull-right">{{ group.get_status|status_to_buttontext}}</button>
          {% else %}
          <button type="button" class="btn btn-default
                                       hidden-xs pull-right">{{ group.get_status|status_to_buttontext}}</button>
          {% endif %}

        </td>
      </tr>

      {% endfor%}
    </table><!-- row -->
    <input type="submit" value="Submit" />
    </form>



  </div><!-- container -->



{% endblock content %}


{% endblock body%}
