{% extends "devilry_examiner/allgroupsoverview_base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}

{% block bodyid %}waiting-for-feedback-overview{% endblock %}

{% block navbar %}
<div class="container">
  <p>
  <a class="btn btn-default" href="#" role="button">Waiting for feedback</a>
  <a class="btn btn-default" href="#" role="button">Waiting for deliveries</a>
  <a class="btn btn-default active" href="#" role="button">Corrected</a>
  <a class="btn btn-default" href="#" role="button">All</a>
  </p>
</div>
{% endblock navbar %}

{% block content %}

{{ block.super }}

{% endblock content %}
