{% extends "devilry_examiner/allgroupsoverview_base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}

{% block bodyid %}waiting-for-feedback-overview{% endblock %}

{% block navbar %}
  <a class="btn btn-default" href="{% url 'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}/waiting_for_feedback" role="button">Waiting for feedback</a>
  <a class="btn btn-default" href="{% url 'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}/waiting_for_deliveries" role="button">Waiting for deliveries</a>
  <a class="btn btn-default active" href="{% url 'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}/corrected" role="button">Corrected</a>
  <a class="btn btn-default" href="{% url  'devilry_examiner_dashboard' %}allgroupsoverview/{{ assignment.id }}" role="button">All</a>
{% endblock navbar %}

{% block content %}

{{ block.super }}

{% endblock content %}
