{% extends "devilry_examiner/base.django.html" %}
{% load i18n %}
{% load url from future %}
{% load django_decoupled_docs_tags %}

{% block title %}{% trans "Examiner" %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header page-header-with-subheader">
            <h1>{% trans "Examiner" %}</h1>
            <p class="subheader">
                {% trans "Dashboard for the examiner role. You use this role to provide feedback to students." %}
            </p>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'devilry_frontpage' %}">{% trans "Home" %}</a></li>
            <li class="active">{% trans "Examiner" %}</li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <table class="table table-striped infolistingtable active-assignment-listing">
                	{% for assignment in active_assignments %}
                    	<tr class="active-assignment-listing-item assignment-{{ assignment.get_path }}">
                            <td>
        		            	<h2><a href="{% url 'devilry_examiner_allgroupsoverview' assignment.id %}" class="assignmentname">
                                    {{ assignment.parentnode.parentnode.short_name }}.{{ assignment.parentnode.short_name }} - {{ assignment.long_name }}
                                </a></h2>
        		            </td>
                		</tr>
            	    {% endfor %}
            	</table>
            </div>
            <div class="col-sm-3">
                <p>
                    <strong>{% trans "New to Devilry? Do you want to become more efficient?" %}</strong>
                    <small class="text-muted">{% trans "Check out Examiner section of the official Devilry documentation." %}</small>
                </p>
                <p>
                    <a class="btn btn-default" href="{% decoupled_docs_url 'devilry_examiner/official-documentation' %}" target="_blank">
                        <i class="fa fa-question-circle"></i>
                        {% trans "Official documentation" %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
