{% extends "devilry_examiner/base.django.html" %}
{% load i18n %}

{% block title %}{% trans "Examiner dashboard" %}{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped infolistingtable active-assignment-listing">
        	{% for assignment in active_assignments %}
            	<tr class="active-assignment-listing-item assignment-{{ assignment.get_path }}">
                    <td>
		            	<h2><a href="{% url devilry_examiner_allgroupsoverview assignment.id %}" class="assignmentname">
                            {{ assignment.parentnode.parentnode.short_name }}.{{ assignment.parentnode.short_name }} - {{ assignment.long_name }}
                        </a></h2>
		            </td>
                    <td class="text-right hidden-xs">
						
                    </td>
        		</tr>
    	    {% endfor %}
    	</table>
    </div>
{% endblock %}
