{% comment %}
	An include file that provides an edit feedback view that
	can be used to edit feedback (also usable when editing in in bulk).
{% endcomment %}
{% load i18n %}

<div class="edit-feedback">
	<div class="edit-feedback-grading-system container">
		TODO: Grade editor.
	</div>
	<div class="edit-feedback-text-editor">
		{% include "devilry_feedbackeditor_simple/javascriptimports.django.html" %}
		{% include "devilry_feedbackeditor_simple/editor.django.html" with js_editor_api_name=js_editor_api_name %}
	</div>
	<div class="edit-feedback-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 result-preview"></div>
				<div class="col-sm-6 result-actions text-right">
					<button class="btn btn-default publish-feedback-without-preview">
						{% trans "Publish" %}
						<small>({% trans "without preview" %})</small>
					</button>
					<button class="btn btn-success btn-lg preview-feedback">
						<i class="fa fa-chevron-circle-right"></i>
						{% trans "Preview" %}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	new window.devilry_examiner_edit_feedback.EditFeedback("{{ js_editor_api_name }}");
</script>