{% comment %}
An include file that provides an edit feedback view that
can be used to edit feedback (also usable when editing in in bulk).

Parameters:

    unique_name
        A unique name for this feedback editor. This name must not just be unique,
        the following must also be true:

            - "wrapper-<anything>-<unique_name>" is unique.
            - "<unique_name>-<any suffix>" is unique.
{% endcomment %}
{% load i18n %}

<div class="edit-feedback">
    <div class="edit-feedback-grading-system container">
        TODO: Grade editor.
    </div>
    <div class="edit-feedback-text-editor">
        {% include "devilry_feedbackeditor_simple/javascriptimports.django.html" %}
        {% include "devilry_feedbackeditor_simple/editor.django.html" with unique_prefix=unique_name %}
    </div>
    <div id="wrapper-footer-{{ unique_name }}" class="edit-feedback-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 result-preview"></div>
                <div class="col-sm-6 result-actions text-right">
                    <button class="btn btn-default publish-feedback-without-preview">
                        {% trans "Publish" %}
                        <small>({% trans "without preview" %})</small>
                    </button>
                    <button class="btn btn-success btn-lg preview-feedback">
                        <i class="fa fa-chevron-circle-right"></i>
                        {% trans "Preview" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new window.devilry_examiner_edit_feedback.EditFeedback("{{ unique_name }}");
</script>