{% extends "devilry_examiner/base.django.html" %}
{% load i18n %}

{% block bodyid %}singlegroupoverview{% endblock %}

{% block body %}

    <div class="container assignmentheader">
        <h1>
            {% for candidate in group.candidates.all %}
                {% if not forloop.first %}
                    ,
                {% endif %}
                {{ candidate.displayname }}
            {% endfor %}
            &mdash;
            {{ group.assignment.long_name }}
        </h1>
        <div class="subheader">
            {{ group.subject.long_name }} {{ group.period.long_name }}
        </div>
    </div>

    {% for deadline in group.deadlines.all %}
        <div class="container deadline">
            <div class="row deadline-header">
                <div class="col-sm-8">
                    <h2 class="text-muted">
                        {% blocktrans with number=forloop.revcounter %}Deadline {{ number }}{% endblocktrans %}
                    </h2>
                </div>
                <div class="col-sm-4">
                    <strong class="deadline-datetime text-muted">{{ deadline.deadline|date:"DATETIME_FORMAT" }}</strong>
                </div>
            </div>
            <div class="rowlisting rowlisting-striped rowlisting-bordered">
                {% for delivery in deadline.query_successful_deliveries %}
                    <div class="row delivery">
                        <div class="col-sm-8">
                            <h3>
                                <a href="#">
                                    {% blocktrans with number=delivery.number %}Delivery #{{ number }}{% endblocktrans %}
                                </a>
                            </h3>
                            {{ delivery.feedback.feedback_ }}
                        </div>
                        <div class="col-sm-4">
                            <span class="text-muted hidden-xs">{{ delivery.time_of_delivery|date:"DATETIME_FORMAT" }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
