{% extends "devilry_examiner/base.django.html" %}
{% load url from future %}
{% load i18n %}
{% load devilry_examiner_tags %}

{% block body %}
    <div class="container">
        <div class="page-header page-header-with-subheader">
            <h1>
                {{ delivery.deadline.assignment_group.assignment.long_name }} &mdash; {{ delivery.deadline.assignment_group.long_displayname }}
            </h1>
            <p class="subheader">
                <span class="deliverynumber_and_total">
                    {% blocktrans with number=delivery.number total=delivery.deadline.assignment_group.successful_delivery_count %}
                        Delivery {{ number }}/{{ total }}
                    {% endblocktrans %}
                </span>
                -
                <span class="time_of_delivery">{{ delivery.time_of_delivery }}</span>
            </p>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'devilry_frontpage' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
            <li><a href="{% url 'devilry_examiner_allgroupsoverview' delivery.deadline.assignment_group.assignment.id %}">{{ delivery.deadline.assignment_group.assignment.get_path }}</a></li>
            <li><a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">{{ delivery.deadline.assignment_group.short_displayname }}</a></li>
            <li class="active">#{{ delivery.number }}</li>
        </ol>

        {% if delivery.after_deadline %}
            <div class="alert alert-danger after_deadline_message">
                <strong>{% trans "This delivery was added 1 hour after the deadline." %}</strong>
                {% if delivery.deadline.successful_delivery_count > 1 %}
                    {% trans "The group has made at least one more delivery for this deadline." %}
                    <a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">
                        {% trans "Browse other deliveries" %}</a>.
                {% else %}
                    {% trans "The group has no other deliveries for this deadline." %}
                {% endif %}
            </div>
        {% endif %}

        {% if not delivery.is_last_delivery %}
            <div class="alert alert-warning not_last_delivery_message">
                {% trans "This delivery is not the last delivery made by this group on this assignment." %}
                <a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">
                        {% trans "Browse other deliveries" %}</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}
