{% extends "devilry_examiner/base.django.html" %}
{% load url from future %}
{% load i18n %}
{% load devilry_examiner_tags %}

{% block bodyid %}singlegroupoverview{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header page-header-with-subheader">
            <h1>
                {% for candidate in group.candidates.all %}
                    {% if not forloop.first %}
                        ,
                    {% endif %}
                    {{ candidate.displayname }}
                {% endfor %}
                &mdash;
                {{ group.assignment.long_name }}
            </h1>
            <p class="subheader">
                {{ group.subject.long_name }} {{ group.period.long_name }}
            </p>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'devilry_frontpage' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
            <li><a href="{% url 'devilry_examiner_allgroupsoverview' group.assignment.id %}">{{ group.assignment.get_path }}</a></li>
            <li class="active">{{ group.short_displayname }}</li>
        </ol>

        <div class="alert alert-{{ group|group_delivery_status_to_bootstrapclass }}">
            <strong>{% trans "Status" %}: {{ group.delivery_status|formatted_status }}</strong>
            {% if group.delivery_status == 'corrected' %}
                <p><small>
                    {% trans "Grade" %}: {{ group.feedback.grade }}
                    ({{ group.feedback.is_passing_grade|format_is_passing_grade }})
                </small></p>
            {% endif %}
        </div>
    </div>

    {% for deadline in group.deadlines.all %}
        <div class="container deadline">
            <div class="deadline-header">
                <h2>
                    {% blocktrans with number=forloop.revcounter %}Deadline {{ number }}{% endblocktrans %}
                    <small class="deadline-datetime">{{ deadline.deadline|date:"DATETIME_FORMAT" }}</small>
                </h2>
            </div>
            <table class="table table-striped infolistingtable">
                {% for delivery in deadline.query_successful_deliveries %}
                    <tr class="delivery delivery-{{ delivery.id }}">
                        <td class="titled-cell">
                            <h3>
                                <a href="#">
                                    {% blocktrans with number=delivery.number %}Delivery #{{ number }}{% endblocktrans %}
                                </a>
                            </h3>
                            {% if delivery.last_feedback %}
                                <p class="text-{{ delivery.last_feedback|feedback_to_bootstrapclass }}">
                                    {{ delivery.last_feedback.grade }}
                                    ({{ delivery.last_feedback.is_passing_grade|format_is_passing_grade }})
                                </p>
                            {% else %}
                                <p class="text-muted">{% trans "No feedback" %}</p>
                            {% endif %}
                        </td>
                        <td class="text-right hidden-xs text-muted">
                            <p class="time_of_delivery">{{ delivery.time_of_delivery|date:"DATETIME_FORMAT" }}</p>
                        </td>
                    </tr>
                {% empty %}
                    <p class="text-warning no-deliveries-message">{% trans "No deliveries" %}</p>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
