{% extends "devilry_examiner/allgroupsoverview_base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}

{% block bodyid %}waiting-for-feedback-overview{% endblock %}

{% block navbar %}
  <ul class="nav nav-tabs">
    <li><a href="{% url 'devilry_examiner_waiting_for_feedback' assignment.id %}">Waiting for feedback</a></li>
    <li class="active"><a href="{% url 'devilry_examiner_waiting_for_deliveries' assignment.id %}">Waiting for deliveries</a></li>
    <li><a href="{% url 'devilry_examiner_corrected' assignment.id %}">Corrected</a></li>
    <li><a href="{% url 'devilry_examiner_allgroupsoverview' assignment.id %}">All</a></li>
  </ul>
{% endblock navbar %}

{% block content %}

{{ block.super }}

{% endblock content %}
