{% extends "devilry/student/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
{% trans "Add delivery" %}
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
<li>
  <a href='{% url devilry-student-choose_assignment %}'>
    {% trans "Choose assignment" %}
  </a>
</li>
<li>::</li>
<li>Add delivery</li>
{% endblock %}

{% block heading %}
{% trans "Add delivery" %}
{% endblock %}


{% block sidebar %}
<div id='sidebar' class='assignment_group_info'>
  {% include "devilry/student/include/assignment_group_info.django.html" %}
</div>
{% endblock %}

{% block content %}

<form enctype="multipart/form-data"
    action="{% url devilry-student-add_delivery assignment_group.id %}"
    method="post" id='add_delivery-form'>

  <table>
    {{ formset.management_form }}
    {% for form in formset.forms %}
    <tr>
      <td>{{ form.file }}</td>
    </tr>
    {% endfor %}
  </table>

  <div class='mainsubmit'>
    <input type="submit" name="deliver" value="{% trans "Deliver" %}" />
  </div>
</form>

{% endblock %}
