{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

<table class='vertical_infotable'>
  <tr>
    <th>{% trans "Subject" %}</th>
    <td>{{ assignment_group.parentnode.parentnode }}</td>
  </tr>
  <tr>
    <th>{% trans "Name" %}</th>
    <td>{{ assignment_group.parentnode.long_name }}</td>
  </tr>
  <tr>
    <th>{% trans "Deadline" %}</th>
    <td>{{ assignment_group.parentnode.deadline }}</td>
  </tr>
  <tr>
    <th>{% trans "Status" %}</th>
    <td>{{ assignment_group.get_status }}</td>
  </tr>

  {% if delivery.feedback %}
    <tr>
      <th>{% trans "Grade" %}</th>
      <td> {{ delivery.feedback.get_grade_as_short_string }} </td>
    </tr>
    <tr>
      <th>{% trans "Feedback last modified" %}</th>
      <td> {{ delivery.feedback.last_modified|date:DEVILRY_DATETIME_FORMAT }} </td>
    </tr>
    {% if show_feedback_modifier %}
      <tr>
        <th>{% trans "Feedback last modified by" %}</th>
        <td> {{ delivery.feedback.last_modified_by }} </td>
      </tr>
    {% endif %}
  {% endif %}

</table>
