{% extends "devilry/student/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
{% trans "Add delivery" %}
{% endblock %}

{% block heading %}
{% trans "Add delivery" %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href='{% url devilry-student-show-assignmentgroup assignment_group.id %}'>
  {{ assignment_group }}</a></li>
<li>::</li>
<li>{% trans "Add delivery" %}</li>
{% endblock %}


{% block content %}

{% include "devilry/student/add_delivery_table.django.html" %}

<form enctype="multipart/form-data"
    action="{% url devilry-student-add-delivery assignment_group.id %}"
    method="post" id='add_delivery-form'>

  {{ formset.management_form }}
  <table>
    {% for form in formset.forms %}
    <tr>
      <td>{{ form.file }}</td>
    </tr>
    {% endfor %}
  </table>

  <div class='mainsubmit'>
    <input class="button" type="submit" name="deliver" value="{% trans "Deliver" %}" />
  </div>
</form>

{% endblock %}
