{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

<table class='vertical_infotable'>
  <tr>
    <th>{% trans "Subject" %}</th>
    <td>
      {{ assignment_group.parentnode.parentnode.parentnode.long_name }}  
      - {{ assignment_group.parentnode.parentnode.long_name }}  
    </td>
  </tr>
  <tr>
    <th>{% trans "Assignment" %}</th>
    <td>{{ assignment_group.parentnode.long_name }}</td>
  </tr>
  <tr>
	 <tr>
    <th>{% trans "Deadline" %}:</th>
    <td>
      {{ assignment_group.get_active_deadline.deadline|date:"DATETIME_FORMAT" }}
      {% if assignment_group.get_active_deadline.is_old %}
        <span class='bad'>({% trans "Deadline expired" %})</span>
      {% endif %}
    </td>
   {% if delivery.feedback %}
    <tr>
      <th>{% trans "Grade" %}</th>
      <td> {{ delivery.feedback.get_grade_as_short_string }} </td>
    </tr>
    <tr>
      <th>{% trans "Feedback last modified" %}</th>
      <td> {{ delivery.feedback.last_modified|date:"DATETIME_FORMAT" }} </td>
    </tr>
    {% if show_feedback_modifier %}
      <tr>
        <th>{% trans "Feedback last modified by" %}</th>
        <td> {{ delivery.feedback.last_modified_by }} </td>
      </tr>
    {% endif %}
  {% endif %}

</table>
