{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load actionregistry %}

{% block title %}
  {{ assignment_group.parentnode.short_name }}
{% endblock %}
{% block heading %}
  {{ assignment_group.parentnode.long_name }}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href='{% url devilry-student-list_assignments %}'>{% trans "Assignments" %}</a></li>
{% endblock %}


{% block content %}

<div class='unimportant' style="float:right; width: 250px;">
  <table class='vertical_infotable' style="margin:0;">
    {% include "devilry/student/include/groupinfo.django.html" %}
  </table>
  <ul class="horizontal-list">
    {% for a in groupactions|iter_actionregistry:assignment_group %}
      <li>
        <a href="{{ a.url }}"
            {% if a.tooltip %}
              class="tooltip-hover" title="{{ a.tooltip }}"{% endif %}>
          {{ a.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div style="margin-right: 280px;">
  {% block main %}{% endblock %}
</div>
{% endblock %}
