{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
  {{ assignment_group.parentnode.short_name }}
{% endblock %}
{% block heading %}
  {{ assignment_group.parentnode.long_name }}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href='{% url devilry-student-list_assignments %}'>{% trans "Assignments" %}</a></li>
{% endblock %}


{% block content %}

<table class='vertical_infotable' style="float:right; width: 250px; margin:0;">
  {% include "devilry/student/include/groupinfo.django.html" %}
  {% if assignment_group.get_grade_as_short_string %}
  <tr>
    <th>{% trans "Grade" %}:</th>
    <td>
      {{ assignment_group.get_grade_as_short_string }}
      <div>
      (<a href="{% url devilry-student-show-delivery assignment_group.get_latest_delivery_with_feedback.id %}"
          class="tooltip-hover"
          title="{% trans "Go to the delivery that earned you this grade." %}">
        {% trans "Show feedback" %}
      </a>)
      </div>
    </td>
  </tr> 
  {% endif %}
</table>

<div style="margin-right: 280px;">
  {% block main %}{% endblock %}
</div>
{% endblock %}
