{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block belowheading %}{% trans "Your active and old assignments" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="current"><a href="#">
    {% trans "Assignments" %}
  </a></li>
{% endblock %}

{% block customcss %}
<style type="text/css">
  ul.assignmentlist {
    margin-left: 0;
    padding: 0 0 0 20px;
  }
  .assignmentlist li {
    margin-left: 0;
  }
</style>
{% endblock %}

{% block content %}
	{% include "devilry/student/include/list_assignments.django.html" %}
{% endblock %}
