{% extends "devilry/student/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load rst_to_html %}

{% block title %}{{ delivery.assignment_group.parentnode.short_name }}{% endblock %}
{% block heading %}{{ delivery.assignment_group.parentnode }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href='{% url devilry-student-show-assignmentgroup delivery.assignment_group.id %}'>
  {{ delivery.assignment_group }}</a></li>
<li>::</li>
<li>{{ delivery.time_of_delivery|date:DEVILRY_DATETIME_FORMAT }}</li>
{% endblock %}

{% block main %}

<table class='vertical_infotable'>
  {% include "devilry/ui/include/show_delivery_default.django.html" %}
</table>


{% if delivery.feedback.published %}
  {% if delivery.feedback.grade.supports_long_string %}
    <fieldset>
      <h2 class='legend'>{% trans "Grade details" %}</h2>
      <div class='rst-preview'>
        {{ delivery.feedback.get_grade_as_long_string|rst_to_html }}
      </div>
    </fieldset>
  {% endif %}
  {% if delivery.feedback.text.strip %}
    <fieldset>
      <h2 class='legend'>{% trans "Feedback" %}</h2>
      {% include "devilry/ui/include/show_feedback.django.html" %}
    </fieldset>
  {% else %}
    <p>{% blocktrans %}The examiner has not provided any feedback text.</p>{% endblocktrans %}
  {% endif %}
{% else %}
  <p>This delivery has not been corrected yet.</p>
{% endif %}

{% endblock %}
