{% extends "devilry/student/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %} {{ assignment_group.parentnode.long_name }} {% endblock %}
{% block heading %} {{ assignment_group.parentnode.long_name }} {% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ assignment_group }}</li>
{% endblock %}

{% block content %}

<table class='vertical_infotable'>
  <tr>
    <th>{% trans "Subject" %}:</th>
    <td>{{ assignment_group.parentnode.parentnode.parentnode.long_name }}</td>
  </tr>
  <tr>
    <th>{% trans "Period" %}:</th>
    <td>{{ assignment_group.parentnode.parentnode.long_name }}</td>
  </tr>
  <tr>
    <th>{% trans "Assignment" %}:</th>
    <td>{{ assignment_group.parentnode.long_name }}</td>
  </tr>
  <tr>
    <th>{% trans "Group members" %}:</th>
    <td>{{ assignment_group.get_candidates }}</td>
  </tr>
  <tr>
    <th>{% trans "Deadline" %}:</th>
    <td>{{ assignment_group.parentnode.deadline }}</td>
  </tr>
  <tr>
    <th>{% trans "Status" %}:</th>
    <td>{{ assignment_group.get_status }}</td>
  </tr>

  {% if assignment_group.get_grade_as_short_string %}
  <tr>
    <th>{% trans "Grade" %}:</th>
    <td>{{ assignment_group.get_grade_as_short_string }}</td>
  </tr> 
  {% endif %}

  {% if assignment_group.students.count > 1 %}
    <tr>
      <th>{% trans "Group members" %}:</th>
      <td>{{ assignment_group.students.all|join:", " }} </td>
    </tr>
  {% endif %}

</table>


<h2>Deliveries</h2>
{% if assignment_group.deliveries.all.count == 0 %}
  <p>{% trans "No deliveries" %}</p>
{% else %}
  <table class='horizontal_ordered_table'>
	<tr>
	  <th>Time</th>
	  <th>Delivered by</th>
	  <th>Status</th>
	  <th>Grade</th>
	  <th></th>
	</tr>
	
	{% for delivery in assignment_group.deliveries.all %}
	<tr>
	  <td> {{ delivery.time_of_delivery|date:DEVILRY_DATETIME_FORMAT }} </td>
	  <td> {{ delivery.delivered_by }} </td>
	  <td> {{ delivery.get_status }} </td>
	  <td> {% if delivery.feedback.published %}
		{{ delivery.feedback.get_grade_as_short_string }} {% endif %} 
	  </td>
	  <td><a href='{% url devilry-student-show-delivery delivery.id %}'>
          show
	  </a></td>
	</tr>
	{% endfor %}
  </table> 
{% endif %}

{% if assignment_group.can_add_deliveries %}
<p>
<a href='{% url devilry-student-add-delivery assignment_group.id %}'>
        Add new delivery
      </a>
</p>
{% endif %}

{% endblock %}


