{% extends "devilry/student/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ delivery.assignment_group.parentnode.short_name }}{% endblock %}
{% block heading %}{{ delivery.assignment_group.parentnode }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}

<li><a href='{% url devilry-student-show-assignments %}'>{% trans "Assignments" %}</a></li>
<li>::</li>
<li><a href='{% url devilry-student-show-assignmentgroup delivery.assignment_group.id %}'>{{ delivery.assignment_group.parentnode }}</a></li>
<li>::</li>

<li>{{ delivery.time_of_delivery|date:DEVILRY_DATETIME_FORMAT }}</li>
{% endblock %}

{% block main %}

{% include "devilry/ui/include/show_delivery_default.django.html" %}
{% if delivery.feedback.published %}
  <fieldset>
    <h2 class='legend'>{% trans "Feedback" %}</h2>
    {% include "devilry/ui/include/show_feedback.django.html" %}
  </fieldset>
{% endif %}

{% endblock %}
