{% extends "devilry/student/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block belowheading %}
  {% blocktrans with delivery.number as deliverynumber%}
    Delivery {{ deliverynumber }}
  {% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href='{% url devilry-student-show-assignmentgroup delivery.assignment_group.id %}'>
    {{ delivery.assignment_group }}</a></li>
  <li class="current"><a href="#">
    {{ delivery.time_of_delivery|date:DEVILRY_DATETIME_FORMAT }}
  </a></li>
{% endblock %}

{% block main %}
  {% include "devilry/student/include/deliverypreview.django.html" %}
{% endblock %}
