{% load i18n %}
{% load humanize %}
<div class="col-sm-8">
    <div id="devilry_admin_assignment_gradingconfiguration">
        <h2>{% trans "Grading configuration" %}</h2>

        <p>
            {% trans "How do you grade your students?" %}
        </p>

        <div id="devilry_admin_assignment_overview_gradingconfiguration_information">
            <table class="table table-bordered">
                <caption>
                    {% blocktrans context "current grading configuration for assignment" %}
                        Current setup
                    {% endblocktrans %}
                </caption>
                <thead>
                    <tr>
                        <td>
                            {% trans "Description" %}
                        </td>
                        <td>
                            {% trans "Grading" %}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans "Examiner chooses" %}</td>
                        <td>{% trans "TODO" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Students see" %}</td>
                        <td>{% trans "TODO" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Maximum number of points achievable" %}</td>
                        <td>{% trans "TODO" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Minimum number of points required to pass" %}</td>
                        <td>{% trans "TODO" %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-sm-4">
</div>