{% load i18n %}
{% load cradmin_tags %}


<div id="devilry_assignment_main">
    <div id="devilry_admin_assignment_meta">
        <h2>{% trans "Students and examiners" %}</h2>

        <p>
            {% if assignmentgroups_count == candidates_count %}
                {{ assignmentgroups_count }} {% trans "students" context "Text after number of students on assignment" %}.
            {% else %}
                {% blocktrans trimmed with num_groups=assignmentgroups_count num_candidates=candidates_count context="Text after number of students and project groups" %}
                    {{ num_groups }} students organized in {{ num_candidates }} project groups
                {% endblocktrans %}
            {% endif %}

            {% if examiners_count == 0 %}
                <span class="devilry-admin-assignment-examiners-does-not-exist">
                    {% trans "No examiners configured." context "No examiners configured message" %}
                </span>
            {% else %}
                <span class="devilry-admin-assignment-examiners-exists">
                    {% blocktrans trimmed with examiners_count=examiners_count context="Number examiners configured message" %}
                        {{ examiners_count }} examiners configured.
                    {% endblocktrans %}
                </span>
            {% endif %}
        </p>

    </div>


    <div id="devilry_admin_assigments_students_and_examiners"
            class="row devilry-admin-assigments-students-and-examiners">
        <div id="devilry_admin_assignment_students" class="col-sm-6">
            <h3>
                <a href="{% cradmin_instance_url appname='studentoverview' viewname='INDEX' roleid=assignment.id %}">
                    {% trans "Students" %}
                </a>
            </h3>
            <p>
                {% trans "View, edit or add students for this assignment" %}
            </p>
        </div>
        <div id="devilry_admin_assignment_examiners" class="col-sm-6">
            <h3>
                <a href="{% cradmin_instance_url appname='examineroverview' viewname='INDEX' roleid=assignment.id %}">
                    {% trans "Examiners" %}
                </a>
            </h3>

            <p>
                {% trans "View, edit or organize examiners for this assignment" %}
            </p>
        </div>
    </div>
</div>
