{% load i18n %}
{% load humanize %}
{% load cradmin_tags %}
<div class="row">
    <div class="col-sm-6">
        <div id="devilry_admin_assignment_overview_published">
            {% if assignment.publishing_time_is_in_future %}
                <h3>{% trans "Will be published:" %} <span
                        class="text-warning">{{ assignment.publishing_time|date:"SHORT_DATETIME_FORMAT" }}</span></h3>
                <p>
                    {% trans "Students and examiners will not see the assignment before it is published." %}
                </p>
            {% else %}
                <h3>{% trans "Was published: " %} <span
                        class="text-success">{{ assignment.publishing_time|date:"SHORT_DATETIME_FORMAT" }}</span></h3>
                <p>
                    {% trans "This assignment is now avaibable for both students and examiners" %}
                </p>
            {% endif %}

            <div id="devilry_admin_assignment_published_buttonrow">
                {% if not assignment.is_published %}
                    <form id="devilry_admin_assignment_published_publishnow_form"
                          method="post"
                          class="devilry-form-inline"
                          action="{% cradmin_appurl 'publish_assignment_now' assignment.id %}">{% csrf_token %}
                        <input type="submit" value="{% trans "Publish now" %}" class="btn btn-success">
                    </form>
                {% endif %}
                <a href="{% cradmin_appurl "update_publishing_time" assignment.id %}" type="button"
                   class="btn btn-default btn-sm">{% trans "Edit publishing time" %}</a>
            </div>

        </div>
    </div>

    <div class="col-sm-6">
        <div id="devilry_admin_assignment_overview_settings_first_deadline">
            <h3>
                {% trans "First deadline" %}
            </h3>
            <p>
                {% blocktrans trimmed with deadline=assignment.first_deadline context "first_deadline description" %}
                    The first deadline is {{ deadline }}. This deadline is common for all students
                    unless a new deadline have been provided to a group.
                {% endblocktrans %}
            </p>
            <div id="devilry_admin_assignment_first_deadline_buttons">
                <a href="{% cradmin_appurl "update_first_deadline" assignment.id %}" type="button"
                   class="btn btn-default btn-sm">{% trans "Edit first deadline" %}</a>
            </div>
        </div>
    </div>
</div>
