{% load i18n %}
{% load humanize %}
{% load cradmin_tags %}
<div class="col-sm-6">
    <div id="devilry_admin_assignment_overview_settings">
        <h2>{% trans "Settings" %}</h2>
        <div id="devilry_admin_assignment_overview_settings_links"
             class="devilry-admin-assignment-overview-settings-links">
            <ul>

                <li id="devilry_admin_assignment_overview_settings_anonymization">
                    <h3>
                        <a href="#">{% trans "Anonymization" %}</a>
                    </h3>
                    <p>
                        {{ assignment.get_anonymizationmode_display }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6">
</div>