{% load i18n %}
{% load humanize %}
{% load cradmin_tags %}

<div class="row">
    <div class="col-sm-6">
        <div id="devilry_admin_assignment_overview_settings_projectgroups">
            <h3>
                {% trans "Project groups" %}
            </h3>
            <p>
                {% if assignment.students_can_create_groups %}
                    {% blocktrans trimmed %}
                        Student can create project groups on their own.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans trimmed %}
                        Students can not create project groups on their own. As an administrator you are able to create the
                        groups in the "Students" overview.
                    {% endblocktrans %}
                {% endif %}
            </p>
            <div id="devilry_admin_assignment_projectgroups_buttons">
                <a href="{% cradmin_appurl "update_projectgroup_settings" assignment.id %}" type="button"
                   class="btn btn-default btn-sm">{% trans "Edit project group settings" %}</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div id="devilry_admin_assignment_overview_settings_anonymization">
            <h3>
                {% trans "Anonymization" %}
            </h3>
            <p>
                {{ assignment.get_anonymizationmode_display }}
            </p>
            <div id="devilry_admin_assignment_anonymization_buttons">
                <a href="{% cradmin_appurl "update_anonymizationmode" assignment.id %}" type="button"
                   class="btn btn-default btn-sm">{% trans "Edit anonymization mode" %}</a>
            </div>
        </div>
    </div>
</div>
