{% load i18n %}
{% load cradmin_tags %}

<div id="devilry_assignment_students">
    <h3>{% trans "Students" %}</h3>
    <div id="devilry_admin_assignment_students_meta">
        <p id="devilry_admin_assignment_students_meta_count_text">
            {% if assignmentgroups_count == candidates_count %}
                {{ assignmentgroups_count }} {% trans "students" context "Text after number of students on assignment" %}
            {% else %}
                {% blocktrans trimmed with num_groups=assignmentgroups_count num_candidates=candidates_count context="Text after number of students and project groups" %}
                    {{ num_candidates }} students organized in {{ num_groups }} project groups
                {% endblocktrans %}
            {% endif %}
        </p>
        <div class="devilry_admin_assignment_students_warnings">
            {% if relatedstudents_count == 0 %}
                <div class="alert alert-info">
                    <p>
                        <strong>{% trans 'There are no students on the semester' %}</strong>
                    </p>
                    <p>
                        <a href="{% cradmin_instance_url 'create_groups' 'manual-select' %}" class="btn btn-default">
                            {% trans 'Add students' %}
                        </a>
                    </p>
                </div>
            {% elif candidates_count == 0 %}
                <div class="alert alert-info">
                    <p>
                        <strong>{% trans 'There are no students on the assignment' %}</strong>
                    </p>
                    <p>
                        <a href="{% cradmin_instance_url 'create_groups' 'manual-select' %}" class="btn btn-default">
                            {% trans 'Add students' %}
                        </a>
                    </p>
                </div>
            {% elif relatedstudents_count > candidates_count %}
                <div class="alert alert-info">
                    <p>
                        <strong>{% trans 'There are still students who are on the semester, but not on the assignment' %}</strong>
                    </p>
                    <p>
                        <a href="{% cradmin_instance_url 'create_groups' 'manual-select' %}" class="btn btn-default">
                            {% trans 'Add students' %}
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <p id="devilry_admin_assignment_students_overview_buttonbar"
                class="devilry-buttonbar">
            <a id="devilry_admin_assignment_students_overview_button_browse_students"
                    class="btn btn-primary"
                    href="{% cradmin_instance_appindex_url 'studentoverview' %}">
                {% trans "Manage students" %}
            </a>
        </p>
</div>