{% load i18n %}
{% load humanize %}
{% load cradmin_legacy_tags %}
{#<div class="row">#}
{#    <div class="col-sm-6">#}
        <div id="devilry_admin_assignment_overview_utilities_passed_previous">
            <h3>
                {% trans "Passed previous semester" %}
            </h3>
            <p>
                {% blocktrans trimmed with context="passed previous semester description" %}
                    Mark students that have passed this assignment previously.
                {% endblocktrans %}
            </p>
            <div id="devilry_admin_assignment_overview_utilities_passed_previous_buttons">
                <a href="{% cradmin_instance_appindex_url 'passed_previous_period' %}" type="button"
                   class="btn btn-default btn-sm">
                    {% trans 'Edit passed previous semester' %}
                </a>
            </div>
        </div>
{#    </div>#}

{#    <div class="col-sm-6">#}
{#        <div id="devilry_admin_assignment_overview_utilities_detektor">#}
{#            <h3>#}
{#                <a href="{% url "devilry_detektor_admin_assignmentassembly" assignment.id %}">{% trans "Detektor" %}</a>#}
{#            </h3>#}
{#            <p>#}
{#                {% blocktrans trimmed context "assignment overview detektor description"%}#}
{#                    Compare programming code delivered by your students and get statistics#}
{#                    about similarities in the uploaded files.#}
{#                {% endblocktrans %}#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
