{% load i18n %}
{% load humanize %}
<div class="col-sm-8">
    <div id="devilry_admin_assignment_overview_utilities">
        <h2>{% trans "Utilities" %}</h2>
        <div id="devilry_admin_assignment_overview_utilities_links"
             class="devilry-admin-assignment-overview-utilities-links">
            <ul>
                <li id="devilry_admin_assignment_overview_utilities_passed_previous">
                    <h3>
                        <a href="#">{% trans "Passed previous semester" %}</a>
                    </h3>
                    <p>
                        {% blocktrans context "passed previous semester description" %}
                            Mark students that have passed this assignment previously.
                        {% endblocktrans %}
                    </p>
                </li>
                <li id="devilry_admin_assignment_overview_utilities_detektor">
                    <h3>
                        <a href="#">{% trans "Detektor" %}</a>
                    </h3>
                    <p>
                        {% blocktrans %}
                            Compare programming code delivered by your students and get statistics
                            about similarities in the uploaded files.
                        {% endblocktrans %}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Tips and help" %}</h2>
        </div>
        <div class="panel-body">
            {% blocktrans %}
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh
                ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            {% endblocktrans %}
        </div>
    </div>
</div>