{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load cradmin_tags %}
{% load cradmin_icon_tags %}
{% load crispy_forms_tags %}
{% load cradmin_icon_tags %}

{% block title %}{% trans "Respond to group invite" %}{% endblock title %}

{% block pageheader-outer-extraclasses %}
   {{ block.super }}
   devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'projectgroup' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to project group" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <div class="container">
        <h1>
            {% trans "Respond to group invite" %}
        </h1>
        <p>
            {{ groupinvite.group.assignment.long_name }} -
            {{ groupinvite.group.subject.long_name }} -
            {{ groupinvite.group.period.long_name }}
        </p>
    </div>
{% endblock pageheader-inner %}

{% block content %}

    <div class="container django-cradmin-container-focus">

        {% if errormessage %}
            <div class="alert alert-danger">
                {{ errormessage }}
            </div>
        {% else %}
            <form action="{{ request.path }}" method="post">{% csrf_token %}
                {% with sent_by=groupinvite.sent_by.get_full_name assignment=groupinvite.group.assignment.long_name subject=groupinvite.group.subject.long_name %}
                    <p>{% blocktrans %}You have been invited by {{ sent_by }} to join their project group for {{ subject }} {{ assignment }}.{% endblocktrans %}</p>
                {% endwith %}

                <button type="submit" class="btn btn-danger" name="decline_invite">
                    {% trans 'Decline invitation' %}
                </button>
                <button type="submit" class="btn btn-success" name="accept_invite">
                    {% trans 'Accept invitation' %}
                </button>
            </form>
        {% endif %}

    </div>
{% endblock content %}
