{% extends "devilry_theme/apptemplate.django.html" %}
{% load static %}
{% comment %}
This template is for views that are not ExtJS apps. They may still use ExtJS, but they
are not built as separate apps. The devilry header is included at the top of the page,
so you should ensure that you have a 40px margin at the top of your page to avoid that
the header overlaps with your content.
{% endcomment %}

{% block app %}
    {% if EXTJS4_DEBUG %}
        <script type="text/javascript" src="{% static "devilry_header/app.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static "devilry_header/app-all.js" %}"></script>
    {% endif %}
{% endblock %}

{# Override to add data at the beginning at the <head>-tag #}
{% block head-pre %}{% endblock %}

{# Override to add data at the end at the <head>-tag #}
{% block head-post %}{% endblock %}

{# Override to add data to the <body>. #}
{% block body %}
    {% block devilryheader %}
        <div id="devilryheader-container"></div>
    {% endblock %}

    <div class="bootstrap bootstrapextras">
        {# Override for a body with bootstrap styles #}
        {% block bootstrap-body %}{% endblock %}
    </div>
{% endblock %}
