{% extends "cradmin_legacy/viewhelpers/update.django.html" %}

{% load cradmin_legacy_tags %}
{% load i18n %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="#" class="devilry-page-header-backlink" cradmin-legacy-back>
        <span class="sr-only">
            {% trans "Back to overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    {{ block.super }}
{% endblock pageheader-inner %}