{% extends "django_cradmin/viewhelpers/formview_base.django.html" %}

{% load devilry_account_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load cradmin_tags %}

{% block pageheader-inner %}
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-pull-4">
                <h1>{{ headline }}</h1>
                <br><br>
                <ul>
                    {% for plugin in plugins %}
                        <a href="#">
                            <strong>{{ plugin.get_human_readable_name }}</strong>
                        </a>
                        <p class="muted"> <small>{{ plugin.get_description }}</small></p>
                        <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}