{% extends "devilry_qualifiesforexam/base.django.html" %}

{% load i18n %}
{% load cradmin_legacy_tags %}

{% block content %}
    <div class="container">
        <div class="devilry-dashboard-container devilry-dashboard-container-withtopmargin">
            <h1>
                {% trans "Qualified for final exams" %}
            </h1>
            {% if status.status == 'ready' %}
                <p class="text-muted">
                    Status: <span class="label label-success">{% trans 'Ready for export '%}</span>
                    ({% trans "Saved" %} {{ status.createtime }} {% trans "by" %} {{ status.user }})
                </p>
            {% else %}
                <span class="label label-warning">{% trans 'Not ready for export' %}</span>
            {% endif %}
            <h5>{{ num_students_qualify }}/{{ num_students }} {% trans "students qualify for final exam" %}</h5>
        </div>

        {# Show the retracted message if Status is notready #}
        {% if status.status == 'notready' %}
            <div class="devilry-dashboard-container">
                <h2>{% trans "Status retracted reason" %}:</h2>
                <p id="devilry_qualifiesforexam_retracted_message" class="text-muted">
                    {{ status.message }}
                </p>
            </div>
        {% endif %}

        {% if required_assignments %}
            <div>
                <h3>{% trans "Required assignments" %}</h3>
                {% cradmin_render_renderable required_assignments %}
            </div>
        {% endif %}

        <p class="devilry-buttonbar">

            {# Add back button #}
            {{ block.super }}



            {# Adds template specific buttons #}
            {% if status.status == 'ready' %}
                <a id="devilry_qualifiesforexam_retract_link" class="btn btn-primary"
                   href="{% cradmin_instance_url 'qualifiesforexam' 'retract-status' status.id %}">
                    {% trans "Retract" %}
                </a>
                <a id="devilry_qualifiesforexam_print_link" class="btn btn-primary"
                    href="{% cradmin_instance_url 'qualifiesforexam' 'print-status' status.id %}?order_by={{ order_by_queryparam }}">
                    {% trans "Show qualified list" %}
                </a>
                <div>
                    {% trans 'Order by' context 'qualifies-for-exam-order-by-lastname' %}:
                    <select onchange="onOrderChange(event)">
                      <option value="lastname" {% if order_by_queryparam == "lastname" %}selected{% endif %}>
                          {% trans 'Last name' context 'qualifies-for-exam-order-by-lastname' %}
                      </option>
                      <option value="fullname" {% if order_by_queryparam == "fullname" %}selected{% endif %}>
                          {% trans 'Full name' context 'qualifies-for-exam-order-by-fullname' %}
                      </option>
                      <option value="username" {% if order_by_queryparam == "username" %}selected{% endif %}>
                          {% trans 'Username' context 'qualifies-for-exam-order-by-username' %}
                      </option>
                    </select>
                </div>
            {% endif %}
        </p>
        {% cradmin_render_renderable table %}

    </div>
{% endblock content %}

{% block end-of-body %}
    <script type="text/javascript">
        function onOrderChange (e) {
          let value = e.target.value
          window.location.search = "?order_by=" + value
        }
    </script>
{% endblock end-of-body %}
