{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

<script type="text/javascript">
  $(function() {
    $(".accordion").accordion({
      autoHeight: false,
      navigation: true,
      collapsible: true,
      active: 0,
      header: 'h3'
    });
  });
</script>

<div class="accordion student-assignments-accordion">
  <h3><a href="#">
    {% trans "Active" %}
  </a></h3>
  <div>
	{% include "devilry/student/include/assignment_group_chooser.django.html" %}
  </div>

  {% if old_subjects.count > 0 %}
    <h3><a href="#">
        {% trans "Old" %}
    </a></h3>
    <div>
      {% with old_subjects as subjects %}
      {% include "devilry/student/include/assignment_group_chooser.django.html" %}
      {% endwith %}
    </div>
  {% endif %}
</div>
