{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

<h2>{% trans "Upcoming deadlines" %}</h2>
{% for group in groups %}
  <div>
    <h3>
      {{ group.active_deadline|date:"DATETIME_FORMAT" }}
    </h3>
    <div>
      {{ group.parentnode.parentnode.parentnode.long_name }} ({{ group.parentnode.parentnode.long_name }})
    </div>
    <div>
      <a href="{% url devilry-student-show-assignmentgroup group.id %}">
        {{ group.parentnode.long_name }}
      </a>
    </div>
    {% if group.status == 0 %}
      <p class='{{ group.get_status_student_cssclass }}'>
        {{ group.get_localized_student_status }}
      </p>
    {% else %}
      <p>
        {% with group.deliverycount as deliverycount %}
          {% blocktrans %}
            You have {{ deliverycount }} deliveries on this assignment.
          {% endblocktrans %}
        {% endwith %}
      </p>
    {% endif %}
    <p>
      <a class="button" href="{% url devilry-student-add-delivery group.id %}">Add delivery</a>
    </p>
  </div>
{% endfor %}

<p>
  <a href="{% url devilry-student-list_assignments %}">
    {% trans "All assignments" %}
  </a>
</p>
