{% extends "devilry/quickdash/viewbase_wfooter.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block heading %}{% trans "Upcoming deadlines" %}{% endblock %}
{% block body %}
<dl>
{% for group in groups %}
  <dt>
    {{ group.active_deadline|date:"DATETIME_FORMAT" }}
  </dt>
  <dd>
    <div>
      {{ group.parentnode.parentnode.parentnode.long_name }} ({{ group.parentnode.parentnode.long_name }})
    </div>
    <div>
      <a href="{% url devilry-student-show-assignmentgroup group.id %}">
        {{ group.parentnode.long_name }}
      </a>
    </div>
    {% if group.status == 0 %}
      <p class='{{ group.get_status_student_cssclass }}'>
        {{ group.get_localized_student_status }}
      </p>
    {% else %}
      <p>
        {% blocktrans count group.deliverycount as deliverycount %}
          You have one delivery on this assignment.
          {% plural %}
          You have {{ deliverycount }} deliveries on this assignment.
        {% endblocktrans %}
      </p>
    {% endif %}
    <p>
      <a class="button" href="{% url devilry-student-add-delivery group.id %}">Add delivery</a>
    </p>
  </dd>
{% endfor %}
</dl>
{% endblock %}

{% block footer %}
  <a href="{% url devilry-student-list_assignments %}">
    {% trans "All assignments" %}
  </a>
{% endblock %}
