{% extends "cradmin_legacy/layouts/standalone/focused.django.html" %}
{% load i18n %}
{% load socialaccount %}

{% block title %}
    {% trans "How would you like to sign in?" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>{% trans "How would you like to sign in?" %}</h1>
{% endblock pageheader-inner %}

{% block content %}
    {% get_providers as socialaccount_providers %}

    {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="btn btn-primary"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
            {{provider.name}}
        </a>
    {% endfor %}
    <a href="{% url 'cradmin-authenticate-login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-default">
        {% trans "Devilry login" %}
    </a>
{% endblock content %}


{% block devilry_footer %}
    {% include "devilry_deploy/login_footer.django.html" %}
{% endblock devilry_footer %}
