{% extends "devilry_examiner/base.django.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Add non-electronic delivery" %} - {{ assignment.short_name }} - {{ assignment.parentnode.get_path }}
{% endblock title %}

{% block body %}
<div class="page-header page-header-with-subheader">
    <div class="container-fluid">
        <h1>{% trans "Add non-electronic delivery" %}</h1>
        <p class="subheader">
            {{ assignment.long_name }} &mdash; {{ assignment.parentnode.parentnode.long_name}}, {{ assignment.parentnode.long_name }}
        </p>
    </div>
</div>

<div class="container-fluid django-cradmin-container-fluid-focus">
    <div class="alert alert-info">
    <strong>{% trans "Please confirm that you want to add a non-electronic delivery to the following groups" %}:</strong>
    <ul class="list-inline">
        {% for group in selected_groups %}
            <li>{{ group.long_displayname }}</li>
        {% endfor %}
    </ul>
    </div>

    <p>
        {% trans "Adding a non-electronic delivery should be the last option when no other solution is possible, or when you actually want students to make paper deliveries on an assignment configured for electronic delivery. If a student sends you a delivery through alternative channels, when they should have used Devilry, please fail them, or give them a new deadline with a clear message stating that the deadline was added because they have to use Devilry for electronic deliveries." %}
    </p>

    {% crispy primaryforms.add_nonelectronic_deliveries_form %}
</div>
{% endblock %}
