{% extends "devilry_examiner/base.django.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Add deadline" %} - {{ assignment.short_name }} - {{ assignment.parentnode.get_path }}
{% endblock title %}

{% block body %}
<div class="page-header page-header-with-subheader">
    <div class="container-fluid">
        <h1>{% trans "Add deadline" %}</h1>
        <p class="subheader">
            {{ assignment.long_name }} &mdash; {{ assignment.parentnode.parentnode.long_name}}, {{ assignment.parentnode.long_name }}
        </p>
    </div>
</div>
<div class="container-fluid django-cradmin-container-fluid-focus">
    <span class="text-muted">{% trans "Add deadline for" %}:</span>
    <ul class="list-inline text-muted">
        {% for group in selected_groups %}
            <li>{{ group.long_displayname }}</li>
        {% endfor %}
    </ul>

    {% crispy primaryforms.add_deadline_form %}
</div>
{% endblock %}
