{% extends "devilry_examiner/base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}
{% load django_decoupled_docs_tags %}
{% load crispy_forms_tags %}


{% block title %}{{ assignment.short_name }} - {{ assignment.period.get_path }}{% endblock title %}

{% block body %}



<div class="page-header page-header-with-subheader">
    <div class="container-fluid">
        <h1>{{ assignment.long_name }}</h1>
        <p class="subheader">
            {{ assignment.parentnode.parentnode.long_name}} &mdash; {{ assignment.parentnode.long_name }}
        </p>
    </div>
</div>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
        <li class="active">{{ assignment.get_path }}</li>
    </ol>
</div>

{% if assignment.has_valid_grading_setup %}
<div class="container-fluid allgroupoverview-focusarea">
    <div class="row">

        <div class="col-sm-4 col-md-3">
            {% block navbar %}
                <div class="list-group">
                    <a class="list-group-item {% if currentpage == 'all' %}active{% endif %}"
                       href="{% url 'devilry_examiner_allgroupsoverview' assignment.id %}?order_by={{ order_by }}&examinermode={{ examinermode }}">
                        <span class="badge">{{ count_all }}</span>
                        {% trans "All" %}
                    </a>
                    <a class="list-group-item {% if currentpage == 'waiting_for_feedback' %}active{% endif %}"
                       href="{% url 'devilry_examiner_waiting_for_feedback' assignment.id %}?order_by={{ order_by }}&examinermode={{ examinermode }}">
                        <span class="badge">{{ count_waiting_for_feedback }}</span>
                        {% trans "Waiting for feedback" %}
                    </a>
                    {% if assignment.is_electronic %}
                        <a class="list-group-item {% if currentpage == 'waiting_for_deliveries' %}active{% endif %}"
                           href="{% url 'devilry_examiner_waiting_for_deliveries' assignment.id %}?order_by={{ order_by }}&examinermode={{ examinermode }}">
                            <span class="badge">{{ count_waiting_for_deliveries }}</span>
                            {% trans "Waiting for deliveries" %}
                        </a>
                    {% endif %}
                    <a class="list-group-item {% if currentpage == 'corrected' %}active{% endif %}"
                       href="{% url 'devilry_examiner_corrected' assignment.id %}?order_by={{ order_by }}&examinermode={{ examinermode }}">
                        <span class="badge">{{ count_corrected }}</span>
                        {% trans "Corrected" %}
                    </a>
                </div>

            {% endblock navbar %}

            {% if assignment.is_electronic %}
                <p>
                    <a href="{% url 'devilry_examiner_downloadalldeliveries_on_assignment' assignment.id %}"
                            class="btn btn-default btn-block">
                        <i class="fa fa-download"></i>
                        {% trans "Download all deliveries" %}
                    </a>
                </p>
            {% endif %}
        </div>

        <div class="col-sm-8 col-md-9">
            {% if groups %}
                <div class="pull-right btn-group">
                    {% if groups.has_previous %}
                        <a href="?page={{ groups.previous_page_number }}&order_by={{ order_by }}&examinermode={{ examinermode }}" class="btn btn-default">
                            <i class="fa fa-chevron-left"></i>
                            <span class="sr-only">{% trans "Previous" %}</span>
                        </a>
                    {% else %}
                        <button disabled class="btn btn-default">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                    {% endif %}

                    {% if groups.has_next %} 
                        <a href="?page={{ groups.next_page_number }}&order_by={{ order_by }}&examinermode={{ examinermode }}" class="btn btn-default">
                            <i class="fa fa-chevron-right"></i>
                            <span class="sr-only">{% trans "Next" %}</span>
                        </a>
                    {% else %}
                        <button disabled class="btn btn-default">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    {% endif %}
                </div>
                <div class="btn-toolbar" role="toolbar">

                    {% if examinermode == 'normal' %}
                        <div class="btn-group">
                            <button class="btn btn-default" id="select_all_button">
                                {% trans "Select All" %}
                            </button>
                            <button class="btn btn-default" id="deselect_all_button">
                                {% trans "Deselect All" %}
                            </button>
                        </div>
                    {% endif %}

                    <div class="btn-group">
                        {% crispy orderingform %}
                    </div>

                    {% if assignment.grading_system_plugin_id == "devilry_gradingsystemplugin_approved" %}
                        <div class="btn-group">
                            {% crispy examinermode_form %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% block content %}



            <div class="grouplistingbox">


                {# TODO: if examinermodus == 'quick'... #}
                {% if examinermode == 'normal' %}
                    {% include "devilry_examiner/include/examinermode_normal.django.html" %}
                {% elif examinermode == 'quick' %}
                    {% include "devilry_examiner/include/examinermode_quick.django.html" %}
                {% endif %}



            </div><!-- container-fluid -->


            {% endblock content %}
        </div>
    </div>
</div>
{% else %}
  <div class="container-fluid">
        <div class="alert alert-danger">
            <strong>{% trans "The grading system is not configured correctly." %}</strong>
                <p><small>
                    {% trans "This means that you are not able to correct any of the submitted deliveries. Notify the course administrator which need to setup up the grading system for this assignment" %}
                </small></p>
        </div>
  </div>
{% endif %}





<script>
$(function () {
    $('#select_all_button').on('click', function (e) {
        $('#grouplist_table').find(':checkbox').prop('checked', true);
        e.preventDefault();
    });
    $('#deselect_all_button').on('click', function (e) {
        $('#grouplist_table').find(':checkbox').prop('checked', false);
        e.preventDefault();
    });
    $('#grouplist_table td.checkbox_cell').on('click', function (e) {
        var $checkbox = $(this).find(':checkbox');
        $checkbox.prop('checked', !$checkbox.prop('checked'));
        e.preventDefault();
    });
    $('#grouplist_table td.checkbox_cell input').on('click', function (e) {
        // Preven the listener above when we manage to actually hit the checkbox instead of the cell.
        e.stopPropagation();
    });
    
});
</script>


{% endblock body%}
