{% extends "devilry_examiner/base.django.html" %}
{% load i18n devilry_examiner_tags%}
{% load url from future %}


{% block title %}
    {{ assignment.short_name }} - {{ assignment.parentnode.get_path }}
{% endblock title %}

{% block body %}
<div class="page-header page-header-with-subheader">
    <div class="container-fluid">
        <h1>{{ assignment.long_name }}</h1>
        <p class="subheader">
            {{ assignment.parentnode.parentnode.long_name}} &mdash; {{ assignment.parentnode.long_name }}
        </p>
    </div>
</div>


{% block pagecontent %}
{% endblock pagecontent %}

{% endblock %}





