{% extends "devilry_examiner/base.django.html" %}
{% load i18n %}
{% load url from future %}
{% load django_decoupled_docs_tags %}

{% block title %}{% trans "Examiner" %}{% endblock %}

{% block body %}
    <div class="page-header page-header-with-subheader page-header-with-bottom-margin">
        <div class="container-fluid">
            <h1>{% trans "Examiner" %}</h1>
            <p class="subheader">
                {% trans "Dashboard for the examiner role. You use this role to provide feedback to students." %}
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="list-group active-assignment-listing">
                    {% for assignment in active_assignments %}
                        <a href="{% url 'devilry_examiner_waiting_for_feedback_or_all' assignment.id %}"
                                class="list-group-item active-assignment-listing-item assignment-{{ assignment.get_path }}">
                            <h4 class="list-group-item-heading assignmentname">
                                {{ assignment.parentnode.parentnode.short_name }}.{{ assignment.parentnode.short_name }} - {{ assignment.long_name }}
                            </h4>
                            <p class="list-group-item-text">
                                {% if assignment.count_waiting_for_feedback %}
                                    <span class="text-warning">
                                        {% blocktrans with count_waiting_for_feedback=assignment.count_waiting_for_feedback %}{{ count_waiting_for_feedback }} waiting for feedback{% endblocktrans %}
                                    </span>
                                {% else %}
                                    <small class="text-muted">{% trans "No groups waiting for feedback." %}</small>
                                {% endif %}
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3">
                <p>
                    <strong>{% trans "New to Devilry? Do you want to become more efficient?" %}</strong>
                    <small class="text-muted">{% trans "Check out the getting started guide" %}</small>
                </p>
                <p>
                    <a class="btn btn-default" href="{% decoupled_docs_url 'devilry_examiner/gettingstarted' %}" target="_blank">
                        <i class="fa fa-question-circle"></i>
                        {% trans "Getting started guide" %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
