{% comment %}
	A include template that renders a feedback read-only view. It includes a
	block within the alert-box showing the grade that can be used by
	extending templates to add a button (used to add an "Edit feedback" button)
	in readonly-feedback-with-editbutton.django.html.
{% endcomment %}

{% load i18n %}
{% load devilry_examiner_tags %}

{% include "markup/mathjaxheader.django.html" %}


<div class="container-fluid
        feedback_gradebox
        django-cradmin-container-fluid-focus
        django-cradmin-container-fluid-focus-{{ feedback|feedback_to_bootstrapclass }}">
    <strong>{% trans "Grade" %}:</strong> <span class="feedback_grade">{{ feedback.grade }}</span>
    (<span class="feedback_is_passing_grade">{{ feedback.is_passing_grade|format_is_passing_grade }}</span>)
    {% block alertboxbutton %}{% endblock alertboxbutton %}
</div>

{% if feedback.rendered_view or feedback.files.exists %}
    <div class="container-fluid django-cradmin-container-fluid-focus">
        <div class="devilry-feedback-rendered-view"
                id="devilry_examiner_feedback_rendered_view">
            {% include "devilry_student/include/feedback-rendered-view.django.html" with feedback=feedback only %}
        </div>
    </div>
{% endif %}
