{% extends "devilry_examiner/base.django.html" %}

{% comment %}
This is the base template for the singledelivery view in devilry_examiner,
and the base template for ANY grading system plugin.

Child templates should override the ``pagecontent`` block. The base template
for grading plugins should override ``title`` and add a prefix/suffix to
distinguish editing from viewing.

Expected template variables
===========================

delivery
    A devilry.apps.core.models.Delivery object.
valid_grading_system_setup
    Is the grading system configured in a way that makes giving feedback possible?
{% endcomment %}


{% load url from future %}
{% load i18n %}
{% load static %}
{% load devilry_examiner_tags %}

{% block title %}
{{ delivery.deadline.assignment_group.short_displayname }} #{{ delivery.number }} - {{ delivery.deadline.assignment_group.assignment.get_path }}
{% endblock %}

{% block body %}
    <div class="page-header page-header-with-subheader">
        <div class="container-fluid">
            {% block headertop %}{% endblock headertop %}
            <h1>
                {{ delivery.deadline.assignment_group.assignment.long_name }} &mdash; {{ delivery.deadline.assignment_group.long_displayname }}
            </h1>
            <p class="subheader">
                <span class="deliverynumber_and_total">
                    {% blocktrans with number=delivery.number total=delivery.deadline.assignment_group.successful_delivery_count %}
                        Delivery {{ number }}/{{ total }}
                    {% endblocktrans %}
                </span>
                -
                <span class="time_of_delivery">{{ delivery.time_of_delivery }}</span>
            </p>
        </div>
    </div>
    <div class="container-fluid django-cradmin-container-fluid-focus">
        <ol class="breadcrumb">
            <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
            <li><a href="{% url 'devilry_examiner_allgroupsoverview' delivery.deadline.assignment_group.assignment.id %}">{{ delivery.deadline.assignment_group.assignment.get_path }}</a></li>
            <li><a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">{{ delivery.deadline.assignment_group.short_displayname }}</a></li>
            {% block breadcrumbtail %}
                <li><a href="{% url 'devilry_examiner_singledeliveryview' delivery.id %}">#{{ delivery.number }}</a></li>
            {% endblock breadcrumbtail %}
        </ol>

        {% block alerts %}
            {% if not valid_grading_system_setup %}
                <div class="alert alert-danger">
                    <strong>{% trans "Error" %}:</strong>            
                    {% trans "You can not provide feedback for this assignment because the course admin(s) have not configured the grading system correctly. If a course admin visits this assignment using the course admin role, they will get a message with instructions for how to fix this." %}
                </div>
            {% endif %}

            <div class="devilry-bs-callout-container">
                {% if delivery.after_deadline %}
                    <div class="bs-callout bs-callout-warning after_deadline_message">
                        <strong>
                            {% blocktrans with timesincedeadline=delivery.deadline.deadline|timesince:delivery.time_of_delivery %}This delivery was added {{ timesincedeadline }} after the deadline.{% endblocktrans %}
                        </strong>
                        {% if delivery.deadline.successful_delivery_count > 1 %}
                            {% trans "The group has made at least one more delivery for this deadline." %}
                            <a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">
                                {% trans "Browse other deliveries" %}</a>.
                        {% else %}
                            {% trans "The group has no other deliveries for this deadline." %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if not delivery.is_last_delivery %}
                    <div class="bs-callout bs-callout-warning not_last_delivery_message">
                        {% trans "This delivery is not the last delivery made by this group on this assignment." %}
                        <a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">
                                {% trans "Browse other deliveries" %}</a>.
                    </div>
                {% endif %}
                {% if delivery.is_last_delivery and delivery.deadline != delivery.assignment_group.last_deadline %}
                    <div class="bs-callout bs-callout-warning last_delivery_but_not_on_last_deadline_message">
                        {% trans "This is the last delivery made by this group, but it was NOT added to their last deadline." %}
                        <a href="{% url 'devilry_examiner_singlegroupoverview' delivery.deadline.assignment_group.id %}">
                                {% trans "Browse all deliveries made by the group" %}</a>.
                    </div>
                {% endif %}
            </div>
        {% endblock alerts %}

        {% with filemetacount=delivery.filemetas.count %}
            {% if filemetacount > 0 %}
                <div class="delivery_files">
                    {% if filemetacount == 1 %}
                        {% for filemeta in delivery.filemetas.all %}
                            <a href="{% url 'devilry-delivery-file-download' filemeta.id %}" class="btn btn-default">
                                <i class="fa fa-download"></i>
                                {{ filemeta.filename }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <a href="{% url 'devilry-delivery-download-all-zip' delivery.id %}" class="btn btn-default">
                            <i class="fa fa-download"></i>
                            {% trans "Download files" %}
                        </a>
                        {% spaceless %}
                            <ul>
                                {% for filemeta in delivery.filemetas.all %}
                                    <li>
                                        <a href="{% url 'devilry-delivery-file-download' filemeta.id %}">{{ filemeta.filename }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endspaceless %}
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    {% block pagecontent %}{% endblock pagecontent %}
{% endblock %}
