{% extends "devilry_examiner/base.django.html" %}
{% load url from future %}
{% load i18n %}
{% load devilry_examiner_tags %}

{# NOTE: The title is in a bit strange order because we want the most important information to visible in the tab (the name of the group, and the assignment). #}
{% block title %}
    {{ group.short_displayname }} - {{ group.assignment.short_name }} - {{ group.assignment.parentnode.get_path }}
{% endblock title %}

{% block body %}
    <div class="page-header page-header-with-subheader">
        <div class="container-fluid">
            {% include "devilry_examiner/include/navigate_todolist.django.html" %}
            <h1>
                {{ group.assignment.long_name }} &mdash; {{ group.long_displayname }}
            </h1>
            <p class="subheader">
                {{ group.subject.long_name }}, {{ group.period.long_name }}
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{% url 'devilry_examiner_dashboard' %}">{% trans "Examiner" %}</a></li>
            <li><a href="{% url 'devilry_examiner_allgroupsoverview' group.assignment.id %}">{{ group.assignment.get_path }}</a></li>
            <li class="active">{{ group.short_displayname }}</li>
        </ol>

        <div class="alert alert-{{ group|group_delivery_status_to_bootstrapclass }}">
            <strong>{% trans "Status" %}: {{ group.get_status|formatted_status }}</strong>
            {% if group.delivery_status == 'corrected' %}
                <p><small>
                    {% trans "Grade" %}: {{ group.feedback.grade }}
                    ({{ group.feedback.is_passing_grade|format_is_passing_grade }})
                </small></p>
            {% elif group.delivery_status == 'closed-without-feedback' %}
                <p><small>
                    {% trans "The group was closed without getting any feedback. This means that, as far as Devilry is concerned, this groups got the lowest possible score on this assignment (zero points)." %}
                </small></p>
            {% endif %}
        </div>

        {% include "devilry_examiner/include/give_another_chance_question.django.html" with group=group %}
        {% include "devilry_examiner/include/missing_expected_delivery_box.django.html" with group=group %}
    </div>


    {# Make it possible to add deadlines and non-electronic deliveries at any time on electronic assignments #}
    {# NOTE: This if is because we do not want double up with buttons when the warning/info boxes included above is rendered #}
    {% if group.assignment.is_electronic and not group.missing_expected_delivery %}
        <div class="container-fluid">
            {% if not group.should_ask_if_examiner_want_to_give_another_chance %}
                <form class="form-inline form-inline-render-inline-block devilry_add_deadline_anytime_form"
                        action="{% url 'devilry_examiner_add_deadline' group.assignment.id %}"
                        method="post">
                    <input type="hidden" name="group_ids" value="{{ group.id }}">
                    <input type="hidden" name="success_url" value="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
                    <input type="hidden" name="cancel_url" value="{{ request.get_full_path }}">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-plus"></i>
                        {% trans "Add deadline" %}
                    </button>
                </form>
            {% endif %}
            <form class="form-inline form-inline-render-inline-block devilry_add_nonelectronic_delivery_anytime_form"
                    action="{% url 'devilry_examiner_add_nonelectronic_delivery' group.assignment.id %}"
                    method="post">
                <input type="hidden" name="group_ids" value="{{ group.id }}">
                <input type="hidden" name="success_url" value="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
                <input type="hidden" name="cancel_url" value="{{ request.get_full_path }}">
                <button class="btn btn-default" type="submit">
                    {% trans 'Add "non-electronic" delivery' %}
                </button>
            </form>
        </div>
    {% endif %}

    {% for deadline in group.deadlines.all %}
        <div class="container-fluid deadlinebox">
            <div class="deadline-header">
                <h2>
                    <span class="deadline-header-prefix">
                        {% blocktrans with number=forloop.revcounter %}Deadline {{ number }}{% endblocktrans %}
                    </span>
                    <small class="deadline-datetime">{{ deadline.deadline|date:"DATETIME_FORMAT" }}</small>
                </h2>
                {% if deadline.text %}
                    <p class="text-muted deadline-text text-pre-wrap">{{ deadline.text }}</p>
                {% endif %}
            </div>
            <table class="table table-striped infolistingtable">
                {% for delivery in deadline.query_successful_deliveries %}
                    <tr class="delivery delivery-{{ delivery.id }}">
                        <td class="titled-cell">
                            <h3>
                                <a href="{% url 'devilry_examiner_singledeliveryview' delivery.id %}">
                                    {% blocktrans with number=delivery.number %}Delivery #{{ number }}{% endblocktrans %}
                                </a>
                            </h3>
                            {% if delivery.last_feedback %}
                                <p class="text-{{ delivery.last_feedback|feedback_to_bootstrapclass }} last-feedback">
                                    <span class="feedback-grade">{{ delivery.last_feedback.grade }}</span>
                                    (<span class="feedback-is_passing_grade">{{ delivery.last_feedback.is_passing_grade|format_is_passing_grade }}</span>)
                                </p>
                            {% else %}
                                <p class="text-muted no-feedback-message">{% trans "No feedback" %}</p>
                            {% endif %}
                            {% if delivery.after_deadline %}
                                <p class="after_deadline_message visible-xs"><strong class="text-danger">
                                    {% blocktrans with timeafter=delivery.deadline.deadline|timesince:delivery.time_of_delivery %}
                                        {{ timeafter }} after the deadline
                                    {% endblocktrans %}
                                </strong></p>
                            {% endif %}
                        </td>
                        <td class="text-right hidden-xs">
                            <p class="time_of_delivery text-muted">{{ delivery.time_of_delivery|date:"DATETIME_FORMAT" }}</p>
                            {% if delivery.after_deadline %}
                                <p class="after_deadline_message"><strong class="text-danger">
                                    {% blocktrans with timeafter=delivery.deadline.deadline|timesince:delivery.time_of_delivery %}
                                        {{ timeafter }} after the deadline
                                    {% endblocktrans %}
                                </strong></p>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p class="text-warning no-deliveries-message">{% trans "No deliveries" %}</p>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
