{% extends "devilry/dashboard/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
  {% trans "Dashboard" %}
{% endblock %}

{% block heading %}
  {% trans "Dashboard" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block main %}
<script type="text/javascript">
	$(function() {
		$(".button").button();
		
		$("a", ".demo").click(function() { return false; });
	});
</script>


<div id='dashboard-important'>
	{% for app, view in important %}
    <div class='dashboarditem {{ app.cssclass }}'>
      <h2>{{ app.title }}</h2>
      <div class='dashboarditem-body'>
        {{ view }}
      </div>
    </div>
  {% endfor %}
</div>
<div id='dashboard-normal'>
	{% for app, view in normal %}
    <div class='dashboarditem {{ app.cssclass }}'>
      <h2>{{ app.title }}</h2>
      <div class='dashboarditem-body'>
        {{ view }}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
