{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
    function onSendTestEmail(url) {
        var username = "{{ user_obj.username }}";
        var ok = confirm([
            'Do you really want to send an email to the "',
            username, '"-user, to check that email-sending is ',
            'working?'
        ].join(''));
        if(ok) {
            window.location.href = url;
        }
    }
</script>

{% endblock %}


{% block content %}
<p>{{ sysadmin_message }}</p>

{{ block.super }}
{% endblock %}

{% block object-tools %}
    {% if change %}{% if not is_popup %}
    <ul class="object-tools">
        <li>
            <a href="#" onclick="onSendTestEmail('{% url 'send_email_to_students_email_sending_debug' user_obj.username %}');">
                Send a test-email to {{ user_obj.username }}
            </a>
        </li>
    </ul>
    {% endif %}{% endif %}
{% endblock %}
