{% extends 'devilry_group/feedbackfeed.django.html' %}
{% load cradmin_tags %}
{% load i18n %}

{% block navigation %}
    <nav class="devilry-tabs__tab-list" id="/tabs">
        <a href="{% cradmin_appindex_url %}"
           class="devilry-group-feedbackfeed-discuss-button
                devilry-tabs__tab
                {% block discuss_navigation_active_class %}{% endblock %}">
            <span class="devilry-tabs__title">
                {% trans 'Discuss with students and examiners' context 'devilry_group feedbackfeed admin' %}
                {% block discuss_navigation_title_suffix %}{% endblock %}
            </span>
            <span class="devilry-tabs__meta">
                {% trans 'Communicate with everyone on the group' context 'devilry_group feedbackfeed admin' %}
            </span>
        </a>
        <a href="{% cradmin_appurl 'admin-examiner-discuss' %}"
           class="devilry-group-feedbackfeed-discuss-button
                devilry-tabs__tab
                {% block admin_examiner_discuss_navigation_active_class %}{% endblock %}">
            <span class="devilry-tabs__title">
                {% trans 'Discuss with examiners' context 'devilry_group feedbackfeed admin' %}
                {% block admin_examiner_discuss_navigation_title_suffix %}{% endblock %}
            </span>
            <span class="devilry-tabs__meta">
                {% trans 'Only communicate with examiners and admins' context 'devilry_group feedbackfeed admin' %}
            </span>
        </a>
    </nav>
{% endblock %}