{% extends 'devilry_group/feedbackfeed.django.html' %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block feedbackfeed-header-content %}
    <div class="devilry-backlink">
        <a href="{{ backlink_url }}" class="devilry-backlink__backlink">
            <span class="sr-only">
                {% trans "Back" %}
            </span>
            <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
        </a>
        <div class="devilry-backlink__content">
            {{ block.super }}
        </div>
    </div>
{% endblock feedbackfeed-header-content %}


{% block navigation %}
    <nav class="devilry-tabs__tab-list" id="/tabs">
        <a href="{% cradmin_appindex_url %}#/tabs"
           class="devilry-group-feedbackfeed-discuss-button
                devilry-tabs__tab
                {% block discuss_navigation_active_class %}{% endblock %}">
            <span class="devilry-tabs__title">
                {% trans 'Discuss' %}
                {% block discuss_navigation_title_suffix %}{% endblock %}
            </span>
        </a>
        <a href="{% cradmin_appurl 'admin-examiner-discuss' %}#/tabs"
           class="devilry-group-feedbackfeed-discuss-button
                devilry-tabs__tab
                {% block admin_examiner_discuss_navigation_active_class %}{% endblock %}">
            <span class="devilry-tabs__title">
                {% trans 'Internal notes' %}
                {% block admin_examiner_discuss_navigation_title_suffix %}{% endblock %}
            </span>
        </a>
    </nav>
{% endblock %}
