{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block content %}
    <div class="container">
        <div class="devilry-dashboard-container">
            <form id="id_select-language-form" action="{% cradmin_appurl 'select_language' %}" method="POST">
                {% csrf_token %}
                {% for language_info in languages %}
                    {% if forloop.first %}
                        <h2>{% trans 'Current language' %}</h2>
                        <input type="hidden" name="selected_language" value="{{ language_info.language }}" />
                        <a class="button button_default" onclick="document.getElementById('id_select-language-form').submit()" disabled="disabled">
                            {{ language_info.language }} ({{ language_info.languagecode }})
                        </a>
                    {% else %}
                        {% if forloop.counter == 2 %}
                            <h2>{% trans 'Other languages' %}</h2>
                        {% endif %}
                        <input type="hidden" name="selected_language" value="{{ language_info.language }}" />
                        <a class="button button_default" onclick="document.getElementById('id_select-language-form').submit()">
                            {{ language_info.language }} ({{ language_info.languagecode }})
                        </a>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock content %}
