{% extends "devilry/adminview/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}


{% block admin-breadcrumbs %}
  {{ block.super }}
  <li><a href='../'>{{ model_plural_name|capfirst }}</a></li>
  <li>::</li>
  <li>{{ title }}</li>
{% endblock %}

{% block main %}

{% if message %}
	<p>{{ message }}</p>
{% endif %}

<form method='post' action='{{ post_url }}'>
	<table>
	{{ nodeform.as_table }}
	</table>
	<p>
		<input type='submit' name='save' value='Save'/>
	</p>
</form>
{% endblock %}
