{% load i18n %}
{% load devilry_examiner_tags %}

<div class="devilry-student-delivery-summarycolumn">
    <p class="devilry-student-delivery-summarycolumn-linkwrapper">
        <a href="{{ action_url }}">
            {% block deliverydescription %}
                {% blocktrans with number=delivery.number%}Delivery#{{ number }}{% endblocktrans %}
            {% endblock deliverydescription %}
        </a>
    </p>
    {% if delivery.last_feedback %}
        <p class="text-{{ delivery.last_feedback|feedback_to_bootstrapclass }} devilry-student-delivery-summarycolumn-feedback">
            <strong class="devilry-student-delivery-summarycolumn-feedback-grade">
                {{ delivery.last_feedback.grade }}
            </strong>
            (<span class="devilry-student-delivery-summarycolumn-feedback-is_passing_grade">{{ delivery.last_feedback.is_passing_grade|format_is_passing_grade }}</span>)
        </p>
    {% else %}
        <p class="devilry-student-delivery-summarycolumn-no-feedback">
            {% trans "No feedback" %}
        </p>
    {% endif %}
</div>
