{% spaceless %}
{% load i18n %}
{% load static %}
{% endspaceless %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% trans "Calendar" %}{% endblock title %} - Devilry</title>
        {% include "devilry_theme/favicons.django.html" %}

        {# NOTE: We just need to get bootstrap3 from somewhere, and we use devilry_examiner styles #}
        <link href='{% static "devilry_examiner/css/styles.css" %}' rel="stylesheet">

        <script type="text/javascript" src="{% static "devilry_extjsextras/consolefallback.js" %}"></script>
        {#<script src="{% static 'devilry_examiner/bower/components/jquery/jquery.min.js' %}"></script>#}

        {% comment %}
        TODO: Add these to bower and update the paths (if we want to support IE8)

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% endcomment %}
    </head>

    <body>
        {% include "devilry_header/header2include.django.html" %}
        {% block body %}{% endblock %}
    </body>
</html>