{% extends "devilry_detektor/admin/base.django.html" %}
{% load i18n %}

{% block breadcrumbtail %}
    <li class="active">
        {% trans "Similarity checks" %}
    </li>
{% endblock breadcrumbtail %}

{% block belowheading %}
    <p class="lead">
        {% trans "In this view, you can run similarity checks for all deliveries on this assignment." %}
        <strong class="text-warning">{% trans "This is a beta feature, please contact support if you encounter any problems." %}</strong>
    </p>
{% endblock belowheading %}


{% block content %}
    <div class="container">
        {% if detektorassignment.processing_started_datetime %}
            <div class="alert alert-info">
                {% blocktrans with user=detektorassignment.processing_started_by started_time=detektorassignment.processing_started_datetime %}Similarity check processing was started by {{ user }} {{ started_time }}{% endblocktrans %}
            </div>
        {% else %}
            <form method="post">{% csrf_token %}
               <button type="submit" class="btn btn-primary btn-lg">
                   {% trans "Run/re-run similarity check" %}
               </button>
            </form>
            <p>TODO: Table of results</p>
        {% endif %}
    </div>
{% endblock content %}
