{% extends "devilry_detektor/admin/base.django.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbtail %}
    <li class="active">
        {% trans "Similarity checks" %}
    </li>
{% endblock breadcrumbtail %}

{% block belowheading %}
    <p class="lead">
        {% trans "In this view, you can run similarity checks for all deliveries on this assignment." %}
        <strong class="text-warning">{% trans "This is a beta feature, please contact support if you encounter any problems." %}</strong>
    </p>
{% endblock belowheading %}


{% block content %}
    <div class="container">
        {% if detektorassignment.processing_started_datetime %}
            <div class="alert alert-info">
                {% blocktrans with user=detektorassignment.processing_started_by started_time=detektorassignment.processing_started_datetime %}Similarity check processing was started by {{ user }} {{ started_time }}{% endblocktrans %}
            </div>
        {% else %}
            <form method="post">{% csrf_token %}
                <p>
                    <button type="submit" class="btn btn-primary btn-lg">
                        {% trans "Run/re-run similarity check" %}
                    </button>
                </p>
            </form>

            {% for language, comparemany in comparemany_results_by_language.iteritems %}
                <h2>{% trans "Programming language" %}: {{ language }}</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="min-width: 80px;">
                                    {% trans "Points" %}
                                </th>
                                <th style="min-width: 230px;">
                                    {% trans "Delivery 1" %}
                                </th>
                                <th style="min-width: 230px;">
                                    {% trans "Delivery 2" %}
                                </th>
                                <th>
                                    {% trans "Similarities" %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comparetwo in comparemany %}
                                <tr>
                                    <td>
                                        {{ comparetwo.get_scaled_points }}
                                    </td>

                                    <td>
                                        <p>
                                            {{ comparetwo.parseresult1.delivery.assignment_group.long_displayname }}
                                            {% trans "delivery" %}#{{ comparetwo.parseresult1.delivery.number }}
                                        </p>

                                        <p>
                                            <a class="btn btn-default btn-sm" target="_blank"
                                                    href="{% url 'devilry_subjectadmin_delivery' comparetwo.parseresult1.delivery.id %}">
                                                <span class="fa fa-external-link"></span>
                                                {% trans "Show" %}
                                            </a>
                                            <a class="btn btn-default btn-sm" href="{% url 'devilry-delivery-download-all-zip' comparetwo.parseresult1.delivery.id %}">
                                                <span class="fa fa-download"></span>
                                                {% trans "Download" %}
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{ comparetwo.parseresult2.delivery.assignment_group.long_displayname }}
                                            {% trans "delivery" %}#{{ comparetwo.parseresult2.delivery.number }}
                                        </p>

                                        <p>
                                            <a class="btn btn-default btn-sm" target="_blank"
                                                    href="{% url 'devilry_subjectadmin_delivery' comparetwo.parseresult2.delivery.id %}">
                                                <span class="fa fa-external-link"></span>
                                                {% trans "Show" %}
                                            </a>
                                            <a class="btn btn-default btn-sm" href="{% url 'devilry-delivery-download-all-zip' comparetwo.parseresult2.delivery.id %}">
                                                <span class="fa fa-download"></span>
                                                {% trans "Download" %}
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        {{ comparetwo.get_summary_descriptions_as_string }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
