{% extends "devilry_detektor/admin/base.django.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbtail %}
    <li class="active">
        {% trans "Similarity checks" %}
    </li>
{% endblock breadcrumbtail %}

{% block belowheading %}
    <p class="lead">
        {% trans "In this view, you can run similarity checks for all deliveries on this assignment." %}
        <strong class="text-warning">{% trans "This is a beta feature, please contact support if you encounter any problems." %}</strong>
    </p>
{% endblock belowheading %}


{% block content %}
    <div class="container">
        {% if detektorassignment.processing_started_datetime %}
            <div class="alert alert-info">
                {% blocktrans with user=detektorassignment.processing_started_by started_time=detektorassignment.processing_started_datetime %}Similarity check processing was started by {{ user }} {{ started_time }}{% endblocktrans %}
            </div>
        {% else %}
            <form method="post">{% csrf_token %}
                <p>
                    <button type="submit" class="btn btn-primary btn-lg">
                        {% trans "Run/re-run similarity check" %}
                    </button>
                </p>
            </form>

            <div class="table-responsive">
                <table id="detektorassembly-results" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">
                                {% trans "Points" %}
                            </th>
                            <th style="min-width: 230px;">
                                {% trans "Delivery 1" %}
                            </th>
                            <th style="min-width: 230px;">
                                {% trans "Delivery 2" %}
                            </th>
                            <th>
                                {% trans "Similarities" %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comparetwo in comparetwo_cacheitems %}
                            <tr>
                                <td>
                                    {{ comparetwo.scaled_points }}
                                </td>

                                {% for parseresult in comparetwo.get_parseresults_as_tuple %}
                                    <td>
                                        <p>
                                            <span class="detektorassembly-delivery{{ forloop.counter }}-displayname">
                                                {% if parseresult.delivery.assignment_group.name %}
                                                    <strong>
                                                        {{ parseresult.delivery.assignment_group.name }}
                                                    </strong><br>
                                                {% endif %}
                                                {% for candidate in parseresult.delivery.assignment_group.candidates.all %}
                                                    {{ candidate.student.devilryuserprofile.get_displayname }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                            {% trans "delivery" %}#{{ parseresult.delivery.number }}
                                        </p>

                                        <p>
                                            <a class="btn btn-default btn-sm" target="_blank"
                                                    href="{% url 'devilry_subjectadmin_delivery' parseresult.delivery.id %}">
                                                <span class="fa fa-external-link"></span>
                                                {% trans "Show" %}
                                            </a>
                                            <a class="btn btn-default btn-sm" href="{% url 'devilry-delivery-download-all-zip' parseresult.delivery.id %}">
                                                <span class="fa fa-download"></span>
                                                {% trans "Download" %}
                                            </a>
                                        </p>
                                    </td>
                                {% endfor %}

                                <td>
                                    {{ comparetwo.get_summary_descriptions_as_string }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}
