{% comment %}

Include template to "give another chance" to a group when they have been given
a failing grade. We show this on the delivery where the feedback was given,
and on the singlegroupoverview for any corrected group with failing grade.

Required template context variables:

    group
        The AssignmentGroup.
    request
        Will be available as long as you do not supply the ``only`` parameter to the include tag.
{% endcomment %}
{% load i18n %}
{% load url from future %}

{% if group.should_ask_if_examiner_want_to_give_another_chance %}
    <div class="alert alert-info devilry_give_another_chance_box">
        <p>
            <strong>{% trans "Give another chance?" %}</strong>
            {% trans "The last feedback for this group is a failing grade. If appropriate, you can give them another chance. To give them another chance, you need to give them a deadline where they can make another delivery." %}
        </p>
        <p>
            {% include "devilry_examiner/include/add_deadline_on_single_group.django.html" %}
        </p>
    </div>
{% endif %}
