/* line 4, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap {
  margin: 20px 0 20px 0;
}
/* line 5, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap strong {
  font-size: 18px;
}

/* line 13, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_dangerousactions .bootstrap.header h2, .devilry_subjectadmin_dangerousactions .bootstrap.header h3 {
  color: #900;
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
}
/* line 21, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_dangerousactions .body {
  border: 1px solid #ccc !important;
}

/* line 27, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_allwhereisadminlist h3 {
  font-size: 18px;
  margin: 20px 0 0 0;
}
/* line 30, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_allwhereisadminlist h3:first-child {
  margin-top: 0;
}

/* line 36, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer {
  border: none;
  background-color: #fff;
}
/* line 39, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer.devilry_subjectadmin_editsidebarcontainer_hover {
  background-color: #fff;
}
/* line 42, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer h4 {
  font-size: 16px;
  line-height: 27px;
}
/* line 46, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer h5 {
  font-size: 14px;
  font-weight: bold;
}
/* line 50, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer p {
  line-height: 25px;
}

/* line 57, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_guidesystemview h3 {
  font-size: 18px;
  line-height: 24px;
}

/* line 64, ../sass/devilry_subjectadmin.scss */
.devilry_listofperiods li.devilry_period {
  margin-bottom: 10px;
}

/* line 2, ../sass/_managestudents.scss */
.listofgroups .col2Wrapper {
  text-align: right;
  padding-right: 15px;
}
