{% extends "devilry_admin/assignment/students/groupview_base/base-multiselect-view.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block title %}
    {% trans "Organize students in project groups" %}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'studentoverview' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to student overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% trans "Organize students in project groups" %}
    </h1>
    <p>
        {% trans 'The first selected group will be the group to merge into, Then select one or more groups to be merged into the first selected.' %}
        {% trans 'Click "Create project group" to create a group containing all the students in the selected groups.' %}
        {% trans "Only put students in a project group if you want those students to cooperate on the assignments." %}
        {% trans "They will deliver together, and all feedback and grading is shared, Also previous existing feedback and comments on the assignment will also be shared." %}
    </p>
{% endblock pageheader-inner %}
