{% extends "devilry_admin/assignment/students/groupview_base/base-multiselect-view.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {% trans "Organize students in project groups" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% trans "Organize students in project groups" %}
    </h1>
    <p>
        {% trans 'Select one or more students, and select "Create project group" to create a project group containing the selected students.' %}
        {% trans "Only put students in a project group if you want those students to cooperate on the assignments. They will deliver together, and all feedback and grading is shared." %}
    </p>
{% endblock pageheader-inner %}
