{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {% blocktrans trimmed with assignmentname=assignment.long_name %}
        Students on {{ assignmentname }}
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% blocktrans trimmed with assignmentname=assignment.long_name %}
            Students on {{ assignmentname }}
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <ol id="devilry_admin_assignment_students_overview_choices"
                class="list-unstyled">
            <li id="devilry_admin_assignment_students_overview_choice_create_groups">
                <a href="{% cradmin_instance_appindex_url 'create_groups' %}">
                    {% trans "Add students" %}
                </a>
            </li>
            <li id="devilry_admin_assignment_students_overview_choice_merge_groups">
                <a href="#">
                    {% trans "Organize students in project groups" %}
                </a>
            </li>
            <li id="devilry_admin_assignment_students_overview_choice_delete_groups">
                <a href="#">
                    {% trans "Delete students or project groups" %}
                </a>
            </li>
        </ol>
    </div>

    {{ block.super }}
{% endblock content %}


{% block no-items-wrapper %}
    {% if excluding_filters_other_than_status_is_applied %}
        <p class="django-cradmin-listing-no-items-message django-cradmin-listbuilderview-no-items-message">
            {% trans "No students found matching your filters/search." %}
        </p>
    {% else %}
        <div class="devilry-examiner-grouplist-empty devilry-examiner-grouplist-empty-{{ status_filter_value_normalized }}">
            {% if status_filter_value_normalized == "waiting-for-feedback" %}
                {% trans "You have no students waiting for feedback." %}
            {% elif status_filter_value_normalized == "waiting-for-deliveries" %}
                {% trans "You are currently not expecting new deliveries from any students." %}
            {% elif status_filter_value_normalized == "corrected" %}
                {% trans "Your examiners have not finished correcting any students yet." %}
            {% elif status_filter_value_normalized == "all" %}
                {% trans "You have no students for this assignment. Add students using the link above." %}
            {% endif %}
        </div>
    {% endif %}
{% endblock no-items-wrapper %}
