{% extends "devilry_admin/assignment/students/groupview_base/base-info-view.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {% blocktrans trimmed with assignmentname=assignment.long_name %}
        Students on {{ assignmentname }}
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-inner %}
    <a href="#" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% blocktrans trimmed with assignmentname=assignment.long_name %}
                Students on {{ assignmentname }}
            {% endblocktrans %}
        </span>
    </a>
    <h1>
        {% blocktrans trimmed with assignmentname=assignment.long_name %}
            Students on {{ assignmentname }}
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <p id="devilry_admin_assignment_students_overview_buttonbar"
                class="devilry-buttonbar">
            <a id="devilry_admin_assignment_students_overview_button_create_groups"
                    class="btn btn-primary"
                    href="{% cradmin_instance_appindex_url 'create_groups' %}">
                {% trans "Add students" %}
            </a>
            <a id="devilry_admin_assignment_students_overview_button_merge_groups"
                    class="btn btn-default"
                    href="{% cradmin_instance_appindex_url 'merge_groups' %}">
                {% trans "Organize students in project groups" %}
            </a>
            <a id="devilry_admin_assignment_students_overview_button_delete_groups"
                    class="btn btn-default"
                    href="{% cradmin_instance_appindex_url 'delete_groups' %}">
                {% trans "Delete students or project groups" %}
            </a>
        </p>
    </div>

    {{ block.super }}
{% endblock content %}
