{% extends "django_cradmin/viewhelpers/listbuilderview/default.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {% blocktrans trimmed with assignmentname=assignment.long_name %}
        Students on {{ assignmentname }}
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% blocktrans trimmed with assignmentname=assignment.long_name %}
            Students on {{ assignmentname }}
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <ol id="devilry_admin_assignment_students_overview_choices"
                class="list-unstyled">
            <li id="devilry_admin_assignment_students_overview_choice_create_groups">
                <a href="{% cradmin_instance_appindex_url 'create_groups' %}">
                    {% trans "Add students" %}
                </a>
            </li>
            <li id="devilry_admin_assignment_students_overview_choice_merge_groups">
                <a href="#">
                    {% trans "Organize students in project groups" %}
                </a>
            </li>
            <li id="devilry_admin_assignment_students_overview_choice_delete_groups">
                <a href="#">
                    {% trans "Delete students or project groups" %}
                </a>
            </li>
        </ol>
    </div>

    {{ block.super }}
{% endblock content %}
