.devilryheader_searchmenu {
    font-size: $baseFontSize;
    //background-color: $almostblack;
    background-color: $hovermenu_bgcolor;
    //border-top: 2px solid #444 !important;
    color: #fff;
    font-family: $baseFontFamily;
}