@import "compass/css3/border-radius";

$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight: 18px;
$almostblack: #191919 !default;
$radiussize_big: 14px;
$radiussize_small: 6px;

$studentcolor_bg: #77B300;
$examinercolor_bg: #0077B3;
$administratorcolor_bg: #ff9900;
$superusercolor_bg: #CC3300;

@mixin role_link($bg) {
    background-color: $bg;
    padding: 8px 12px 4px 8px;
    border-bottom: 4px solid $bg;
    border-top: 4px solid $bg;
    &:hover {
        border-bottom: 4px solid #444; //lighten($bg, 30%);
        border-top: 4px solid #444;//lighten($bg, 30%);
    }
}

.devilryheader {
    background-color: #000;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;


    .currentrolebutton {
        @include border-top-right-radius(10);
        @include border-bottom-right-radius(10);
        .textwrapper {
            color: #000;
            padding: 6px 0 0 10px;
        }

        &.currentrolebutton_loading {
            background-color: $almostblack;
            .textwrapper {
                color: #fff;
            }
        }
        &.student {
            background-color: $studentcolor_bg;
        }
        &.currentrolebutton_hover {
            cursor: pointer;
            .textwrapper {
                color: #fff;
            }
        }
    }
}

.devilryheader_hovermenu {
    background-color: $almostblack;
    color: #fff;
    font-family: $baseFontFamily;

    h2 {
        font-size: 20px;
        margin: 0 0 7px 0;

    }

    .discreet {
        font-size: 11px;
        color: #aaa;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: underline;
        color: #3366FF;
    }

    p {
        margin: 0 0 $baseLineHeight/2;
        line-height: $baseLineHeight;
    }
}


.devilryheader_roles {
    ul {
        margin: 0 0 10px 0;
        li {
            margin: 0;
            padding: 0;
            a {
                //padding: 8px;
                display: block;
                text-decoration: none;
                color: #000;
                line-height: $baseLineHeight;
                .heading {
                    font-weight: bold;
                }
                .description {
                }
                &.student_role {
                    @include role_link($studentcolor_bg);
                }
                &.examiner_role{
                    @include role_link($examinercolor_bg);
                }
                &.administrator_role{
                    @include role_link($administratorcolor_bg);
                }
                &.superuser_role{
                    @include role_link($superusercolor_bg);
                }
            }
        }
    }
}

.devilryheader_userinfobox {
    table.userinfotable {
        th, td {
            line-height: $baseLineHeight;
        }
        th {
            color: #999;
            font-weight: bold;
            padding: 4px 10px 4px 0;
        }
        td {
            color: #fff;
        }
    }
}


.devilryheader_helplinksbox {
    ul.helplinks {
        li {
            margin: 0 0 10px 0;
            .title {
                a {
                    font-weight: bold;
                }
            }
            .description {
                font-size: 11px;
                color: #aaa;
            }
        }
    }
}
