@import "compass/css3/border-radius";

$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight: 18px;
$almostblack: #191919 !default;
$radiussize_big: 14px;
$radiussize_small: 6px;

$studentcolor_bg: #77B300;
$examinercolor_bg: #0077B3;
$oldadmincolor_bg: #CC4400;
$subjectadmincolor_bg: #CC4400;

@mixin navitemlink($bg) {
    background-color: $almostblack;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: lighten($bg, 6%) !important;
    }
}

.devilryheader {
    background-color: #000;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;


    .currentrolebutton {
        @include border-top-right-radius(10);
        @include border-bottom-right-radius(10);
        .textwrapper {
            color: #000;
            padding: 6px 0 0 10px;
        }

        &.currentrolebutton_loading {
            background-color: $almostblack;
            .textwrapper {
                color: #fff;
            }
        }
        &.student {
            background-color: $studentcolor_bg;
        }
        &.currentrolebutton_hover {
            cursor: pointer;
            .textwrapper {
                color: #fff;
            }
        }
    }
}

.devilryheader_hovermenu {
    background-color: $almostblack;
    color: #fff;
    font-family: $baseFontFamily;

    h2 {
        font-size: 20px;
        margin: 20 0 10 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .discreet {
        font-size: 11px;
        color: #aaa;
    }

    a {
        text-decoration: underline;
        color: #3366FF;
    }

    p {
        margin: 0 0 $baseLineHeight/2;
        line-height: $baseLineHeight;
    }
}
