.rightsidebarlayout {
    .centercolumn {
        background-color: $white;
        .centerbox {
            h2.centertitle {
                color: #666666;
                background-color: #EEEEEE;
                padding: 15px 40px 10px 40px;
                font-size: 24px;
                font-weight: normal;
            }
            .centerbody {
                margin: 0;
                padding: 40px 44px;
            }
        }
        .twocol-centerbox {
            .centerbox {
                h2.centertitle {
                    font-size: 18px;
                }
            }
        }
    }
    .sidebarcolumn {
        background-color: #191919;
        padding: 40px;
        color: #fff;
        font-size: 116%;
        a {
            color: #fff;
            text-decoration: underline;
        }
        h2 {
            color: #999999;
            padding: 15px 0 10px 0;
            font-weight: normal;
        }
        ul.unstyled {
            margin-left: 4px;
            &> li {
                margin-bottom: 20px;
                li {
                    margin: 6px 0;
                }
            }
        }
    }
}
