@import "variables";
@import "mixins";

// Override extjs variables
$color: $grayDark;
$font-family: sans-serif-font(normal,$basefont,$baseline);
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: $basefont;

@import "extjs";

// Grid system and page structure
@import "scaffolding";

// Styled patterns and elements
@import "type";
//@import "forms.scss";
//@import "tables.scss";
@import "patterns.scss";

@import "rightsidebarlayout";
@import "buttons";
@import "transparent-panel";
@import "forms-port";

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true
