.build/
*.class
*.o
*.pyc
*.pyo
*.tmp
.*.swp
.*.swo
*~
.DS_Store
target/
nbactions.xml
*.vpp~*
*.ipr
*.iml
*.iws
*.log
.classpath
.project
.settings/
*.sqlite3
filestore/
tags
.ropeproject/
doc/build/
doc/devilry.github.com/
.coverage
coverage_html_report/
cookies.txt
.devilry/
*.bak
devilry_xmlrpc_client.egg-info/
dist/
cscope.out
Session.vim
deliverystore/
exampledata-backup.tar.bz2
\#*#
.#*
docs/restfulapi/
.sass-cache/

.installed.cfg
bin/buildout
bin/dev-manage.py
bin/dev-manage.py.wsgi
bin/python
develop-eggs
dist
downloads
eggs
parts
devilry.egg-info/
