.build/
*.class
*.o
*.pyc
*.pyo
*.tmp
.*.swp
.*.swo
*~
.DS_Store
*.vpp~*
*.ipr
*.iws
*.log
.classpath
.project
.settings/
*.sqlite3
filestore/
tags
.ropeproject/
doc/build/
doc/devilry.github.com/
.coverage
coverage_html_report/
cookies.txt
.devilry/
*.bak
devilry_xmlrpc_client.egg-info/
dist/
cscope.out
Session.vim
deliverystore/
exampledata-backup.tar.bz2
\#*#
.#*
docs/restfulapi/
.sass-cache/

*/.installed.cfg
*/bin/buildout
*/bin/django_*.py
*/bin/django_*.py.wsgi
*/bin/nosetests*
*/bin/seleniumrc
*/bin/python
*/bin/*-script.py
*/develop-eggs
*/dist
*/downloads
*/eggs
*/parts
*/devilry.egg-info/
*/devilry-static-files/
devenv/static/
*/example-productionenv/bin/
devilry.egg-info/
productionenv/
*.exe
devilry_all_uncompiled.js
devilryrestfullib/build/
devilryrestfullib/devilryrestfullib.egg-info/
devilry/projects/dev/deliverystorehier/
devenv/.noseids

# Intellij files
# see: http://devnet.jetbrains.net/docs/DOC-1186
workspace.xml
tasks.xml
.idea/libraries/


# Translations
devilry/apps/i18n/static/i18n/translations/
messages_local-*


# Generated ExtJS classes
devilry/apps/administrator/static/extjs_classes/apps/
devilry/apps/examiner/static/extjs_classes/apps/
devilry/apps/extjshelpers/templates/extjshelpers/restful-generated-models.django.js
devilry/apps/gradeeditors/static/extjs_classes/apps/
devilry/apps/student/static/extjs_classes/apps/


# Generated ExtJS apps
all-classes.js
