not_for_deploy/docs/_build/
*.o
*.pyc
*.pyo
*.tmp
.*.swp
.*.swo
*~
.DS_Store
*.sqlite
*.sqlite3
*.bak
*.egg-info/
cscope.out
Session.vim
\#*#
.#*
dbdev_tempdata/
.sass-cache/

/devilry_developfiles/
/devilry/devilry_developfiles/
/not_for_deploy/docs/devilry_developfiles/
/devilry_testfiles/
/devilry/devilry_testfiles/
/dist/
/dumps/

.ipynb_checkpoints/
*.ipynb

vitalstyles_styleguide/
node_modules/

# Ignore user-specific pycharm settings
.idea/

# Ignore django collectstatic files
/static/

# Ignore phantomjs ghostdriver log
/ghostdriver.log

.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml

/libs/django_cradmin
/libs/ievv_opensource

/devilry/devilry_theme3/staticsources/devilry_theme3/bower_components/
/devilry/devilry_theme3/staticsources/devilry_theme3/bower.json
ievv_buildstatic.appconfig.json

.vscode/
.vscode-atest-temp/

dump.rdb
.venv/
.acompose-local.json
