# Base buildout for development. See devenv/ for how to extend it,
# and copy devenv/ if you want to experiment with new settings.

[buildout]
extensions += buildout.dumppickedversions
extends = buildout-base.cfg
parts +=
    dev
    seleniumrc
eggs +=
    selenium
    dingus
    pyyaml
    devilry_subjectadmin


[versions]
# NOTE: This section extends buildout-base.cfg versions
selenium = 2.15.0
dingus = 0.3.3
collective.recipe.seleniumrc = 0.6.1.1

#Required by:
#collective.recipe.seleniumrc 0.6.1.1
hexagonit.recipe.download = 1.5.0


[dev]
recipe = djangorecipe
project = settings
settings = settings
eggs = ${buildout:eggs}
wsgi = true
control-script = django_dev.py


[seleniumrc]
recipe=collective.recipe.seleniumrc


[sources]
# Extends sources in buildout-base.cfg with apps/libs that are under development.
devilry_subjectadmin = fs devilry_subjectadmin
