{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
  {% trans "Choose assignment" %}
{% endblock %}

{% block heading %}
  {% trans "Choose assignment" %}
{% endblock %}

{% block breadcrumbs %}
<li>{% trans "Correct deliveries" %}</a>
{% endblock %}


{% block main %}

<ul id='active_assignments'>
  {% for course in courses %}
    {% for period in course %}
      <li>{{ course }} - {{ period }} </li>
      <ul>
        {% for assignment in period %}
          <li><a href='{% url devilry-examiner-list_assignmentgroups assignment.node.id %}'>{{ assignment }}</a> </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}
</ul>

{% endblock %}
