{% extends "devilry/examiner/base.django.html" %}

{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Edit " %}{% endblock %}
{% block heading %}{% trans "Edit " %}{% endblock %}

{% block breadcrumbs-content %}
{{ block.super }}
<li>:: {% trans "Delivery" %}</li>
{% endblock %}

{% block main %}

{% include "devilry/ui/include/show_delivery_default.django.html" %}


<h1>{% trans "Edit" %}</h1

{% block form %}
<form method='post' action='{% url devilry-examiner-correct_delivery delivery.id %}'>
	<table>
    {% block grade_form %}
      {{ grade_form.as_table }}
    {% endblock %}
    {% block feedback_form %}
      {{ feedback_form.as_table }}
    {% endblock %}
	</table>
	<p>
		<input type='submit' name='save' value='Save'/>
	</p>
</form>
{% endblock form %}

{% endblock main %}
