{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% block title %}{% trans "Feedback" %}{% endblock %}
{% block heading %}{% trans "Feedback" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
  <li><a href='{% url devilry-examiner-list_assignmentgroups delivery.assignment_group.parentnode.id %}'>
    {{ delivery.assignment_group.parentnode }}
  </a></li>
  <li><a href='{% url devilry-examiner-show_assignmentgroup delivery.assignment_group.id %}'>
    {{ delivery.assignment_group.get_students }}
  </a></li>
  <li class='current'><a href='#'>
    {% trans "Delivery" %}
  </a></li>
{% endblock %}

{% block main %}

{% comment %}
{% if delivery.assignment_group.parentnode.grade_plugin == "grade_rstschema:rstschemagrade" %}
  <p class='warning-message'>There are issues with <em>Internet Explorer<em> and
  <em>Opera</em> and the grade plugin used on this assignment. We reccommend
  you use Firefox, Safari or Chrome.</p>
{% endif %}
{% endcomment %}

<table class='vertical_infotable'
    style='float: right; margin: 0 0 20px 20px; width: 300px;'>
  {% include "devilry/ui/include/show_delivery_default.django.html" %}
  <tr>
    <th>{% trans "Feedback last modified by" %}</th>
    <td> {{ delivery.feedback.last_modified_by }} </td>
  </tr>
</table>

<div class="{% if after_deadline %}warning-message{% else %}info-message{% endif %}"
    style="margin-right: 330px;">

  {% if after_deadline %}
    {% blocktrans %}
      This delivery was delivered <em>{{ diff_days }} days, {{ diff_minutes }} hours
      and {{ diff_minutes }} minutes</em> after the deadline.
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
      This delivery was delivered <em>{{ diff_days }} days, {{ diff_minutes }} hours
      and {{ diff_minutes }} minutes</em> before the deadline.
    {% endblocktrans %}
  {% endif %}
  {% if delivery.assignment_group.deliveries.count > 1 %}
     <p>
       {% with delivery.number as delivery_number %}{% blocktrans %}
         This group has multiple deliveries. You are viewing delivery number
         <big>{{ delivery_number }}</big>. All deliveries:
       {% endblocktrans %}{% endwith %}
     </p>
     <ul style="list-style:none;">
       {% for d in delivery.assignment_group.deliveries.all %}
         <li>
           {{ d.number }}.
           {% if d.id == delivery.id %}
             <strong>{{ d.time_of_delivery|date:"DATETIME_FORMAT" }}</strong>
           {% else %}
             <a href='{% url devilry-examiner-edit-feedback d.id %}'>
                 {{ d.time_of_delivery|date:"DATETIME_FORMAT" }}
             </a>
           {% endif %}
           {% if not d.feedback %}
             <span class="unimportant">({% trans "no feedback" %})</span>
           {% endif %}
         </li>
       {% endfor %}
     </ul>
  {% endif %}
</div>

<form method='post' action='{% url devilry-examiner-edit-feedback delivery.id %}'
    style="clear:both;">
  {% block formfields %}
    {% block gradeformfieldset %}
      <fieldset class='stdfieldset'>
        <h2 class='legend'>{% trans "Grade" %}</h2>
        {% block gradeform %}
          {% with grade_form as form %}
            {% include "devilry/ui/include/form-list.django.html" %}
          {% endwith %}
        {% endblock %}
      </fieldset>
    {% endblock %}

    {% with feedback_form as form %}
      <fieldset class='stdfieldset'>
        <h2 class='legend'>{% trans "Feedback" %}</h2>
        <div class='help-box'>
          {% with "http://docutils.sourceforge.net/docs/user/rst/quickref.html" as docurl %}
            <p>{% blocktrans %}
              Feedback text should be formatted using <em>ReStructured Text</em>
              (a simple markup language). Use the buttons above the text
              area for the most common markup, and read <a href="{{ docurl }}">the
              documentation</a> if you need more advanced markup. The rightmost
              button above the text-area provides you with a preview.
            {% endblocktrans %}</p>
          {% endwith %}
        </div>
        {% include "devilry/ui/include/form-list.django.html" %}
      </fieldset>
    {% endwith %}
  {% endblock formfields %}
  
  <div class='button-row'>
    <input type='submit' name='save' class='button default ui-priority-secondary'
      value='{% if delivery.feedback %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}'/>
    <input type='submit' name='save_and_dash' class='button ui-priority-primary'
      value='{% if delivery.feedback %}{% trans "Update and return to dashboard" %}{% else %}{% trans "Create and return to dashboard" %}{% endif %}'/>
  </div>
</form>


{% endblock main %}
