{% extends "devilry/examiner/group-base.django.html" %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="current"><a href='#'>
    {% trans "Create deadline" %}
  </a></li> 
{% endblock %}

{% block content %}
  <form action="" method="post">
    <fieldset class='stdfieldset'>
      <h2 class='legend'>{% trans "Deadline" %}</h2>
      {% with deadline_form as form %}
        {% include "devilry/ui/include/form-list.django.html" %}
      {% endwith %}
    </fieldset>
    <div class='button-row'>
      <input type='submit' name='create-deadline' class='button'
        value='{% trans "Create deadline" %}'/>
    </div>
  </form>
{% endblock %}
