{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% comment %}
  Base-template for views working with a single group.

  :param assignment_group: The current AssignmentGroup object.
{% endcomment %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    {% if session.is_admin %}
      <a href="{% url devilry-admin-list_assignments %}">
        {% trans "Administer assignments" %}
      </a>
    {% else %}
      <a href="{% url devilry-examiner-list_assignments %}">
        {% trans "Assignments" %}
      </a>
    {% endif %}
  </li>
  <li><a href='
      {% if session.is_admin %}
        {% url devilry-admin-edit_assignment assignment_group.parentnode.id %}
      {% else %}
        {% url devilry-examiner-list_assignmentgroups assignment_group.parentnode.id %}
      {% endif %}'>
    {{ assignment_group.parentnode }}
  </a></li>
  {% block show_assignmentgroup_breadcrumb %}
    {% comment %}
      Should only need to override this in show_assignmentgroup. All others should
      use {{ block.super }}
    {% endcomment %}
    <li><a href='
        {% url devilry-examiner-show_assignmentgroup assignment_group.id %}'>
      {{ assignment_group.get_candidates }}
    </a></li> 
  {% endblock %}
{% endblock %}
