{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ assignment }}{% endblock %}
{% block heading %}{{ assignment }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ assignment }} </li>
{% endblock %}


{% block content %}

<ul>
{% for subject in grouped_assignmentgroups %}
  {% for period in subject %}
    {% for assignment in period %}
      <li> {{ subject }} - {{ period }} - {{ assignment }}</li>  
        <ul>
	      {% for assignment_group in assignment %}
	      <li><a href='{% url devilry-examiner-show_assignmentgroup assignment_group.node.id %}'>{{ assignment_group.node.get_students }}</a></li>
          {% endfor %}
		</ul>
    {% endfor %}
  {% endfor %}
{% endfor %}
</ul>
{% endblock %}
