{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ assignment }}{% endblock %}
{% block heading %}{{ assignment }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ assignment }} </li>
{% endblock %}


{% block content %}

<div class='help-box'>
<p>{% blocktrans %}Within a assignment, students are organized into groups.
Even when a student works on a assignment alone, the student is in a group
(with him/herserf as the only member).{% endblocktrans %}</p>

<p>{% blocktrans %}The <em>assignment groups</em> below are the ones on which you have
permission to view deliveries, and give feedback. In system-internal terms, you
are the <em>examiner</em> for these groups. Administrators might make more than
one person examiner for a single group, so you might not be the only examiner
on the groups below.</p>{% endblocktrans %}</p>
</div>

<table class='horizontal_ordered_table'>
  <thead>
    <tr>
      <th>{% trans "Group id" %}</th>
      <th>{% trans "Group members" %}</th>
      <th>{% trans "Group name" %}</th>
      <th>{% trans "Deliveries" %}</th>
      <th>{% trans "Latest delivery" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Grade" %}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment_group in assignment_groups %}
      <tr>
        <td>{{ assignment_group.id }}</td>
        <td>{{ assignment_group.get_students }}</td>
        <td>{{ assignment_group.name }}</td>
        <td>{{ assignment_group.get_number_of_deliveries }}</td>
        <td>{{ assignment_group.get_latest_delivery.time_of_delivery|date:DEVILRY_DATETIME_FORMAT }}</td>
        <td>{{ assignment_group.get_status}}</td>
        <td>
          {% if assignment_group.get_grade_as_short_string %}
            {{ assignment_group.get_grade_as_short_string }}
          {% endif %}
        </td>
        <td><a href='{% url devilry-examiner-show_assignmentgroup assignment_group.id %}'>
          {% trans "Show" %}
        </a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
