{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ assignment }}{% endblock %}
{% block heading %}{{ assignment }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ assignment }} </li>
{% endblock %}


{% block content %}

{% for subject in grouped_assignmentgroups %}
  {% for period in subject %}
    {% for assignment in period %}
      <h2> {{ subject }} - {{ period }} - {{ assignment }}</h2>
        <ul>
        {% for assignment_group in assignment %}
          <li><a href='{% url devilry-examiner-show_assignmentgroup assignment_group.node.id %}'>
            {{ assignment_group.node.get_students }}
          </a></li>
        {% endfor %}
        </ul>
    {% endfor %}
  {% endfor %}
{% endfor %}


<table class='horizontal_ordered_table'>
  <thead>
    <tr>
      <th>{% trans "Group id" %}</th>
      <th>{% trans "Group members" %}</th>
      <th>{% trans "Deliveries" %}</th>
      <th>{% trans "Latest delivery" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Grade" %}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment_group in assignment_groups %}
      <tr>
        <td>{{ assignment_group.id }}</td>
        <td>{{ assignment_group.get_students }}</td>
        <td>{{ assignment_group.get_number_of_deliveries }}</td>
        <td>{{ assignment_group.get_latest_delivery_with_feedback.time_of_delivery }}</td>
        <td>{{ assignment_group.get_status}}</td>
        <td>
          {% if assignment_group.get_grade_as_short_string %}
            {{ assignment_group.get_grade_as_short_string }}
          {% endif %}
        </td>
        <td><a href='{% url devilry-examiner-show_assignmentgroup assignment_group.id %}'>
          {% trans "Show" %}
        </a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
