{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

{% block title %}{{ assignment_group.parentnode.short_name }}{% endblock %}
{% block heading %}{{ assignment_group.parentnode }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href='{% url devilry-examiner-list_assignmentgroups assignment_group.parentnode.id %}'>
{{ assignment_group.parentnode }}</a></li>
<li>::</li>
<li>{{ assignment_group.get_students }}</li>
{% endblock %}


{% block content %}

<script type="text/javascript">
  $(function() {
    $(".accordion").accordion({
      autoHeight: false,
      navigation: true,
      collapsible: true,
      active: false,
      header: 'h4'
    });
  });
</script>


<table class='vertical_infotable'>
  <tr>
    <th>{% trans "Deadline" %}:</th>
    <td>{{ assignment_group.parentnode.deadline }}</td>
  </tr>
  <tr>
    <th>{% trans "Status" %}:</th>
    <td>{{ assignment_group.get_status }}</td>
  </tr>
  <tr>
    <th>{% trans "Published deliveries" %}:</th>
    <td>{{ assignment_group.get_published_deliveries.count }}</td>
  </tr>

  {% if assignment_group.get_grade_as_short_string %}
  <tr>
    <th>{% trans "Grade" %}:</th>
    <td>{{ assignment_group.get_grade_as_short_string }}</td>
  </tr> 
  {% endif %}

  {% if assignment_group.students.count > 1 %}
    <tr>
      <th>{% trans "Group members" %}:</th>
      <td>{{ assignment_group.students.all|join:", " }} </td>
    </tr>
  {% endif %}
  <tr>
    <th>{% trans "Open for deliveries" %}:</th>
    <td>{% if assignment_group.is_open %} Yes {% else %} No {% endif %}</td>
  </tr> 
</table>

{% if show_deadline_hint %}
<div class='deadline-hint'>
{% trans "You should create a new deadline or close for more deliveries" %}
</div>

{% endif %}

{% comment %}
<form action="" method="post">
<div class='button-row'>
    <input type='submit' name='create-deadline' class='button' value='{% trans "Create deadline" %}'/>
</div>
</form>
{% endcomment %}

<fieldset class='stdfieldset'>
  <h2 class='legend'>{% trans "Deadline" %}</h2>
  <form action="" method="post">
	{% with deadline_form as form %}
    {% include "devilry/ui/include/form-list.django.html" %}
	{% endwith %}
	
	<div class='button-row'>
      <input type='submit' name='create-deadline' class='button' value='{% trans "Create deadline" %}'/>
	</div>
  </form>
</fieldset>



{% if assignment_group.get_number_of_deliveries > 0 %}
  <h2>{% trans "Deliveries" %}</h2>

  {% if after_deadline %}
    {% with "yes" as after_last_deadline_msg %}
      <div class='deadline-box deadline-box-after'>
        <h3>{% trans "After last deadline" %}</h3>
        <div class="accordion">
        {% for delivery in after_deadline %}
          {% include "devilry/examiner/include/deliverylisting.django.html" %}
        {% endfor %}
        </div>
      </div>
    {% endwith %}
  {% endif %}

  {% for deadline, deliveries in within_a_deadline %}
    <div class='deadline-box'>
      <h3>
        {% with deadline as deadline.deadline|date:DEVILRY_DATETIME_FORMAT %}
          {% blocktrans %}Delivered before {{ deadline }}{% endblocktrans %}
        {% endwith %}
      </h3>
      <div class="accordion">
        {% for delivery in deliveries %}
          {% include "devilry/examiner/include/deliverylisting.django.html" %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endif %}


{% endblock %}
