
.devilry-group-feedbackfeed-header {
  .devilry-group-feedbackfeed-current-deadline-heading {
    margin: 0 0 0 0;
    padding: 0;
    font-size: @cradmin-page-header-h1-font-size;
    line-height: @cradmin-page-header-h1-line-height;
    vertical-align: middle;
    text-transform: uppercase;

  }
  .devilry-group-feedbackfeed-current-current-deadline {
    &.devilry-group-feedbackfeed-current-current-deadline-expired {
      font-weight: bold;
      color: @after-deadline-color;
    }
  }
}

.devilry-group-feedbackfeed-sidebar {
  background: @devilry-feedbackfeed-focus-bg;
  padding: 2em 2.5em 2.5em 2.5em;
  height: 100%;
  margin-bottom: 15px;

  position: static;
  @media (min-width: @screen-md-min) {
    position: absolute;
    top: 153px;
    width: 260px;
    left: (@screen-md-min - (@grid-gutter-width) - 252px);
    margin-bottom: 0;
  }
  @media (min-width: @screen-lg-min) {
    position: absolute;
    top: 153px;
    width: 323px;
    left: (@screen-lg-min - (@grid-gutter-width) - 323px);
    margin-bottom: 0;
  }

  h4 {
    text-transform: uppercase;
    font-size: @font-size-base;
    //.devilry-group-feedbackfeed-sidebar-dropdownicon{
    //  float: right;
    //}
  }

  dl {
    dt {
      text-transform: uppercase;
      font-weight: normal;
      font-size: @font-size-small;
    }
    dd {
      .devilry-group-feedbackfeed-sidebar-files {
        word-break: break-all;
        width: 100%;
      }
    }
  }
}


.devilry-group-feedbackfeed-feed {
  .devilry-group-feedbackfeed-feed-uploaded-file-tag{
    display: inline-block;
    float:right;

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-examiner{
    }

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-after-deadline{
      color: @after-deadline-color;
    }
  }
}
