@bg-color: #f2f2f2;
@font-family: Helvetica;
@sidebar-headline-color: #999999;

.feedbacklayout{
  background-color: @bg-color;
}

.feedback_sidebar{
  .feedbacklayout;
  border-top: 1px solid #adadad;
  padding: 2.0em 2.5em 2.5em 2.5em;
}

.feedback_sidebar_files{
  word-break: break-all;
  width: 100%;
  margin-top: 3%;
}

.feedback_feed{
  padding-left: 11%;
  padding-right: 11%;
}

.current_deadline_container{
  display: inline-block;
}

.current_deadline{
  float:right;
}

.current_deadline_expired{
  float: left;
  font-weight: bold;
  margin-right: 0.2em;
  color:@after-deadline-color;
}

.top_headline{
  color: @sidebar-headline-color;
  font-size: 1.1em;
  font-family: @font-family;
  border-top: 2px solid @sidebar-headline-color;
  margin-bottom: 0.5em;
}

.uploaded_file_tag{
  display: inline-block;
  float:right;
}

.uploaded_file_tag_examiner{
  .uploaded_file_tag;
}

.uploaded_file_tag_after_deadline{
  .uploaded_file_tag;
  color: @after-deadline-color;
}

.headline_dropdownicon{
  float: right;
}


.sub_headline{
  .top_headline;
  border-top: 0px;
  font-size: 0.9em;
}