{% extends "devilry/examinerview/base.django.html" %}

{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Edit " %}{% endblock %}
{% block heading %}{% trans "Edit " %}{% endblock %}

{% block breadcrumbs-content %}
{{ block.super }}
<li>:: {% trans "Delivery" %}</li>
{% endblock %}

{% block main %}

{% include "devilry/ui/show_delivery_base.django.html" %}

{% if delivery.feedback %}
<h2>{% trans "Feedback" %}</h2>
   <p>
	 
	 {% filter restructuredtext %}
	 {{ delivery.feedback }}
    {% endfilter %}

   </p>
{% endif %}


{% if message %}
	<p>{{ message }}</p>
{% endif %}


<h1>{% trans "Edit" %}</h1

<form method='post' action='{% url correct-delivery delivery.id %}'>
	<table>
	{{ form.as_table }}
	</table>
	<p>
		<input type='submit' name='save' value='Save'/>
	</p>
</form>
{% endblock %}
