{% extends "devilry/examinerview/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
  {% trans "Examiner dashboard" %}
{% endblock %}

{% block heading %}
  {% trans "Examiner dashboard" %}
{% endblock %}

{% block breadcrumbs-content %}
<li>{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<div class='dashboard_box visible' id='active_assignments'>
  <h2>{% trans "Active assignments" %}</h2>
  <ul>
  {% for assignment in assignments %}
  <li><a href='{% url list-assignmentgroups assignment.id %}'>{{ assignment }}</a></li>
  {% endfor %}
  </ul>
</div>

<div class='dashboard_box hidden' id='other'>
  <h2>{% trans "Other" %}</h2>
  <ul>
    <!--<li><a href=''></a></li>-->
  </ul>
</div>

{% endblock %}
