{% extends "devilry/examinerview/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ assignment_group.parentnode.short_name }}{% endblock %}
{% block heading %}{{ assignment_group.parentnode }}{% endblock %}

{% block breadcrumbs-content %}
{{ block.super }}
<li>:: {% trans "Assignment information" %}</li>
{% endblock %}

{% block content %}


<table class='vertical_infotable'>
  <tr>
    <th>{% trans "Deadline" %}:</th>
    <td>{{ assignment_group.parentnode.deadline }}</td>
  </tr>
  <tr>
    <th>{% trans "Status" %}:</th>
    <td>{{ assignment_group.get_status }}</td>
  </tr>
  {% if assignment_group.students.count > 1 %}
    <tr>
      <th>{% trans "Group members" %}:</th>
      <td>{{ assignment_group.students.all|join:", " }} </td>
    </tr>
  {% endif %}
</table>


<h2>Deliveries</h2>
<ul id='delivery-list'>
{% for delivery in assignment_group.delivery_set.all %}
  <li>
    <a href='{% url devilry.examinerview.views.correct_delivery delivery.id %}'>
      {{ delivery.time_of_delivery }}
    </a>

	{% if delivery.grade %}
	    ({{ delivery.grade }})
	{% endif %}

	{% if delivery.feedback %}
	   <p>{{ delivery.feedback }}</p>
	{% endif %}


	 

  </li>
{% endfor %}
</ul>


{% endblock %}
