a.cradmin-legacy-listbuilder-itemframe-link.devilry-cradmin-legacy-listbuilder-itemframe-goforward {
  position: relative;
  .devilry-cradmin-legacy-listbuilder-itemframe-goforward-icon {
    color: #ddd;
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 49%;
    .css3-transform(translateY(-26px));
    .css3-transition(all @cradmin-btn-transition-duration ease-in-out);
  }
  &:hover {
    .devilry-cradmin-legacy-listbuilder-itemframe-goforward-icon {
      color: @link-color;
    }
  }
  .cradmin-legacy-listbuilder-itemvalue {
    &.cradmin-legacy-listbuilder-itemvalue-focusbox {
      padding-right: 55px;  // Make room for the icon
    }
  }
}


ol.cradmin-legacy-listbuilder-list {
  &.cradmin-legacy-listbuilder-rowlist {
    li {
      .cradmin-legacy-listbuilder-itemframe.cradmin-legacy-listbuilder-itemframe-defaultspacing {
        margin-top: 0;
        margin-bottom: @devilry-brand-focusbox-margin;
      }
    }
  }
}
