@mixin inlineStyles() {
    //.success, small.success {
        //color: $successText;
    //}
    //.danger, small.danger {
        //color: $warningText;
    //}
}

@mixin selectableRowStyles() {
    strong {
        font-size: $baseFontSize + 2;
        font-weight: bold;
        line-height: $baseLineHeight + 3px;
    }
    small {
        font-size: $baseFontSize - 2;
    }
    //@include inlineStyles();

    .countbox {
        background-color: $gray;
        color: $white;
        padding: 2px 4px;
        margin: 2px 0;
        display: inline-block;
        font-size: $baseFontSize - 2;
        @include border-radius(3px 3px 3px 3px);
    }
}

@mixin selectableRowStylesSelected() {
    color: #fff;
    //.success, small.success {
        //color: #fff;
    //}
    //.danger, small.danger {
        //color: #fff;
    //}

    .muted,
    .text-warning,
    .text-error,
    .text-info,
    .text-success {
        color: #fff;
    }
}
