// Extjs theme for devilry with overrides from Bootstrap (https://github.com/hecbuma/compass-bootstrap/)


// Import bootstrap and devilry variables
@import "bootstrap/variables";
@import "devilry_variables";

// The devilry mixin classes
@import "devilry_mixins";

// Override extjs variables and import ExtJS
$color: $grayDark;
$font-family: $baseFontFamily;
$font-size: $baseFontSize;
@import "extjs";

// Devilry overrides and UIs
@import "button-uis";
@import "doesnotexist";
@import "devilry_forms";
@import "grid";
@import "boundlist";
@import "icons";
@import "combobox";
@import "devilry_discussionview";
@import "devilry_extras";
//@import "spotlight";
@import "devilry_maskstyles";
@import "help-panel-ui";

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
//$relative-image-path-for-uis: true; // defaults to "../images/" when true
$relative-image-path-for-uis: 'images/'; // defaults to "../images/" when true

@import "pygments/tango";
