{% extends "devilry/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
{% blocktrans with assignment_group.parentnode.short_name as assignment_short_name %}
Deliver {{ assignment_short_name }}
{% endblocktrans %}
{% endblock %}

{% block heading %}
{% blocktrans with assignment_group.parentnode as assignment_path %}
Deliver {{ assignment_path }}
{% endblocktrans %}
{% endblock %}

{% block content %}
<form enctype="multipart/form-data"
    action="{% url add-delivery assignment_group.id %}"
    method="post">


  {% if existing_formset.forms %}
    <div id='existing'>
      <table>
        {{ existing_formset.management_form }}
        {% for form in existing_formset.forms %}
          <tr>
            <td>{{ form.DELETE }}</td>
            <td>{{ form.filename }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class='extra_submit'>
        <input type="submit" name="delete" value="{% trans "Delete selected" %}" />
      </div>
    </div>
  {% endif %}

  <div id='addfile'>
    <table>
      {{ formset }}
    </table>
    <div class='extra_submit'>
      <input type="submit" name="addfile" value="{% trans "Add file" %}" />
    </div>
  </div>

  <div class='submit'>
    <input type="submit" name="deliver" value="{% trans "Deliver" %}" />
  </div>
</form>
{% endblock %}
