{% extends "extjs4/apptemplate.django.html" %}
{% load i18n %}
{% load static %}

{% comment %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
    href="{% static "devilry_subjectadmin/resources/stylesheets/devilry_subjectadmin.css" %}" />
{% endblock %}
{% endcomment %}

{% block app %}

{# formatoverrides is required by the old rest apis #}
<script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/extjshelpers/formatoverrides.js"></script>

<script type="text/javascript" src="{% url devilry-settings %}"></script>
{% include "devilry_header/cssimports.django.html" %}

<script type="text/javascript">

    var DevilryUser = {
        is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
        is_superuser: {{ user.is_superuser|lower }},
        username: '{{ user.username }}'
    };
</script>

<script type="text/javascript" src="{% static "devilry_extjsextras/extjsajax_django_csrf.js" %}"></script>
<script type="text/javascript" src="{% url devilry_student_i18n %}"></script>

{{ block.super }}
{% endblock %}
