{% extends "devilry_theme/apptemplate.django.html" %}
{% load static %}


{% block head_preapp %}
    {# formatoverrides is required by the old rest apis #}
    <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/extjshelpers/formatoverrides.js"></script>
    {% include "markup/mathjaxheader.django.html" %}

    <script type="text/javascript">
        var DevilryUser = {
            is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
            is_superuser: {{ user.is_superuser|lower }},
            username: '{{ user.username }}'
        };
    </script>
    <script type="text/javascript" src="{% url devilry_student_i18n %}"></script>

{% endblock %}