{% extends "devilry_student/base.django.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Student Browse" %}{% endblock title %}

{% block body %}

    <div class="container">
        <div class="page-header page-header-with-subheader">
            <h1>{% trans "Browse" %}</h1>
            <p class="subheader">
                {% trans "Browse all your courses" %}
            </p>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'devilry_student' %}">{% trans "Home" %}</a></li>
            <li class="active">{% trans "Browse" %}</li>
        </ol>
    </div>



    <div class="container period-list">
        {% for period in object_list %}
        <div class="period-list-element">
            <a href="{% url 'devilry_student_browseperiod' period.id %}"><h2>{{ period.parentnode.long_name }} </h2></a>
            <p>{{ period.long_name }}</p>
        </div>
        {% endfor %}
    </div>

{% endblock body %}