{% extends "devilry_student/base.django.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Invite someone to join your group" %}{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {% trans "Invite someone to join your group" %}
                <small>{{ group.assignment.get_path }}</small>
            </h1>
        </div>
        {# <ol class="breadcrumb"> #}
            {# <li class="active">{% trans "Edit" %}</li> #}
        {# </ol> #}

        <div class="devilry-focusbox">
            {% crispy form %}
        </div>
    </div>
{% endblock body %}