{% extends "devilry_student/base.django.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Delete group invite" %}{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {% trans "Delete group invite" %}
                <small>{{ groupinvite.group.assignment.get_path }}</small>
            </h1>
        </div>

        <div class="devilry-focusbox">
            <form action="" method="post">{% csrf_token %}
                <p>{% blocktrans with user=groupinvite.sent_to.devilryuserprofile.get_displayname %}Are you sure you want to delete the invite for {{ user }}?{% endblocktrans %}</p>
                <a class="btn btn-default" href="{% url 'devilry_student_projectgroup_overview' groupinvite.group.id %}">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-danger">{% trans 'Delete invite' %}</button>
            </form>
        </div>
    </div>
{% endblock body %}
