$plainLinkColor: #444;



// See http://css-tricks.com/snippets/css/css-triangle/
span.expandable-indicator {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 2px;
    vertical-align: middle;
    border-top: 4px solid $linkColor;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

span.collapsible-indicator {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 2px;
    vertical-align: middle;
    border-bottom: 4px solid $linkColor;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.bootstrap {
    a.morebutton, a.lessbutton {
        &:hover {
            color: $linkColor;
        }
    }
    a.morebutton {
        color: $plainLinkColor;
        span.expandable-indicator {
            border-top-color: $plainLinkColor;
        }
    }
    a.lessbutton {
        color: $plainLinkColor;
        span.collapsible-indicator {
            border-bottom-color: $plainLinkColor;
        }
    }
}

.btn {
    span.forward-indicator {
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0 2px 3px;
        vertical-align: middle;
        border-left: 4px solid black;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        content: "";
    }
}


a.new-window-link {
    background: transparent url(../icons/new-window-link.png) center right no-repeat;
    padding-right: 13px;
}
a[href^="mailto"] {
    background: transparent url(../icons/email-link.png) center right no-repeat;
    padding-right: 20px;
    &.mail-link-right {
        background: transparent url(../icons/email-link.png) center left no-repeat;
        padding-left: 20px;
        padding-right: 0;
    }
}