@import "compass/css3/border-radius";

/*
A discussion view container for a panel containing panels.
You only need something like this extjs code to make it work:

    {
        xtype: 'panel',
        cls: 'devilry_discussionview_container',
        items: [{
            xtype: 'panel',
            title: '<div class="linklike">Hello cruel world</div><small>Some metadata</small>',
            html: 'This is a test'
        }, {
            xtype: 'panel',
            title: '<div class="linklike">Another hello </div><small>Some metadata</small>',
            html: 'This is another test'
        }]
    }
*/
.x-panel.devilry_discussionview_container {
    border: none;
    &>.x-panel-body {
        border: none;
        &>.x-panel {
            margin-bottom: 4px;
            &.x-panel-collapsed {
                &>.x-panel-header {
                    @include border-bottom-left-radius(4px);
                    @include border-bottom-right-radius(4px);
                    background-color: #fff;
                }
            }
            &>.x-panel-header {
                cursor: pointer;
                background-image: none;
                background-color: #efefef;
                border: 1px solid #E5E5E5;
                @include border-top-left-radius(4px);
                @include border-top-right-radius(4px);
                .x-panel-header-body {
                    .x-panel-header-text-container {
                        padding: 8px 15px 8px 15px;
                        .x-panel-header-text {
                            display: block;
                            cursor: pointer;
                            font-size: $baseFontSize;
                            font-weight: normal;
                            em {
                                font-style: italic;
                            }
                            strong {
                                font-weight: bold;
                            }
                            .linklike {
                                color: $linkColor;
                                text-decoration: none;
                            }
                            small {
                                font-size: $baseFontSize - 2;
                                color: $gray;
                            }
                        }
                    }
                }
                &:hover {
                    background-color: #efefef;
                    .x-panel-header-body .x-panel-header-text-container .x-panel-header-text {
                        .linklike {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

// IE8 or IE9 in quirks mode
.x-nlg .x-panel.devilry_discussionview_container >.x-panel-body >.x-panel >.x-panel-header {
    background-image: none;
}
