{% extends "theme/common.django.html" %}

{% block title %}Log in{% endblock %}

{% block onready %}
    Ext.getBody().unmask();
    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        style: 'background-color: transparent',
        items: [{
            region: 'north',
            xtype: 'pageheader'
        }, {
            region: 'south',
            xtype: 'pagefooter'
        }, {
            region: 'center',
            xtype: 'box',
            padding: {left: 20, right: 20},
            html:
                {% if login_failed %}
                    '<p class="error">Invalid username or password.</p>' +
                {% endif %}
                '<form method="post" action="{% url login %}">' +
                '    <table>' +
                '    {{ form.as_table|escapejs }}' +
                '    </table>' +
                '    <p>' +
                '       <input type="submit" name="login" value="Log in"/>' +
                '    </p>' +
                '</form>'
        }]
    });
{% endblock %}

{% block bodyContent %}
{% endblock %}
