{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
    {{ request.cradmin_role.get_path }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {{ request.cradmin_role.long_name }}
        &mdash;
        {{ request.cradmin_role.subject.long_name }}
    </h1>
{% endblock pageheader-inner %}

{% block listbuilderview_buttons %}
    <p class="devilry-buttonbar">
        <a id="devilry_admin_period_createassignment_link"
                class="btn btn-default"
                href="{% cradmin_instance_url 'createassignment' 'INDEX'  %}">
            {% trans "Create new assignment" %}
        </a>
    </p>
{% endblock listbuilderview_buttons %}


{#{% block content %}#}
{#    <div class="container">#}
{#        <p>#}
{#            <a id="devilry_admin_period_createassignment_link"#}
{#                    href="{% cradmin_instance_url 'createassignment' 'INDEX'  %}">#}
{#                {% trans "Create new assignment" %}#}
{#            </a>#}
{#        </p>#}
{#        {% if assignments %}#}
{#            <ul id="devilry_admin_period_overview_assignmentlist">#}
{#                {% for assignment in assignments %}#}
{#                    <li>#}
{#                        <p>#}
{#                            <a href="{% cradmin_url instanceid='devilry_admin_assignmentadmin' appname='overview' roleid=assignment.id viewname='INDEX' %}"#}
{#                                    class="devilry-admin-period-overview-assignment-link">#}
{#                                {{ assignment.long_name }}#}
{#                            </a>#}
{#                        </p>#}
{#                        <p class="devilry-admin-period-overview-assignment-first_deadline">#}
{#                            <span class="devilry-admin-period-overview-assignment-first_deadline-label">#}
{#                                {% trans "First deadline" %}:#}
{#                            </span>#}
{#                            <span class="devilry-admin-period-overview-assignment-first_deadline-value">#}
{#                                {{ assignment.first_deadline|date:"DATETIME_FORMAT" }}#}
{#                            </span>#}
{#                        </p>#}
{#                        <p class="devilry-admin-period-overview-assignment-publishing_time">#}
{#                            <span class="devilry-admin-period-overview-assignment-publishing_time-label">#}
{#                                {% trans "Publishing time" %}:#}
{#                            </span>#}
{#                            <span class="devilry-admin-period-overview-assignment-publishing_time-value">#}
{#                                {{ assignment.publishing_time|date:"DATETIME_FORMAT" }}#}
{#                            </span>#}
{#                        </p>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock content %}#}
