{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
    {{ request.cradmin_role.get_path }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {{ request.cradmin_role.long_name }}
        &mdash;
        {{ request.cradmin_role.subject.long_name }}
    </h1>
{% endblock pageheader-inner %}

{% block listbuilderview_buttons %}
    <p class="devilry-buttonbar">
        <a id="devilry_admin_period_createassignment_link"
                class="btn btn-default"
                href="{% cradmin_instance_url 'createassignment' 'INDEX'  %}">
            {% trans "Create new assignment" %}
        </a>
    </p>
{% endblock listbuilderview_buttons %}
