{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}


{% block nav-class %}student{% endblock %}


{% block headextra %}
<script>
  var deliverymodel = {{ RestfulSimplifiedDelivery|extjs_model }};


    Ext.require('devilry.student.FileUploadPanel');

    Ext.onReady(function() {
        var fileuploadpanel = Ext.widget('fileuploadpanel', {
            bodyPadding: 20,
            renderTo: 'fileuploadpanel',
            deadlineid: {{ deadlineid }},
            initialhelptext: 'Upload files for your delivery. You can upload multiple files.'
        });

        Ext.Ajax.request({
            url: '/student/add-delivery/fileupload/{{ deadlineid }}',
            method: 'GET',
            success: function(response){
                var json_response = Ext.JSON.decode(response.responseText);
                deliveryid = json_response.deliveryid;
                fileuploadpanel.enableDeliveries(deliveryid);
            }
        });  
    });
</script>

{% endblock %}

{% block main %}
<div id='fileuploadpanel'></div>
{% endblock %}
