{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}


{% block nav-class %}student{% endblock %}


{% block headextra %}
<script>
    var deliverymodel = {{ RestfulSimplifiedDelivery|extjs_model:"subject,period,assignment,users,deadline,assignment_group" }};
    var deadlinemodel = {{ RestfulSimplifiedDeadline|extjs_model:"subject,period,assignment,assignment_group,assignment_group_users" }};


    Ext.require('devilry.student.FileUploadPanel');
    Ext.require('devilry.student.DeadlineTitle');
    Ext.require('devilry.extjshelpers.SingleRecordContainer');
    Ext.onReady(function() {


        var deadline_recordcontainer = Ext.create('devilry.extjshelpers.SingleRecordContainer');
        Ext.create('devilry.student.DeadlineTitle', {
            renderTo: 'content-heading',
            singlerecordontainer: deadline_recordcontainer
        });

        deadlinemodel.load({{deadlineid}}, {
            success: function(record) {
                deadline_recordcontainer.setRecord(record);
            }
        });

        var fileuploadpanel = Ext.widget('fileuploadpanel', {
            bodyPadding: 20,
            renderTo: 'fileuploadpanel',
            deadlineid: {{ deadlineid }},
            initialhelptext: 'Upload files for your delivery. You can upload multiple files.'
        });

        Ext.Ajax.request({
            url: '/student/add-delivery/fileupload/{{ deadlineid }}',
            method: 'GET',
            success: function(response){
                var json_response = Ext.JSON.decode(response.responseText);
                deliveryid = json_response.deliveryid;
                fileuploadpanel.enableDeliveries(deliveryid);
            }
        });  
    });
</script>

{% endblock %}

{% block main %}
<section class="treeheading" id="content-heading"></section>
<div id='fileuploadpanel'></div>
{% endblock %}
