{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}

{% block nav-class %}student{% endblock %}


{% block headextra %}
{{ block.super }}
{% include "markup/mathjaxheader.django.html" %}
<script>
    {% include "extjshelpers/AssignmentGroupOverviewExtjsClasses.django.html" %}
    Ext.require('devilry.extjshelpers.assignmentgroup.AssignmentGroupOverview');
    Ext.onReady(function() {
        Ext.create('devilry.extjshelpers.assignmentgroup.AssignmentGroupOverview', {
            assignmentgroupid: {{ objectid }},
            isAdministrator: false,
            canExamine: false
        });
    });
</script>
{% endblock %}


{% block main %}

<section class="treeheading" id="content-heading"></section>
<div id="content-main"></div>

{% endblock %}
