{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}


{% block nav-class %}student{% endblock %}


{% block headextra %}

<script>
    {% for RestfulCls in restfulapi.values %}
        {{ RestfulCls|extjs_combobox_model:"Search" }};
        {{ RestfulCls|extjs_store:"Search" }};
    {% endfor %}
    var DASHBOARD_URL = '{{ DEVILRY_MAIN_PAGE }}/student/';

    Ext.require('devilry.student.StudentSearchWidget');
    Ext.onReady(function() {
        var searchwidget = Ext.create('devilry.student.StudentSearchWidget', {
            renderTo: 'searchwidget-container',
            urlPrefix: DASHBOARD_URL,
            assignmentgroupRowTpl: '{{ restfulapi.RestfulSimplifiedAssignmentGroup.ExtjsModelMeta.combobox_tpl|escapejs }}',
            deadlineRowTpl: '{{ restfulapi.RestfulSimplifiedDeadline.ExtjsModelMeta.combobox_tpl|escapejs }}',
            deliveryRowTpl: '{{ restfulapi.RestfulSimplifiedDelivery.ExtjsModelMeta.combobox_tpl|escapejs }}'
        });
        searchwidget.loadInitialValues();
        //searchwidget.focusOnSearchfield();
        
        var deadlinemodel = {{ restfulapi.RestfulSimplifiedDeadline|extjs_model:"subject,period,assignment,assignment_group,assignment_group_users" }};
        var deadlinestore = {{ restfulapi.RestfulSimplifiedDeadline|extjs_store }};        
        

        deadlinestore.proxy.extraParams.orderby = Ext.JSON.encode(["deadline"]);
        console.log(deadlinestore);
                
        deadlinestore.load(function(records, operation, success) {
            console.log('loaded records');
        });
        
        var deadlinetpl = Ext.create('Ext.XTemplate',
            '<tpl for=".">',
                '<h1>{assignment_group__parentnode__long_name} &mdash; deadline: {deadline:date}</h1>',
                '<h2>{assignment_group__parentnode__parentnode__parentnode__long_name}</h2>',
                '<h3>{assignment_group__parentnode__parentnode__long_name}</h3>',
                '<a href="{DEVILRY_MAIN_PAGE}/student/add-delivery/{id}">Deliver</a>',
            '</tpl>'
        );

        //Ext.create('Ext.view.View', {
          //  store: Ext.data.StoreManager.lookup('devilry.apps.student.simplified.SimplifiedDeadlineStore'),
            //tpl: deadlinetpl,
            //renderTo: 'content-heading'
        //});
        
        var rowTpl = Ext.create('Ext.XTemplate',
            '{.:date}'
        );
        
        
        var listView = Ext.create('Ext.grid.Panel', {
            collapsible:true,
            title:'Default',
            renderTo: 'content-heading',
            store: Ext.data.StoreManager.lookup('devilry.apps.student.simplified.SimplifiedDeadlineStore'),
            columns: [{
                text: 'Assignment',
                flex: 30,
                dataIndex: 'assignment_group__parentnode__long_name'
            },{
                text: 'Subject',
                dataIndex: 'assignment_group__parentnode__parentnode__parentnode__long_name',
                flex: 20
            },{
                text: 'Deadline',
                flex: 15,
                dataIndex: 'deadline',
                renderer: function(value) {
                    return rowTpl.apply(value);
                }
            }],
            listeners: {
                scope: this,
                itemmouseup: function(view, record) {
                    var url = DASHBOARD_URL + "add-delivery/" + record.data.id;
                    window.location = url;
                }
            }
        });
        
        
    });

</script>

{% endblock %}


{% block main %}
<div id='searchwidget-container'></div>
<p class='searchwidget-help'>In the box above, you can search for anything related to anything that you
have permission to view as a <strong>student</strong>. You can, for example, search for the name of a subject to find anything
related to subject, or search for a specific assignment.
<section class="treeheading" id="content-heading"></section>
{% endblock %}
