{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}


{% block nav-class %}student{% endblock %}


{% block headextra %}

<script>

    {% for RestfulCls in restfulclasses %}
        {{ RestfulCls|extjs_combobox_model }}
    {% endfor %}

    var assignmentstore = {{ RestfulSimplifiedAssignment|extjs_store:3 }}
    var assignmentgroupstore = {{ RestfulSimplifiedAssignmentGroup|extjs_store:3 }}
    var deliverystore = {{ RestfulSimplifiedDelivery|extjs_store:3 }}
    var deadlinestore = {{ RestfulSimplifiedDeadline|extjs_store:3 }}
    var listingdeadlinestore = {{ RestfulSimplifiedDeadline|extjs_store:10 }}

    Ext.require('devilry.extjshelpers.searchwidget.SearchWidget');
    Ext.onReady(function() {
        var searchwidget = Ext.create('devilry.extjshelpers.searchwidget.SearchWidget', {
            renderTo: 'searchwidget',
            searchResultItems: [{
                xtype: 'searchresults',
                title: 'Deadlines',
                store: deadlinestore,
                links: [{
                    title: 'Deliver',
                    urlprefix: '#',
                    cssclass: 'button good-button'
                }],
                rowformattpl: '{{ RestfulSimplifiedDeadline.ExtjsModelMeta.combobox_tpl|escapejs }}'
            }, {
                xtype: 'searchresults',
                title: 'Assignment groups',
                store: assignmentgroupstore,
                editorurlprefix: '',
                rowformattpl: '{{ RestfulSimplifiedAssignmentGroup.ExtjsModelMeta.combobox_tpl|escapejs }}'
            }, {
                xtype: 'searchresults',
                title: 'Assignments',
                store: assignmentstore,
                editorurlprefix: '',
                rowformattpl: '{{ RestfulSimplifiedAssignment.ExtjsModelMeta.combobox_tpl|escapejs }}'
            }, {
                xtype: 'searchresults',
                title: 'Deliveries',
                store: deliverystore,
                editorurlprefix: '',
                rowformattpl: '{{ RestfulSimplifiedDelivery.ExtjsModelMeta.combobox_tpl|escapejs }}'
            }]
        });
        searchwidget.loadInitialValues();
        searchwidget.focusOnSearchfield();


            var fileuploadpanel = Ext.create('Ext.form.Panel', {
            title: 'Fucking upload',
            width: 600,
            frame: true,
            renderTo: 'fileuploadpanel',
            items: [{
                xtype: 'fileuploadfield',
                name: 'photo',
                fieldLabel: 'Delivery',
                labelWidth: 50,
                msgTarget: 'side',
                allowBlank: true,
                anchor: '100%',
                buttonText: 'Browse Files...'
            }],
            buttons: [{
                text: 'Deliver!',
                handler: function(a, b) {
                         Ext.Msg.alert('Success', 'Not really, nothing ever happened with your file'); 
                    <!-- var form = this.up('form').getForm(); -->
                    <!-- if(form.isValid()){ -->
                    <!--     form.submit({ -->
                    <!--         url: '#', -->
                    <!--         waitMsg: 'Uploading your photo...', -->
                    <!--         success: function(fp, o) { -->
                    <!--             Ext.Msg.alert('Success', 'Your photo "' + o.result.file + '" has been uploaded.'); -->
                    <!--         } -->
                    <!--     }); -->
                    <!-- } -->
                }
            }]
        });



    });

</script>

{% endblock %}


{% block main %}
<div id='searchwidget'></div>
<p class='searchwidget-help'>In the box above, you can search for anything related to anything that you
have permission to view or edit. Searching for a user will find any item
related to that user, and searching for a subject will find anything related to
that subject. YOU MAY EVEN SEARCH FOR YOUR MOTHER!</p>
<div id='fileuploadpanel'></div>
{% endblock %}
