{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}


{% block nav-class %}student{% endblock %}


{% block headextra %}

<script>
    {% for RestfulCls in restfulapi.values %}
        {{ RestfulCls|extjs_combobox_model:"Search" }};
        {{ RestfulCls|extjs_store:"Search" }};
    {% endfor %}
    var DASHBOARD_URL = '{{ DEVILRY_MAIN_PAGE }}/student/';

    Ext.require('devilry.student.StudentSearchWidget');
    Ext.onReady(function() {
        var searchwidget = Ext.create('devilry.student.StudentSearchWidget', {
            renderTo: 'searchwidget-container',
            urlPrefix: DASHBOARD_URL,
            assignmentgroupRowTpl: '{{ restfulapi.RestfulSimplifiedAssignmentGroup.ExtjsModelMeta.combobox_tpl|escapejs }}',
            deadlineRowTpl: '{{ restfulapi.RestfulSimplifiedDeadline.ExtjsModelMeta.combobox_tpl|escapejs }}',
            deliveryRowTpl: '{{ restfulapi.RestfulSimplifiedDelivery.ExtjsModelMeta.combobox_tpl|escapejs }}'
        });
        searchwidget.loadInitialValues();
        //searchwidget.focusOnSearchfield();
    });

</script>

{% endblock %}


{% block main %}
<div id='searchwidget-container'></div>
<p class='searchwidget-help'>In the box above, you can search for anything related to anything that you
have permission to view as a <strong>student</strong>. You can, for example, search for the name of a subject to find anything
related to subject, or search for a specific assignment.
{% endblock %}
