{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry student interface{% endblock %}


{% block nav-class %}student{% endblock %}

{% block main %}
<tr>
  <th>{% trans "Files" %}</th>
  <td>
    <ul>
    {% for filemeta in RestfulSimplifiedDelivery._meta.simplified.filemetas.all %}
      <li>
        <a href='{% url file-download filemeta.id %}'>{{ filemeta.filename }}</a>  
        <span class='unimportant'>({{ filemeta.size }} bytes)</span>
      </li>
    {% endfor %}
    </ul>
  </td>
</tr>

{% endblock %}
