{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns='http://www.w3.org/1999/xhtml'>
	<head>
		<title>{% block title %}{% endblock %}</title>
    {% block jquery %}
      <script type="text/javascript" src="{{ DEVILRY_RESOURCES_URL }}/jquery.js"></script>          
      <script type="text/javascript" src="{{ DEVILRY_RESOURCES_URL }}/jquery.tablesorter.js"></script>          
    {% endblock %}
    {% block basecss %}
      <link rel="stylesheet" type="text/css" href="{{ DEVILRY_RESOURCES_URL }}/base.css" />
    {% endblock %}
		{% block customjs %}{% endblock %}
		{% block customcss %}{% endblock %}
		{% block headextra %}{% endblock %}
	</head>
	<body>
		{% block prebody %}{% endblock %}
    
    {% block body %}
		<div id='header'>
			<h1>{% block heading %}{% endblock %}</h1>
			{% block headerextra %}{% endblock %}
      {% block breadcrumbs %}
        <ul id='breadcrumbs'>
          {% block breadcrumbs-content %}{% endblock %}
        </ul>
      {% endblock %}
		</div>
		<div id='content'>
      {% block content %}{% endblock %}
		</div>
		{% endblock body %}
    
    {% block postbody %}{% endblock %}
    
    {% block footer %}
    <div id='footer'>
      <ul>
        {% block footerlist_extra %}{% endblock %}
        <li><a href='{% url logout %}'>{% trans "Log out" %}</a></li>
        <li><a href='http://devilry.github.com'>Devilry</a></li>
      </ul>
    </div>
    {% endblock %}
	</body>
</html>
