{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns='http://www.w3.org/1999/xhtml'>
	<head>
		<title>{% block title %}{% endblock %}</title>
    {% block jquery %}
      <script type="text/javascript" src="{{ DEVILRY_RESOURCES_URL }}/jquery/js/jquery.js"></script>          
      <script type="text/javascript" src="{{ DEVILRY_RESOURCES_URL }}/jquery/js/jquery-ui.js"></script>          
      <link rel="stylesheet" type="text/css" href="{{ DEVILRY_RESOURCES_URL }}/jquery/css/{{ JQUERY_UI_THEME }}/jquery-ui.css" />
    {% endblock %}
    {% block basecss %}
      <link rel="stylesheet" type="text/css" href="{{ DEVILRY_RESOURCES_URL }}/base.css" />
    {% endblock %}
		{% block customjs %}{% endblock %}
		{% block customcss %}{% endblock %}
		{% block headextra %}{% endblock %}
	</head>
	<body>
    <div id='branding'>
      {% block logo %}
        <div id='logo'>
          <div id='logo-maintext'>Devilry</div>
          <div id='logo-subtext'>
            <a href='http://devilry.github.com'>http://devilry.github.com</a>
          </div>
        </div>
      {% endblock %}
    </div>


    <div id='topbar'>
    {% block topbar %}
      <ul id='links'>
        {% block links %}
          <li><a href='{% url devilry.addons.dashboard.views.main %}'>{% trans "Dashboard" %}</a></li>
          {% if user.is_authenticated %}
            <li><a href='{% url logout %}'>{% trans "Log out" %} - {{ user.username }}</a></li>
          {% endif %}
          {% block links-extra %}{% endblock %}
        {% endblock %}
      </ul>
    {% endblock %}
    </div>

    <div id='page'>
    {% block page %}
      {% block sidebar %}{% endblock %}

      <div id='breadcrumbs'>
        <ul>
          {% block breadcrumbs %}{% endblock %}
        </ul>
      </div>

      <div id='heading'>
        <h1>{% block heading %}{% endblock %}</h1>
        <div id='belowheading'>
          {% block belowheading %}{% endblock %}
        </div>
      </div>

      <div id='messages'>
        {% block messages %}
          {% if messages %}
            <ul>
            {% for message_class, raw_html, message in messages %}
              {% block message %}
                <li class='{{ message_class }}'>
                  {% if raw_html %}
                    {{ message|safe }}
                  {% else %}
                    {{ message }}
                  {% endif %}
                </li>
              {% endblock %}
            {% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
      </div>

      <div id='content'>
        {% block content %}{% endblock %}
      </div>

      <div id='page-footer'>
        <!-- pagefooter is only hear to prevent overflows -->
      </div>
    {% endblock page %}
    </div>

    
    {% block footer %}
    <div id='footer'>
      <p><a href='http://devilry.github.com'>Devilry</a> is a open source
      general purpose delivery system.</p>
    </div>
    {% endblock %}
	</body>
</html>
