{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}

<style type='text/css'>
.filtertable table td {
  vertical-align: top;
}
.filtertable table table td {
  vertical-align: middle;
}
.filtertable-table {
  margin-top: 0 !important;
  width:100%;
}
.filtertable-actions a {
  width: 99%;
  display: block;
}
.filtertable-filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filtertable-filters li {
  margin: 0;
  padding: 0;
}
.filtertable-actions ul {
  padding-left: 20px;
}

.filtertable-searchbox {
  text-align: left;
}
.filtertable-searchbox input {
  width: 99%;
}

.filtertable-main {
  margin-left: 280px;
}
.filtertable-sidebar {
  width: 250px;
  float: left;
}
.filtertable-pagelabel {
  margin-bottom: 8px;
}
</style>

<div class='filtertable' id='{{ id }}'>
  <form action="#" method="post">
    <div id="filtertable-{{ id }}-sidebar" class="filtertable-sidebar">
      <h3><a href="#">Actions</a></h3>
      <div class="filtertable-actions">
        <h4>On selected rows</h4>
        <ul class="filtertable-selectionactions">
          {% comment %}This is filled using javascript{% endcomment %}
        </ul>
        <h4>Related</h4>
        <ul class="filtertable-relatedactions">
          {% comment %}This is filled using javascript{% endcomment %}
        </ul>
      </div>

      <h3><a href="#">Filter</a></h3>
      <div>
        <div class='filtertable-searchbox'>
          Search:
          <input type="text"/>
        </div>
        <div class="filtertable-filters">
          {% comment %}This is filled using javascript{% endcomment %}
        </div>
      </div>
    </div>

    <div class="filtertable-main">
      <table class="filtertable-table horizontal_ordered_table">
        {% comment %}This is filled using javascript{% endcomment %}
      </table>
      <div class="filtertable-pagechanger">
        {% comment %}This is filled using javascript{% endcomment %}
      </div>
    </div>
  </form>
</div>


<script type="text/javascript" src="/resources/ui/js/jquery.filtertable.js"></script> 
<script type="text/javascript">
  $(document).ready(function() {
    $("#{{ id }}").filtertable("{{ jsonurl }}");
  });
</script>
