{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}

<style type='text/css'>
.filtertable-selected-filter {
  background-color: #aaa;
}
</style>

<div class='filtertable' id='{{ id }}'>
  <form action="#" method="post">
    <div class='filtertable-searchbox'>
      <input type="text"/>
    </div>

    <div class="filtertable-actions">
    </div>
    <div class="filtertable-tabs">
      <ul>
        <li><a href="#{{ id }}-tabs-1">Data</a></li>
        <li><a href="#{{ id }}-tabs-2">Filter data</a></li>
      </ul>

      <div id="{{ id }}-tabs-1">
        <table class="filtertable-table horizontal_ordered_table" style="width:100%">
          {% comment %}This is filled using javascript{% endcomment %}
        </table>
        <div class="filtertable-pagechanger">
        </div>
      </div>

      <div class="filtertable-filters" id="{{ id }}-tabs-2">
      </div>
    </div>
  </form>
</div>


<script type="text/javascript" src="/resources/ui/js/jquery.filtertable.js"></script> 
<script type="text/javascript">
  $(document).ready(function() {
    $("#{{ id }}").filtertable("{{ jsonurl }}");
  });
</script>
