{% extends 'devilry_group/listbuilder_feedbackfeed/base_groupcomment_item_value.django.html' %}

{% load i18n %}
{% load cradmin_tags %}

{% block buttons %}
    {% if me.group_comment.user == request.user %}
        <a href="{% cradmin_instance_url appname='feedbackfeed' viewname='groupcomment-edit' pk=me.group_comment.id %}">
            <strong>{% trans "Edit" context "devilry_group feedbackfeed edit groupcomment" %}</strong>
        </a>
    {% endif %}
{% endblock buttons %}

{% block details %}
    {% if me.group_comment.visibility == 'visible-to-examiner-and-admins' %}
        <div class="devilry-group-feedbackfeed-right-badge-field not-published-badge-admin">
            <p class="devilry-group-feedbackfeed-badge-text">
                {% trans "only visible to examiners and admins" context 'devilry_group feedbackfeed' %}
            </p>
        </div>
    {% endif %}
{% endblock details %}