{% extends 'devilry_group/listbuilder_feedbackfeed/base_groupcomment_item_value.django.html' %}

{% load i18n %}

{% block details %}
    {% if me.group_comment.visibility == 'visible-to-examiner-and-admins' %}
        <div class="devilry-group-feedbackfeed-right-badge-field not-published-badge-admin">
            <p class="devilry-group-feedbackfeed-badge-text">
                {% trans "only visible to examiners and admins" context 'devilry_group feedbackfeed' %}
            </p>
        </div>
    {% endif %}
{% endblock details %}