{% extends 'devilry_group/listbuilder_feedbackfeed/base_groupcomment_item_value.django.html' %}

{% load i18n %}
{% load cradmin_legacy_tags %}

{% block edit-links %}
    <a href="{% cradmin_url instanceid='devilry_group_admin' appname='feedbackfeed' viewname='groupcomment-edit' pk=me.group_comment.id roleid=request.cradmin_role.id %}"
       class="devilry-group-comment-edit-link devilry-group-comment-edit-link__admin">
        <strong>{% trans "Edit" context "devilry_group feedbackfeed edit groupcomment" %}</strong>
    </a>
{% endblock edit-links %}

{% block details %}
    {% if me.group_comment.visibility == 'visible-to-examiner-and-admins' %}
        <div class="devilry-group-feedbackfeed-right-badge-field not-published-badge-admin">
            <p class="devilry-group-feedbackfeed-badge-text">
                {% trans "only visible to examiners and admins" context 'devilry_group feedbackfeed' %}
            </p>
        </div>
    {% endif %}
{% endblock details %}