{% extends 'django_cradmin/viewhelpers/listbuilder/base/itemvalue.django.html' %}

{% load devilry_group_tags %}
{% load devilry_core_tags %}
{% load devilry_account_tags %}
{% load cradmin_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="devilry-group-feedbackfeed-comment-content">
        <p class="devilry-group-comment-meta">
            <span class="devilry-group-comment-created-by-role comment-created-by-role-text">
                ({{ me.group_comment.user_role }})
            </span>
            <span class="devilry-group-comment-created-by comment-created-by-text">
                {% if me.group_comment.user_role == 'student'%}
                    {% devilry_single_candidate_long_displayname me.assignment me.user_obj me.devilry_viewrole %}
                {% elif me.group_comment.user_role == 'examiner' %}
                    {% devilry_single_examiner_long_displayname me.assignment me.user_obj me.devilry_viewrole %} &nbsp;
                {% else %}
                    {% devilry_user_verbose_inline me.group_comment.user %}
                {% endif %}
            </span>

            {% if me.group_comment|devilry_group_comment_published %}
                <span class="devilry-group-comment-published-date comment-published-date-text">
                    {{ me.group_comment|devilry_group_comment_published }}
                </span>
            {% endif %}
        </p>
        {% include "devilry_group/include/groupcomment_edit_delete_option.html" %}
        <div class="devilry-group-comment-text">
            {% blocktrans with text=me.group_comment.text|devilry_group_markdown|safe %} {{text}} {% endblocktrans %}
        </div>
        {% for commentfile in me.group_comment.commentfile_set.all %}
            <a href="{% cradmin_instance_url appname='download' viewname='file-download' commentfile_id=commentfile.id %}"
                    class="devilry-filedownload" tooltip="{{ commentfile.filename }}">
                <span class="devilry-filedownload__content">
                    <span class="devilry-filedownload__label">
                        {{ commentfile.filename }}
                    </span>
                    <span class="devilry-filedownload__icon">
                        <span class="fa fa-download fa-2x"></span>
                    </span>
                </span>
            </a>
        {% endfor %}
    </div>

    {% block details %}
    {% endblock details %}

{% endblock content %}

