{% extends 'django_cradmin/viewhelpers/listbuilder/base/itemvalue.django.html' %}

{% load devilry_group_tags %}
{% load devilry_core_tags %}
{% load devilry_account_tags %}
{% load cradmin_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="devilry-group-feedbackfeed-comment-content">

        {% include "devilry_group/include/groupcomment_edit_delete_option.html" %}

        <div class="devilry-group-comment-meta">
            <div class="devilry-group-comment-created-by">
                {% if me.group_comment.user_role == 'student'%}
                    <p class="comment-created-by-text">
                        {% devilry_single_candidate_long_displayname me.assignment me.user_obj me.devilry_viewrole %}
                    </p>
                {% elif me.group_comment.user_role == 'examiner' %}
                    <p class="comment-created-by-text">
                        {% devilry_single_examiner_long_displayname me.assignment me.user_obj me.devilry_viewrole %} &nbsp;
                    </p>
                {% else %}
                    <p class="comment-created-by-text">{% devilry_user_verbose_inline me.group_comment.user %} &nbsp;</p>
                {% endif %}
            </div>
            <div class="devilry-group-comment-created-by-role">
                <p class="comment-created-by-role-text">({{ me.group_comment.user_role }})&nbsp;</p>
            </div>
            <div class="devilry-group-comment-published-date">
                <p class="comment-published-date-text"> {{ me.group_comment|devilry_group_comment_published }}</p>
            </div>
        </div>
        <div class="devilry-group-comment-text">
            {% blocktrans with text=me.group_comment.text|devilry_group_markdown|safe %} {{text}} {% endblocktrans %}
        </div>
        {% for commentfile in me.group_comment.commentfile_set.all %}
            <a href="{% cradmin_instance_url appname='download' viewname='file-download' commentfile_id=commentfile.id %}">
                <i class="fa fa-file fa-3x" tooltip="{{ commentfile.filename }}"></i>
            </a>
        {% endfor %}
    </div>

    {% block details %}
    {% endblock details %}

{% endblock content %}

