{% extends 'devilry_group/listbuilder_feedbackfeed/base_groupcomment_item_value.django.html' %}

{% load i18n %}

{% block details %}

    <!--
    Handles published and unpublished comment styles
    -->
    {% if me.group_comment.part_of_grading == True %}
        {% if me.group_comment.get_published_datetime == None %}
            <!--
            Comment is part of grading, but not published.
            -->
            <div class="devilry-group-feedbackfeed-right-badge-field not-published-badge">
                <p class="devilry-group-feedbackfeed-badge-text">{% trans "not published" context 'devilry_group feedbackfeed' %}</p>
            </div>
        {% else %}
            <!--
            Comment is published as part of the feedback.
            -->
            <div class="devilry-group-feedbackfeed-right-badge-field not-published-badge">
                <p class="devilry-group-feedbackfeed-badge-text">
                    {% trans "feedback" context 'devilry_group feedbackfeed part of feedback badge' %}
                </p>
            </div>
        {% endif %}
    {% elif me.group_comment.visibility == 'visible-to-examiner-and-admins' %}
        <div class="devilry-group-feedbackfeed-right-badge-field not-published-badge">
            <p class="devilry-group-feedbackfeed-badge-text">
                {% trans "only visible to examiners and admins" context 'devilry_group feedbackfeed' %}
            </p>
        </div>
    {% endif %}
{% endblock details %}
