{% extends 'devilry_group/listbuilder_feedbackfeed/base_groupcomment_item_value.django.html' %}

{% load i18n %}

{% block details %}
    {% if me.group_comment.published_datetime > me.group_comment.feedback_set.current_deadline %}
        <div class="devilry-group-feedbackfeed-right-badge-field after-deadline-badge">
            <p class="devilry-group-feedbackfeed-badge-text">
                {% trans "Not part of delivery" context 'devilry_group feedbackfeed' %}
                <br>
                <small>({% trans "after deadline" %})</small>
            </p>
        </div>
    {% endif %}
{% endblock details %}
