{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
  {% trans "Dashboard" %}
{% endblock %}

{% block heading %}
  {% trans "Select a action" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block belowheading %}
{% trans "Dashboard is under construction:)" %}
{% endblock %}

{% block content %}


{% if not groups or not views %}
  <p class='warning-box'>
  {% blocktrans %}You do not have access to anything. You should contanct the
  system administrators at <a href="mailto:{{ DEVILRY_SYSTEM_ADMIN_EMAIL }}">
  {{ DEVILRY_SYSTEM_ADMIN_EMAIL }}</a> and ask them to give you access.
  Include as much relevant information as possible.{% endblocktrans %}
  </p>
{% endif %}

<div id='quickdash-views'>
  {% for view in views %}
    <div class='quickdash-item'>
      {{ view }}
    </div>
  {% endfor %}
</div>

{% for src in js_set %}
  <script type="text/javascript" src="{{ src }}"></script>
{% endfor %}

{% endblock %}

{% block sidebar %}
<div id='sidebar'>
  {% for group, items in groups %}
    <div class='section'>
      <h2>{{ group.title }}</h2>
      <ul>
      {% for item in items %}
        <li>
          <a href="{{ item.url }}" class="quickdashmenu-button">{{ item.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}

