{% extends "devilry/ui/base-wsidebar.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}


{% block customjs %}
<script type="text/javascript">
  $(function() {
    $("#quickdash-views-accordion").accordion({
      autoHeight: false,
      navigation: true,
      header: '.accordionhead'
    });
  });
</script>
{% endblock %}

{% block title %}
  {% trans "Dashboard" %}
{% endblock %}

{% block heading %}
  {% trans "Dashboard" %}
{% endblock %}

{% block dashboard_breadcrumb_class %}current{% endblock %}

{% block content %}


{% if not groups and not views %}
  <p class='warning-message'>
  {% blocktrans %}You do not have access to anything. You should contanct the
  system administrators at <a href="mailto:{{ DEVILRY_SYSTEM_ADMIN_EMAIL }}">
  {{ DEVILRY_SYSTEM_ADMIN_EMAIL }}</a> and ask them to give you access.
  Include as much relevant information as possible.{% endblocktrans %}
  </p>
{% endif %}

<div id='quickdash-views'>
  <div id='quickdash-views-accordion'>
    {% for view in views %}
      {% if view %}
        {{ view }}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% for src in js_set %}
  <script type="text/javascript" src="{{ src }}"></script>
{% endfor %}

{% endblock %}

{% block sidebar %}
  {% for group, items in groups %}
    <div class='section'>
      <h2>{{ group.title }}</h2>
      <ul>
      {% for item in items %}
        <li>
          <a href="{{ item.url }}" class="quickdashmenu-button">{{ item.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endblock %}

