@import "compass/css3/border-radius";


$primaryButtonColor: $blueDark;
$primaryButtonColorOver: darken($blueDark, 5%);
$primaryButtonColorPressed: darken($blueDark, 4%);
$primaryButtonColorDisabled: lighten($blueDark, 25%);
@include extjs-button-ui(
    /* UI + Scale */
    'primary-large',

    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,  

    $border-color: $primaryButtonColor,
    $border-color-over: $primaryButtonColor,
    $border-color-focus: $black,
    $border-color-pressed: $primaryButtonColor,
    $border-color-disabled: transparent,

    $padding: $button-large-padding,
    $text-padding: 25px, // Left and right padding

    $background-color: $primaryButtonColor,
    $background-color-over: $primaryButtonColorOver,
    $background-color-focus: $primaryButtonColorOver,
    $background-color-pressed: $primaryButtonColorPressed,
    $background-color-disabled: $primaryButtonColorDisabled,

    $background-gradient: 'glossy',
    $background-gradient-over: 'glossy',
    $background-gradient-focus: 'glossy',
    $background-gradient-pressed: 'matte-reverse',
    $background-gradient-disabled: 'matte',

    $color: $white,
    $color-over: $white,
    $color-focus: $white,
    $color-pressed: $white,
    $color-disabled: $white,

    $font-size: ($baseFontSize + 1px),
    $font-size-over: ($baseFontSize + 1px),
    $font-size-focus: ($baseFontSize + 1px),
    $font-size-pressed: ($baseFontSize + 1px),
    $font-size-disabled: ($baseFontSize + 1px),

    $font-weight: $button-large-font-weight,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $font-weight-disabled: $button-large-font-weight-disabled,

    $font-family: $button-large-font-family,
    $font-family-over: $button-large-font-family-over,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-family-disabled: $button-large-font-family-disabled,

    $icon-size: $button-large-icon-size
);


$dangerButtonColor: $red;
$dangerButtonColorOver: darken($red, 5%);
$dangerButtonColorPressed: darken($red, 4%);
$dangerButtonColorDisabled: lighten($red, 25%);
@include extjs-button-ui(
    /* UI + Scale */
    'danger-large',

    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,  

    $border-color: $dangerButtonColor,
    $border-color-over: $dangerButtonColor,
    $border-color-focus: $black,
    $border-color-pressed: $dangerButtonColor,
    $border-color-disabled: transparent,

    $padding: $button-large-padding,
    $text-padding: 25px, // Left and right padding

    $background-color: $dangerButtonColor,
    $background-color-over: $dangerButtonColorOver,
    $background-color-focus: $dangerButtonColorOver,
    $background-color-pressed: $dangerButtonColorPressed,
    $background-color-disabled: $dangerButtonColorDisabled,

    $background-gradient: 'glossy',
    $background-gradient-over: 'glossy',
    $background-gradient-focus: 'glossy',
    $background-gradient-pressed: 'matte-reverse',
    $background-gradient-disabled: 'matte',

    $color: $white,
    $color-over: $white,
    $color-focus: $white,
    $color-pressed: $white,
    $color-disabled: $white,

    $font-size: ($baseFontSize + 1px),
    $font-size-over: ($baseFontSize + 1px),
    $font-size-focus: ($baseFontSize + 1px),
    $font-size-pressed: ($baseFontSize + 1px),
    $font-size-disabled: ($baseFontSize + 1px),

    $font-weight: $button-large-font-weight,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $font-weight-disabled: $button-large-font-weight-disabled,

    $font-family: $button-large-font-family,
    $font-family-over: $button-large-font-family-over,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-family-disabled: $button-large-font-family-disabled,

    $icon-size: $button-large-icon-size
);
@include extjs-button-ui(
    /* UI + Scale */
    'danger-medium',

    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,  

    $border-color: $dangerButtonColor,
    $border-color-over: $dangerButtonColor,
    $border-color-focus: $black,
    $border-color-pressed: $dangerButtonColor,
    $border-color-disabled: transparent,

    $padding: $button-medium-padding,
    $text-padding: 18px, // Left and right padding

    $background-color: $dangerButtonColor,
    $background-color-over: $dangerButtonColorOver,
    $background-color-focus: $dangerButtonColorOver,
    $background-color-pressed: $dangerButtonColorPressed,
    $background-color-disabled: $dangerButtonColorDisabled,

    $background-gradient: 'glossy',
    $background-gradient-over: 'glossy',
    $background-gradient-focus: 'glossy',
    $background-gradient-pressed: 'matte-reverse',
    $background-gradient-disabled: 'matte',

    $color: $white,
    $color-over: $white,
    $color-focus: $white,
    $color-pressed: $white,
    $color-disabled: $white,

    $font-size: ($baseFontSize + 1px),
    $font-size-over: ($baseFontSize + 1px),
    $font-size-focus: ($baseFontSize + 1px),
    $font-size-pressed: ($baseFontSize + 1px),
    $font-size-disabled: ($baseFontSize + 1px),

    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,

    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-disabled: $button-medium-font-family-disabled,

    $icon-size: $button-medium-icon-size
);



$inverseButtonColor: #191919;
$inverseButtonColorOver: darken($inverseButtonColor, 5%);
$inverseButtonColorPressed: darken($inverseButtonColor, 4%);
$inverseButtonColorDisabled: lighten($inverseButtonColor, 25%);
@include extjs-button-ui(
    /* UI + Scale */
    'inverse-medium',

    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,

    $border-color: $inverseButtonColor,
    $border-color-over: $inverseButtonColor,
    $border-color-focus: $black,
    $border-color-pressed: $inverseButtonColor,
    $border-color-disabled: transparent,

    $padding: $button-medium-padding,
    $text-padding: 18px, // Left and right padding

    $background-color: $inverseButtonColor,
    $background-color-over: $inverseButtonColorOver,
    $background-color-focus: $inverseButtonColorOver,
    $background-color-pressed: $inverseButtonColorPressed,
    $background-color-disabled: $inverseButtonColorDisabled,

    $background-gradient: 'glossy',
    $background-gradient-over: 'glossy',
    $background-gradient-focus: 'glossy',
    $background-gradient-pressed: 'matte-reverse',
    $background-gradient-disabled: 'matte',

    $color: $white,
    $color-over: $white,
    $color-focus: $white,
    $color-pressed: $white,
    $color-disabled: $white,

    $font-size: ($baseFontSize + 1px),
    $font-size-over: ($baseFontSize + 1px),
    $font-size-focus: ($baseFontSize + 1px),
    $font-size-pressed: ($baseFontSize + 1px),
    $font-size-disabled: ($baseFontSize + 1px),

    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,

    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-disabled: $button-medium-font-family-disabled,

    $icon-size: $button-medium-icon-size
);



// Focus state for keyboard and accessibility
.x-btn-focus {
    outline: 1px dotted #666;
}

.x-btn-default-small, .x-btn-primary-small, .x-btn-danger-small {
    @include border-radius(4px);
    .x-btn-inner {
        padding: 0 9px;
        font-size: 12px !important;
    }
}

.x-btn-default-medium, .x-btn-primary-medium, .x-btn-danger-medium {
    @include border-radius(4px);
    .x-btn-inner {
        padding: 0 14px;
        font-size: 14px !important;
    }
}


.x-btn-default-large, .x-btn-primary-large, .x-btn-danger-large {
    @include border-radius(5px);
    .x-btn-inner {
        padding: 0 14px;
        font-size: 16px !important;
    }
}
