@import "compass/css3/border-radius";

.bootstrap {
    .alert-role-examiner {
        background-color: $devilry_examinercolor_bg;
        border-color: darken($devilry_examinercolor_bg, 5%);
        color: lighten($devilry_examinercolor_bg, 50%);
        //text-shadow: none;
        a.morebutton, a.lessbutton {
            color: lighten($devilry_examinercolor_bg, 40%);
            text-decoration: underline;
            &:hover {
                color: lighten($devilry_examinercolor_bg, 60%);
            }
        }
    }

    .alert.flat {
        @include border-radius(0);
    }

    .alert.compact {
        padding: 4px 35px 4px 7px;
    }
}
