{% extends 'devilry_group/listbuilder_sidebar/base_sidebar_file_item_value.django.html' %}

{% load devilry_group_tags %}
{% load devilry_core_tags %}
{% load devilry_account_tags %}
{% load cradmin_legacy_tags %}
{% load i18n %}

{% block content %}
    <h4 class="devilry-group-feedbackfeed-buttonbar__comment-title">
        <small class="devilry-group-feedbackfeed-buttonbar__comment-title-meta">
            {{ me.groupcomment.published_datetime }}
        </small>
        <span class="devilry-group-feedbackfeed-buttonbar-groupcomment-user">
            {% if me.groupcomment.user_role == 'student'%}
                {% devilry_single_candidate_short_displayname me.assignment me.user_obj me.devilryrole %}
            {% elif me.groupcomment.user_role == 'examiner' %}
                {% devilry_single_examiner_short_displayname me.assignment me.user_obj me.devilryrole %}
            {% else %}
                <p class="comment-created-by-text">{% devilry_user_verbose_inline me.group_comment.user %} &nbsp;</p>
            {% endif %}
        </span>
    </h4>
{% endblock content %}
