{% extends "cradmin_legacy/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}

{#{% block below-description %}#}
{#    <p>#}
{#        <a href="{% cradmin_appurl 'manual_select' %}"#}
{#                id="devilry_admin_delete_groups_choosemethod_manualselect_link"#}
{#                class="btn btn-default">#}
{#            {% trans "Continue" context "admin create_groups" %}#}
{#        </a>#}
{#    </p>#}
{#{% endblock below-description %}#}
