@import "variables";
@import "compass/css3/border-radius";


@mixin role_link($bg) {
    padding: 8px 28px 4px 8px;
    background-color: $bg;
    @include border-top-right-radius(8px);
    @include border-bottom-right-radius(8px);
    background-image: url('../images/navarrow.png');
    background-repeat: no-repeat;
    background-position: 96% center;

    margin-right: 8px;
    margin-left: 0;
    &:hover {
        margin-right: 0;
        margin-left: 8px;
        background-color: darken($bg, 5%);
        text-decoration: none;
        color: #000;
    }
}



.devilryheader_roles {
    ul {
        margin: 0 0 10px 0;
        li {
            margin: 0;
            padding: 0;
            a {
                //padding: 8px;
                display: block;
                text-decoration: none;
                color: #000;
                line-height: $baseLineHeight;
                .heading {
                    font-weight: bold;
                }
                .description {
                    font-size: 12px;
                }
                &.student_role {
                    @include role_link($studentcolor_bg);
                }
                &.examiner_role{
                    @include role_link($examinercolor_bg);
                }
                &.subjectadmin_role {
                    @include role_link($subjectadmin_bg);
                }
                &.nodeadmin_role{
                    @include role_link($administratorcolor_bg);
                }
                &.superuser_role{
                    @include role_link($superusercolor_bg);
                }
            }
        }
    }
    div.loading {
        font-size: 36px;
        font-weight: bold;
    }
}