/* 
comment-view color
@comment-background-image: url(some-url);
*/

/* 
sidebar-view color 
*/
@sidebar-background: #f2f2f2;


/* 
comment 
*/
@comment-background-color: #f2f2f2;
@comment-text-color: #333333;
@comment-shadow-color: #888888;


/*
shadow color
*/
@shadow-color: #888888;


/*
left border colors 
*/
@default-left-border-color: #666666;
@student-color: #5d8c08;
@examiner-color: #055986;
@admin-color: #ff9933;


/* 
badges 
*/
@after-deadline-color: #971009;
@badge-text-color: #ffffff;


/*
Button default color
*/
@button-default-color: #444444;
@current-color: @button-default-color;