/*
bootstrap.less is a import file from bootstrap
imports all neccessary requirements
*/
@import "colors.less";
@import "sizes.less";


/*
*/
.comment{
    display:flex;
    margin-top: 10px;
    font-family: Arial;
    border-left: 0.8em solid;
    border-left-color: @default-left-border-color;
    background-color: @comment-background-color;
    box-shadow: 0.1em 0.1em 0.2em 0.1em @comment-shadow-color;
    min-width: 40%;
    max-width: 100%;
    max-heigth: 10.0em;
    min-height: 5.0em;
}

/*
*/
.default_comment{
    .comment;
}

/*
*/
.student_comment{
    .comment;
    border-left-color: @student-color;
}

/*
*/
.examiner_comment{
    .comment;
    border-left-color: @examiner-color;
}

/*
*/
.admin_comment{
    .comment;
    border-left-color: @admin-color;
}

/*
*/
.after_deadline_badge{
    .right_badge_field;
    background-color: @after-deadline-color;
}

/*
*/
.not_published_badge{
    .right_badge_field;
    //border: 0.15em solid @examiner-color;
    background-color: @examiner-color;
}


/* 
Field of content to the left in the comment box
such as created date, created by, comment text and delivery file icons 
 */
.left_field{
    float:left;
    max-width:100%;
    //width:@left_field_width;
    min-width: 65%;
    padding-bottom:1.0em;
    padding-left:2.0em;
    padding-right:0.8em;

    .comment_meta{
        line-height: 0%;
        word-break: break-all;
        //display: inline-block;
    }


    .comment_created_meta_text{
        .comment_meta;
        float: left;
        //margin-bottom: 0px auto;
        color: @comment-text-color;
        font-size: 1.0em;
        padding-right: 0.3em;
        //text-align: center;
        //vertical-align: middle;

    }
    .comment_created_by{
        clear: both;
        .comment_created_meta_text;
        font-size: 1.5em;
    }

    /**/
    .comment_text{
        max-width: 60.0em;
        clear: both;
        font-size: 0.8em;
        margin-bottom: 1.0em;
        padding-top: 0.9em;
    }

    &:after{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        border-left: 1px solid #999999;
  }
}


/*
Field to add comment status on right side of the comment box.
*/
.right_badge_field{
    float: left;
    min-width: 35%;
    heigh: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    /*
    After deadline div. A dark red box that fills it's parent.
    */

}

.badge_text{
    font-family: Helvetica;
    font-size: @badge-text-size;
    font-weight: @badge-text-weight;
    color: @badge-text-color;
    margin: 0;
    position: absolute;
    top: 50%;
    padding: 3em 3em 3em 3em;
    transform: translate(0, -50%);
    //display: inline-block;
}


// view-source:http://pmob.co.uk/pob/vertical-center1.htm
//.right_badge_field {
//    float: left;
//    min-width: 35%;
//    height: 100%;
//    vertical-align: middle;
//    display: table;
//
//    .badge_text_container {
//        text-align: center;
//        position: relative;
//        vertical-align: middle;
//        display: table-cell;
//
//        .badge_text {
//            font-family: Helvetica;
//            font-size: @badge-text-size;
//            font-weight: @badge-text-weight;
//            color: @badge-text-color;
//            //display: inline-block;
//        }
//    }
//}

/*
Event messages such as passed, failed and general messages between comments.
*/
.event_message{
    margin-left: 3.0em;
    margin-top: 4.0em;
    margin-bottom: 4.0em;
    color: #333333;
    font-size: 1.0em;
}

.event_message_passed{
    .event_message;
    color: #5d8c08;
}

.event_message_failed{
    .event_message;
    color:#9b0d28;
}


/* Icon class default size */
.icon{
    width: 2.5em;
    height: 2.5em;
    float:left;
    margin-right: 1.0em;
    background-size: 100%;
    transition: all .100s ease-in-out;

    /* icon class scale on mouse-over */
    &:hover{
        border-radius: 0.5em;
        transform: scale(1.4);
    }

}

/* File icon contains url to file icon image */
.file_icon{
    .icon;
    content:url(http://megaicons.net/static/img/icons_sizes/8/178/256/very-basic-file-icon.png) no-repeat center center fixed;
}

/* Image icon contains url to image icon image */
.image_icon{
    .icon;
    content:url(image-icon.png) no-repeat center center fixed;
}