/*
comment-box general settings
*/



/*
comment-box left field
*/
@left-field-width: 75%;


/*
comments-box right field
*/
@right-field-width: %35;

/* font and text settings*/
@badge-text-weight: bold;
@badge-text-size: 1.0em;


/*
Button sizes
*/
@button-max-width: 10.0em;
@button-max-height: 2.0em;