{% extends "django_cradmin/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load devilry_core_tags %}

{% block title-content %}
    {{ me.period.subject.long_name }} - {{ me.period.long_name }}
{% endblock title-content %}

{% block description-content %}
    {% blocktrans trimmed count assignmentcount=me.period.assignmentcount_for_studentuser %}
        {{ assignmentcount }} assignment
    {% plural %}
        {{ assignmentcount }} assignments
    {% endblocktrans %}
{% endblock description-content %}

