{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}


{% block pageheader-inner %}
    <span class="fa fa-home cradmin-page-header-icon"></span>
    <h1>
        {% trans "Demo" %}:
        <strong>{{ request.cradmin_role.name }}</strong>
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <h1>Welcome to the Nodeadmin listing test!</h1>
    <div class="container-fluid django-cradmin-container-fluid-focus">
        I is many node
    </div>
    <div class="container-fluid django-cradmin-container-fluid-focus">
        I is many node
    </div>
    <div class="container-fluid django-cradmin-container-fluid-focus">
        I is many node
    </div>
    <div class="container-fluid django-cradmin-container-fluid-focus">
        I is many node
    </div>
{% endblock content %}