[buildout]
extensions = buildout.dumppickedversions
extends = ../buildout-base.cfg
parts +=
    dev
    seleniumrc
develop = ..
versions = versions
eggs +=
    selenium
    dingus
    pyyaml


[dev]
recipe = djangorecipe
project = devilry
projectegg = devilry
settings = projects.dev.settings
eggs = ${buildout:eggs}
wsgi = true
control-script = django_dev.py


[seleniumrc]
recipe=collective.recipe.seleniumrc
