[buildout]
extends = ../buildout-base.cfg
parts += dev
develop = ..

[dev]
recipe = djangorecipe
project = devilry
projectegg = devilry
settings = projects.dev.settings
eggs = ${buildout:eggs}
wsgi = true
control-script = django_dev.py
