.footer {
  text-align: right;
  clear: both;
  padding-top: 5px;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  color: #C8C6C0;
  border-top-color: 1px solid #ecebe9;
  background-color: #fff; }
  .footer a {
    color: #C8C6C0; }
    .footer a.projectlink {
      color: #bdbab3 !important;
      font-weight: bold; }
    .footer a:hover {
      color: #776b5f !important; }
    .footer a:visited {
      color: #C8C6C0; }
