/* line 6, ../sass/_header.scss */
.devilryheader {
  font-size: 13px;
  background-color: #191919;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 16, ../sass/_header.scss */
.devilryheader .flatbutton .textwrapper {
  color: #000;
  padding: 7px 10px 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 23, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_loading {
  background-color: #191919;
}
/* line 25, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_loading .textwrapper {
  color: #999;
}
/* line 29, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_hover {
  cursor: pointer;
  background-color: #666666 !important;
}
/* line 36, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_pressed {
  background-color: #444444;
}
/* line 39, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_toggleable {
  background-image: url("../images/menuarrow_black_down.png");
  background-repeat: no-repeat;
  background-position: 92% 10px;
}
/* line 43, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_toggleable .textwrapper {
  padding-right: 20px;
}
/* line 46, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_toggleable.flatbutton_pressed {
  background-image: url("../images/menuarrow_black_up.png");
}
/* line 51, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.no_role {
  background-color: #555555;
}
/* line 54, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.student {
  background-color: #77b300;
}
/* line 57, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.examiner {
  background-color: #0077b3;
}
/* line 60, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.subjectadmin {
  background-color: #ffcc00;
}
/* line 63, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.nodeadmin {
  background-color: #ff9900;
}
/* line 66, ../sass/_header.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.superuser {
  background-color: #cc3300;
}
/* line 72, ../sass/_header.scss */
.devilryheader .currentrolebutton {
  background-image: url("../images/reversearrow_down.png");
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 76, ../sass/_header.scss */
.devilryheader .currentrolebutton .textwrapper {
  padding-right: 28px;
}
/* line 79, ../sass/_header.scss */
.devilryheader .currentrolebutton.flatbutton_pressed {
  background-image: url("../images/reversearrow_up.png") !important;
}
/* line 84, ../sass/_header.scss */
.devilryheader .devilrylogo {
  padding: 6px 10px 0 35px;
  background-color: black;
  background-image: url("../images/devilrylogo_small.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
/* line 90, ../sass/_header.scss */
.devilryheader .devilrylogo a.logotext {
  font-weight: normal;
  font-size: 15px;
  color: #aa0000;
  text-decoration: none;
}
/* line 95, ../sass/_header.scss */
.devilryheader .devilrylogo a.logotext:hover {
  text-decoration: underline;
}

/* line 8, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb {
  padding: 7px 40px 8px 10px;
  margin: 0;
}
/* line 11, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb li {
  display: inline;
  font-size: 12px;
}
/* line 14, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb li a {
  color: #e6e6e6;
  text-decoration: underline;
}
/* line 19, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .divider {
  padding: 0 5px;
  color: #e6e6e6;
}
/* line 23, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .active {
  color: #e6e6e6;
  font-weight: bold;
}
/* line 27, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .prefixtext {
  color: gray;
  font-weight: normal;
  margin-right: 4px;
}

/* line 4, ../sass/_hovermenu.scss */
.devilryheader_hovermenu {
  font-size: 13px;
  background-color: black;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 12, ../sass/_hovermenu.scss */
.devilryheader_hovermenu h2 {
  font-size: 20px;
  margin: 0 0 7px 0;
}
/* line 18, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .discreet {
  font-size: 11px;
  color: #aaa;
}
/* line 21, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .discreet a {
  color: #fff;
  text-decoration: underline;
}
/* line 27, ../sass/_hovermenu.scss */
.devilryheader_hovermenu a {
  text-decoration: underline;
  color: #3366FF;
}
/* line 32, ../sass/_hovermenu.scss */
.devilryheader_hovermenu p {
  margin: 0 0 9px;
  line-height: 18px;
}
/* line 37, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_footer {
  text-align: center;
  color: #aaa;
}
/* line 40, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_footer a {
  color: #ccc;
  text-decoration: underline;
}
/* line 49, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable th, .devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable td {
  line-height: 18px;
  font-size: 13px;
}
/* line 53, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable th {
  color: #999;
  font-weight: bold;
  padding: 4px 10px 4px 0;
}
/* line 58, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable td {
  color: #fff;
}
/* line 62, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_userinfobox div.logout_para {
  margin-top: 10px !important;
}
/* line 64, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_userinfobox div.logout_para a.logout_button {
  text-decoration: none;
}
/* line 72, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_helplinksbox ul.helplinks li {
  margin: 0 0 10px 0;
}
/* line 75, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_helplinksbox ul.helplinks li .title a {
  font-weight: bold;
}
/* line 79, ../sass/_hovermenu.scss */
.devilryheader_hovermenu .devilryheader_helplinksbox ul.helplinks li .description {
  font-size: 11px;
  color: #aaa;
}

/* line 28, ../sass/_roles.scss */
.devilryheader_roles ul {
  margin: 0 0 10px 0;
}
/* line 30, ../sass/_roles.scss */
.devilryheader_roles ul li {
  margin: 0;
  padding: 0;
}
/* line 33, ../sass/_roles.scss */
.devilryheader_roles ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 18px;
}
/* line 39, ../sass/_roles.scss */
.devilryheader_roles ul li a .heading {
  font-weight: bold;
}
/* line 42, ../sass/_roles.scss */
.devilryheader_roles ul li a .description {
  font-size: 12px;
}
/* line 45, ../sass/_roles.scss */
.devilryheader_roles ul li a.student_role {
  padding: 8px 28px 4px 8px;
  background-color: #77b300;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 16, ../sass/_roles.scss */
.devilryheader_roles ul li a.student_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #669a00;
  text-decoration: none;
  color: #000;
}
/* line 48, ../sass/_roles.scss */
.devilryheader_roles ul li a.examiner_role {
  padding: 8px 28px 4px 8px;
  background-color: #0077b3;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 16, ../sass/_roles.scss */
.devilryheader_roles ul li a.examiner_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #00669a;
  text-decoration: none;
  color: #000;
}
/* line 51, ../sass/_roles.scss */
.devilryheader_roles ul li a.subjectadmin_role {
  padding: 8px 28px 4px 8px;
  background-color: #ffcc00;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 16, ../sass/_roles.scss */
.devilryheader_roles ul li a.subjectadmin_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #e6b800;
  text-decoration: none;
  color: #000;
}
/* line 54, ../sass/_roles.scss */
.devilryheader_roles ul li a.nodeadmin_role {
  padding: 8px 28px 4px 8px;
  background-color: #ff9900;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 16, ../sass/_roles.scss */
.devilryheader_roles ul li a.nodeadmin_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #e68a00;
  text-decoration: none;
  color: #000;
}
/* line 57, ../sass/_roles.scss */
.devilryheader_roles ul li a.superuser_role {
  padding: 8px 28px 4px 8px;
  background-color: #cc3300;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 16, ../sass/_roles.scss */
.devilryheader_roles ul li a.superuser_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #b32d00;
  text-decoration: none;
  color: #000;
}
/* line 63, ../sass/_roles.scss */
.devilryheader_roles div.loading {
  font-size: 36px;
  font-weight: bold;
}

/* line 4, ../sass/_nonapp.scss */
.devilryheader-nonapp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 10, ../sass/_nonapp.scss */
.devilryheader-nonapp-bodyoffset {
  padding-top: 30px;
}

/* line 3, ../sass/_search.scss */
.devilryheader_searchmenu {
  font-size: 13px;
  background-color: black;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 11, ../sass/_search.scss */
.devilryheader_searchmenu .searchmenu_searchfield input {
  height: auto;
  font-size: 20px;
}
/* line 17, ../sass/_search.scss */
.devilryheader_searchmenu .devilry_header_searchresults h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 15px 0 0 0;
  padding: 0;
}
/* line 23, ../sass/_search.scss */
.devilryheader_searchmenu .devilry_header_searchresults ul.search-results {
  margin-top: 10px;
}
/* line 25, ../sass/_search.scss */
.devilryheader_searchmenu .devilry_header_searchresults ul.search-results li.single-result-wrapper {
  margin-bottom: 5px;
}
/* line 27, ../sass/_search.scss */
.devilryheader_searchmenu .devilry_header_searchresults ul.search-results li.single-result-wrapper a.result-target-link {
  font-weight: bold;
  font-size: 16px;
}
/* line 31, ../sass/_search.scss */
.devilryheader_searchmenu .devilry_header_searchresults ul.search-results li.single-result-wrapper span.typename {
  display: inline-block;
  margin-left: 6px;
}
/* line 35, ../sass/_search.scss */
.devilryheader_searchmenu .devilry_header_searchresults ul.search-results li.single-result-wrapper .meta {
  font-size: 12px;
  color: #999;
  line-height: 16px;
}

/* line 46, ../sass/_search.scss */
.devilryheader .flatbutton.flatbutton_toggleable {
  background-position: 75% 10px;
}
/* line 49, ../sass/_search.scss */
.devilryheader .flatbutton.flatbutton_toggleable.flatbutton_not_pressed.devilry_header_search_button {
  background-color: #2b2b2b;
}
