{% extends "cradmin_legacy/base.django.html" %}

{% block title %}
    WCAG debug
{% endblock title %}

{% block content %}
    <div class="container devilry-body-examiner" style='margin-bottom: 20px;'>
        <a href='#'>Simple link without class directly in body (deprecated)</a><br/>
        <a href='#' class='plain-link'>Link with class plain-link directly in body</a><br/>
    </div>
    <div class="container devilry-body-student" style='margin-bottom: 20px;'>
        <a href='#'>Simple link without class directly in body (deprecated)</a><br/>
        <a href='#' class='plain-link'>Link with class plain-link directly in body</a><br/>
    </div>
    <div class="container devilry-body-admin" style='margin-bottom: 20px;'>
        <a href='#'>Simple link without class directly in body (deprecated)</a><br/>
        <a href='#' class='plain-link'>Link with class plain-link directly in body</a><br/>
    </div>
    <div class="container" style='margin-bottom: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list cradmin-legacy-listbuilder-rowlist devilry-frontpage-roleselectlist">
            <li>
                <a href="#" class='cradmin-legacy-listbuilder-itemframe cradmin-legacy-listbuilder-itemframe-defaultspacing cradmin-legacy-listbuilder-itemframe-link devilry-cradmin-legacy-listbuilder-itemframe-goforward devilry-frontpage-listbuilder-roleselect-itemframe devilry-frontpage-listbuilder-roleselect-itemframe-anyadmin'>
                    <div class='cradmin-legacy-listbuilder-itemvalue cradmin-legacy-listbuilder-itemvalue-focusbox cradmin-legacy-listbuilder-itemvalue-titledescription devilry-frontpage-listbuilder-roleselect-itemvalue devilry-frontpage-listbuilder-roleselect-itemvalue-anyadmin'>
                        admin role link
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class='cradmin-legacy-listbuilder-itemframe cradmin-legacy-listbuilder-itemframe-defaultspacing cradmin-legacy-listbuilder-itemframe-link devilry-cradmin-legacy-listbuilder-itemframe-goforward devilry-frontpage-listbuilder-roleselect-itemframe devilry-frontpage-listbuilder-roleselect-itemframe-examiner'>
                    <div class='cradmin-legacy-listbuilder-itemvalue cradmin-legacy-listbuilder-itemvalue-focusbox cradmin-legacy-listbuilder-itemvalue-titledescription devilry-frontpage-listbuilder-roleselect-itemvalue devilry-frontpage-listbuilder-roleselect-itemvalue-examiner'>
                        examiner role link
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class='cradmin-legacy-listbuilder-itemframe cradmin-legacy-listbuilder-itemframe-defaultspacing cradmin-legacy-listbuilder-itemframe-link devilry-cradmin-legacy-listbuilder-itemframe-goforward devilry-frontpage-listbuilder-roleselect-itemframe devilry-frontpage-listbuilder-roleselect-itemframe-student'>
                    <div class='cradmin-legacy-listbuilder-itemvalue cradmin-legacy-listbuilder-itemvalue-focusbox cradmin-legacy-listbuilder-itemvalue-titledescription devilry-frontpage-listbuilder-roleselect-itemvalue devilry-frontpage-listbuilder-roleselect-itemvalue-student'>
                        student role link
                    </div>
                </a>
            </li>
        </ol>
        {% comment %} <p class='colortest-student'>Testing here</p>
        <p class='colortest-examiner'>Testing here</p>
        <p class='colortest-admin'>Testing here</p>
        <p class='colortest-alert-success'>Testing here</p>
        <p class='colortest-alert-info'>Testing here</p>
        <p class='colortest-alert-warning'>Testing here</p> {% endcomment %}
    </div>
    <div class="container" style='margin-bottom: 20px;'>
        <div class='alert alert-success'>
            alert success
        </div>
        <div class='alert alert-info'>
            alert info
        </div>
        <div class='alert alert-warning'>
            alert warning
        </div>
        <div class='alert alert-danger'>
            alert danger
        </div>
    </div>
    <div class="container cradmin-legacy-container-focus">
        focus styled container
    </div>
    <div class="container cradmin-legacy-container-focus cradmin-legacy-container-focus-success">
        success styled container
    </div>
    <div class="container cradmin-legacy-container-focus cradmin-legacy-container-focus-info">
        info styled container
    </div>
    <div class="container cradmin-legacy-container-focus cradmin-legacy-container-focus-warning">
        warning styled container
    </div>
    <div class="container cradmin-legacy-container-focus cradmin-legacy-container-focus-danger">
        danger styled container
    </div>

    <div class="container" style='margin-bottom: 20px; margin-top: 20px;'>
        <div id="cradmin_legacy_listfilter" cradmin-legacy-listfilter="{&quot;loadspinner_css_class&quot;: &quot;fa fa-spin fa-spinner&quot;, &quot;target_dom_id&quot;: &quot;cradmin_legacy_listbuilderview_listwrapper&quot;, &quot;loaderror_message&quot;: &quot;An error occurred. Please try to reload the page.&quot;, &quot;loadingmessage_delay_milliseconds&quot;: 1000}" class="ng-isolate-scope">
            <ol class="cradmin-legacy-listfilter-filterlist cradmin-legacy-listfilter-filterlist-vertical">
                <li>
                    <div id="cradmin_legacy_listfilter_search" class="cradmin-legacy-listfilter-filter cradmin-legacy-listfilter-filter-single-input cradmin-legacy-listfilter-filter-single-input-search">
                        <label for="cradmin_legacy_listfilter_search_input" id="cradmin_legacy_listfilter_search_label" class="sr-only">
                            Search
                        </label>
                        <div class="cradmin-legacy-clearable-textinput">
                            <input id="cradmin_legacy_listfilter_search_input" type="text" class="form-control ng-isolate-scope" placeholder="Search ..." value="" aria-controls="cradmin_legacy_listbuilderview_listwrapper" cradmin-legacy-listfilter-urlpattern="#" cradmin-legacy-listfilter-emptyvalue-url="#" cradmin-legacy-listfilter-textinput="{&quot;loadingmessage&quot;: &quot;Searching&quot;, &quot;timeout_milliseconds&quot;: 500, &quot;urlpattern_replace_text&quot;: &quot;_-_TEXTINPUT_-_VALUE_-_&quot;}">
                            <button type="button" class="btn btn-link cradmin-legacy-clearable-textinput-button" cradmin-legacy-clearable-textinput="#cradmin_legacy_listfilter_search_input" aria-label="Clear Search">
                                <span class="fa fa-times" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div class="container devilry-body-student cradmin-legacy-listbuilderview-page cradmin-legacy-listbuilderview-filterlist-right-page" style='margin-bottom: 20px; margin-top: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list cradmin-legacy-listbuilder-rowlist">
            <li>
                <a href="#" class="cradmin-legacy-listbuilder-itemframe cradmin-legacy-listbuilder-itemframe-defaultspacing cradmin-legacy-listbuilder-itemframe-link devilry-cradmin-legacy-listbuilder-itemframe-goforward devilry-student-listbuilder-grouplist-itemframe">
                    <div class="cradmin-legacy-listbuilder-itemvalue cradmin-legacy-listbuilder-itemvalue-focusbox cradmin-legacy-listbuilder-itemvalue-titledescription devilry-cradmin-groupitemvalue">
                        <h2 class="cradmin-legacy-listbuilder-itemvalue-titledescription-title">
                            subject.period - Assignment
                        </h2>
                        <p class="devilry-cradmin-groupitemvalue-status">
                            <span class="devilry-cradmin-groupitemvalue-status-title sr-only">
                                Status:
                            </span>
                            <span class="devilry-core-groupstatus devilry-core-groupstatus-waiting-for-deliveries">
                                    waiting for deliveries
                            </span>
                        </p>        
                        <p class="devilry-cradmin-groupitemvalue-deadline">
                            <span class="devilry-cradmin-groupitemvalue-deadline__label">
                                Deadline:
                            </span>
                            <span class="devilry-cradmin-groupitemvalue-deadline__datetime">
                                Thursday March 15, 2040, 23:59
                            </span>
                        </p>
                        <p class="devilry-cradmin-groupitemvalue-comments">
                            <span class="devilry-core-comment-summary">
                                <span class="devilry-core-comment-summary-studentcomments">
                                    0 comments from student.
                                </span>
                                <span class="devilry-core-comment-summary-studentfiles">
                                    1 files from student.
                                </span>
                                <span class="devilry-core-comment-summary-examinercomments">
                                    2 comments from examiner.
                                </span>
                            </span>
                        </p>
                    </div>
                    <span class="fa fa-angle-right devilry-cradmin-legacy-listbuilder-itemframe-goforward-icon" aria-hidden="true"></span>
                </a>           
            </li>
        </ol>
    </div>

    <div class="container devilry-body-examiner cradmin-legacy-listbuilderview-page cradmin-legacy-listbuilderview-filterlist-right-page" style='margin-bottom: 20px; margin-top: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list cradmin-legacy-listbuilder-rowlist">
            <li>
                <a href="#" class="cradmin-legacy-listbuilder-itemframe cradmin-legacy-listbuilder-itemframe-defaultspacing cradmin-legacy-listbuilder-itemframe-link devilry-cradmin-legacy-listbuilder-itemframe-goforward">
                    <div class="cradmin-legacy-listbuilder-itemvalue cradmin-legacy-listbuilder-itemvalue-focusbox cradmin-legacy-listbuilder-itemvalue-titledescription devilry-cradmin-groupitemvalue">
                        <h2 class="cradmin-legacy-listbuilder-itemvalue-titledescription-title">
                            <span class="devilry-user-verbose-inline devilry-user-verbose-inline-both">
                                <span class="devilry-user-verbose-inline-fullname">Stud Ent</span>
                                <small class="devilry-user-verbose-inline-shortname">(student@example.com)</small>
                            </span>
                        </h2>
                        <p class="devilry-cradmin-groupitemvalue-status">
                            <span class="devilry-cradmin-groupitemvalue-status-title sr-only">
                                Status:
                            </span>
                            <span class="devilry-core-groupstatus devilry-core-groupstatus-waiting-for-deliveries">
                                waiting for deliveries
                            </span>
                        </p>
                        <p class="devilry-cradmin-groupitemvalue-deadline">
                            <span class="devilry-cradmin-groupitemvalue-deadline__label">
                                Deadline:
                            </span>
                            <span class="devilry-cradmin-groupitemvalue-deadline__datetime">
                                Tuesday January 31, 2040, 12:30
                            </span>
                        </p>
                        <p class="devilry-cradmin-groupitemvalue-comments">
                            <span class="devilry-core-comment-summary">
                                <span class="devilry-core-comment-summary-studentcomments">
                                    0 comment from student.
                                </span>
                                <span class="devilry-core-comment-summary-studentfiles">
                                    1 files from student.
                                </span>
                                <span class="devilry-core-comment-summary-examinercomments">
                                    2 comment from examiner.
                                </span>
                            </span>
                        </p>
                    </div>
                    <span class="fa fa-angle-right devilry-cradmin-legacy-listbuilder-itemframe-goforward-icon" aria-hidden="true"></span>
                </a>
            </li>
        </ol>
    </div>

    <div class="container devilry-body-admin cradmin-legacy-listbuilderview-page cradmin-legacy-listbuilderview-filterlist-right-page" style='margin-bottom: 20px; margin-top: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list cradmin-legacy-listbuilder-rowlist">
            <li>
                <a href="#" class="cradmin-legacy-listbuilder-itemframe cradmin-legacy-listbuilder-itemframe-defaultspacing cradmin-legacy-listbuilder-itemframe-link devilry-cradmin-legacy-listbuilder-itemframe-goforward">
                    <div class="cradmin-legacy-listbuilder-itemvalue cradmin-legacy-listbuilder-itemvalue-focusbox cradmin-legacy-listbuilder-itemvalue-titledescription devilry-cradmin-groupitemvalue">
                        <h2 class="cradmin-legacy-listbuilder-itemvalue-titledescription-title">
                            <span class="devilry-user-verbose-inline devilry-user-verbose-inline-both">
                                <span class="devilry-user-verbose-inline-fullname">Stud Ent</span>
                                <small class="devilry-user-verbose-inline-shortname">(student@example.com)</small>
                            </span>
                        </h2>
                        <p class="devilry-cradmin-groupitemvalue-status">
                            <span class="devilry-cradmin-groupitemvalue-status-title sr-only">
                                Status:
                            </span>
                            <span class="devilry-core-groupstatus devilry-core-groupstatus-waiting-for-deliveries">
                                waiting for deliveries
                            </span>
                        </p>
                        <p class="devilry-cradmin-groupitemvalue-deadline">
                            <span class="devilry-cradmin-groupitemvalue-deadline__label">
                                Deadline:
                            </span>
                            <span class="devilry-cradmin-groupitemvalue-deadline__datetime">
                                Tuesday January 31, 2040, 12:30
                            </span>
                        </p>
                        <p class="devilry-cradmin-groupitemvalue-comments">
                            <span class="devilry-core-comment-summary">
                                <span class="devilry-core-comment-summary-studentcomments">
                                    0 comment from student.
                                </span>
                                <span class="devilry-core-comment-summary-studentfiles">
                                    1 files from student.
                                </span>
                                <span class="devilry-core-comment-summary-examinercomments">
                                    2 comment from examiner.
                                </span>
                            </span>
                        </p>
                    </div>
                    <span class="fa fa-angle-right devilry-cradmin-legacy-listbuilder-itemframe-goforward-icon" aria-hidden="true"></span>
                </a>
            </li>
        </ol>
    </div>

    <div class="container" style='margin-bottom: 20px; margin-top: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed">
            <li>
                <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed__feedbackset-wrapper">
                    <li>
                        <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed__feedbackset-wrapper--content">
                            <li>
                                <div class="devilry-group-feedbackfeed-event-message devilry-group-feedbackfeed-itemvalue devilry-group-feedbackfeed-event-message__deadline-expired">
                                    <p>
                                        <span class="timeline-datetime">
                                            Feb 8 2016, 20:00
                                        </span>:
                                        <span class="devilry-group-event__deadline-expired">
                                            <strong>Deadline expired</strong>
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>

    <div class="container" style='margin-bottom: 20px; margin-top: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed">
            <li>
                <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed__feedbackset-wrapper">
                    <li>
                        <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed__feedbackset-wrapper--content">
                            <li>
                                <div class="devilry-group-feedbackfeed-event-message devilry-group-feedbackfeed-itemvalue devilry-group-feedbackfeed-event-message__grade">
                                    <p>
                                        <span class="timeline-datetime">
                                            Oct 15 2018, 11:54
                                        </span>:
                                        <span class="devilry-group-event__grade">
                                            <strong>
                                                This delivery was corrected, and given:
                                            </strong>
                                            <span class="devilry-core-grade devilry-core-grade-mapper-passed-failed devilry-core-grade-passed devilry-core-grade-full">
                                                <span class="devilry-core-grade-main">
                                                    passed
                                                </span>
                                                <span class="devilry-core-grade-details">
                                                    (<span class="devilry-core-grade-details-points">1/1</span>)
                                                </span>
                                            </span>
                                            by
                                            <span class="devilry-group-feedbackfeed-event-message__user_display_name">
                                                <strong>
                                                    <span class="devilry-user-verbose-inline devilry-user-verbose-inline-both">
                                                        <span class="devilry-user-verbose-inline-fullname">Exa Miner</span>
                                                        <small class="devilry-user-verbose-inline-shortname">(examiner@example.com)</small>
                                                    </span>            
                                                </strong>
                                            </span>
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>

    <div class="container" style='margin-bottom: 20px; margin-top: 20px;'>
        <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed">
            <li>
                <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed__feedbackset-wrapper">
                    <li>
                        <ol class="cradmin-legacy-listbuilder-list devilry-group-feedbackfeed-feed__feedbackset-wrapper--content">
                            <li>
                                <div class="devilry-group-feedbackfeed-event-message devilry-group-feedbackfeed-itemvalue devilry-group-feedbackfeed-event-message__grade">
                                    <p>
                                        <span class="timeline-datetime">
                                            Oct 15 2018, 11:54
                                        </span>:
                                        <span class="devilry-group-event__grade">
                                            <strong>
                                                This delivery was corrected, and given:
                                            </strong>
                                            <span class="devilry-core-grade devilry-core-grade-mapper-passed-failed devilry-core-grade-failed devilry-core-grade-full">
                                                <span class="devilry-core-grade-main">
                                                    failed
                                                </span>
                                                <span class="devilry-core-grade-details">
                                                    (<span class="devilry-core-grade-details-points">0/1</span>)
                                                </span>
                                            </span>
                                            by
                                            <span class="devilry-group-feedbackfeed-event-message__user_display_name">
                                                <strong>
                                                    <span class="devilry-user-verbose-inline devilry-user-verbose-inline-both">
                                                        <span class="devilry-user-verbose-inline-fullname">Exa Miner</span>
                                                        <small class="devilry-user-verbose-inline-shortname">(examiner@example.com)</small>
                                                    </span>            
                                                </strong>
                                            </span>
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>

    <div class="container" style='margin-bottom: 20px; margin-top: 20px;'>
        <div class="cradmin-legacy-form-wrapper">
            <form action="#" class="cradmin-legacy-form ng-pristine ng-valid ng-isolate-scope" cradmin-legacy-bulkfileupload-form="" cradmin-legacy-bulkfileupload-form-prevent-window-dragdrop="true" id="cradmin_legacy_createform" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="uRNe9OV1BoyaHfdfFrpd2WPYxGr19FhlFkpPkHAEOVIlbGzpFIik9Mqv9b35Z2WR" autocomplete="off">
                <script src="/static/cradmin_legacy/dist/vendor/js/ace-editor/ace.js"></script>
                <div class="comment-form-container">
                    <div>
                        <div class="devilry-group-feedbackfeed-form-heading">
                            <p>
                                <strong>
                                    Your delivery must be uploaded as one or more files or typed into the box below.
                                </strong>
                                You can also ask questions to your examiner(s). All uploaded files and comments for one deadline is considered a part of your delivery, so if you add a comment that makes a previous comment obsolete, you should say so.
                            </p>
                        </div>
                            <div id="div_id_text" class="form-group">
                                <div class="controls ">
                                    <div cradmin-legacy-acemarkdown="{}" class="devilry-ace-editor  ng-isolate-scope">
                                        <div ng-transclude="">
                                            <div class="btn-toolbar ng-scope" role="toolbar">
                                                <div class="btn-group">
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-tool="{pre: '\n\n## ', post: '\n'}">
                                                        <span class="fa fa-header"></span>
                                                        <span class="sr-only">Heading</span>
                                                    </a>
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-tool="{pre: '**', post: '**', emptyText: 'Text here'}">
                                                        <span class="fa fa-bold"></span>
                                                        <span class="sr-only">Bold</span>
                                                    </a>
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-tool="{pre: '_', post: '_'}">
                                                        <span class="fa fa-italic"></span>
                                                        <span class="sr-only">Italic</span>
                                                    </a>
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-link="{help: 'Write the URL in the field below. Make sure you include the http:// or https:// part of the URL.', emptyText: 'Link title here'}">
                                                        <span class="fa fa-link"></span>
                                                        <span class="sr-only">Link</span>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-tool="{pre: '\n* ', post: '\n'}">
                                                            <span class="fa fa-list-ul"></span>
                                                            <span class="sr-only">Bulletlist</span>
                                                    </a>
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-tool="{pre: '\n1. ', post: '\n'}">
                                                        <span class="fa fa-list-ol"></span>
                                                        <span class="sr-only">Numbered list</span>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-default ng-isolate-scope" cradmin-legacy-acemarkdown-tool="{pre: '``` ', post: '\n\n```', emptyText: 'programminglanguage'
                                                        }">
                                                        <span class="fa fa-code"></span>
                                                        <span class="sr-only">Code block</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="devilry-ace-editor-acewrapper ng-scope">
                                                <div cradmin-legacy-acemarkdown-editor="" class="ng-isolate-scope ace_editor ace-tomorrow">
                                                    <textarea class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="opacity: 0; left: -100px;">
                                                    </textarea>
                                                    <div class="ace_gutter" aria-hidden="true" style="display: none;">
                                                        <div class="ace_layer ace_gutter-layer ace_folding-enabled" style="margin-top: 0px; height: 212px; width: 44px;">
                                                            <div class="ace_gutter-cell " style="height: 21px;">
                                                                1
                                                            </div>
                                                        </div>
                                                        <div class="ace_gutter-active-line" style="top: 0px; height: 21px;">
                                                        </div>
                                                    </div>
                                                    <div class="ace_scroller" style="left: 0px; right: 0px; bottom: 0px;">
                                                        <div class="ace_content" style="margin-top: 0px; width: 890px; height: 212px; margin-left: 0px;">
                                                            <div class="ace_layer ace_print-margin-layer">
                                                                <div class="ace_print-margin" style="left: 852px; visibility: hidden;">
                                                                </div>
                                                            </div>
                                                            <div class="ace_layer ace_marker-layer">                                                 
                                                            </div>
                                                            <div class="ace_layer ace_text-layer" style="padding: 0px 4px;">
                                                                <div class="ace_line_group" style="height:21px">
                                                                    <div class="ace_line" style="height:21px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ace_layer ace_marker-layer">                                               
                                                            </div>
                                                            <div class="ace_layer ace_cursor-layer ace_hidden-cursors">
                                                                <div class="ace_cursor" style="left: 4px; top: 0px; width: 10.6016px; height: 21px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ace_scrollbar ace_scrollbar-v" style="display: none; width: 20px; bottom: 0px;">
                                                        <div class="ace_scrollbar-inner" style="width: 20px; height: 21px;">
                                                        </div>
                                                    </div>
                                                    <div class="ace_scrollbar ace_scrollbar-h" style="display: none; height: 20px; left: 0px; right: 0px;">
                                                        <div class="ace_scrollbar-inner" style="height: 20px; width: 890px;">
                                                        </div>
                                                    </div>
                                                    <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: hidden;">
                                                        <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: visible;">
                                                        </div>
                                                        <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: visible;">
                                                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <textarea name="text" id="id_text" textarea="" cradmin-legacy-acemarkdown-textarea="" class="ng-scope ng-isolate-scope cradmin-acemarkdowntextarea">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div cradmin-legacy-bulkfileupload="{&quot;autosubmit&quot;: false, &quot;uploadapiurl&quot;: &quot;/cradmin_temporaryfileuploadstore/temporary_file_upload_api&quot;, &quot;unique_filenames&quot;: true, &quot;max_filename_length&quot;: 255, &quot;errormessage503&quot;: &quot;Server timeout while uploading the file. This may be caused by a poor upload link and/or a too large file.&quot;, &quot;apiparameters&quot;: {&quot;singlemode&quot;: false}}" class="cradmin-legacy-bulkfileupload ng-scope">
                                    <div class="cradmin-legacy-bulkfileupload-content">
                                        <div cradmin-legacy-bulkfileupload-progress="" class="ng-isolate-scope">
                                            <div class="cradmin-legacy-bulkfileupload-progress">
                                                <!-- ngRepeat: fileInfo in fileInfoArray -->
                                            </div>
                                        </div>
                                        <div cradmin-legacy-bulkfileupload-rejected-files="" class="ng-isolate-scope">
                                            <div class="cradmin-legacy-bulkfileupload-rejectedfiles">
                                                <!-- ngRepeat: fileInfo in rejectedFiles -->
                                            </div>
                                        </div>
                                        <div cradmin-legacy-bulkfileupload-advanced-widget="" class="ng-isolate-scope" style="display: block;"> <div ng-file-drop="" ng-model="cradminLastFilesSelectedByUser" multiple="true" allow-dir="false" aria-hidden="true" class="cradmin-legacy-bulkfileupload-dropbox ng-pristine ng-untouched ng-valid" ng-file-change="filesDropped($files, $event, $rejectedFiles)" drag-over-class="{accept:'cradmin-legacy-bulkfileupload-dropbox-dragover', reject:'cradmin-legacy-bulkfileupload-dropbox-dragover-error', delay:100}">
                                            <div class="cradmin-legacy-bulkfileupload-dropbox-text">
                                                Upload files by dragging and dropping them here                                        
                                            </div>
                                            <div class="cradmin-legacy-bulkfileupload-dropbox-invalid-filetype-errormessage">
                                                Invalid filetype
                                            </div>
                                        </div>
                                        <p class="cradmin-legacy-bulkfileupload-advanced-fileselectbutton-wrapper">
                                            <button ng-file-select="" type="button" ng-model="cradminLastFilesSelectedByUser" multiple="true" class="btn btn-xs btn-default cradmin-legacy-bulkfileupload-advanced-fileselectbutton ng-pristine ng-untouched ng-valid" style="overflow: hidden;">
                                                <span aria-hidden="true">
                                                    ... or select files
                                                </span>
                                                <span class="screenreader-only">
                                                    Select files for upload
                                                </span>
                                                <input type="file" multiple="multiple" tabindex="-1" ng-file-generated-elem="true" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                                            </button>
                                        </p>
                                    </div>
                                    <div cradmin-legacy-bulkfileupload-simple-widget="" class="ng-isolate-scope" style="display: none;">
                                        <p class="cradmin-legacy-bulkfileupload-simple-button-wrapper">
                                            <button ng-file-select="" type="button" ng-model="cradminLastFilesSelectedByUser" multiple="true" class="btn btn-default btn-block cradmin-legacy-bulkfileupload-simple-button ng-pristine ng-untouched ng-valid" style="overflow: hidden;">
                                                Select files ...        
                                                <input type="file" multiple="multiple" tabindex="-1" ng-file-generated-elem="true" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                                            </button>
                                        </p>
                                    </div>
                                    <input type="hidden" name="temporary_file_collection_id" cradmin-legacy-bulkfileupload-collectionid-field="" autocomplete="off" class="ng-isolate-scope">
                                </div>
                            </div>
                            <script>
                                window.addEventListener("dragover", function(e) {
                                e.preventDefault()
                                }, false);
                                window.addEventListener("drop", function(e) {
                                e.preventDefault()
                                }, false);
                            </script>
                        </div>        
                    </div>
                    <div class="text-right">
                        <button type="submit" name="student_add_comment" class="btn btn-primary" id="submit-id-student_add_comment">  
                            Add delivery or question
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
