<!DOCTYPE HTML>
{% load i18n %}
<html>
    <head>
        <title>
            {% block title %}{{ page_title|default:"Devilry" }}{% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >

        <link rel="stylesheet" href="{{DEVILRY_THEME_URL }}/style.css"
            type="text/css" media="screen" charset="utf-8"/>

        {% if debug %}
        {% endif %}



        <!-- ** ExtJS ** -->
        <link rel="stylesheet" type="text/css"
                {#href="{{ DEVILRY_EXTJS_URL }}/resources/css/ext-all.css" />#}
                href="{{ DEVILRY_EXTJS_URL }}/resources/css/ext-all-gray.css" />

        <script src="{{ DEVILRY_EXTJS_URL }}/ext-all-debug.js"></script>
        <script>
            // Path to the blank image should point to a valid location on your server
            Ext.BLANK_IMAGE_URL = '{{ DEVILRY_EXTJS_URL }}/resources/themes/images/default/tree/s.gif';
            Ext.Loader.setConfig({
                enabled:true,
                paths: {
                    'devilry': '{{ DEVILRY_STATIC_URL }}/extjs_classes'
                }
            });

            Ext.Ajax.defaultHeaders = {
                    'X_DEVILRY_USE_EXTJS': true
            };

            Ext.define('DevilrySettings', {
                singleton: true,
                DEVILRY_STATIC_URL: '{{ DEVILRY_STATIC_URL}}',
                DEVILRY_URLPATH_PREFIX: '{{ DEVILRY_URLPATH_PREFIX }}',
                DEVILRY_SYNCSYSTEM: '{{ DEVILRY_SYNCSYSTEM|escapejs }}'
            });

            Ext.onReady(function() {
                Ext.QuickTips.init();
            });

            if(Ext.isIE) {
                Ext.onReady(function() {
                    var win = Ext.MessageBox.show({
                        title: 'Unsupported browser',
                        msg: 'Devilry has several knows issues with your current browser (Internet Explorer). Please use Google Chrome, Firefox, Opera or Safari.',
                        buttons: Ext.Msg.OK,
                        icon: Ext.Msg.WARNING,
                        closable: false
                    });
                });
            }
        </script>
        <script src="{{ DEVILRY_STATIC_URL }}/extjshelpers/formatoverrides.js"></script>

        {% block headextra %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="heading">
                <h1>
                    {% trans "Devilry" %}
                </h1>
                <a href="http://devilry.org" id="projectlink">http://devilry.org</a>
            </div>

            {% comment %}
            <div id="version">
                <span class="text">Version</span>
                <span class="number">1.0-beta</span>
                <span class="codename"> &mdash; Miss piggy</span>
            </div>
            {% endcomment %}

            <div id='authenticated-user-bar'>
                {% if user.is_authenticated %}
                    <span id='authenticated-user-info'>
                        {{ user.username }}
                    </span>
                    | <a id='logout-link' href='{{ DEVILRY_LOGOUT_URL }}'>Log out</a>
                {% else %}
                    <a id='logout-link' href='{% url login %}'>Log in</a>
                {% endif %}
            </div>

            <nav class="{% block nav-class %}{% endblock %}">
                <ul>
                    <li class="student-navitem"><a href="{% url student %}">{% trans "Student" %}</a></li>
                    <li class="examiner-navitem"><a href="{% url examiner %}">{% trans "Examiner" %}</a></li>
                    <li class="administrator-navitem"><a href="{% url administrator %}">{% trans "Administrator" %}</a></li>
                    <li class="externallink-navitem"><a href="{{ DEVILRY_HELP_URL }}" target="_blank">{% trans "Help" %}</a></li>
                </ul>
            </nav>
        </header>

        <div id="mainwrapper">
            <div id="main">
                {% block main %}{{ page_main }}{% endblock %}
            </div>
        </div>

        <footer>
            <a href='http://devilry.org'>Devilry</a> is an open source
            general purpose delivery system.
        </footer>
    </body>
</html>
