{% extends "theme/no-body.django.html" %}
{% block body %}
    <header>
        <div id="heading">
            <h1>Devilry</h1>
            <a href="http://devilry.org" id="projectlink">http://devilry.org</a>
        </div>

        {% comment %}
        <div id="version">
            <span class="text">Version</span>
            <span class="number">1.0-beta</span>
            <span class="codename"> &mdash; Miss piggy</span>
        </div>
        {% endcomment %}

        <div id='authenticated-user-bar'>
            {% if user.is_authenticated %}
                <span id='authenticated-user-info'>
                    {{ user.username }}
                </span>
                | <a class='loginout-link' href='{{ DEVILRY_LOGOUT_URL }}'>Log out</a>
            {% else %}
                <a class='loginout-link' href='{% url login %}'>Log in</a>
            {% endif %}
        </div>

        <nav class="{% block nav-class %}{% endblock %}">
            <ul>
                <li class="student-navitem"><a href="{% url student %}">Student</a></li>
                <li class="examiner-navitem"><a href="{% url examiner %}">Examiner</a></li>
                <li class="administrator-navitem"><a href="{% url administrator %}">Administrator</a></li>
                <li class="externallink-navitem"><a href="{{ DEVILRY_HELP_URL }}" target="_blank">Help</a></li>
            </ul>
        </nav>
    </header>

    <div id="mainwrapper">
        <div id="main">
            {% block main %}{{ page_main }}{% endblock %}
        </div>
    </div>

    <footer>
        <a href='http://devilry.org'>Devilry</a> is an open source
        general purpose delivery system.
    </footer>
{% endblock %}
