ul.unstyled {
    margin: 0;
}


.subjectadmin {
    .actionlist {
        ul {
            list-style: none;
            li {
                margin: 0 0 20px 0;
                a {
                    min-width: 400px;
                }
            }
        }
    }
    .sysadmin-messages {
        p {
            font-size: 15px;
            color: #444444;
        }
    }
}
