{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

<input id="autocomplete-{{ name }}" class='autocomplete-list' />
<ul id='autocomplete-{{ name }}-result' class='autocomplete-list-result'>
  {% for node, editurl in nodes %}
    <li><a href='{{ editurl }}'>{{ node }}</a></li>
  {% endfor %}
</ul>
<div class='buttonbar'>
  {% if moreurl %}
    <a href='{{ moreurl }}' class='button'>{% trans "Show all" %}</a>
  {% endif %}
  <a href='{{ createurl }}' class='button'>{% trans "Create new" %}</a>
</div>
