{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load i18n %}
{% load cradmin_tags %}
{% load cradmin_icon_tags %}

{% block title %}
    {% blocktrans trimmed with period=period.get_path %}
        Administrators for {{ period }}
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'overview' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to semester overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% blocktrans trimmed with period=period.get_path %}
            Administrators for {{ period }}
        {% endblocktrans %}
    </h1>
    <p>
        <strong class="text-warning">TODO:</strong> Information about department, course and semester administrators.
    </p>
{% endblock pageheader-inner %}


{% block content %}
    <div class="container">
        <p id="devilry_admin_period_admins_overview_buttonbar"
                class="devilry-buttonbar">
            <a id="devilry_admin_period_admins_overview_button_add"
                    class="btn btn-primary"
                    href="{% cradmin_appurl 'add' %}">
                {% trans "Add semester administrators" %}
            </a>
        </p>
    </div>

    {{ block.super }}

    <div class="container">
        <h2>{% trans "Other administrators" %}</h2>
        <p>
            <strong class="text-warning">TODO:</strong> List SubjectPermissionGroups with access to this period in a listbuilder view.
        </p>
    </div>
{% endblock content %}


{% block no-items-paragraph-contents %}
    {% trans "You have no semester administrators. Use the button above to add semester administrators." %}
{% endblock no-items-paragraph-contents %}
