{% extends "devilry_theme/printbase.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {{ status.period.get_path }} - {% trans "Qualifies for final exams" %}
{% endblock %}
{% block head-post %}
    <script type="text/javascript">

        function onSortByChange() {
            var sortform = document.getElementById('sortform');
            sortform.submit();
        }
        window.onload = function(){
            var sortbyfield = document.getElementById('sortby-field')
            if(sortbyfield.addEventListener) {
                sortbyfield.addEventListener('change', onSortByChange)
            } else { // IE 8
                sortbyfield.attachEvent('onchange', onSortByChange)
            }
        };
    </script>
{% endblock %}

{% block body %}
    <h1>
        {{ status.period.get_path }}
    </h1>
    <p>{% trans "Qualifies for final exams" %}</p>
    <div class="pull-right">
        {% crispy form %}
    </div>
    <button class="btn btn-primary btn-large" onclick="window.print()">
        <i class="icon-print icon-white"></i>
        {% trans "Print" %}
    </button>
    <table class="table table-striped table-bordered table-condensed" style="clear: both;">
        <thead>
            <tr>
                <th>
                    {% trans "Student" %}
                </th>
                <th>{% trans "Qualifies for exam?" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for studentstatus in studentstatuses %}
                <tr class="{{ studentstatus.qualifies|yesno:"success,warning" }}">
                    <td>
                        {% with studentstatus.relatedstudent.user as user %}
                            {% if user.devilryuserprofile.full_name %}
                                <span class="fullname">{{ user.devilryuserprofile.full_name }}</span>
                            {% endif %}
                            <span class="username">({{ studentstatus.relatedstudent.user.username }})</span>
                        {% endwith %}
                    </td>
                    <td style="width: 160px;">
                        {% if studentstatus.qualifies %}
                            <strong>{% trans "Yes" %}</strong>
                        {% else %}
                            <em>{% trans "No" %}</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
