@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.devilry_subjectadmin_navigation.bootstrap {
    strong {
        font-size: 18px;
    }
    margin: 20px 0 20px 0;
}

.devilry_subjectadmin_dangerousactions {
    .bootstrap.header {
        h2, h3 {
            color: #900;
            margin: 0;
            padding: 0;
            font-size: 14px;
            line-height: normal;
        }
    }
    .body {
        border: 1px solid #ccc !important;
        @include border-top-left-radius(0);
        @include border-top-right-radius(6px);
        @include border-bottom-left-radius(6px);
        @include border-bottom-right-radius(6px);
    }
}

.devilry_subjectadmin_allwhereisadminlist {
    h3 {
        font-size: 18px;
        margin: 20px 0 0 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.devilry_subjectadmin_editsidebarcontainer {
    border: 1px dotted #ccc;
    border-right: none;
    @include border-radius(6px 0 0 6px);

    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 12px;
        font-weight: bold;
    }
}


.devilry_subjectadmin_guidesystemview {
    h3 {
        font-size: 18px;
        line-height: 24px;
    }
}


@import "managestudents";
