{% load static %}
<html>
    <head>
        <title>
            {% block title %}Devilry{% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >

        <script type="text/javascript" src="{% static "devilry_extjsextras/consolefallback.js" %}"></script>

        {% block i18nimport %}
        {% endblock %}

        {# TODO: Remove this when we are completely viewport/app based #}
        {% block extra_js_libraries %}{% endblock %}

        <link rel="stylesheet" href="{{DEVILRY_THEME_URL }}/common.css"
            type="text/css" media="screen" charset="utf-8"/>

        <script type="text/javascript" src="{% url devilry-settings %}"></script>

        <!-- ** ExtJS ** -->
        {% comment %}
        <link rel="stylesheet" type="text/css" href="{{ DEVILRY_STATIC_URL }}/themebase/css/devilry.css" />
        {% endcomment %}
{#        <link rel="stylesheet" type="text/css"#}
                {#href="{{ DEVILRY_EXTJS_URL }}/resources/css/ext-all.css" />#}
{#                href="{{ DEVILRY_EXTJS_URL }}/resources/css/ext-all-gray.css" />#}

{#        <link rel="stylesheet" type="text/css"#}
{#              href="{% static "devilry_theme/resources/stylesheets/bootstrap.css" %}" />#}

        {% include "devilry_theme/cssimports.django.html" %}
        <link rel="apple-touch-icon" href="{% static "devilry_theme/resources/favicons/apple-touch-icon.png" %}" />
        <link rel="shortcut icon" href="{% static "devilry_theme/resources/favicons/favicon.ico" %}" />


        {% include "devilry_header/cssimports.django.html" %}

        <script type="text/javascript" src="{{ DEVILRY_EXTJS_URL }}/ext-all-debug.js"></script>

        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/extjshelpers/formatoverrides.js"></script>
        <script type="text/javascript">

            // Path to the blank image should point to a valid location on your server
            Ext.BLANK_IMAGE_URL = '{{ DEVILRY_EXTJS_URL }}/resources/themes/images/default/tree/s.gif';
            Ext.Loader.setConfig({
                enabled: {% if debug %}true{% else %}false{% endif %},
                paths: {
                    'devilry': '{{ DEVILRY_STATIC_URL }}/extjs_classes',
                    'devilry_header': '{{ DEVILRY_STATIC_URL }}/devilry_header/app',
                    'devilry_authenticateduserinfo': '{{ DEVILRY_STATIC_URL }}/devilry_authenticateduserinfo',
                    'devilry_i18n': '{{ DEVILRY_STATIC_URL }}/devilry_i18n',
                    'devilry_extjsextras': '{{ DEVILRY_STATIC_URL }}/devilry_extjsextras',
                    'Ext': '{{ DEVILRY_STATIC_URL }}/extjsux'
                }
            });

            Ext.Ajax.defaultHeaders = {
                    'X_DEVILRY_USE_EXTJS': true
            };

            Ext.define('DevilryUser', {
                singleton: true,
                is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
                is_superuser: {{ user.is_superuser|lower }},
                username: '{{ user.username }}'
            });

            Ext.onReady(function() {
                Ext.QuickTips.init();
            });


        </script>

        {% if debug and EXTJS4_DEBUG %}
            <script type="text/javascript">
                // Load RestProxy synchronously. This is required to make it
                // possible for model classes to use RestProxy at load time (when
                // the JS file is loaded).
                Ext.syncRequire('devilry.extjshelpers.RestProxy');
                {% include "extjshelpers/restful-generated-models.django.js" %}
            </script>
        {% else %}
            <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/devilry_all_uncompiled.js"></script>
        {% endif %}
        <script type="text/javascript" src="{% static "devilry_extjsextras/extjsajax_django_csrf.js" %}"></script>

        <script type="text/javascript">
            {% block imports %}
                Ext.require('devilry.extjshelpers.page.Header');
                Ext.require('devilry.extjshelpers.page.Footer');
                Ext.require('devilry_header.Header');
            {% endblock %}
            {% block appjs %}{% endblock %}
            Ext.onReady(function() {
                {% block onready %}
                    Ext.getBody().mask("Loading page", 'page-load-mask');
                {% endblock %}
            });
        </script>
    </head>

    <body>
    </body>
</html>
