/* line 1, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap {
  margin: 20px 0 20px 0;
}
/* line 2, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap strong {
  font-size: 18px;
}

/* line 9, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_dangerousactions .bootstrap h2, .devilry_subjectadmin_dangerousactions .bootstrap h3 {
  color: #900;
}

/* line 16, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_allactivewhereisadminlist strong {
  font-size: 18px;
}

/* line 2, ../sass/_managestudents.scss */
.listofgroups .col2Wrapper {
  text-align: right;
  padding-right: 15px;
}
