/* line 4, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap {
  margin: 20px 0 20px 0;
}
/* line 5, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap strong {
  font-size: 18px;
}

/* line 13, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_dangerousactions .bootstrap.header h2, .devilry_subjectadmin_dangerousactions .bootstrap.header h3 {
  color: #900;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: normal;
}
/* line 21, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_dangerousactions .body {
  border: 1px solid #ccc !important;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 32, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_allactivewhereisadminlist strong {
  font-size: 18px;
}

/* line 37, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer {
  border: 1px dotted #ccc;
  border-right: none;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -khtml-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}

/* line 43, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_content {
  background-image: url("../images/tiny_grid.png");
}

/* line 50, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_focuscontainer {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  -moz-box-shadow: inset -1px -1px 1px 0px #888888;
  -webkit-box-shadow: inset -1px -1px 1px 0px #888888;
  -o-box-shadow: inset -1px -1px 1px 0px #888888;
  box-shadow: inset -1px -1px 1px 0px #888888;
}

/* line 2, ../sass/_managestudents.scss */
.listofgroups .col2Wrapper {
  text-align: right;
  padding-right: 15px;
}
