/* line 3, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap {
  margin: 20px 0 20px 0;
}
/* line 4, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_navigation.bootstrap strong {
  font-size: 18px;
}

/* line 11, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_dangerousactions .bootstrap h2, .devilry_subjectadmin_dangerousactions .bootstrap h3 {
  color: #900;
}

/* line 18, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_allactivewhereisadminlist strong {
  font-size: 18px;
}

/* line 23, ../sass/devilry_subjectadmin.scss */
.devilry_subjectadmin_editsidebarcontainer {
  border: 1px dashed #ccc !important;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

/* line 2, ../sass/_managestudents.scss */
.listofgroups .col2Wrapper {
  text-align: right;
  padding-right: 15px;
}
