{% extends "devilry_student/base.django.html" %}
{% load i18n %}
{% load humanize %}
{% load url from future %}

{% block title %}{% trans "Student" %} - Devilry{% endblock title %}

{% block body %}
    <div class="container">
        <h1>{% trans "Assignments waiting for deliveries" %}</h1>
        {% if groups_waiting_for_deliveries %}
            <ul id="devilry_student_active_assignmentlist"  class="list-unstyled">
                {% for group in groups_waiting_for_deliveries %}        
                    <li>
                        <a href="{% url 'devilry_student_groupdetails' group.id %}">
                            {{ group.subject.short_name }} - {{ group.parentnode.long_name }}
                        </a>
                        <p class="text-muted subject_and_period">
                            {{ group.subject.long_name }} - {{ group.period.long_name }}
                        </p>
                        <p class="text-muted deadline">
                            {% trans "Deadline:" %}
                            {{ group.last_deadline.deadline|date:"DATETIME_FORMAT" }} - {{ group.period.long_name }}
                            <span class="text-success">
                                ({{ group.last_deadline.deadline|naturaltime }})
                            </span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p id="devilry_student_frontpage_none_waiting_for_deliveries_message" class="text-muted">
                {% trans "No assignments waiting for deliveries." %}
            </p>
        {% endif %}

        <h2>{% trans "Browse" %}</h2>
        <ul id="devilry_student_frontpage_browselist" class="list-unstyled">
            {% for period in active_periods %}
                <li>
                    <a href="#">
                        {{ period.parentnode.long_name }} - {{ period.long_name }}
                    </a>
                    {% comment %}
                    <p class="text-muted last-feedback">
                        {% if period.latest_feedback_dict %}
                            {% trans "Latest feedback" %}:
                            <span class="assignment">
                                {{ period.latest_feedback_dict.assignment_short_name }}
                            </span>
                            <span class="grade">
                                {% if period.latest_feedback_dict.grading_system_plugin_id != "devilry_gradingsystemplugin_approved" %}
                                    {{ period.latest_feedback_dict.grade }} -
                                {% endif %}
                                {% if period.latest_feedback_dict.is_passing_grade %}
                                    <span class="text-success">{% trans "Passed" %}</span>
                                {% else %}
                                    <span class="text-warning">{% trans "Failed" %}</span>
                                {% endif %}
                            </span>
                        {% else %}
                            {% trans "No feedback on any assignments yet" %}
                        {% endif %}
                    </p>
                    {% endcomment %}
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'devilry_student_browse' %}">
                    {% trans "Browse all" %}
                </a>
            </li>
        </ul>
    </div>
{% endblock body %}