{% extends "devilry_student/base.django.html" %}
{% load i18n %}
{% load humanize %}
{% load url from future %}
{% load static %}
{% load devilry_student_tags %}

{% block title %}{{ group.parentnode.short_name }} - {{ group.period.get_path }}{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ group.parentnode.long_name }}</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'devilry_student' %}">{% trans "Student" %}</a></li>
                <li><a href="{% url 'devilry_student_browse' %}">{% trans "Browse" %}</a></li>
                <li><a href="#">{{ group.subject.short_name }} - {{ group.period.short_name }}</a></li>
            </ol>
            {% if examiners %}
                {% if examiners|length == 1 %}
                    {% trans "Examiner" %}:
                {% else %}
                    {% trans "Examiners" %}:
                {% endif %}
                <ul id="devilry_student_groupinfo_examiners">
                    {% for examiner in group.examiners.all %}
                        <li>
                            <a href="mailto:{{ examiner.user.email }}">
                                {{ examiner.user.devilryuserprofile.get_displayname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    {% if group.last_deadline %}    
        <form id="devilry_student_groupdetails_upload" class="dropzone"
            action="{% url 'devilry_student_upload_deliveryfile' group.last_deadline.id %}">
        </form>
    {% endif %}

    {% if group.delivery_status == "corrected" %}
        <div id="devilry_student_groupdetails_active_feedback" class="
            alert alert-edgetoedge
            {% if group.feedback.is_passing_grade %}
                alert-success
            {% else %}
                alert-warning
            {% endif %}
        ">
            <div class="container">
                {% devilry_student_shortgrade group.feedback %}
            </div>
        </div>
    {% endif %}

    {% if group.assignment.students_can_create_groups_now or othercandidatecount > 0 %}
        <div id="devilry_student_groupdetails_groupingbox" class="alert alert-info">
            <div class="container">
                {% if othercandidatecount > 0 %}
                    {% trans "You are in a project group with" %}
                    {% for candidate in othercandidates %}
                        {% if forloop.last and forloop.counter > 1 %}
                            {% trans "and" %}
                        {% endif %}
                        {{ candidate.get_student_displayname }}{% endfor %}.
                {% endif %}
                {% if group.assignment.students_can_create_groups_now %}
                    {% trans "You can invite other students to cooperate on this assignment." %}
                {% endif %}
                <a href="{% url 'devilry_student_projectgroup_overview' group.id %}">
                    {% trans "More info" %}.
                </a>
            </div>
        </div>
    {% endif %}


    <div class="container">
        <section id="devilry_student_groupdetails_deadlines">
            {% for deadline in group.deadlines.all %}
                <h2>
                    {% trans "Deadline" %} {{ forloop.revcounter }}:
                    {{ deadline.deadline|date:"DATETIME_FORMAT" }}
                    {# ({{ deadline.deadline|naturaltime }}) #}
                </h2>
                <ul class="list-unstyled">
                    {% for delivery in deadline.deliveries.all %}
                        <li>
                            <a href="#" data-id="{{ delivery.id }}">
                                {% trans "Delivery" %} #{{ delivery.number }}
                            </a>
                            {% if delivery.after_deadline %}
                                <p class="text-danger after-deadline-message">
                                    {% blocktrans with timeafter=delivery.deadline.deadline|timesince:delivery.time_of_delivery %}
                                        Delivered {{ timeafter }} after the deadline.
                                    {% endblocktrans %}
                                </p>
                            {% endif %}
                            <p class="last-feedback text-muted">
                                {% if delivery.last_feedback %}
                                    {% devilry_student_shortgrade delivery.last_feedback %}
                                {% else %}
                                    {% trans "No feedback" %}
                                {% endif %}
                            </p>
                        </li>
                    {% empty %}
                        <p class="text-muted">{% trans "No deliveries" %}</p>
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>
    </div>


    <script src="{% static 'devilry_theme2/bower_components/dropzone/downloads/dropzone.js' %}"></script>
    <script>
        console.log('hei');
    </script>
{% endblock body %}
