{% extends "devilry/admin/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{% trans "Confirm delete" %}{% endblock %}
{% block heading %}{% trans "Confirm delete" %}{% endblock %}

{% block admin-breadcrumbs %}
  {{ block.super }}
  <li><a href='{% url devilry-admin-list_assignments %}'>{% trans "Assignments" %}</a></li>
  <li>::</li>
  <li>
		{% trans "Confirm delete" %}
  </li>
{% endblock %}

{% block main %}
{% if showform %}
  <p>
  {% blocktrans %}
    Are you sure you want to delete {{ what_to_delete }}?
  {% endblocktrans %}
  </p>

  <p>{{ message }}</p>

  <p>
    <a href="{{ cancelurl }}" class='button cancel'>{% trans "Cancel" %}</a>
    <a href="{{ deleteurl }}?confirm=yes" class='button'>{% trans "Yes" %}</a>
  </p>
{% endif %}
{% endblock %}
