{% extends "devilry/admin/edit_assignmentgroup_base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
	{% trans "Create deadline" %}
{% endblock %}
{% block heading %}
	{% trans "Create deadline" %}
{% endblock %}


{% block admin-breadcrumbs %}
  {{ block.super }}
  <li class="current"><a href="#">
    {% trans "Create deadline" %}
  </a></li>
{% endblock %}

{% block main %}
  {% include "devilry/admin/create_deadlines_base.django.html" %}
{% endblock %}
