{% extends "devilry/admin/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{% trans "Assignments" %}{% endblock %}
{% block heading %}
    {% if isnew %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %}
    assignment
{% endblock %}


{% block admin-breadcrumbs %}
  {{ block.super }}
  <li>
    {% if isnew %}
      {% trans "Create assignment" %}
    {% else %}
      {{ assignment.get_path }}
    {% endif %}
  </li>
{% endblock %}

{% block main %}

{% if message %}
	<p>{{ message }}</p>
{% endif %}

<form method='post' action='
    {% if assignment.id %}
      {% url devilry-admin-edit_assignment assignment.id %}
    {% else %}
      {% url devilry-admin-create_assignment %}
    {% endif %}
    '>
  <fieldset class='stdfieldset'>
    {% include "devilry/ui/include/form-list.django.html" %}
  </fieldset>
  <div class='button-row'>
    <input type='submit' name='save' value='{% trans "Save" %}' class='button'/>
  </div>
</form>


{% if not isnew %}
  <h2>Assignment groups</h2>
  <div id='autocomplete-assignmentgroup'></div>
  <script type="text/javascript" src="/resources/ui/js/jquery.autocompletetable.js"></script> 
  <script type="text/javascript">
    $(function() {
      $("#autocomplete-assignmentgroup").autocompletetable(
        "{% url admin-autocomplete-assignmentgroupname assignment.id %}",
        ["Id", "Candidates", "Examiners", "Name"],
        "{% trans "edit" %}", "{% trans "Show all" %}",
        {
          links: {
            createnew: {
              label: "{% trans "Create new" %}",
              url: "{% url devilry-admin-create_assignmentgroup assignment.id %}"
            }
          },
          buttons: {
            deleteselected: {
              label: "{% trans "Delete selected" %}",
              classes: ['delete'],
              confirmtitle: "{% trans "Confirm delete" %}",
              confirmlabel: "{% trans "Confirm delete" %}",
              cancel_label: "{% trans "Cancel" %}",
              confirm_message: '{% trans "This will delete all selected assignmentgroups and all deliveries and feedbacks within them." %}',
              url: "{% url devilry-admin-delete_manyassignmentgroups assignment.id %}"
            },
            setexaminers: {
              label: "{% trans "Set examiners" %}",
              url: "{% url devilry-admin-set_examiners assignment.id %}"
            }
          }
        })
    });
  </script>


  <h3>{% trans "Actions" %}:</h3>
  <ul>
    <li>
      <a href='{% url devilry-admin-create_assignmentgroups assignment.id %}'>
        Create many assignment groups (advanced)
      </a>
    </li>
  </ul>
{% endif %}
{% endblock %}
