{% extends "devilry/admin/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{% trans "Assignments" %}{% endblock %}
{% block heading %}
    {% if isnew %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %}
    assignment
{% endblock %}


{% block admin-breadcrumbs %}
  {{ block.super }}
  <li><a href='{% url devilry-admin-list_assignments %}'>{% trans "Assignments" %}</a></li>
  <li>::</li>
  <li>
    {% if isnew %}
      {% trans "Create assignment" %}
    {% else %}
      {{ assignment.get_path }}
    {% endif %}
  </li>
{% endblock %}

{% block main %}

{% if message %}
	<p>{{ message }}</p>
{% endif %}

<form method='post' action='
    {% if assignment.id %}
      {% url devilry-admin-edit_assignment assignment.id %}
    {% else %}
      {% url devilry-admin-create_assignment %}
    {% endif %}
    '>
  <fieldset class='stdfieldset'>
    {% include "devilry/ui/include/form-list.django.html" %}
  </fieldset>
  <div class='submit-row'>
    <div class='submit-row-right'>
      <input type='submit' name='save' value='{% trans "Save" %}'/>
    </div>
    <div class='submit-row-left'>
      <div class='form-link-as-button delete'><a href='#'>{% trans "Delete" %}</a></div>
    </div>
  </div>
</form>


{% if not isnew %}
  <h2>Assignment groups</h2>
  <table class='horizontal_ordered_table'>
    <tr>
      <th>Id</th>
      <th>Candidates</th>
      <th>Examiners</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>

    {% for assignmentgroup in assignment.assignmentgroups.all %}
      <tr>
        <td> 
          {{ assignmentgroup.id }}
        </td>
        <td> 
          {{ assignmentgroup.candidates.all|join:", " }}
        </td>
        <td> 
          {{ assignmentgroup.examiners.all|join:", " }}
        </td>
        <td>
          {% if assignmentgroup.name %} {{ assignmentgroup.name }} {% endif %}
        </td>
        <td>
          <a href='{% url devilry-admin-edit_assignmentgroup assignment.id assignmentgroup.id %}'>
            {% trans "Edit" %}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>


  <h3>{% trans "Actions" %}:</h3>
  <ul>
    <li>
      <a href='{% url devilry-admin-create_assignmentgroup assignment.id %}'>
        Create assignment group
      </a>
    </li>
    <li>
      <a href='{% url devilry-admin-create_assignmentgroups assignment.id %}'>
        Create many assignment groups (advanced)
      </a>
    </li>
  </ul>
{% endif %}
{% endblock %}
