{% extends "devilry/admin/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{% trans "Assignments" %}{% endblock %}
{% block heading %}
    {% if isnew %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %}
    assignment
{% endblock %}


{% block admin-breadcrumbs %}
  {{ block.super }}
  <li><a href='../'>{% trans "Assignments" %}</a></li>
  <li>::</li>
  <li>
    {% if isnew %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %}
    assignment
  </li>
{% endblock %}

{% block main %}

{% if message %}
	<p>{{ message }}</p>
{% endif %}

<form method='post' action='{{ post_url }}'>
  <fieldset class='stdfieldset'>
    {% include "devilry/ui/include/form-list.django.html" %}
  </fieldset>
  <div class='submit-row'>
    <div class='submit-row-right'>
      <input type='submit' name='save' value='{% trans "Save" %}'/>
    </div>
    <div class='submit-row-left'>
      <div class='form-link-as-button delete'><a href='#'>{% trans "Delete" %}</a></div>
    </div>
  </div>
</form>


{% if not isnew %}
  <a href='{% url devilry-admin-create_assignmentgroups assignment.id %}'>Create assignmentgroups</a>

  <table border="1">
    <tr>
      <th>Name</th>
      <th>Candidates</th>
    </tr>

  {% for assignmentgroup in assignment.assignment_groups_where_is_examiner.all %}
  <tr>
    <td>{{ assignmentgroup.name }}</td>
	
    <td> 
	  {% for cand in assignmentgroup.candidates.all %}
	  
	  {% if not forloop.first %},
	  {% endif %}
	  {{ cand.student }}
	  {% endfor %}
	</td>
	<td> <a href='/admin/assignmentgroups/edit/{{ assignmentgroup.id }}'>{% trans "Edit" %}</a></td>
	
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
