{% extends "devilry/admin/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ model_plural_name|capfirst }}{% endblock %}
{% block heading %}{{ model_plural_name|capfirst }}{% endblock %}

{% block admin-breadcrumbs %}
  {{ block.super }}
  <li>{{ model_plural_name|capfirst }}</li>
{% endblock %}

{% block main %}
<p>
  <a href='create'>{% trans "Create new" %}</a>
</p>

<ul>
  {% for node in nodes.all %}
    <li><a href='{{ node.pk }}/edit'>{{ node }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
