{% extends "devilry/admin/bulkcreate_assignmentgroups_base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block admin-breadcrumbs %}
  {{ block.super }}
  <li>::</li>
  <li>Verify</li>
{% endblock %}

{% block main %}

<form method='post' action='{% url devilry-admin-save-assignmentgroups assignment.id %}'>

  <fieldset class='stdfieldset'>
    {% comment %}
    <table>
      {{ formset }}
    </table>
    {% endcomment %}
    {% include "devilry/ui/include/tabular-inline.django.html" %}
  </fieldset>
  
  <div class='submit-row'>
    <div class='submit-row-right'>
      <input type='submit' name='save' value='{% trans "Save" %}'/>
    </div>
  </div>
  {{ formset.media }}
</form>
{% endblock %}
