{% extends "devilry/admin/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}


{% block admin-breadcrumbs %}
  {{ block.super }}
  <li><a href='../'>{{ model_plural_name|capfirst }}</a></li>
  <li>::</li>
  <li>{{ title }}</li>
{% endblock %}

{% block main %}

<form method='post' action='{{ post_url }}'>

  <fieldset class='stdfieldset'>
    {% comment %}
    <table>
      {{ formset }}
    </table>
    {% endcomment %}
    {% include "devilry/ui/include/tabular-inline.django.html" %}
  </fieldset>
  
  <div class='submit-row'>
    <div class='submit-row-right'>
      <input type='submit' name='save' value='{% trans "Save" %}'/>
    </div>
    <div class='submit-row-left'>
      <div class='form-link-as-button delete'><a href='#'>{% trans "Delete" %}</a></div>
    </div>
	<div class='submit-row-right'>
      <input type='submit' name='more-fields' value='{% trans "Add more fields" %}'/>
    </div>
	
  </div>
  {{ formset.media }}
</form>
{% endblock %}
