{% extends "django_cradmin/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load cradmin_tags %}
{% load cradmin_icon_tags %}

{% block description %}
    <p class="django-cradmin-listbuilder-itemvalue-titledescription-description">
            {{ me.max_points }}/{{ me.passing_grade_min_points }} {% trans '(max points/passing grade)' %}
    </p>
    <p class="django-cradmin-listbuilder-itemvalue-titledescription-description">
        {{ me.period_start | date:"DATE_FORMAT" }} - {{ me.period_end | date:"DATE_FORMAT" }} {% trans '(semester start/semester end)' %}
    </p>
{% endblock description %}
