{% extends "cradmin_legacy/viewhelpers/listbuilderview/default.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
   {{ block.super }}
   devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'passed_previous_period' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to period select" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% trans "Step 2 of 3: Confirm assignments" %}
    </h1>
    <p>
        {% trans 'These Assignments will be taken into account ' %}
        {% trans 'upon approval of passing grade this semester.' %}
    </p>
{% endblock pageheader-inner %}


{% block list %}
    <div class="devilry-dashboard-container">
        <p>
            {% blocktrans trimmed %}
                In this step you get a preview of all assignments that matches the current assignment to import results
                to. You can see which semester the assignments belong to, max/min points and the start and end time of
                the semester.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                On the next step you will get a preview of all students that will be passed for the current assignment
                and confirm the results.
            {% endblocktrans %}
        </p>
    </div>

    {{ block.super }}

    <a href="{% cradmin_instance_url 'passed_previous_period' 'confirm' period_id=period_id %}" class="btn btn-primary">
        {% trans "Next" %}
    </a>
{% endblock %}
