{% extends "cradmin_legacy/viewhelpers/formview_base.django.html" %}
{% load devilry_account_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block title %}
    {% trans "Passed previous semester" %}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
   {{ block.super }}
   devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'overview' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to assignment overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>{% trans 'Passed previous semester' %}</h1>
    <p class="devilry-page-subheader">
        {% blocktrans trimmed %}
            Select how you want to pass students in the context that they have passed this assignment on a previous
            semester. We recommend that you do this before examiners starts to correct deliveries. Select one of the
            modes below.
        {% endblocktrans %}
    </p>
{% endblock pageheader-inner %}

{% block content %}
    {{ block.super }}

    <div class="container">
        {% if unsupported_grading_plugin %}
            <div class="devilry-dashboard-container devilry-dashboard-container-withtopmargin
                        devilry-passed-previous-semester-unsupported-plugin-message">
                <h3>
                    {% trans "Unsupported grading plugin" context 'passed previous semester'%}
                </h3>
                {% blocktrans trimmed %}
                    The grading plugin for this assignment is currently not supported. This will only work for assignments
                    that uses the passed/failed plugin.
                {% endblocktrans %}
            </div>
        {% else %}
            {% cradmin_render_renderable mode_listbuilder_list %}
        {% endif %}
    </div>
{% endblock content %}
