{% extends "devilry_admin/assignment/students/groupview_base/base-multiselect-view.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_appindex_url %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to assignment dashboard page" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% trans "Pass students." %}
    </h1>
    {% blocktrans trimmed %}
        Select the students you want to pass. Note that all the students are available here, so the previous result of
        a student will be overwritten.
    {% endblocktrans %}
{% endblock pageheader-inner %}