{% extends "cradmin_legacy/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
   {{ block.super }}
   devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'passed_previous_period' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to assignment overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% trans "Step 1 of 3: select the earliest semester you want to approve for" %}
    </h1>
    <p>
        {% trans 'Everything from the selected period will be included, ' %}
        {% trans 'and not any assignments that were done before the selected period' %}
    </p>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <div class="devilry-dashboard-container">
            <p>
                {% blocktrans trimmed with short_name=assignment.short_name %}
                    In this step you will get a list of semesters that include an assignment with short name
                    "{{ short_name }}". You must select the earliest semester you want to get student results from,
                    which means that all assignment results from semesters after and including the one you selected are
                    taken into account when fetching the results.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                    On the next step you will get a preview of all assignments collected from the selected semesters,
                    and information about which semesters the assignments belongs to and so on.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    {% if no_past_period %}
        <div class="container">
            <h3 class="cradmin-legacy-listing-no-items-message test-no-previos-period">
                {% blocktrans trimmed with context='select-period-view-no-passed-period' %}
                    There are no prior semesters connected to this assignment.
                {% endblocktrans %}
            </h3>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock content %}
