{% extends "devilry_cradmin/new_devilry_tablebuilder/base_cell.django.html" %}
{% load i18n %}

{% block content %}
    {% if assignment_uses_passed_failed_plugin %}
        <select class="form-control grade_input" name="{{ me.field_name }}">
            <option value=""></option>
            <option value="Passed">{% trans 'Passed' %}</option>
            <option value="Failed">{% trans 'Failed' %}</option>
        </select>
    {% else %}
        <input type="number" class="form-control grade_input" name="{{ me.field_name }}" min="0" max="{{ assignment.max_points }}" placeholder="0 to {{ assignment.max_points }}">
    {% endif %}
{% endblock content %}
