{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'Confirm changes to dangerous options' %}
</div>
{% endblock %}

{% block content %}
<p>{% blocktrans with escaped_object=object %}Are you sure you want to change the following potentially dangerous properties of the {{ object_name }} "{{ escaped_object }}"?{% endblocktrans %}</p>
<ul>{{ warningmessages|unordered_list }}</ul>
<form action="" method="post">{% csrf_token %}
    <div>
        <input type="submit" name="dangerous_changes_confirmed" value="{% trans "Yes, I'm sure" %}" class="default" />
        <input type="submit" name="dangerous_changes_cancel" value="{% trans "No, I do not want to save the changes" %}" />
    </div>
</form>
{% endblock %}
