/* line 1, ../sass/subjectadmin.scss */
ul.unstyled {
  margin: 0;
}

/* line 8, ../sass/subjectadmin.scss */
.subjectadmin .actionlist ul {
  list-style: none;
}
/* line 10, ../sass/subjectadmin.scss */
.subjectadmin .actionlist ul li {
  margin: 0 0 20px 0;
}
/* line 12, ../sass/subjectadmin.scss */
.subjectadmin .actionlist ul li a {
  min-width: 400px;
}
/* line 20, ../sass/subjectadmin.scss */
.subjectadmin .sysadmin-messages p {
  font-size: 15px;
  color: #444444;
}
