{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns='http://www.w3.org/1999/xhtml'>
	<head>
    <title>{% block title %}{% firstof page_title page_heading %}{% endblock %}</title>

    {% with "1.8.5" as JQUERY_UI_VERSION %}
      {% block jquery %}
        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/jquery/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/jquery/js/jquery-ui-{{ JQUERY_UI_VERSION }}.custom.min.js"></script>
        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/ui/js/devilry-utils.js"></script>
        <script type="text/javascript">
          var DEVILRY_STATIC_URL = "{{ DEVILRY_STATIC_URL }}";
          var DEVILRY_MAIN_PAGE = "{{ DEVILRY_MAIN_PAGE }}";
          $(function() {
            $(".button").button();
            $(".error-message").messageBox({state:"error"});
            $(".warning-message").messageBox({state:"error"});
            $(".info-message").messageBox({icon:"ui-icon-info"});
            $(".success-message").messageBox({icon:"ui-icon-info"});
            $("h2.legend")
              .addClass("ui-state-default");
          });
        </script>          

        {% block tipTip %}
          <script type="text/javascript"
            src="{{ DEVILRY_STATIC_URL }}/jquery/plugins/tipTipv13/jquery.tipTip.minified.js"></script>
          <link rel="stylesheet" type="text/css"
            href="{{ DEVILRY_STATIC_URL }}/jquery/plugins/tipTipv13/tipTip.css" />
          <script type="text/javascript">
            $(function(){
                $(".tooltip-hover").tipTip();
                $(".tooltip-focus").tipTip({
                    activation: "focus",
                    delay: 0
                  });
              });
          </script>
        {% endblock %}

        {% block xbreadcrumbs %}
          <script type="text/javascript"
            src="{{ DEVILRY_STATIC_URL }}/jquery/plugins/xbreadcrumbs/xbreadcrumbs.js"></script>
          <link rel="stylesheet" type="text/css"
            href="{{ DEVILRY_STATIC_URL }}/jquery/plugins/xbreadcrumbs/xbreadcrumbs.css" />
          <script type="text/javascript">
            $(function(){
                $("#breadcrumbs-list").xBreadcrumbs();
              });
          </script>
        {% endblock %}

        {% block gritter %}
          <script type="text/javascript"
            src="{{ DEVILRY_STATIC_URL }}/jquery/plugins/gritter/js/jquery.gritter.min.js"></script>
          <link rel="stylesheet" type="text/css"
            href="{{ DEVILRY_STATIC_URL }}/jquery/plugins/gritter/css/jquery.gritter.css" />
                
          {% if messages %}
            <script type="text/javascript">
              $(function(){
                {% for message_class, raw_html, message, mtitle, sticky in messages %}
                  $.gritter.add({
                    title: "{{ mtitle|escapejs }}",
                    text: "{{ message|escapejs }}",
                    image: "{{ DEVILRY_STATIC_URL }}/jquery/css/{{ JQUERY_UI_THEME }}/icons/{{ message_class }}.png",
                    {% if sticky %}
                      sticky: true,
                    {% else %}
                      sticky: false,
                    {% endif %}
                    time: 15000
                  });
                {% endfor %}
              });
            </script>
          {% endif %}

        {% endblock %}
      {% endblock %}
    {% endwith %}

    {% block basecss %}
      <link rel="stylesheet" type="text/css" href="{{ DEVILRY_STATIC_URL }}/base.css" />
    {% endblock %}

    {% block theme %}
      <link rel="stylesheet" type="text/css"
        href="{{ DEVILRY_STATIC_URL }}/jquery/css/{{ JQUERY_UI_THEME }}/devilry.css" />
    {% endblock %}

		{% block customjs %}{% endblock %}
		{% block customcss %}
      {% comment %}
        Here you can add css styles as you like.
        This is before the devilry and jquery css to make it possible to
        override these styles.
      {% endcomment %}
    {% endblock %}
		{% block headextra %}{% endblock %}
	</head>
	<body>
    <div id='top'>
      <div id='linkbar'>
        {% block linkbar %}
          <ul id='links'>
            {% block links %}
              {% if user.is_authenticated %}
                <li>
                  {% with user.username as username %}
                    {% blocktrans %}Welcome, {{ username }} {% endblocktrans %}
                  {% endwith %}
                </li>
                {% if DEVILRY_LOGOUT_URL %}
                  <li>
                    <a href='{{ DEVILRY_LOGOUT_URL }}'>{% trans "Log out" %}</a>
                  </li>
                {% endif %}
              {% endif %}
              {% block links-extra %}{% endblock %}
            {% endblock %}
          </ul>
        {% endblock %}
      </div>

      <div id='branding'>
        {% block logo %}
          <div id='logo'>
            <div id='logo-maintext'>Devilry</div>
            <div id='logo-subtext'>
              <a href='http://devilry.github.com'>http://devilry.github.com</a>
            </div>
          </div>
        {% endblock %}
      </div>

      <div id='breadcrumbs'>
        <ul id='breadcrumbs-list' class="xbreadcrumbs">
          {% block breadcrumbs %}
              <li class="{% block dashboard_breadcrumb_class %}{% endblock %}">
                <a href='{% url devilry-main %}' class='home'>{% trans "Dashboard" %}</a>
              </li>
          {% endblock %}
        </ul>
      </div>
    </div>

    <div id='page'>
    {% block page %}

      <div id='heading'>
        <h1>{% block heading %}{{ page_heading }}{% endblock %}</h1>
        <div id='belowheading'>
          {% block belowheading %}{{ page_belowheading }}{% endblock %}
        </div>
      </div>

      {% comment %}
      <div id='messages'>
        {% block messages %}
          {% if messages %}
            {% for message_class, raw_html, message in messages %}
              {% block message %}
                <div class='{{ message_class }}'>
                  {% if raw_html %}
                    {{ message|safe }}
                  {% else %}
                    {{ message }}
                  {% endif %}
                </div>
              {% endblock %}
            {% endfor %}
          {% endif %}
        {% endblock %}
      </div>
      {% endcomment %}

      {% block middlearea %}
        <div id='content'>
          {% block content %}{{ page_content }}{% endblock %}
        </div>
      {% endblock %}

      <div id='page-footer'>
        <!-- pagefooter is only here to prevent overflows -->
      </div>
    {% endblock page %}
    </div>

    
    {% block footer %}
    <div id='footer'>
      <p><a href='http://devilry.github.com'>Devilry</a> is an open source
      general purpose delivery system.</p>
    </div>
    {% endblock %}
	</body>
</html>
