$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;


.devilry_student_groupinfo .notStudentOnPeriodBox {
    a {
        background-color: $errorBackground;
        border-color: $errorBorder;
        color: $errorText;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        border-bottom: 3px solid $errorBorder;
        text-decoration: none;
        display: block;
        padding: 10px;
        text-align: center;
        &:hover {
            background: darken($errorBackground, 10%);
            border-color: darken($errorBorder, 10%);
            color: darken($errorText, 10%);
        }
    }
}

@media (min-width: 900px) {
    .devilry_student_groupinfo .notStudentOnPeriodBox {
        a {
            font-size: 18px;
            padding: 14px;
        }
    }
}
