
.devilry-group-feedbackfeed-header {
  .devilry-group-feedbackfeed-current-deadline-heading {
    margin: 0 0 0 0;
    padding: 0;
    font-size: @cradmin-page-header-h1-font-size;
    line-height: @cradmin-page-header-h1-line-height;
    vertical-align: middle;
    text-transform: uppercase;

  }

  .devilry-group-feedbackfeed-header-assignment{}

  .devilry-group-feedbackfeed-header-subject-period{}

  .devilry-group-feedbackfeed-current-deadline {}

  .devilry-group-feedbackfeed-current-deadline-expired {
      font-weight: bold;
      color: @after-deadline-color;
    }
}

.devilry-group-feedbackfeed-sidebar {
  background: @devilry-feedbackfeed-focus-bg;
  padding: 10px 20px 10px 20px;
  height: 100%;
  margin-bottom: 15px;

  position: static;
  @media (min-width: @screen-md-min) {
    position: absolute;
    top: 153px;
    width: 260px;
    left: (@screen-md-min - (@grid-gutter-width) - 252px);
    margin-bottom: 0;
  }
  @media (min-width: @screen-lg-min) {
    position: absolute;
    top: 153px;
    width: 323px;
    left: (@screen-lg-min - (@grid-gutter-width) - 323px);
    margin-bottom: 0;
  }

  h4 {
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    font-size: @font-size-base;
    cursor: pointer;
    //.devilry-group-feedbackfeed-sidebar-dropdownicon{
    //  float: right;
    //}
  }

  h4:hover {
    background: #ccc;
    color: #fff;
    transition: background .2s ease-in-out;
    transition: color .2s ease-in-out;
  }

  dl {
    dt {
      text-transform: uppercase;
      font-weight: normal;
      font-size: @font-size-small;
    }
    dd {
      .devilry-group-feedbackfeed-sidebar-files {
        word-break: break-all;
        width: 100%;
      }
      i.after-deadline-icon{
        color: @after-deadline-color;
      }

      i.examiner-file-icon{
        color: @devilry-examiner-bgcolor;
      }
    }
  }
}


.devilry-group-feedbackfeed-feed {

   /*
   Event messages such as passed, failed and general messages between comments.
   */
    .devilry-group-feedbackfeed-event-message{
        margin-left: 3.0em;
        margin-top: 4.0em;
        margin-bottom: 4.0em;
        color: #333333;
        font-size: 1.0em;
    }

    .event-spacing{
        //margin-top: 4.0em;
        //margin-bottom: 4.0em;
    }

    .devilry-group-feedbackfeed-event-message-deadline-created{
      .devilry-group-feedbackfeed-event-message;
    }

    .devilry-group-feedbackfeed-event-message-deadline-expired{
      .devilry-group-feedbackfeed-event-message;
    }

    .devilry-group-feedbackfeed-event-message-passed{
        .devilry-group-feedbackfeed-event-message;
        color: #5d8c08;
        border-bottom: 1px solid #999999;
    }

    .devilry-group-feedbackfeed-event-message-failed{
        .devilry-group-feedbackfeed-event-message;
        color:#9b0d28;
        border-bottom: 1px solid #999999;
    }

  .devilry-group-feedbackfeed-feed-uploaded-file-tag{
    display: inline-block;
    float:right;

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-examiner{
    }

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-after-deadline{
      color: @after-deadline-color;
    }
  }
}
