{% load i18n %}
{% load url from future %}

{#<li><a href="{% url 'devilry_frontpage' %}">{% trans "Home" %}</a></li>#}
<li><a href="{% url 'devilry_subjectadmin' %}">{% trans "Subject administrator" %}</a></li>
{% if is_subjectadmin %}
    <li><a href="{% url 'devilry_subjectadmin' %}#/subject/{{ assignment.subject.id }}/">{{ assignment.subject.short_name }}</a></li>
    <li><a href="{% url 'devilry_subjectadmin' %}#/period/{{ assignment.period.id }}/">{{ assignment.period.short_name }}</a></li>
    <li><a href="{% url 'devilry_subjectadmin' %}#/assignment/{{ assignment.id }}/">{{ assignment.short_name }}</a></li>
{% elif is_periodadmin %}
    <li><a href="{% url 'devilry_subjectadmin' %}#/period/{{ assignment.period.id }}/">{{ assignment.period.get_path }}</a></li>
    <li><a href="{% url 'devilry_subjectadmin' %}#/assignment/{{ assignment.id }}/">{{ assignment.short_name }}</a></li>
{% else %}
    <li><a href="{% url 'devilry_subjectadmin' %}#/assignment/{{ assignment.id }}/">{{ assignment.get_path }}</a></li>
{% endif %}
