{% load i18n %}

<li>
  <div class="deliverynumber">{{ delivery.number }}:</div>
  <div class="deliveryinfo">
    <a href='{% url devilry-examiner-edit-feedback delivery.id %}'>
      {{ delivery.time_of_delivery|date:"DATETIME_FORMAT" }}
    </a>
    <div class="unimportant">
      {% spaceless %}
        (
        {% if delivery.feedback %}
          {{ delivery.feedback.get_grade_as_short_string }}
        {% else %}
          {% trans "Not corrected" %}
        {% endif %}
        )
        {% if delivery.feedback.published %}
          <span class='delivery_published_msg'>({% trans "Published" %})</span>
        {% endif %}
        {% if delivery.feedback and not delivery.feedback.published %}
          <span class='status_corrected_not_published'>({% trans "Feedback is not published, and not viewable by the student(s)" %})</span>
        {% endif %}
        {% if after_last_deadline_msg %}
          <span class='bad'>({% trans "After last deadline" %})</span>
        {% endif %}
      {% endspaceless %}
    </div>
  </div>
</li>
