{% load i18n %}

<dl class="deliveries_by_deadline">
  {% if deliveries_by_deadline.after_last_deadline %}
  <dt class="deadlineheader">{% trans "After last deadline" %}</dt>
  <dd>
    {% with deliveries_by_deadline.after_last_deadline as deliveries %}
    {% include "devilry/examiner/include/list-deliveries.django.html" %}
    {% endwith %}
  </dd>
  {% endif %}
  
  {% for deadline, deliveries in deliveries_by_deadline.within_a_deadline %}
  
<dt class="deadlineheader">
    {% with deadline.deadline|date:"DATETIME_FORMAT" as deadline %}
    {% blocktrans %}Before {{ deadline }}{% endblocktrans %}
    {% endwith %}
  </dt>
  <dd>
    {% include "devilry/examiner/include/list-deliveries.django.html" %}
  </dd>
  {% endfor %}
  
  Test3

  {% if deliveries_by_deadline.ungrouped_deliveries %}
    {% with deliveries_by_deadline.ungrouped_deliveries as deliveries %}
      {% include "devilry/examiner/include/deliverylisting.django.html" %}
    {% endwith %}
  {% endif %}
  
</dl>
