
$primaryButtonColor: $blueDark;
$primaryButtonColorOver: darken($blueDark, 5%);
$primaryButtonColorPressed: darken($blueDark, 4%);
$primaryButtonColorDisabled: lighten($blueDark, 25%);
@include extjs-button-ui(
    /* UI + Scale */
    'primary-large',

    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,  

    $border-color: $primaryButtonColor,
    $border-color-over: $primaryButtonColor,
    $border-color-focus: $black,
    $border-color-pressed: $primaryButtonColor,
    $border-color-disabled: transparent,

    $padding: $button-large-padding,
    $text-padding: $button-large-text-padding,

    $background-color: $primaryButtonColor,
    $background-color-over: $primaryButtonColorOver,
    $background-color-focus: $primaryButtonColorOver,
    $background-color-pressed: $primaryButtonColorPressed,
    $background-color-disabled: $primaryButtonColorDisabled,

    $background-gradient: 'glossy',
    $background-gradient-over: 'glossy',
    $background-gradient-focus: 'glossy',
    $background-gradient-pressed: 'matte-reverse',
    $background-gradient-disabled: 'matte',

    $color: $white,
    $color-over: $white,
    $color-focus: $white,
    $color-pressed: $white,
    $color-disabled: $white,

    $font-size: $button-large-font-size,
    $font-size-over: $button-large-font-size-over,
    $font-size-focus: $button-large-font-size-focus,
    $font-size-pressed: $button-large-font-size-pressed,
    $font-size-disabled: $button-large-font-size-disabled,

    $font-weight: $button-large-font-weight,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $font-weight-disabled: $button-large-font-weight-disabled,

    $font-family: $button-large-font-family,
    $font-family-over: $button-large-font-family-over,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-family-disabled: $button-large-font-family-disabled,

    $icon-size: $button-large-icon-size
);


// Focus state for keyboard and accessibility
.x-btn-focus {
    outline: 1px dotted #666;
}
