//.icon-info-16 { }
.icon-delete-16 { background-image: url(../icons/16x16/delete.png) !important; }
.icon-edit-16 { background-image: url(../icons/16x16/edit.png) !important; }
.icon-save-16 { background-image: url(../icons/16x16/save.png) !important; }
.icon-save-16 { background-image: url(../icons/16x16/save.png) !important; }
.icon-add-16 { background-image: url(../icons/16x16/add.png) !important; }
.icon-help-16 { background-image: url(../icons/16x16/help.png) !important; }
.icon-email-16 { background-image: url(../icons/16x16/email.png) !important; }
.icon-print-16 { background-image: url(../icons/16x16/print.png) !important; }

.icon-help-24 { background-image: url(../icons/24x24/help.png) !important; }
.icon-previous-24 { background-image: url(../icons/24x24/previous.png) !important; }
.icon-next-24 { background-image: url(../icons/24x24/next.png) !important; }
.icon-delete-24 { background-image: url(../icons/24x24/delete.png) !important; }
.icon-edit-24 { background-image: url(../icons/24x24/edit.png) !important; }
.icon-save-24 { background-image: url(../icons/24x24/save.png) !important; }
.icon-save-24 { background-image: url(../icons/24x24/save.png) !important; }
.icon-add-24 { background-image: url(../icons/24x24/add.png) !important; }
.icon-up-24 { background-image: url(../icons/24x24/up.png) !important; }
.icon-down-24 { background-image: url(../icons/24x24/down.png) !important; }
.icon-email-24 { background-image: url(../icons/24x24/email.png) !important; }
.icon-print-24 { background-image: url(../icons/24x24/print.png) !important; }

.icon-help-32 { background-image: url(../icons/32x32/help.png) !important; }
.icon-previous-32 { background-image: url(../icons/32x32/previous.png) !important; }
.icon-next-32 { background-image: url(../icons/32x32/next.png) !important; }
.icon-delete-32 { background-image: url(../icons/32x32/delete.png) !important; }
.icon-edit-32 { background-image: url(../icons/32x32/edit.png) !important; }
.icon-save-32 { background-image: url(../icons/32x32/save.png) !important; }
.icon-save-32 { background-image: url(../icons/32x32/save.png) !important; }
.icon-add-32 { background-image: url(../icons/32x32/add.png) !important; }
.icon-up-32 { background-image: url(../icons/32x32/up.png) !important; }
.icon-down-32 { background-image: url(../icons/32x32/down.png) !important; }
.icon-email-32 { background-image: url(../icons/32x32/email.png) !important; }
.icon-print-32 { background-image: url(../icons/32x32/print.png) !important; }
