<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
<html>
    <head>
        {% block title %}
            <title>Subjectadmin - create periodadmin demo</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static "devilry_theme/resources/stylesheets/bootstrap_full.css" %}" />
        {% endblock %}
    </head>
<body>
    <div class="container">
        <div class="hero-unit" style="margin-top: 20px;">
            <h1>Devilry demo</h1>
            {% if success %}
                <p>
                    Test course named <em>Test course {{ unique_number }}</em> created successfully.
                    Your username and password is:
                </p>
                <pre>Username: testuser{{ unique_number }}
Password: testuser{{ unique_number }}</pre>

                <form action="{% url 'login' %}" method="post" target="_blank">{% csrf_token %}
                    <input type="hidden" name="username" value="testuser{{ unique_number }}"/>
                    <input type="hidden" name="password" value="testuser{{ unique_number }}"/>
                    <p>
                        <button class="btn btn-primary btn-large" type='submit'>
                            <i class="icon-chevron-right icon-white"></i>
                            Click here
                        </button>
                        to log into your Devilry demo.
                    </p>
                </form>



            {% else %}
                <p>Click the button below to create a test course with an active semester.</p>
                <p>
                    <form action="{% url 'devilry-sandbox-createsubject-create' %}" method="post">{% csrf_token %}
                        <button class="btn btn-primary btn-large" type='submit'>
                            <i class="icon-plus icon-white"></i>
                            Create test course
                        </button>
                    </form>
                </p>
            {% endif %}
        </div>

        {% if success %}
            <div class="alert alert-warning">
                <h3>You can bookmark this page</h3>
                <p>Save your username and password if you want to be able to log out
                and in again.</p>
                <p>An easy way of saving your login credentials, is to bookmark this page.</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
