{% extends "devilry/quickdash/viewbase_wfooter.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block heading %}{% trans "Administrator" %}{% endblock %}

{% block body %}
We are not sure what to put on the administrator dashboard yet, but for now a
tip is all you get:
<blockquote>
<em>If you plan to correct assignments, make yourself examiner on those assignments
to get access to all the examiner-specific features, like links on the
dashboard and next/previous navigation between "not corrected" assignments.</em>
</blockquote>
{% endblock %}
