{% load i18n %}
{% load actionregistry %}


{% for subject in subjects %}
  {% for period in subject %}
    <h3>{{ subject }} - {{ period }}</h3>
    <ul class="horizontal-list">
      {% for a in periodactions|iter_actionregistry:period.node %}
        <li>
          <a href="{{ a.url }}"
              {% if a.tooltip %}
                class="tooltip-hover" title="{{ a.tooltip }}"{% endif %}>
            {{ a.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul>
	  {% for assignment in period %}
      {% for assignment_group in assignment %}
      <li>
		<a href='{% url devilry-student-show-assignmentgroup assignment_group.node.id %}'>
		  {{ assignment_group.get_name }}
        </a>
      </li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
