{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% comment %}
Show information about a delivery. Does not show any info overlapping with
groupinfo.django.html. Creates a table without <table></table>. This
is to make it easy to add more to the table.
{% endcomment %}

<tr>
  <th>{% trans "Time of delivery" %}</th>
  <td>{{ delivery.time_of_delivery|date:"DATETIME_FORMAT"}}</td>
</tr>
<tr>
  <th>{% trans "Delivered by" %}</th>
  <td>
  {% if not delivery.assignment_group.parentnode.anonymous %}
  {{ delivery.delivered_by.username }}
  {% endif %}
  </td>
</tr>
<tr>
  <th>{% trans "Files" %}</th>
  <td>
    <ul class='files-list'>
    {% for filemeta in delivery.filemetas.all %}
      <li>
        <a href='{% url devilry-ui-download_file filemeta.id %}'>{{ filemeta.filename }}</a>  
        <span class='unimportant'>({{ filemeta.size }} bytes)</span>
      </li>
    {% endfor %}
    </ul>
  </td>
</tr>

{% if delivery.feedback %}
  <tr>
    <th>{% trans "Grade" %}</th>
    <td> {{ delivery.feedback.get_grade_as_short_string }} </td>
  </tr>
  
  {% if not delivery.assignment_group.parentnode.anonymous %}
    <tr>
      <th>{% trans "Corrected by" %}</th>
	  <td><a href="mailto:{{ delivery.feedback.last_modified_by.email }}">{{ delivery.feedback.last_modified_by.username}}</a></td>
    </tr>
  {% endif %}
  <tr>
    <th>{% trans "Feedback last modified" %}</th>
    <td> {{ delivery.feedback.last_modified|date:"DATETIME_FORMAT"}} </td>
  </tr>
{% endif %}
