{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load rst_to_html %}

{% comment %}
Show information about a delivery and a group as a student sees it.
{% endcomment %}


<table class='vertical_infotable'>
  {% include "devilry/student/include/deliveryinfo.django.html" %}
</table>


{% if delivery.feedback.published %}
  {% if delivery.feedback.grade.supports_long_string %}
    <fieldset>
      <h2 class='legend'>{% trans "Grade details" %}</h2>
      <div class='rst-preview'>
        {{ delivery.feedback.get_grade_as_long_string|rst_to_html }}
      </div>
    </fieldset>
  {% endif %}
  {% if delivery.feedback.text.strip %}
    <fieldset>
      <h2 class='legend'>{% trans "Feedback" %}</h2>
      {% include "devilry/ui/include/show_feedback.django.html" %}
    </fieldset>
  {% else %}
    <p>
      {% trans "The examiner has not provided any feedback text." %}
    </p>
  {% endif %}
{% else %}
  <p>{% trans "This delivery has not been corrected yet." %}</p>
{% endif %}
