{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% comment %}
Show information about a group. Creates a table without <table></table>. This
is to make it easy to add more to the table.
{% endcomment %}

<tr>
  <th>{% trans "Subject" %}:</th>
  <td>{{ assignment_group.parentnode.parentnode.parentnode.long_name }}</td>
</tr>
<tr>
  <th>{% trans "Period" %}:</th>
  <td>{{ assignment_group.parentnode.parentnode.long_name }}</td>
</tr>
<tr>
  <th>{% trans "Assignment" %}:</th>
  <td>{{ assignment_group.parentnode.long_name }}</td>
</tr>
<tr>
  <th>{% trans "Group members" %}:</th>
  <td>{{ assignment_group.get_candidates }}</td>
</tr>
<tr>
  <th>{% trans "Active deadline" %}:</th>
  <td>
    {{ assignment_group.get_active_deadline.deadline|date:"DATETIME_FORMAT" }}
    {% if assignment_group.get_active_deadline.is_old %}
      <div class='old-deadline'>({% trans "Deadline expired" %})</div>
    {% endif %}
  </td>
</tr>
