{% extends "devilry/admin/gradeplugin_base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}


{% block main %}

{% if assignment.filenames %}
  <script type="text/javascript">
    $(function() {
      $("#create_schema_from_filenames").click(function() {
        var filenames = [
          {% for f in assignment.get_filenames %}
            "{{ f|escapejs }}" {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var schema = "";
        $.each(filenames, function(i, filename) {
          schema += "\nIs " + filename + " approved?\n\n.. field:: no/yes\n    :default: yes\n";
        });
        $("#id_schemadef").val(schema);
      });
    });
  </script>

  <a href="#" class="button" id="create_schema_from_filenames">
    Create schema from filenames</a>
{% endif %}

<p>{% trans "You will find documentation below the form." %}</p>

<form method='post' action='{% url devilry-grade_rstschema-edit_schema schema.assignment.id %}'>
  <fieldset class='stdfieldset'>
    {% include "devilry/ui/include/form-list.django.html" %}
  </fieldset>
  <div class='button-row'>
    <input type='submit' class='button' name='save' value='{% trans "Save" %}'/>
  </div>
</form>

<h2>Documentation</h2>

<div class='help-box'>
{% with "http://docutils.sourceforge.net/docs/user/rst/quickref.html" as docurl %}
  <p>{% blocktrans %}
    <em>Schemadef</em> is formatted using <em>ReStructured Text</em>
    (a simple markup language). Use the buttons above the text
    area for the most common markup, and read <a href="{{ docurl }}">the
    documentation</a> if you need more advanced markup. The rightmost
    button above the text-area provides you with a preview.
  {% endblocktrans %}</p>
{% endwith %}

  <p>You have to create fields where examiners fill in their score on various
  parts of the assignment. The total score becomes the grade. Each field
  provides a numeric value. Fields are defined like this (:default: is
  optional):</p>
  <pre class='blockpre'>.. field:: INPUT DEFINITION
    :default: DEFAULT VALUE</pre>
  <p>Currently there are two types of INPUT DEFINITIONS:</p>
  <table class='horizontal_ordered_table'>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th>Docs</th>
    </tr>
    <tr>
      <td>Sequence</td>
      <td><em>Label1/Label2/Label3/Label4</em></td>
      <td>Label1 gives 0 points, Label2 give 1 point and so on.</td>
    </tr>
    <tr>
      <td>Number range</td>
      <td><em>start-end</em></td>
      <td>The field permits any whole number within the range <em>start-end</em>, including both ends.</td>
    </tr>
  </table>

  <p>A complete example of a schema with max score of 10:</p>
  <pre class='blockpre'>
Have the student delivered all required files?

.. field:: no/yes
    :default: no

How do you rate the quality of the assignment?

.. field:: 0-9
  </pre>  
</div>

{% endblock %}
