{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}


{% block content %}

{% for period, plugins in periods %}
  <h1>{{ period }}</h1>
  {% for plugin, groups in plugins  %}
    <h2>{{ plugin }}</h2>
    <table class="horizontal_ordered_table">
      <thead>
        <tr>
          <th>{% trans "Assignment" %}</th>
          <th>{% trans "Grade" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for group, grade in groups %}
          <tr>
            <td>{{ group.parentnode.long_name }}</td>
            <td>{{ grade }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}

{% endblock %}
