@import "variables";
@import "compass/typography/text/ellipsis";
@import "compass/css3/user-interface";


.devilryheader {
    font-size: $baseFontSize;
    background-color: $almostblack;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;

    .flatbutton {
        .textwrapper {
            color: #000;
            padding: 7px 10px 0 10px;
            @include user-select(none);
            @include ellipsis;
        }

        &.flatbutton_loading {
            background-color: $almostblack;
            .textwrapper {
                color: #999;
            }
        }
        &.flatbutton_hover {
            cursor: pointer;
            .textwrapper {
                //color: #fff;
            }
            background-color: $flatbutton_hovercolor !important;
        }
        &.flatbutton_pressed {
            background-color: $flatbutton_pressedcolor;
        }
        &.flatbutton_toggleable {
            background-image: url('../images/menuarrow_black_down.png');
            background-repeat: no-repeat;
            background-position: 92% 10px;
            .textwrapper {
                padding-right: 20px;
            }
            &.flatbutton_pressed {
                background-image: url('../images/menuarrow_black_up.png');
            }
        }
        &.flatbutton_not_pressed {
            &.no_role {
                background-color: $norolecolor_bg;
            }
            &.student {
                background-color: $studentcolor_bg;
            }
            &.examiner {
                background-color: $examinercolor_bg;
            }
            &.subjectadmin {
                background-color: $subjectadmin_bg;
            }
            &.nodeadmin {
                background-color: $administratorcolor_bg;
            }
            &.superuser {
                background-color: $superusercolor_bg;
            }
        }
    }

    .currentrolebutton {
        background-image: url('../images/reversearrow_down.png');
        background-repeat:no-repeat;
        background-position: right top;
        .textwrapper {
            padding-right: 28px;
        }
        &.flatbutton_pressed {
            background-image: url('../images/reversearrow_up.png') !important;
        }
    }

    .devilrylogo {
        padding: 6px 10px 0 35px;
        background-color: $hovermenu_bgcolor;
        background-image: url('../images/devilrylogo_small.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        a.logotext {
            font-weight: normal;
            font-size: 15px;
            color: $logocolor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}