$headerHeight: 30px;
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseFontSize: 13px;
$baseLineHeight: 18px;
$hovermenu_bgcolor: #000;
$almostblack: #191919 !default;

$norolecolor_bg: #555;
$studentcolor_bg: #77B300;
$examinercolor_bg: #0077B3;
$subjectadmin_bg: #FFCC00;
$administratorcolor_bg: #ff9900;
$superusercolor_bg: #CC3300;
$logocolor: #A00;
$flatbutton_pressedcolor: #444;
$flatbutton_hovercolor: #666;
