.x-boundlist {
    ul {
        li.x-boundlist-item {
            border: 1px solid #fff;
            background-color: #fff;
            color: $almostblack;
        }
        li.x-boundlist-item-over {
            border: 1px solid #ccc;
            background-color: #eee;
            color: $almostblack;
        }
        li.x-boundlist-selected {
            color: #fff;
            border: 1px solid darken($blueDark, 10%);;
            background-color: $blueDark;
        }
    }
}
