.devilry_clickable_icon {
    cursor: pointer;
}

.devilry_subtlebg {
    background-image: url('../bgimages/groovepaper.png');
}

// Can be used as bodyCls for Ext.panel.Panel, or as cls for other components
.devilry_focuscontainer {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    @include single-box-shadow(#888, -1px, -1px, 1px, 0px, 0);
}

//
//.bootstrap {
//    ul.devilry_focusfirst_list {
//        margin: 0;
//        padding: 0;
//        max-width: 500px;
//        position: relative;
//        top: 0;
//        left: 0;
//        padding-left: 120px;
//        min-height: 90px;
//        overflow: hidden;
//        li {
//            list-style: none;
//            display: inline-block;
//            margin: 5px 0 5px 20px;
//            padding: 0;
//            &:first-child {
//                display: block;
//                width: 110px;
//                height: 100%;
//                position: absolute;
//                left: 0;
//                top: 0;
//                margin: 0;
//                padding: 0;
//                a, p {
//                    font-size: 26px;
//                    line-height: 30px;
//                    font-weight: normal;
//                }
//            }
//        }
//    }
//}