/* line 1, ../sass/devilry_nodeadmin.scss */
.primary {
  line-height: 20px;
}

/* line 5, ../sass/devilry_nodeadmin.scss */
.secondary {
  line-height: 20px;
}

/* line 9, ../sass/devilry_nodeadmin.scss */
.node-parent-link {
  margin-top: 25px;
  float: right;
}
/* line 13, ../sass/devilry_nodeadmin.scss */
.node-parent-link i {
  margin-right: 5px;
}

/* line 19, ../sass/devilry_nodeadmin.scss */
.footer {
  margin-top: 25px;
}
