/* line 8, ../sass/devilry_nodeadmin.scss */
ul.devilry_nodeadmin_massive_navlist li a {
  border: 1px solid #cccccc;
  padding: 14px;
  margin: 5px 0 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
/* line 18, ../sass/devilry_nodeadmin.scss */
ul.devilry_nodeadmin_massive_navlist li a:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}

/* line 26, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodebrowsersidebar {
  border: 1px dotted #cccccc;
  border-right: 1px solid #cccccc;
  margin-top: 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}

/* line 34, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_defaultnodelist .to-frontpage {
  font-size: 14px;
  float: right;
  margin-left: 10px;
  font-weight: normal;
}
/* line 41, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_defaultnodelist i {
  margin-right: 5px;
}

/* line 46, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

/* line 50, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator {
  min-height: 20px;
  margin-top: 5px;
  padding: 6px 10px;
}
/* line 54, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator a.homelink {
  float: right;
}
/* line 58, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator i {
  margin-right: 5px;
}
/* line 62, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator span {
  margin-right: 50px;
}

/* line 68, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview h1 {
  margin-top: 0;
}
/* line 73, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview ul.devilry_nodeadmin_toolslist strong {
  font-size: 16px;
}

/* line 79, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist {
  margin-top: 15px;
}
/* line 81, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist li {
  margin: 5px 0 5px 0;
}
/* line 83, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist li a {
  font-size: 20px;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 10px;
}
/* line 91, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist li a:hover {
  text-decoration: none;
  background-color: #fff;
}
/* line 97, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist .no_nodes_on_level {
  padding: 6px 10px;
}
