@import "variables";


.devilryheader_hovermenu {
    font-size: $baseFontSize;
    //background-color: $almostblack;
    background-color: $hovermenu_bgcolor;
    //border-top: 2px solid #444 !important;
    color: #fff;
    font-family: $baseFontFamily;

    h2 {
        font-size: 20px;
        margin: 0 0 7px 0;

    }

    .discreet {
        font-size: 11px;
        color: #aaa;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: underline;
        color: #3366FF;
    }

    p {
        margin: 0 0 $baseLineHeight/2;
        line-height: $baseLineHeight;
    }

    .devilryheader_footer {
        text-align: center;
        color: #aaa;
        a {
            color: #ccc;
            text-decoration: underline;
        }
    }


    .devilryheader_userinfobox {
        table.userinfotable {
            th, td {
                line-height: $baseLineHeight;
                font-size: $baseFontSize;
            }
            th {
                color: #999;
                font-weight: bold;
                padding: 4px 10px 4px 0;
            }
            td {
                color: #fff;
            }
        }
        div.logout_para {
            margin-top: 10px !important;
            a.logout_button {
                text-decoration: none;
            }
        }
    }

    .devilryheader_helplinksbox {
        ul.helplinks {
            li {
                margin: 0 0 10px 0;
                .title {
                    a {
                        font-weight: bold;
                    }
                }
                .description {
                    font-size: 11px;
                    color: #aaa;
                }
            }
        }
    }
}