@import "variables";

.devilryheader_searchmenu {
    font-size: $baseFontSize;
    //background-color: $almostblack;
    background-color: $hovermenu_bgcolor;
    //border-top: 2px solid #444 !important;
    color: #fff;
    font-family: $baseFontFamily;

    .searchmenu_searchfield input {
        height: auto;
        font-size: 20px;
    }

    .devilry_header_searchresults {
        h3 {
            font-size: 18px;
            line-height: 20px;
            margin: 15px 0 0 0;
            padding: 0;
        }
        ul.search-results {
            margin-top: 10px;
            li.single-result-wrapper {
                margin-bottom: 5px;
                a.result-target-link {
                    font-weight: bold;
                    font-size: 16px;
                }
                span.typename {
                    display: inline-block;
                    margin-left: 6px;
                }
                .meta {
                    font-size: 12px;
                    color: #999;
                    line-height: 16px;
                }
            }
        }
    }
}


.devilryheader .flatbutton.flatbutton_toggleable {
    background-position: 75% 10px;
    &.flatbutton_not_pressed {
        &.devilry_header_search_button {
            background-color: lighten($almostblack, 7%);
        }
    }
}