{% extends "devilry/gradestats/user-base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
inline

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url devilry-admin-list_periods %}">Periods</a></li>
  <li class="current"><a href="#">
    Statistics for {{ period }}
  </a></li>
{% endblock %}

{% block heading %}{{ period.parentnode.short_name }} - {{ period.long_name }}{% endblock %}

{% block content %}

<style type="text/css">
  .status-0 {
    background-color: red;
  }
  .status-1 {
    color: red;
  }
</style>

<p>
The table shows the result for all students on all assignments in this period.
Each cell contains the result of a single assignment (except for the first two
columns). The result is color-coded by their status with the following colors:
<span class="status_no_deliveries">No deliveries</span>,
<span class="status_not_corrected">Not corrected</span>,
<span class="status_corrected_not_published">Corrected not published</span>,
<span class="status_corrected_and_published">Corrected and published</span>.
</p>

<p>The table is also available as
<a href="{% url devilry-gradestats-periodstats_csv period.id %}">CSV</a>
(for import to excel/libreoffice/openoffice).</p>

<p class="unimportant">The statistics <strong>do not</strong> work if the same
student is in more than one group on a single assignment.</p>


{{ filtertbl }}

{% endblock %}
