{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

<tr>
  <th>{% trans "Time of delivery" %}</th>
  <td>{{ delivery.time_of_delivery|date:"DATETIME_FORMAT"}}</td>
</tr>
<tr>
  <th>{% trans "Active deadline" %}</th>
  <td>{{ delivery.assignment_group.get_active_deadline.deadline|date:"DATETIME_FORMAT"}}</td>
</tr>
<tr>
  <th>{% trans "Delivered by" %}</th>
  <td>
	{% if not delivery.assignment_group.parentnode.anonymous %}
	{{ delivery.delivered_by.username }}
	{% endif %}
  </td>
</tr>

{% if delivery.assignment_group.students.count > 1 %}
  <tr>
    <th>{% trans "Group members" %}</th>
    <td>{{ devlivery.assignment_group.students.all|join:", " }} </td>
  </tr>
{% endif %}

<tr>
  <th>{% trans "Files" %}</th>
  <td>
    <ul class='files-list'>
    {% for filemeta in delivery.filemetas.all %}
      <li>
        <a href='{% url devilry-ui-download_file filemeta.id %}'>{{ filemeta.filename }}</a>  
        <span class='unimportant'>({{ filemeta.size }} bytes)</span>
      </li>
    {% endfor %}
    </ul>
  </td>
</tr>

{% if delivery.feedback.published %}
  <tr>
    <th>{% trans "Grade" %}</th>
    <td> {{ delivery.feedback.get_grade_as_short_string }} </td>
  </tr>
  <tr>
    <th>{% trans "Feedback last modified" %}</th>
    <td> {{ delivery.feedback.last_modified|date:"DATETIME_FORMAT"}} </td>
  </tr>
{% endif %}
