{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{{ formset.management_form }}
{% for form in formset.forms %}
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
{% endfor %}
<table class='tabular-inline'>
{% for form in formset.forms %}
	{% if forloop.first %}
		<thead>
			<tr>
				{% for field in form.visible_fields %}
						<th{% if field.field.required %} class='required-field'{% endif %}>{{ field.label }}</th>
				{% endfor %}
			</tr>
		</thead>
	<tbody>
	{% endif %}
		<tr class='{% if forloop.counter|divisibleby:"2" %}oddrow{% else %}evenrow{% endif %}'>
		{% for field in form.visible_fields %}
			<td class="tabular-inline-field{% if field.errors %} tabular-inline-errors{% endif %}{% if field.field.required %} required-field{% endif %} {{ field.name }}">
				{{ field.errors }}
				{% if field.is_readonly %}
					<div class='readonly-field'>{{ field.contents }}</div>
				{% else %}
					{{ field }}
				{% endif %}
				{% if field.help_text %}
					<p class="form-help">{{ field.help_text|safe }}</p>
				{% endif %}
			</td>
		{% endfor %}
		</tr>
  {% if forloop.last %}
  </tbody>
  {% endif %}
{% endfor %}
</table>

{{ formset.media }}
