{% extends "django_cradmin/standalone-base.django.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "About" %}
{% endblock title %}

{% block body %}
<div class="page-header page-header-with-subheader">
    <div class="container-fluid">
        <h1>{% trans "About" %}</h1>
        <p class="subheader">
            {% trans "Below you can see information about your profile that is stored in Devilry. Report if the" %}
            <a href="{{ wrong_info_url }}">{% trans " information is wrong" %}</a>.
        </p>
    </div>
</div>

<div class="container-fluid django-cradmin-container-fluid-focus">
    <table class="table">
        <tr>
            <td> {% trans "Name" %} </td>
            <td> {{ user.devilryuserprofile.full_name }} </td>
        </tr>
        <tr>
            <td> {% trans "Email Address" %} </td>
            <td> {{ user.email }} </td>
        </tr>
        <tr>
            <td> {% trans "Username" %} </td>
            <td> {{ user.username }} </td>
        </tr>
        <tr>
            <td> {% trans "Last login" %} </td>
            <td> {{ user.last_login }} </td>
        </tr>
    </table>


    <h2>{% trans "Language?" %}</h2>
    <div id="devilry_frontpage_languageselect">
        {% include "devilry_header/includes/change_language.django.html" %}
    </div>
</div>
{% endblock body %}
