{% extends "cradmin_legacy/layouts/standalone/focused.django.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "About" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>{% trans "About" %}</h1>
    <p class="text-muted">
        {% trans "Below you can see information about your profile that is stored in Devilry. Report if the" %}
        <a href="{{ wrong_info_url }}">{% trans " information is wrong" %}</a>.
    </p>
{% endblock pageheader-inner %}

{% block content %}
    <table class="table">
        <tr>
            <th style="width: 150px;">{% trans "Name" %}:</th>
            <td> {{ user.fullname }} </td>
        </tr>
        <tr>
            <th>{% trans "Email Address" %}:</th>
            <td> {{ user.email }} </td>
        </tr>
        {% if not CRADMIN_LEGACY_USE_EMAIL_AUTH_BACKEND %}
            <tr>
                <th>{% trans "Username" %}:</th>
                <td> {{ user.username }} </td>
            </tr>
        {% endif %}
        {% if CRADMIN_LEGACY_FORGOTPASSWORD_URL %}
            <tr>
                <th>{% trans "Password" %}:</th>
                <td>
                    <a href="{{ CRADMIN_LEGACY_FORGOTPASSWORD_URL }}">{% trans "Reset password" %}</a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>{% trans "Language" %}:</th>
            <td>
                {% include "devilry_header/includes/change_language.django.html" %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Last login" %}:</th>
            <td> {{ user.last_login|date:"SHORT_DATETIME_FORMAT" }} </td>
        </tr>
    </table>
{% endblock content %}

{% block body %}
    {% if DEVILRY_PROFILEPAGE_HEADER_INCLUDE_TEMPLATE %}
        {% include DEVILRY_PROFILEPAGE_HEADER_INCLUDE_TEMPLATE %}
    {% endif %}
    {{ block.super }}
    {% if DEVILRY_PROFILEPAGE_FOOTER_INCLUDE_TEMPLATE %}
        {% include DEVILRY_PROFILEPAGE_FOOTER_INCLUDE_TEMPLATE %}
    {% endif %}
{% endblock body %}
