{% comment %}

Include template for the Devilry header. It has no external dependencies, and
no css classes that does not start with ``devilry_header2``. The number ``2``
referst to the fact that this is the seconds version of the header. The old
header was implemented as an ExtJS app, and we use the extra suffix to make
sure we do not collide with any lingering CSS.

Template context variables
==========================

devilry_header2_role
    Optional. Can be one of:
    - ``examiner``
    - ``subjectadmin``
    - ``student``
    - ``nodeadmin``

devilry_header2_nonresponsive
    Optional - defaults to ``False``.
    If this evaluates to boolean ``True``, we the header is not responsive.
    This is ONLY for compatibility the old ExtJS UIs.

Usage
=====
Include as a regular Django template:

    {% include "devilry_header/header2include.django.html" with devilry_header2_role="examiner" %}



How do we make it not crash with anything?
==========================================
Simple: EVERYTHING is prefixed with ``devilry_header2``. This includes:

- All CSS classes.
- Even CSS classes from font-awesome - we set ``@fa-css-prefix: devilry_header2_fa;``
- The template context variables.

{% endcomment %}

{% load i18n %}
{% load static %}
{% load url from future %}

<link href='{% static "devilry_header/css/styles.css" %}' rel="stylesheet">

<div id="devilry_header2" class="{% if devilry_header2_extjs %}devilry_header2_extjs{% else %}devilry_header2_responsive{% endif %} {% if devilry_header2_role %}devilry_header2_role_{{ devilry_header2_role }}{% endif %}">
    <div class="devilry_header2_brand">
        {% spaceless %}
            <a class="devilry_header2_brand_devilry" href="{% url 'devilry_frontpage' %}">
                Devilry
            </a>

            {% comment %}                
                The CSS makes all of these be invisible by default, and only
                shows one depending on the devilry_header2_role_* class set on
                the top container.
            {% endcomment %}
{#            <a class="devilry_header2_brand_role devilry_header2_brand_role_student" href="{% url 'devilry_student' %}">#}
{#                {% trans "Student" %}#}
{#            </a>#}
{#            <a class="devilry_header2_brand_role devilry_header2_brand_role_examiner" href="{% url 'devilry_examiner_dashboard' %}">#}
{#                {% trans "Examiner" %}#}
{#            </a>#}
{#            <a class="devilry_header2_brand_role devilry_header2_brand_role_subjectadmin" href="{% url 'devilry_subjectadmin' %}">#}
{#                {% trans "Subject administrator" %}#}
{#            </a>#}
{#            <a class="devilry_header2_brand_role devilry_header2_brand_role_nodeadmin" href="{% url 'devilry_nodeadmin' %}">#}
{#                {% trans "Node administrator" %}#}
{#            </a>#}
            <a class="devilry_header2_brand_role devilry_header2_brand_role_student" href="{% url 'devilry_frontpage' %}">
                {% trans "Student" %}
            </a>
            <a class="devilry_header2_brand_role devilry_header2_brand_role_examiner" href="{% url 'devilry_frontpage' %}">
                {% trans "Examiner" %}
            </a>
            <a class="devilry_header2_brand_role devilry_header2_brand_role_subjectadmin" href="{% url 'devilry_frontpage' %}">
                {% trans "Course manager" %}
            </a>
            <a class="devilry_header2_brand_role devilry_header2_brand_role_nodeadmin" href="{% url 'devilry_frontpage' %}">
                {% trans "Administrator" %}
            </a>
        {% endspaceless %}
    </div>

    {% if devilry_header2_extjs %}
        <div id="devilry_header2_extjsbreadcrumb"></div>
    {% endif %}

    <div class="devilry_header2_buttonbar">
        {% spaceless %}
        <a class="devilry_header2_btn devilry_header2_help" title='{% trans "Help" %}'
                href="{% url 'devilry-help' %}">
            <i class="devilry_header2_fa devilry_header2_fa-question-circle"></i>
        </a>
        <a class="devilry_header2_btn devilry_header2_userprofile" title='{% trans "User profile" %}'
                href="{% url 'devilry_header_aboutme' %}">
            <i class="devilry_header2_fa devilry_header2_fa-user"></i>
        </a>
        <a class="devilry_header2_btn devilry_header2_signout" title='{% trans "Sign out" %}'
                href="{{ DEVILRY_LOGOUT_URL }}">
            <i class="devilry_header2_fa devilry_header2_fa-sign-out"></i>
        </a>
        {% endspaceless %}
    </div>

    {% if DEVILRY_ENABLE_CELERY %}
        <form class="devilry_header2_searchform" method="GET" action="/devilry_search">
            <button type="submit" class="devilry_header2_btn devilry_header2_search" title='{% trans "Search" %}'>
                <i class="devilry_header2_fa devilry_header2_fa-search"></i>
            </button>
            <input type="text" name="search" placeholder='{% trans "Search..." %}'>
        </form>
    {% endif %}
</div>
