{% extends "devilry/examiner/selected-assignmentgroups-base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
	{% trans "Show email addresses" %}
{% endblock %}
{% block heading %}
	{% trans "Show email addresses" %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="current">
    <a href="#">
	  {% trans "Show email addresses" %}
	</a>
  </li>
{% endblock %}

{% block content %}
<a href="mailto:{{emails}}">{{ emails }}</a> 
{% endblock %}
