{% extends "devilry/examiner/group-base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}
{% load markup %}

{% block title %}{{ assignment_group.parentnode.short_name }}{% endblock %}
{% block heading %}{{ assignment_group.parentnode }}{% endblock %}

{% block show_assignmentgroup_breadcrumb %}
  <li class='current'><a href='#'>
    {{ assignment_group.get_candidates }}
  </a></li>
{% endblock %}


{% block content %}

<style type="text/css">
  ul.deliverylist {
    list-style:none;
    padding: 0;
    margin: 0;
  }
  ul.deliverylist li {
    clear:both;
    margin: 0;
    padding: 5px 10px;
  }
  .deliveryinfo {
    margin-left: 35px;
  }
  .deliverynumber {
    float: left;
    color: #666;
    font-size: 1.8em;
  }

</style>

<script type="text/javascript">
  
  $(function() {
    $(".accordion").accordion({
      autoHeight: false,
      navigation: true,
      collapsible: true,
      active: false,
      header: 'h4'
    });

    $(".delete-deadline-button")
      .button({
          icons:{primary:"ui-icon-trash"}
        })
      .addClass("ui-priority-secondary")
      .addClass("delete")
      .mousedown(function() {
        var href = $(this).attr ('href');
        $(this).attr ('href', '#');
        var confirm_delete_dialog = $('<div>{% trans "Are you sure you want to delete the deadline? Note that this DOES NOT delete any deliveries or feedbacks within the deadline." %}</div>')
            .dialog({
                autoOpen: true,
                title: "{% trans "Confirm delete deadline" %}",
                modal: true,
                buttons: {
                  "{% trans "Delete" %}": function () {
                      document.location = href;
                      return false;
                    },
                  "{% trans "Cancel" %}": function() {
                      $(this).dialog('close');
                    }
                }
            });
    });
  });
</script>


<table class='vertical_infotable' style='float: right; margin: 0 0 20px 20px;'>
  <tr>
    <th>{% trans "Group members" %}:</th>
    <td>{{ assignment_group.candidates.all|join:", " }} </td>
  </tr>
  <tr>
    <th>{% trans "Status" %}:</th>
    <td>{{ assignment_group.get_localized_status }}</td>
  </tr>
  <tr>
    <th>{% trans "Published feedbacks" %}:</th>
    <td>{{ assignment_group.get_deliveries_with_published_feedback.count }}</td>
  </tr>
  {% if assignment_group.get_grade_as_short_string %}
    <tr>
      <th>{% trans "Grade" %}:</th>
      <td>{{ assignment_group.get_grade_as_short_string }}</td>
    </tr> 
  {% endif %}

  <tr>
    <th>{% trans "Open for deliveries" %}:</th>
    <td>{% if assignment_group.is_open %} Yes {% else %} No {% endif %}</td>
  </tr> 
</table>

<div class='help-box'>
<p>{% blocktrans %}In this section you find all deliveries by the selected
<em>assignment group</em>. You can see group members and information about the
group in the table to the right.{% endblocktrans %}</p>

<p>{% blocktrans %}In the <em>deliveries section</em> you will find all deliveries by the
group. Each delivery has a number starting with <em>1</em> and counting up for
each new delivery, making the highest number the latest delivery. Each delivery
also have a time of delivery (YYYY-MM-DD hh:mm:ss). You may create feedback on
as many deliveries as you like. The grade is determined from the latest
delivery with published feeback.{% endblocktrans %}</p>

{% comment %}

{% if not ungrouped_deliveries %} 
<p>{% blocktrans %}Deliveries are grouped by deadlines. Deadlines use the same
datetime-format as deliveries, and are simply a date with an optional text. You
can safely delete and create deadlines, as they only serve to group deliveries
and to give the student information about when to deliver the assignment.
Creation and deletion of deliveries does not affect existing deliveries at all.
{% endblocktrans %}</p>
{% endif %}
{% endcomment %}
</div>

<!-- Prevent the table from floating beside anything below here. -->
<div style='clear: both;'></div>

{% if assignment_group.is_open %}
  {% if show_deadline_hint %}
    <p class='info-message'>
      {% blocktrans %}You have published a feedback, but have not given the
      student(s) a new deadline. You should create a new deadline or close for
      more deliveries. Closing the group leave the students unable to add
      more deliveries.{% endblocktrans %}
    </p>
  {% endif %}
  <p>
    <a href="{% url devilry-examiner-create_deadline assignment_group.id %}"
      class='button ui-priority-secondary' id='deadline-button'>
      {% trans "Create deadline" %}
    </a>
    <a href="{% url devilry-examiner-close_assignmentgroup assignment_group.id %}"
        class='button ui-priority-secondary' id='openclosebtn'>
      {% trans "Close group" %}
    </a>
  </p>
{% else %}
  <p class='info-box'>{% trans "This group is closed for deliveries. Click 'Open group' to allow students to add new deliveries." %}</p>
  <p>
    <a href="{% url devilry-examiner-open_assignmentgroup assignment_group.id %}"
        id='openclosebtn' class='button'>
      {% trans "Open group" %}
    </a>
  </p>
{% endif %}



{% if assignment_group.get_number_of_deliveries > 0 %}
<h2>{% trans "Deliveries" %}</h2>
{% endif %}

{% if ungrouped_deliveries %} 
<div class='deadline-box'>
  <h3>{% trans "Deliveries" %}</h3>
  <ul class="deliverylist">
    {% for delivery in ungrouped_deliveries %}
    {% include "devilry/examiner/include/deliverylisting.django.html" %}
    {% endfor %}
  </ul>
</div>
{% else %}
{% if after_deadline %}
{% with "yes" as after_last_deadline_msg %}
<div class='deadline-box deadline-box-after'>
  <h3>{% trans "After last deadline" %}</h3>
  <ul class="deliverylist">
    {% for delivery in after_deadline %}
      {% include "devilry/examiner/include/deliverylisting.django.html" %}
    {% endfor %}
  </ul>
</div>
{% endwith %}
{% endif %}

{% for deadline, deliveries in within_a_deadline %}
<div class='deadline-box'>
  <div class='delete-deadline'>
    <a class='delete-deadline-button'
        href='{% url devilry-examiner-delete_deadline assignment_group.id deadline.id %}'>
      {% trans "Delete deadline" %}
    </a>
  </div>
  <h3>
    {% with deadline.deadline|date:"DATETIME_FORMAT" as deadline %}
      {% blocktrans %}Delivered before {{ deadline }}{% endblocktrans %}
    {% endwith %}
  </h3>
  {% if deadline.text %}
  <div class='deadline-text'>
    <div class='deadline-text-prefix'>{% trans "Deadline text" %}:</div>
    <div class='deadline-text-text'>{{ deadline.text }}</div>
  </div>
  {% endif %}
  <div>
    {% if not  deliveries %}
      <p class='unimportant'>
        {% trans "No deliveries on this deadline" %}
      </p>
    {% else %}
      <ul class="deliverylist">
      {% for delivery in deliveries %}
        {% include "devilry/examiner/include/deliverylisting.django.html" %}
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endfor %}

{% endif %}


{% endblock %}
