{% extends "devilry/examiner/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block title %}
{% trans "Successful delivery" %} |
{{ delivery.assignment_group.parentnode.short_name }}
{% endblock %}
{% block heading %}
{% trans "Success!" %}
{% endblock %}

{% block content %}
<p>
{% blocktrans with delivery.assignment_group.parentnode as assignment %}
Successful delivery of {{ assignment }}.
{% endblocktrans %}
</p>

<ul class='actionlist'>
	<li><a href='{% url devilry-examiner-show_delivery delivery.pk %}'>{% trans "Show delivery" %}</a></li>
	<li><a href='{% url devilry-examiner-list_deliveries %}'>{% trans "List all of my deliveries" %}</a></li>
</ul>
{% endblock %}
