
//@devilry-brand-primary-bg: #333;
@devilry-brand-primary-bg: @link-color;
@devilry-brand-primary-color: #fff;
@devilry-brand-success-bg: #5cb85c;
@devilry-brand-success-color: #fff;
@devilry-brand-info-bg: darken(#428bca, 6.5%);
@devilry-brand-info-color: #fff;
@devilry-brand-danger-bg: #d9534f;
@devilry-brand-danger-color: #fff;
@devilry-brand-muted-color: #777;

@devilry-brand-border-width: 3px;



@devilry-brand-color-success: #26AD61;
@devilry-brand-color-success-dark: #217846;
@devilry-brand-color-success-light: #60c18b;
@devilry-brand-color-success-bright: #94d5b1;
@devilry-brand-color-success-whiten: #cae9d7;

@devilry-brand-color-danger: #E84D3D;
@devilry-brand-color-danger-dark: #a0372f;
@devilry-brand-color-danger-light: #ec7a71;
@devilry-brand-color-danger-bright: #f1a69f;
@devilry-brand-color-danger-whiten: #f8d2ce;

@devilry-brand-color-default: #262626;
@devilry-brand-color-default-dark: #000000;
@devilry-brand-color-default-light: #747474;
@devilry-brand-color-default-bright: #a2a2a2;
@devilry-brand-color-default-whiten: #d1d1d1;

@devilry-brand-color-admin: #B568A9;
@devilry-brand-color-admin-dark: #7e4a75;
@devilry-brand-color-admin-light: #c78fbe;
@devilry-brand-color-admin-bright: #d9b4d3;
@devilry-brand-color-admin-whiten: #ebd9e8;

@devilry-brand-color-examiner: #0093D0;
@devilry-brand-color-examiner-dark: #0d6890;
@devilry-brand-color-examiner-light: #46aeda;
@devilry-brand-color-examiner-bright: #82c9e5;
@devilry-brand-color-examiner-whiten: #c0e4f2;

@devilry-brand-color-student: #F7D71E;
@devilry-brand-color-student-dark: #ac9527;
@devilry-brand-color-student-light: #f8df61;
@devilry-brand-color-student-bright: #fae993;
@devilry-brand-color-student-whiten: #fdf4c9;


@devilry-brand-focusbox-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
@devilry-brand-focusbox-margin: 8px;


@devilry-student-bgcolor: @devilry-brand-color-student;
@devilry-examiner-bgcolor: @devilry-brand-color-examiner;
@devilry-anyadmin-bgcolor: @devilry-brand-color-admin;
