
//@devilry-brand-primary-bg: #333;
@devilry-brand-primary-bg: @link-color;
@devilry-brand-primary-color: #fff;
@devilry-brand-success-bg: darken(#5cb85c, 8%);
@devilry-brand-success-color: #fff;
@devilry-brand-info-bg: darken(#428bca, 6.5%);
@devilry-brand-info-color: #fff;
@devilry-brand-danger-bg: darken(#d9534f, 8%);
@devilry-brand-danger-color: #fff;
@devilry-brand-muted-color: #777;

@devilry-brand-border-width: 3px;



@devilry-brand-color-success: #26AD61;
@devilry-brand-color-success-dark: #217846;
@devilry-brand-color-success-light1: #60c18b;
@devilry-brand-color-success-light2: #94d5b1;
@devilry-brand-color-success-light3: #cae9d7;
@devilry-brand-color-success-light4: #f4fbf7;

@devilry-brand-color-danger: #E84D3D;
@devilry-brand-color-danger-dark: #a0372f;
@devilry-brand-color-danger-light1: #ec7a71;
@devilry-brand-color-danger-light2: #f1a69f;
@devilry-brand-color-danger-light3: #f8d2ce;
@devilry-brand-color-danger-light3: #fef6f5;

@devilry-brand-color-default: #262626;
@devilry-brand-color-default-dark: #000000;
@devilry-brand-color-default-light1: #747474;
@devilry-brand-color-default-light2: #a2a2a2;
@devilry-brand-color-default-light3: #d1d1d1;
@devilry-brand-color-default-light4: #f5f5f5;

@devilry-brand-color-admin: #B568A9;
@devilry-brand-color-admin-dark: #7e4a75;
@devilry-brand-color-admin-light1: #c78fbe;
@devilry-brand-color-admin-light2: #d9b4d3;
@devilry-brand-color-admin-light3: #ebd9e8;
@devilry-brand-color-admin-light4: #fbf7fa;

@devilry-brand-color-examiner: #0093D0;
@devilry-brand-color-examiner-dark: #0d6890;
@devilry-brand-color-examiner-light1: #46aeda;
@devilry-brand-color-examiner-light2: #82c9e5;
@devilry-brand-color-examiner-light3: #c0e4f2;
@devilry-brand-color-examiner-light4: #f2f9fc;

@devilry-brand-color-student: #F7D71E;
@devilry-brand-color-student-dark: #ac9527;
@devilry-brand-color-student-light1: #f8df61;
@devilry-brand-color-student-light2: #fae993;
@devilry-brand-color-student-light3: #fdf4c9;
@devilry-brand-color-student-light4: #fefdf3;


@devilry-brand-focusbox-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
@devilry-brand-focusbox-margin: 8px;


@devilry-student-bgcolor: @devilry-brand-color-student;
@devilry-examiner-bgcolor: @devilry-brand-color-examiner;
@devilry-anyadmin-bgcolor: @devilry-brand-color-admin;
