@devilry-student-bgcolor: #5D8C08;
@devilry-examiner-bgcolor: #0673ad;
@devilry-anyadmin-bgcolor: #ff9000;

//@devilry-brand-primary-bg: #333;
@devilry-brand-primary-bg: @link-color;
@devilry-brand-primary-color: #fff;
@devilry-brand-success-bg: #5cb85c;
@devilry-brand-success-color: #fff;
@devilry-brand-info-bg: darken(#428bca, 6.5%);
@devilry-brand-info-color: #fff;
@devilry-brand-danger-bg: #d9534f;
@devilry-brand-danger-color: #fff;
@devilry-brand-muted-color: #777;


@devilry-font-size-h1: ceil(@font-size-base * 1.7);
@devilry-font-size-h2: ceil(@font-size-base * 1.4);
@devilry-font-size-h3: ceil(@font-size-base);

@devilry-brand-border-width: 3px;
