{% extends "devilry_theme/nonapptemplate.django.html" %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Select assignments that students must pass to qualify for final exams" %} - Devilry{% endblock %}

{% block head_preapp %}
    <script type="text/javascript" src="{% url 'devilry_qualifiesforexam_approved_i18n' %}"></script>
{% endblock %}

{% block bodyclass%}devilry_subtlebg{% endblock %}

{% block bootstrap-body %}
    <div style="margin: 40px;">
        <div class="devilry_focuscontainer" style="padding: 20px 20px 0 20px;">
            {% crispy form %}
        </div>
    </div>
{% endblock %}