{% extends "devilry_group/base.django.html" %}
{% load devilry_group_tags %}
{% load devilry_account_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {{ assignment.get_path }}
{% endblock title %}

{% block jsimports %}
    {{ block.super }}
    {% load static %}
    <script src="{% static "devilry_group/src/js/devilry-group.js"%}" type="application/javascript"></script>
{% endblock jsimports %}

{% block pageheader-inner %}
    <div class="row">
        <div class="devilry-group-feedbackfeed-header">
            <div class="col-sm-7 text-left">
                <h1 class="devilry-group-feedbackfeed-header-assignment">
                    {{ assignment.long_name }}
                </h1>
                <div class="devilry-group-feedbackfeed-header-subject-period">
                    <p class="devilry-group-feedbackfeed-header-subject">
                        {{ subject.long_name }}
                    </p>
                    <p class="devilry-group-feedbackfeed-header-period">
                        {{ period.long_name }}
                    </p>
                </div>
                {% block navigation %}
                {% endblock %}

            </div>
            <div class="col-sm-5 text-right">
                {% if last_deadline %}
                    <h2 class="devilry-group-feedbackfeed-current-deadline-heading">
                        {% trans "Current deadline" %}
                    </h2>
                    <p class="
                        {% if current_date >= last_deadline %}
                            devilry-group-feedbackfeed-current-deadline-expired
                        {% else %}
                            devilry-group-feedbackfeed-current-deadline
                        {% endif %}">
                        {% if current_date >= last_deadline %}
                            <span class="devilry-group-feedbackfeed-current-deadline-expired-label">
                                {% trans "Expired" %} -
                            </span>
                        {% endif %}
                        <span class="devilry-group-feedbackfeed-current-deadline-datetime">
                            {{ last_deadline|date:"SHORT_DATETIME_FORMAT" }}
                        </span>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <div class="row">
            {# Sidebar #}
            <div class="col-sm-4 col-sm-push-8">
                {% block sidebar %}
{#                    {% include "devilry_group/include/sidebar.django.html" %}#}
                    {% include "devilry_group/include/sidebar_listbuilder.django.html" %}
                {% endblock sidebar %}
            </div>
            {# Feedbackfeed #}
            <div class="col-sm-8 col-sm-pull-4">
                {% block feed %}
                    {% cradmin_render_renderable listbuilder_list %}
                    {% block pre_form %}{% endblock pre_form %}
                    {% block form %}
                        {% crispy form formhelper %}
                        {{ form.media }}
                    {% endblock form %}
                    {% block post_form %}{% endblock post_form %}
                {% endblock feed %}
              </div>
        </div>
    </div>
{% endblock content %}

{% block initialize_angular %}
    <script>
        angular.module('djangoCradminUi', ['djangoCradmin', 'devilryGroup.sidebar'])
    </script>
{% endblock %}
