{% extends 'devilry_group/feedbackfeed.django.html' %}

{% load cradmin_tags %}
{% load i18n %}

{% block navigation %}
    <nav>
        <ul class="nav nav-pills">
            <li role="presentation" class="{% block feedback_navigation_active_class %}{% endblock %}">
                <a href="{% cradmin_appindex_url %}"
                   class="devilry-group-feedbackfeed-feedback-button">
                    {% trans 'Feedback' context 'devilry_group feedbackfeed examiner' %}
                </a>
            </li>
            <li role="presentation" class="{% block discuss_navigation_active_class %}{% endblock %}">
                <a href="{% cradmin_appurl 'discuss' %}"
                   class="devilry-group-feedbackfeed-discuss-button">
                    {% trans 'Discuss' context 'devilry_group feedbackfeed examiner' %}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
