{% extends "devilry_group/base.django.html" %}
{% load devilry_group_tags %}
{% load devilry_account_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {{ assignment.get_path }}
{% endblock title %}

{% block pageheader %}
    <div class="container">
        <div class="row">
            <div class="devilry-group-feedbackfeed-header">
                <div class="col-sm-7 text-left">
                    <h1 class="devilry-group-feedbackfeed-header-assignment">
                        {{ assignment.long_name }}
                    </h1>
                    <div class="devilry-group-feedbackfeed-header-subject-period">
                        <p class="devilry-group-feedbackfeed-header-subject">
                            {{ subject.long_name }}
                        </p>
                        <p class="devilry-group-feedbackfeed-header-period">
                            {{ period.long_name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pageheader %}

{% block content %}
    {% block downloadbar %}
        <div class="container">
            {% include "devilry_group/include/sidebar.django.html" %}
        </div>
    {% endblock downloadbar %}

    <div class="container">
        {% block feed %}
            {% cradmin_render_renderable listbuilder_list %}
            {% block pre_form %}{% endblock pre_form %}
            {% block navigation %}{% endblock %}
            {% block form %}
                {% crispy form formhelper %}
                {{ form.media }}
            {% endblock form %}
            {% block post_form %}{% endblock post_form %}
        {% endblock feed %}
    </div>
{% endblock content %}

{% block end-of-body %}
    {{ block.super }}
    {% include "devilry_theme3/include/devilry_all_js.django.html" %}
{% endblock end-of-body %}
