{% extends "devilry_gradingsystem/admin/base.django.html" %}
{% load i18n %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans "How would you like to configure the plugin?" %}</h1>
        </div>

        {% for plugin in pluginregistry %}
            <div class="devilry_gradingsystem_selectplugin_box">
                <h2>
                    <a href="?selected_plugin_id={{ plugin.id }}">{{ plugin.title }}</a>
                </h2>
                <p>{{ plugin.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock body %}