{% extends "devilry_gradingsystem/admin/reconfigurebase.django.html" %}
{% load i18n %}
{% load url from future %}

{% block heading %}
    {% trans "How would you like to provide feedback to your students?" %}
{% endblock heading %}

{% block content %}
    <div class="container">
        {% if form.errors %}
            {% include "devilry_subjectadmin/include/django_formerrors_as_alertboxes.django.html" with form=form %}
        {% endif %}

        <div class="alert alert-warning">
            <strong>{% trans "Warning" %}:</strong>
            {% trans "This selection can not be reverted. You will have to re-run this wizard later to change your selection." %}
        </div>
        <p>
            {% trans "Please select how you provide feedback to your students from the list below. Your selection starts a wizard that you have to complete before any deliveries can be corrected on this assignment." %}
        </p>

        {% for plugin in pluginregistry %}
            <div class="devilry-verbose-selectbox devilry_gradingsystem_verbose_selectbox">
                <h2>{{ plugin.title }}</h2>
                <p>{{ plugin.description }}</p>
                <a class="btn btn-primary" href="?grading_system_plugin_id={{ plugin.id }}">
                    {% trans "Use this" %}
                    <i class="fa fa-step-forward"></i>
                </a>
            </div>
        {% endfor %}

        <p>{% trans "If none of the choices for configuring the grading system fit your needs, please go back to the previous page, and read about plugins." %}

        <hr>
        <a href="{% url 'devilry_gradingsystem_admin_summary' assignment.id %}" class="btn btn-default">
            <i class="fa fa-step-backward"></i>
            {% trans "Previous" %}
        </a>
    </div>
{% endblock content %}