{% extends "devilry_gradingsystem/admin/base.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {% if assignment.points_to_grade_mapper == 'custom-table' %}
                    {% trans "Select the grade required to pass" %}
                {% else %}
                    {% trans "Configure the minumum number of points required to pass" %}
                {% endif %}
            </h1>
        </div>
        {% crispy form %}
    </div>
{% endblock body %}