{% extends "devilry_gradingsystem/admin/base.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {% if assignment.points_to_grade_mapper == 'custom-table' %}
                    {% trans "Select the grade required to pass" %}
                {% else %}
                    {% trans "Set the minumum number of points required to pass" %}
                {% endif %}
            </h1>
            {% include "devilry_gradingsystem/admin/currentprogress.django.html" %}
        </div>

        <form action="{% url 'devilry_gradingsystem_admin_setpassing_grade_min_points' assignment.id %}" role="form" method="post">
            {% crispy form %}
            {% include  "devilry_gradingsystem/admin/backandforward-bar.django.html" %}
        </form>
    </div>
{% endblock body %}