{% extends "cradmin_legacy/viewhelpers/multiselect2view/listbuilderview.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block title %}
    {% blocktrans trimmed %}
        Select assignments
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_appindex_url %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to students on semester overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% blocktrans trimmed %}
            Select the assignments you want to use
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <div class="devilry-dashboard-container">
            <p>
                {% blocktrans trimmed %}
                    Select the assignments you want to calculate the student grading points from.
                    Once you have chosen one or more assignments, you can enter the grading point threshold. Students
                    must have accumulated as many or more points than specified by the grading point threshold across
                    the selected assignments.
                {% endblocktrans %}
            <p>
            <p>
                <strong>{% trans "NOTE" %}:</strong>
                {% blocktrans trimmed %}
                    the grading point score will only be calculated for students that are NOT already on the assignment.
                    Existing students will not be affected.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    {{ block.super }}
{% endblock content %}

