{% comment %}
Include template to add a deadline on a single group.

Required template context variables:

    group
        The AssignmentGroup.
    request
        Will be available as long as you do not supply the ``only`` parameter to the include tag.
{% endcomment %}
{% load i18n %}
{% load url from future %}
<form class="form-inline form-inline-render-inline-block" action="{% url 'devilry_examiner_add_deadline' group.assignment.id %}" method="post">
    <input type="hidden" name="group_ids" value="{{ group.id }}">
    <input type="hidden" name="give_another_chance" value="true">
    <input type="hidden" name="success_url" value="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
    <input type="hidden" name="cancel_url" value="{{ request.get_full_path }}">
    <button class="btn btn-default" type="submit">
        {% trans "Add new deadline" %}<br>
        <small>({% trans "Give another chance" %})</small>
    </button>
</form>
