{% load i18n %}
{% load devilry_examiner_tags %}
{% load devilry_core_tags %}
{% load humanize %}
{% load url from future %}

<form action="{{ assignment|get_feedback_url }}" method="post">{% csrf_token %}

    <table class="table table-striped infolistingtable" id="grouplist_table">
        {% for group in groups %}
        <tr class="group">
            <td class="checkbox_cell">
                <div class="checkbox_cell_inner">
                    <input type="checkbox" name="group_ids" value="{{ group.id }}" />
                </div>
            </td>
            <td class="titled-cell groupinfo">
                <h3>
                    <a href="{% url 'devilry_examiner_singlegroupoverview' group.id %}" class="group_long_displayname">{{ group.long_displayname }}</a>
                    {% if not group.assignment.anonymous %}
                        <small class="group_short_displayname">({{ group.short_displayname }})</small>
                    {% endif %}
                </h3>

                <p class="text-{{ group|group_delivery_status_to_bootstrapclass }} deliverystatus">
                    {{ group.get_status|formatted_status }}
                    {% if group.delivery_status == 'corrected' %}
                        &mdash;
                        <small>
                            {% trans "Grade" %}: {{ group.feedback.grade }}
                            ({{ group.feedback.is_passing_grade|format_is_passing_grade }})
                        </small>
                    {% elif group.get_status == 'waiting-for-feedback' and group.assignment.is_electronic %}
                        {% if group.last_delivery_id == None %}
                            <small class="text-warning">({% trans "No deliveries" %})</small>
                        {% else %}
                            <small class="text-muted">({{ group.successful_delivery_count|formatted_delivery_count }})</small>
                        {% endif %}
                    {% elif group.get_status == 'waiting-for-deliveries' %}
                        <small class="text-muted">({{ group.successful_delivery_count|formatted_delivery_count }})</small>
                        &ndash;
                        <small class="text-muted">{% blocktrans with timeuntildeadline=group.last_deadline.deadline|timeuntil %}Next deadline in {{ timeuntildeadline }}{% endblocktrans %})</small>
                    {% endif %}
                </p>
                {% get_last_feedback_draft_for_group group as last_feedbackdraft %}
                {% if last_feedbackdraft and last_feedbackdraft.staticfeedback == None or last_feedbackdraft.staticfeedback != group.feedback %}
                    <p class="last-feedback-draft-info">
                        {% trans "Draft" %}:
                        {% if assignment.feedback_workflow_allows_shared_feedback_drafts %}
                            <span class="last-feedback-draft-by">
                                {% if last_feedbackdraft.saved_by == request.user %}
                                    <span class="last-feedback-draft-by-you">
                                        {% trans "By you" %}</span>,
                                {% else %}
                                    <span class="last-feedback-draft-by-other">
                                        {{ last_feedbackdraft.saved_by|devilry_user_displayname }}</span>,
                                {% endif %}
                            </span>
                        {% endif %}
                        <span class="last-feedback-draft-savetimestamp">
                            {{ last_feedbackdraft.save_timestamp|date:"SHORT_DATETIME_FORMAT" }}</span>,
                        {% with staticfeedback=last_feedbackdraft.to_staticfeedback %}
                            <span class="last-feedback-draft-grade">
                            {{ staticfeedback.grade }}</span>
                        {% endwith %}
                        {% if last_feedbackdraft.feedbacktext_raw.strip %}
                            -
                            <span class="last-feedback-draft-feedbacktext">
                                {{ last_feedbackdraft.feedbacktext_raw|devilry_escape_html|truncatechars:"300" }}</span>
                        {% endif %}
                    </p>
                {% endif %}
            </td>

            <td class="hidden-xs">
                {% if group.get_status == "waiting-for-feedback" %}
                    <a class="btn btn-default pull-right"
                            href="{% url 'devilry_examiner_last_delivery_or_groupoverview' group.id %}?edit_feedback=true"
                            role="button">
                        {% trans "Write feedback" %}
                    </a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </table>

    {% if groups and assignment.feedback_workflow_allows_examiners_publish_feedback %}
        <p><button type="submit" class="btn btn-default">
                {% trans "Write feedback" %}
                <small>({% trans "to selected" %})</small>
        </button></p>
    {% endif %}
</form>
