{% load i18n %}
{% load devilry_examiner_tags %}
{% load url from future %}

<form action="{{ assignment|get_feedback_url }}" method="post">{% csrf_token %}

    <table class="table table-striped infolistingtable" id="grouplist_table">
        {% for group in groups %}
        <tr class="group">
            <td class="checkbox_cell">
                <div class="checkbox_cell_inner">
                    <input type="checkbox" name="group_ids" value="{{ group.id }}" />
                </div>
            </td>
            <td class="titled-cell groupinfo">
                <h3>
                    <a href="{% url 'devilry_examiner_singlegroupoverview' group.id %}" class="group_long_displayname">{{ group.long_displayname }}</a>
                    {% if not group.assignment.anonymous %}
                        <small class="group_short_displayname">({{ group.short_displayname }})</small>
                    {% endif %}
                </h3>

                <p class="text-{{ group|group_delivery_status_to_bootstrapclass }} deliverystatus">
                    {{ group.get_status|formatted_status }}
                    {% if group.delivery_status == 'corrected' %}
                        &mdash;
                        <small>
                            {% trans "Grade" %}: {{ group.feedback.grade }}
                            ({{ group.feedback.is_passing_grade|format_is_passing_grade }})
                        </small>
                    {% elif group.get_status == 'waiting-for-feedback' and group.assignment.is_electronic %}
                        {% if group.last_delivery_id == None %}
                            <small class="text-warning">({% trans "No deliveries" %})</small>
                        {% else %}
                            <small class="text-muted">({{ group.successful_delivery_count|formatted_delivery_count }})</small>
                        {% endif %}
                    {% elif group.get_status == 'waiting-for-deliveries' %}
                        <small class="text-muted">({{ group.successful_delivery_count|formatted_delivery_count }})</small>
                        &ndash;
                        <small class="text-muted">{% blocktrans with timeuntildeadline=group.last_deadline.deadline|timeuntil %}Next deadline in {{ timeuntildeadline }}{% endblocktrans %})</small>
                    {% endif %}
                </p>

            </td>

            <td class="hidden-xs">
                {% if group.get_status == "waiting-for-feedback" %}
                    <a class="btn btn-default pull-right"
                            href="{% url 'devilry_examiner_last_delivery_or_groupoverview' group.id %}?edit_feedback=true"
                            role="button">
                        {% trans "Write feedback" %}
                    </a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </table>

    {% if groups %}
    <p><button type="submit" class="btn btn-default">
            {% trans "Write feedback" %}
            <small>({% trans "to selected" %})</small>
    </button></p>
    {% endif %}
</form>
