{% comment %}
Include template that shows a box with options if the group has no deliveries
and the assignment is electronic.

Required template context variables:

    group
        The AssignmentGroup.
    request
        Will be available as long as you do not supply the ``only`` parameter to the include tag.
{% endcomment %}
{% load i18n %}
{% load url from future %}

{% if group.missing_expected_delivery %}
    <div class="alert alert-warning devilry_missing_expected_delivery_box">
        <p>
            <strong>{% trans "This group has no deliveries" %}.</strong>
            {% trans "You have to choose one of the following options" %}:
        </p>
        <p>
            {% include "devilry_examiner/include/add_deadline_on_single_group.django.html" %}
            
            <form class="form-inline form-inline-render-inline-block" action="{% url 'devilry_examiner_close_groups' group.assignment.id %}" method="post">
                <input type="hidden" name="group_ids" value="{{ group.id }}">
                <input type="hidden" name="success_url" value="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
                <input type="hidden" name="cancel_url" value="{{ request.get_full_path }}">
                <button class="btn btn-default" type="submit">
                    {% trans "Close group without feedback" %}<br>
                    <small>({% trans "They should have delivered, but did not do so" %})</small>
                </button>
            </form>
        </p>
        <p>
            {% trans 'If the group has made a delivery outside Devilry (paper, email, etc), you should add a "non-electronic" delivery that you can correct just like any other delivery.' %}
        </p>
        <form class="form-inline form-inline-render-inline-block"
                action="{% url 'devilry_examiner_add_nonelectronic_delivery' group.assignment.id %}"
                method="post">
            <input type="hidden" name="group_ids" value="{{ group.id }}">
            <input type="hidden" name="success_url" value="{% url 'devilry_examiner_singlegroupoverview' group.id %}">
            <input type="hidden" name="cancel_url" value="{{ request.get_full_path }}">
            <button class="btn btn-warning btn-xs" type="submit">
                {% trans 'Add "non-electronic" delivery' %}
            </button>
        </form>
    </div>
{% endif %}
