{% extends "cradmin_legacy/viewhelpers/multiselect2view/listbuilderfilterview.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block title %}
    {% blocktrans trimmed with subject=subject.get_path %}
        Select the admins you want to add to {{ subject }}
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_appindex_url %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to admins on course overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% blocktrans trimmed with subject=subject.get_path %}
            Select the admins you want to add to {{ subject }}
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}
