{% block doctype %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">{% endblock %}
{% load staticfiles %}
{% load url from future %}
<html>
<head>
    {% block head-pre %}{% endblock %}
    {% block meta_http_equiv %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>

    {% block consolefallback %}
        <script type="text/javascript" src="{% static "devilry_extjsextras/consolefallback.js" %}"></script>
    {% endblock %}

    {% block favicons %}
        <link rel="apple-touch-icon" href="{% static "devilry_theme/resources/favicons/apple-touch-icon.png" %}" />
        <link rel="shortcut icon" href="{% static "devilry_theme/resources/favicons/favicon.ico" %}" />
    {% endblock %}

    {% block themecss %}
        {% include "devilry_theme/cssimports.django.html" %}
    {% endblock %}

    {% block extjs %}
        {% if EXTJS4_DEBUG %}
            <script type="text/javascript" src="{% static EXTJS4_DEBUGFILE %}"></script>
            <script type="text/javascript">
                Ext.Loader.setConfig({
                    enabled: true
                });
            </script>
        {% else %}
            <script type="text/javascript" src="{% static EXTJS4_PRODFILE %}"></script>
            <script type="text/javascript">
                Ext.Loader.setConfig({
                    enabled: false
                });
            </script>
        {% endif %}
    {% endblock %}

    {% block devilry_settings_js %}
        <script type="text/javascript" src="{% url 'devilry-settings' %}"></script>
    {% endblock %}
    {% block head_preapp %}{% endblock %}
    {% block app %}
        {% if EXTJS4_DEBUG %}
            <script type="text/javascript" src="{% static app_staticpath %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static appall_staticpath %}"></script>
        {% endif %}
    {% endblock %}
    {% block head_postapp %}{% endblock %}

    {% block extjslocale %}
        <script type="text/javascript" src="{% static "devilry_extjsextras/extjslocale.js" %}"></script>
    {% endblock %}

    {% block extjs_csrf %}
        {#NOTE: This is after the app-file because the files required in extjsajax_django_csrf are added to app-all.js, and is not available in production unless they come AFTER app-all.js. #}
        <script type="text/javascript" src="{% static "devilry_extjsextras/extjsajax_django_csrf.js" %}"></script>
    {% endblock %}

    {% block head-post %}{% endblock %}
</head>
<body class="{% block bodyclass%}{% endblock %}">
    {% block header %}
        {% include "devilry_header/header2_extjsinclude.django.html" %}
    {% endblock header %}
    {% block body %}{% endblock %}
</body>
</html>
