{% load i18n %}

<script type="module">
    class DevilryTemporaryFileUpload extends HTMLElement {
        constructor () {
            super();
            this.idPrefix = this.getAttribute('idPrefix');
            this.labelDragDropHelp = this.getAttribute('labelDragDropHelp');
            this.labelUploadFilesButton = this.getAttribute('labelUploadFilesButton');
            this.screenReaderLabelUploadFilesButton = this.getAttribute('screenReaderLabelUploadFilesButton');
            this.labelInvalidFileType = this.getAttribute('labelInvalidFileType');
        }
        
        getDomId (suffix = '') {
            if (suffix) {
                return `${this.idPrefix}_${suffix}`
            }
            return this.idPrefix;
        }

        _parseDomString (domString) {
            return new DOMParser().parseFromString(domString, 'text/html').body.firstChild;
        }

        connectedCallback () {
            this.setAttribute('class', 'devilry-fileupload');
            this.contentElement = this._parseDomString(`
                <div class="devilry-fileupload-content">
                    <div class='devilry-fileupload-dropbox' aria-hidden='true'>
                        <div class='devilry-fileupload-dropbox-text'>
                            ${this.labelDragDropHelp}
                        </div>
                        <div class='devilry-fileupload-dropbox-invalid-filetype-errormessage' style='display: none;'>
                            ${this.labelInvalidFileType}
                        </div>
                    </div>
                    <p class='devilry-fileupload-advanced-fileselectbutton-wrapper'>
                        <button type="button" multiple="true" class="btn btn-xs btn-default devilry-fileupload-advanced-fileselectbutton" style="overflow: hidden;"
                                aria-label='${this.screenReaderLabelUploadFilesButton}'>
                            <span aria-hidden="true">${this.labelUploadFilesButton}</span>
                            <input type="file" multiple="multiple" tabindex="-1" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                        </button>
                    </p>
                </div>
            `);
            this.appendChild(this.contentElement)
        }

    }

    window.customElements.define('devilry-temporary-file-upload', DevilryTemporaryFileUpload);
</script>

<devilry-temporary-file-upload {{ attributes|safe }}></devilry-temporary-file-upload>

<div cradmin-legacy-bulkfileupload={{ apiparameters|safe }} {# NOTE: The missing quotes are correct - they are added by quoteattr #}
             class="cradmin-legacy-bulkfileupload">

    <div class="cradmin-legacy-bulkfileupload-content">
        <div cradmin-legacy-bulkfileupload-advanced-widget>
            {% block droparea-advanced %}
                <div ng-file-drop
                     ng-model="cradminLastFilesSelectedByUser"
                     multiple="{% if singlemode %}false{% else %}true{% endif %}"
                        {% if accept %}
                     accept="{{ accept }}"
                        {% endif %}
                     allow-dir="false"
                     aria-hidden='true'
                     class="cradmin-legacy-bulkfileupload-dropbox"
                     ng-file-change="filesDropped($files, $event, $rejectedFiles)"
                     drag-over-class="{
                                            accept:'cradmin-legacy-bulkfileupload-dropbox-dragover',
                                            reject:'cradmin-legacy-bulkfileupload-dropbox-dragover-error',
                                            delay:100}">
                    {% block droparea-advanced-content %}
                        <div class="cradmin-legacy-bulkfileupload-dropbox-text">
                            {% block cradmin-legacy-bulkfileupload-dropbox-text %}
                                {% if dropbox_text %}
                                    {{ dropbox_text }}
                                {% else %}
                                    {% if singlemode %}
                                        {% trans "Upload a file by dragging and dropping it here" %}
                                    {% else %}
                                        {% trans "Upload files by dragging and dropping them here" %}
                                    {% endif %}
                                {% endif %}
                            {% endblock cradmin-legacy-bulkfileupload-dropbox-text %}
                        </div>
                        <div class="cradmin-legacy-bulkfileupload-dropbox-invalid-filetype-errormessage">
                            {% block droparea-advanced-content-invalid-filetype-errormessage %}
                                {% if invalid_filetype_message %}
                                    {{ invalid_filetype_message }}
                                {% else %}
                                    {% trans "Invalid filetype" %}
                                {% endif %}
                            {% endblock droparea-advanced-content-invalid-filetype-errormessage %}
                        </div>
                    {% endblock droparea-advanced-content %}
                </div>
            {% endblock droparea-advanced %}
            {% block fileselectbutton-advanced %}
                <p class="cradmin-legacy-bulkfileupload-advanced-fileselectbutton-wrapper">
                    <button ng-file-select
                            type="button"
                            ng-model="cradminLastFilesSelectedByUser"
                            multiple="{% if singlemode %}false{% else %}true{% endif %}"
                            {% if accept %}
                            accept="{{ accept }}"
                            {% endif %}
                            class="btn btn-xs btn-default cradmin-legacy-bulkfileupload-advanced-fileselectbutton">
                        {% block fileselectbutton-advanced-content %}
                            {% if advanced_fileselectbutton_text %}
                                {{ advanced_fileselectbutton_text }}
                            {% else %}
                                <span aria-hidden='true'>
                                    {% if singlemode %}
                                        {% trans "... or select a file" %}
                                    {% else %}
                                        {% trans "... or select files" %}
                                    {% endif %}
                                </span>
                                <span class='screenreader-only'>
                                    {% if singlemode %}
                                        {% trans "Select a file for upload" %}
                                    {% else %}
                                        {% trans "Select files for upload" %}
                                    {% endif %}
                                </span>
                            {% endif %}
                        {% endblock fileselectbutton-advanced-content %}
                    </button>
                </p>
            {% endblock fileselectbutton-advanced %}
        </div>

        <div cradmin-legacy-bulkfileupload-simple-widget>
            {% block fileselectbutton-simple %}
                <p class="cradmin-legacy-bulkfileupload-simple-button-wrapper">
                    <button ng-file-select
                            type="button"
                            ng-model="cradminLastFilesSelectedByUser"
                            multiple="{% if singlemode %}false{% else %}true{% endif %}"
                            class="btn btn-default btn-block cradmin-legacy-bulkfileupload-simple-button">
                        {% block fileselectbutton-simple-content %}
                            {% if simple_fileselectbutton_text %}
                                {{ simple_fileselectbutton_text }}
                            {% else %}
                                {% if singlemode %}
                                    {% trans "Select a file ..." %}
                                {% else %}
                                    {% trans "Select files ..." %}
                                {% endif %}
                            {% endif %}
                        {% endblock fileselectbutton-simple-content %}
                    </button>
                </p>
            {% endblock fileselectbutton-simple %}
        </div>
        <div cradmin-legacy-bulkfileupload-progress></div>
        <div cradmin-legacy-bulkfileupload-rejected-files="{{ invalid_filetype_message }}"></div>

        <input type="hidden" name="{{ hiddenfieldname }}" cradmin-legacy-bulkfileupload-collectionid-field>
    </div>
</div>

<script>
    window.addEventListener("dragover", function(e) {
      e.preventDefault()
    }, false);
    window.addEventListener("drop", function(e) {
      e.preventDefault()
    }, false);
</script>
