{% load cradmin_legacy_tags %}
{% load i18n %}

{% if me.group_comment.visibility == 'private' %}
    <a href="{% cradmin_appurl "groupcomment-delete" pk=me.group_comment.id %}"
       class="btn btn-sm btn-danger devilry-feedbackfeed-groupcomment-draft-delete" style="{color: red !important;}">{% trans "Delete" %}
    </a>
    <a href="{% cradmin_appurl "groupcomment-edit" pk=me.group_comment.id %}"
       class="btn btn-sm btn-default devilry-feedbackfeed-groupcomment-draft-edit">{% trans "Edit" %}
    </a>
{% endif %}
