{% load devilry_group_tags %}
{% load i18n %}

<div class="devilry-group-feedbackfeed-sidebar" django-cradmin-scroll-top-fixed='{"pinToTopOnScroll":true}'>
    <div ng-controller="sidebarCollapseCtrl">
        <div ng-init="filecollapse=register_collapse('uploaded_files', true)">
            <h4 ng-click="toggle_collapse('uploaded_files')">
                {% trans "Uploaded files" %}
                <i class="pull-right fa" ng-class="{'fa-chevron-up': filecollapse.value, 'fa-chevron-down': !filecollapse.value}"></i>
            </h4>
            <div ng-show="filecollapse.value">
                {% if feedbacksets|length > 1 %}
                    <a href="{% url 'devilry-feedbackfeed-compressed-all-feedbacksets-file-download' last_feedbackset.group.id %}"><strong>Download all assignment files</strong></a>
                    <br><br>
                {% endif %}
                {% for feedbackset in feedbacksets %}
                    <dl>
                        <dt>
                            {% blocktrans with counter=''|devilry_verbosenumber:forloop.counter %}{{ counter }} deadline{% endblocktrans %}
                        </dt>
                        {% for comment in feedbackset.groupcomment_set.all %}
                            {% for file in comment.commentfile_set.all %}
                                <dd class="devilry-group-feedbackfeed-sidebar-files">
                                    <a href="{% url 'devilry-feedbackfeed-file-download' feedbackset.id file.id %}" >{{ file.filename|devilry_truncatefileextension:26 }}</a>
                                    {% if file.comment.published_datetime > file.comment.feedback_set.deadline_datetime and file.comment.user_role != 'examiner' %}
                                        <i class="after-deadline-icon fa fa-exclamation-triangle pull-left" tooltip="Submitted after deadline"></i>
                                    {% elif file.comment.user_role == 'examiner' %}
                                        <i class="examiner-file-icon fa fa-file-text pull-left" tooltip="Submitted by examiner"></i>
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        {% endfor %}
                        <a href="{% url 'devilry-feedbackfeed-compressed-feedbackset-file-download' feedbackset.id %}"><strong>Download all</strong></a>
                    </dl>
                {% endfor %}
            </div>
        </div>

        <div ng-init="textcollapse=register_collapse('text_format')">
            <h4 ng-click="toggle_collapse('text_format')">
                {% trans "Text formatting" %}
                <i class="pull-right fa" ng-class="{'fa-chevron-up': textcollapse.value, 'fa-chevron-down': !textcollapse.value}"></i>
            </h4>
            <div ng-show="textcollapse.value">
                <p>Todo</p>
            </div>
        </div>

        <div ng-init="codecollapse=register_collapse('code_format')">
            <h4 ng-click="toggle_collapse('code_format')">
                {% trans "Code formatting" %}
                <i class="pull-right fa" ng-class="{'fa-chevron-up': codecollapse.value, 'fa-chevron-down': !codecollapse.value}"></i>
            </h4>
            <div ng-show="codecollapse.value">
                <p>Todo</p>
            </div>
        </div>

        <div ng-init="mathcollapse=register_collapse('math_format')">
            <h4 ng-click="toggle_collapse('math_format')">
                {% trans "Math formatting" %}
                <i class="pull-right fa" ng-class="{'fa-chevron-up': mathcollapse.value, 'fa-chevron-down': !mathcollapse.value}"></i>
            </h4>
            <div ng-show="mathcollapse.value">
                <p>Todo</p>
            </div>
        </div>
    </div>
</div>