{% load devilry_group_tags %}
{% load cradmin_tags %}
{% load i18n %}



{% if sidebarbuilder_list != None and devilry_ui_role == 'examiner' %}
    <div class="devilry-group-feedbackfeed-sidebar">
        <h2 class="devilry-group-feedbackfeed-sidebar__title">{% trans "Download" %}:</h2>
        {% cradmin_render_renderable sidebarbuilder_list %}
    </div>
{% endif %}

{% if devilry_ui_role == 'student' %}
    <div class="devilry-group-feedbackfeed-sidebar">
        <a href="{% cradmin_instance_appindex_url 'projectgroup' %}"><div class="btn btn-default">Project group</div></a>
        {% if sidebarbuilder_list != None %}
            <h2 class="devilry-group-feedbackfeed-sidebar__title">{% trans "Download" %}:</h2>
            {% cradmin_render_renderable sidebarbuilder_list %}
        {% endif %}
    </div>
{% endif %}
