{% load i18n %}

<p>
    <strong>
        {% blocktrans trimmed %}
            Your delivery must be uploaded as one or more files or typed
            into the box below.
        {% endblocktrans %}
    </strong>
    {% blocktrans trimmed %}
        You can also ask questions to your examiner(s).
        All uploaded files and comments for one deadline is considered
        a part of your delivery, so if you add a comment that makes a
        previous comment obsolete, you should say so.
    {% endblocktrans %}
</p>
