{% extends "django_cradmin/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load cradmin_tags %}
{% load cradmin_icon_tags %}

{% block bodyclass %}
    devilry-cradmin-confirmview
{% endblock bodyclass %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}


{% block pageheader-inner %}
    <a href="{{ backlink_url }}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {{ backlink_label }}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    {{ block.super }}
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        {% block confirm-message %}
            <p class="devilry-cradmin-confirmview-message">
                {% block confirm-message-content %}
                    {{ confirm_message }}
                {% endblock confirm-message-content %}
            </p>
        {% endblock confirm-message %}
    </div>
    {{ block.super }}
{% endblock content %}
