{% extends "cradmin_legacy/viewhelpers/update.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock pageheader-outer-extraclasses %}

{% block pageheader-inner %}
    <a href="{{ backlink_url }}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% block pageheading %}
            {{ pageheading }}
        {% endblock pageheading %}
    </h1>
{% endblock pageheader-inner %}
