.devilry-feedback-rendered-view {
  color: rgb(50, 50, 50);
  font-family: 'Georgia', serif;
  font-size: @feedback-rendered-view-font-size;
  line-height: @feedback-rendered-view-font-size * 1.8;

  // Limit the width to make text more readable.
  max-width: 660px;

  h1, h2, h3 {
    font-weight: normal;
  }
  h4, h5 {
    font-weight: bold;
    font-size: ceil(@font-size-base * 1.1);
  }

  h1 { font-size: floor(@font-size-base * 2.25); }
  h2 { font-size: floor(@font-size-base * 1.90); }
  h3 { font-size: ceil(@font-size-base * 1.45); }

  p {
    margin-bottom: @feedback-rendered-view-font-size * 1.8;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
