{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% if has_subjects %}
	{% if has_old_subjects and has_subjects %}
		<h2>{% trans "Active" %}</h2>
	{% endif %}
	<div>
		{% include "devilry/student/include/assignment_group_chooser.django.html" %}
	</div>
{% endif %}

{% if has_old_subjects %}
	{% if has_old_subjects and has_subjects %}
		<h2>{% trans "Old" %}</h2>
	{% endif %}
	<div>
		{% with old_subjects as subjects %}
			{% include "devilry/student/include/assignment_group_chooser.django.html" %}
		{% endwith %}
	</div>
{% endif %}
