.btn {
  font-weight: bold;
  border-width: 3px;
  letter-spacing: 1.4px;
  padding: 4px 12px;
  margin-bottom: 5px;

  &.btn-sm {
    padding: 3px 10px;
  }

  &.btn-lg {
    padding: 7px 16px;
  }
}
