.django-cradmin-page-header-outer {
  .django-cradmin-page-header-inner {
    h1 {
      font-size: ceil(@font-size-base * 1.6);
    }
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
