{% extends "cradmin_legacy/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}

{% block below-description %}
    <p>
        <a href="{% cradmin_appurl 'confirm' selected_students='relatedstudents' %}"
                id="devilry_admin_create_groups_choosemethod_relatedstudents_link"
                class="btn btn-primary">
            {% trans "All students" %}
        </a>
        <a href="{% cradmin_appurl 'manual-select' %}"
                id="devilry_admin_create_groups_choosemethod_manualselect_link"
                class="btn btn-default">
            {% trans "Select manually" context "admin create_groups" %}
        </a>
    </p>
{% endblock below-description %}
