{% extends "cradmin_legacy/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}

{% block below-description %}
    <p id="devilry_admin_create_groups_choosemethod_accumulated_score_{{ me.assignment.id }}"
            class="devilry-admin-create-groups-choosemethod-accumulated-score">
        <a href="{% cradmin_appurl 'accumulated-score-select-assignments' %}"  id="devilry_admin_create_groups_choosemethod_accumulated_score_{{ me.assignment.id }}_link"
           class="btn btn-primary">
            {% trans "Add students" %}
        </a>
    </p>
{% endblock below-description %}
