{% extends "django_cradmin/base.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
    {% blocktrans trimmed with assignment=request.cradmin_role %}Add students to {{ assignment }}{% endblocktrans %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% trans "Add students" %}
    </h1>
    <p>
        {% trans "Please select how you would like to add students. You will get a preview of your choice on the next page before any students are added." %}
    </p>
{% endblock pageheader-inner %}

{% block content %}

{#    {% for assignment in  %}#}
{#    #}
{#    {% endfor %}#}
    <div class="container">
        {% cradmin_render_renderable listbuilder_list %}
    </div>

{% endblock content %}
