{% extends "django_cradmin/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block below-description %}
    <p id="devilry_admin_create_groups_choosemethod_assignment_{{ me.assignment.id }}"
            class="devilry-admin-create-groups-choosemethod-assignment">
        <a href="{% cradmin_appurl 'confirm' selected_students='all_on_assignment' %}?assignment={{ me.assignment.id }}"
                id="devilry_admin_create_groups_choosemethod_assignment_{{ me.assignment.id }}_all_link"
                class="btn btn-primary">
            {% trans "All students" %}
        </a>
        <a href="{% cradmin_appurl 'confirm' selected_students='passing_grade_on_assignment' %}?assignment={{ me.assignment.id }}"
                id="devilry_admin_create_groups_choosemethod_assignment_{{ me.assignment.id }}_passing_link"
                class="btn btn-default">
            {% trans "Students with passing grade" %}
        </a>
    </p>
{% endblock below-description %}
