{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-top.django.html" %}
{% load cradmin_tags %}
{% load i18n %}

{% block list %}
    <div class="row">
        <div class="{% block list-column-classes %}col-sm-6{% endblock %}">
            {{ block.super }}
        </div>
        <div class="{% block filterlist-column-classes %}col-sm-6{% endblock %}">
            {% cradmin_render_renderable multiselect_target %}
        </div>
    </div>
{% endblock list %}

{% block no-items-paragraph-contents %}
    <strong class="devilry-admin-create-groups-manual-select-no-relatedstudents-message">
        {% trans "No students found." context "admin create_groups" %}
    </strong>
    <span class="devilry-admin-create-groups-manual-select-add-more-relatedstudents">
        {% trans "You can add more students on the semester page." %}
    </span>
{% endblock no-items-paragraph-contents %}
