{% extends "cradmin_legacy/viewhelpers/multiselect2view/listbuilderfilterview.django.html" %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}
{% load i18n %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_appindex_url %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to add students overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    {{ block.super }}
{% endblock pageheader-inner %}

{% block no-items-paragraph-contents %}
    <strong class="devilry-admin-create-groups-manual-select-no-relatedstudents-message">
        {% trans "No students found." context "admin create_groups" %}
    </strong>
    <span class="devilry-admin-create-groups-manual-select-add-more-relatedstudents">
        {% trans "You can add more students on the semester page." %}
    </span>
{% endblock no-items-paragraph-contents %}
