{% extends 'django_cradmin/viewhelpers/listbuilder/base/itemvalue.django.html' %}

{% load devilry_group_tags %}
{% load devilry_account_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="devilry-group-feedbackfeed-comment-content">
        <div class="devilry-group-comment-meta">
            <div class="devilry-group-comment-created-by">
                <p class="comment-created-by-text">{% devilry_user_verbose_inline me.group_comment.user %} &nbsp;</p>
            </div>
            <div class="devilry-group-comment-created-by-role">
                <p class="comment-created-by-role-text">({{ me.group_comment.user_role }})&nbsp;</p>
            </div>
            <div class="devilry-group-comment-published-date">
                <p class="comment-published-date-text"> {{ me.group_comment|devilry_group_comment_published }}</p>
            </div>
        </div>
        <div class="devilry-group-comment-text">
            {% blocktrans with text=me.group_comment.text|devilry_group_markdown|safe %} {{text}} {% endblocktrans %}
        </div>
        {% for file in me.group_comment.commentfile_set.all %}
            <a href="{% url 'devilry-feedbackfeed-file-download' me.group_comment.feedback_set_id file.id %}">
                <i class="fa fa-file fa-3x" tooltip="{{ file.filename }}"></i>
            </a>
        {% endfor %}

    </div>

    {% block details %}
    {% endblock details %}

{% endblock content %}

