{% extends "django_cradmin/viewhelpers/objecttable/objecttable.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
    {{ subject.short_name }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {{ subject.long_name }}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <p>
            <a id="devilry_admin_period_createperiod_link"
                    href="{% cradmin_instance_url 'createperiod' 'INDEX'  %}">
                {% trans "Create new period" %}
            </a>
        </p>
        {% if periods %}
            <ul id="devilry_admin_period_overview_periodlist">
                {% for period in periods %}
                    <li>
                        <p>
                            <a href="{% cradmin_url instanceid='devilry_admin_periodadmin' appname='overview' roleid=period.id viewname='INDEX' %}"
                                    class="devilry-admin-period-overview-period-link">
                                {{ period.long_name }}
                            </a>
                        </p>
                        <p class="devilry-admin-period-overview-period-timespan">
                            <span class="devilry-admin-period-overview-period-start_time-value">
                                {{ period.start_time|date:"DATETIME_FORMAT" }}
                            </span>
                            &mdash;
                            <span class="devilry-admin-period-overview-period-end_time-value">
                                {{ period.end_time|date:"DATETIME_FORMAT" }}
                            </span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}
