{% extends "cradmin_legacy/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_legacy_tags %}

{% block title %}
    {{ request.cradmin_role.short_name }}
{% endblock title %}

{% block pageheader-inner %}
    <div class="row">
        <div class="col-sm-9">
            <h1>
                {{ request.cradmin_role.long_name }}
            </h1>
        </div>
        <div class="col-sm-3">
            <p id="devilry_admin_period_edit" class="text-right">
                <a href="{% cradmin_instance_appindex_url "edit" %}"
                        class="btn btn-default btn-sm">
                    {% trans "Edit" %}
                </a>
            </p>
        </div>
    </div>
{% endblock pageheader-inner %}

{% block listbuilderview_buttons %}
    <p class="devilry-buttonbar">
        <a id="devilry_admin_period_createperiod_link"
                class="btn btn-primary"
                href="{% cradmin_instance_url 'createperiod' 'INDEX' %}">
            {% trans "Create new semester" %}
        </a>
    </p>
{% endblock listbuilderview_buttons %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="devilry-dashboard-container devilry-dashboard-container-withtopmargin">
            <h2>{% trans "Course administrators" %}</h2>
            <p class="text-muted">
                {% trans "Course administrators have access to do everything within their courses, except delete deliveries from students and published feedback." %}
            </p>
            <p>
                <a href="{% cradmin_instance_url appname='admins' viewname='INDEX' %}"
                        class="btn btn-default btn-sm">
                    {% trans "Add/edit course administrators" %}
                </a>
            </p>
        </div>
    </div>
{% endblock content %}
