{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {{ request.cradmin_role.short_name }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {{ request.cradmin_role.long_name }}
    </h1>
{% endblock pageheader-inner %}

{% block listbuilderview_buttons %}
    <p class="devilry-buttonbar">
        <a id="devilry_admin_period_createperiod_link"
                class="btn btn-default"
                href="{% cradmin_instance_url 'createperiod' 'INDEX' %}">
            {% trans "Create new semester" %}
        </a>
    </p>
{% endblock listbuilderview_buttons %}
