{% extends "administrator/single-base.django.html" %}
{% load extjs %}

{% block title %}Assignment - {{ block.super }}{% endblock %}

{% block headextra %}
{{ block.super }}

<script>
    Ext.require('devilry.administrator.assignment.PrettyView');
    Ext.onReady(function() {
        Ext.create('devilry.administrator.assignment.PrettyView', {
            renderTo: 'prettyviewpanel'
        });
    });
</script>
{% endblock %}

{% block main %}
{{ block.super }}

<div id="prettyviewpanel"></div>
{% endblock %}
