{% extends "administrator/single-base.django.html" %}
{% load extjs %}

{% block title %}Assignment - {{ block.super }}{% endblock %}

{% block headextra %}
{{ block.super }}

<script>
    {{ restfulapi.RestfulSimplifiedPeriod|extjs_model:"subject" }}
    {{ restfulapi.RestfulSimplifiedAssignment|extjs_model:"pointfields,period,subject" }};
    {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_model:"feedback,assignment,period,subject,users" }};
    var assignmentgroupstore = {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_store }};

    Ext.require('devilry.administrator.assignment.PrettyView');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('devilry.extjshelpers.forms.administrator.Assignment');
    Ext.onReady(function() {
        var prettyview = Ext.create('devilry.administrator.assignment.PrettyView', {
            renderTo: 'content-main',
            modelname: {{ restfulapi.RestfulSimplifiedAssignment|extjs_modelname }},
            objectid: {{ objectid }},
            dashboardUrl: DASHBOARD_URL,
            assignmentgroupstore: assignmentgroupstore
        });

        var heading = Ext.ComponentManager.create({
            xtype: 'component',
            renderTo: 'content-heading',
            data: {},
            tpl: [
                '<h1>{parentnode__parentnode__long_name}</h1>',
                '<h2>{parentnode__long_name}</h2>',
                '<h3>{long_name} ({short_name})</h3>'
            ]
        });

        prettyview.addListener('loadmodel', function(record) {
            heading.update(record.data);
            {#prettyview.onStudents();#}
        });

        prettyview.addListener('edit', function(record, button) {
            var editpanel = Ext.ComponentManager.create({
                xtype: 'restfulsimplified_editpanel',
                model: {{ restfulapi.RestfulSimplifiedAssignment|extjs_modelname }},
                editform: Ext.widget('administrator_assignmentform'),
                record: record
            });
            var editwindow = Ext.create('devilry.administrator.DefaultEditWindow', {
                editpanel: editpanel,
                prettyview: prettyview
            });
            editwindow.show();
            editwindow.alignTo(button, 'br', [-editwindow.getWidth(), 0]);
        });
    });
</script>
{% endblock %}
