{% extends "administrator/single-base.django.html" %}
{% load extjs %}

{% block title %}Assignment - {{ block.super }}{% endblock %}

{% block headextra %}
{{ block.super }}

<script>
    {{ restfulapi.RestfulSimplifiedAssignment|extjs_model:"pointfields,period,subject" }}

    Ext.require('devilry.administrator.assignment.PrettyView');
    Ext.onReady(function() {
        var prettyview = Ext.create('devilry.administrator.assignment.PrettyView', {
            renderTo: 'prettyviewpanel',
            modelname: {{ restfulapi.RestfulSimplifiedAssignment|extjs_modelname }},
            objectid: {{ objectid }},
            dashboardUrl: DASHBOARD_URL
        });

        prettyview.addListener('loadmodel', function(record) {
            Ext.create('Ext.Component', {
                renderTo: 'content-heading',
                data: record.data,
                tpl: [
                    '<h1>{parentnode__parentnode__long_name}</h1>',
                    '<h2>{parentnode__long_name}</h2>',
                    '<h3>{long_name}</h3>'
                ]
            });
        });
    });
</script>
{% endblock %}

{% block main %}
    <section class="treeheading" id="content-heading"></section>
    {{ block.super }} {# The search box #}
    <div id="prettyviewpanel" class="prettyviewpanel"></div>
{% endblock %}
