{% extends "administrator/base.django.html" %}
{% load extjs %}

{% block headextra %}

<script>

    {% for RestfulCls in restfulclasses %}
        {{ RestfulCls|extjs_combobox_model }}
    {% endfor %}

    var nodestore = {{ RestfulSimplifiedNode|extjs_store:3 }}
    var subjectstore = {{ RestfulSimplifiedSubject|extjs_store:3 }}
    var periodstore = {{ RestfulSimplifiedPeriod|extjs_store:3 }}
    var assignmentstore = {{ RestfulSimplifiedAssignment|extjs_store:3 }}
    var assignmentgroupstore = {{ RestfulSimplifiedAssignmentGroup|extjs_store:3 }}
    var deliverystore = {{ RestfulSimplifiedDelivery|extjs_store:3 }}

    Ext.require('devilry.extjshelpers.searchwidget.SearchWidget');
    Ext.require('devilry.extjshelpers.ButtonBar');
    Ext.onReady(function() {
        var searchwidget = Ext.create('devilry.extjshelpers.searchwidget.SearchWidget', {
            renderTo: 'searchwidget-container',
            searchResultItems: [{
                xtype: 'searchresults',
                title: 'Nodes',
                store: nodestore,
                resultitemConfig: {
                    tpl: '{{ RestfulSimplifiedNode.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'Edit',
                        clickLinkTpl: '{% url administrator-editors-node %}' + '{id}'
                    }
                }
            }, {
                xtype: 'searchresults',
                title: 'Subjects',
                store: subjectstore,
                resultitemConfig: {
                    tpl: '{{ RestfulSimplifiedSubject.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'Edit',
                        clickLinkTpl: '{% url administrator-editors-subject %}' + '{id}'
                    }
                }
            }, {
                xtype: 'searchresults',
                title: 'Periods',
                store: periodstore,
                rowformattpl: '{{ RestfulSimplifiedPeriod.ExtjsModelMeta.combobox_tpl|escapejs }}',
                resultitemConfig: {
                    tpl: '{{ RestfulSimplifiedPeriod.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'Edit',
                        clickLinkTpl: '{% url administrator-editors-period %}' + '{id}',
                    }
                }
            }, {
                xtype: 'searchresults',
                title: 'Assignments',
                store: assignmentstore,
                resultitemConfig: {
                    tpl: '{{ RestfulSimplifiedAssignment.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'Edit',
                        clickLinkTpl: '{% url administrator-editors-assignment %}' + '{id}',
                    }
                }
            }, {
                xtype: 'searchresults',
                title: 'Assignment groups',
                store: assignmentgroupstore,
                resultitemConfig: {
                    tpl: '{{ RestfulSimplifiedAssignmentGroup.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'Edit',
                        clickLinkTpl: '{% url administrator-editors-assignmentgroup %}' + '{id}',
                    }
                }
            }, {
                xtype: 'searchresults',
                title: 'Delivery',
                store: deliverystore,
                resultitemConfig: {
                    tpl: '{{ RestfulSimplifiedDelivery.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'Edit',
                        clickLinkTpl: '{% url administrator-editors-delivery %}' + '{id}',
                    }
                }
            }]
        });
        searchwidget.loadInitialValues();
        searchwidget.focusOnSearchfield();

        Ext.create('devilry.extjshelpers.ButtonBar', {
            renderTo: 'createbuttonbar',
            width: 600,
            buttons: [{
                text: 'Node', url: '{% url administrator-editors-node "create" %}',
                tooltip: {
                    title: '<span class="tooltip-title-current-item">Node</span> &rArr; Subject &rArr; Period &rArr; Assignment',
                    body: 'A Node is a place to organise top-level administrators.'
                }
            }, {
                text: 'Subject', url: '{% url administrator-editors-subject "create" %}',
                tooltip: {
                    title: 'Node &rArr; <span class="tooltip-title-current-item">Subject</span> &rArr; Period &rArr; Assignment',
                    body: 'A Subject is often also called a course.'
                }
            }, {
                text: 'Period', url: '{% url administrator-editors-period "create" %}',
                tooltip: {
                    title: 'Node &rArr; Subject &rArr; <span class="tooltip-title-current-item">Period</span> &rArr; Assignment',
                    body: 'A Period is a limited period in time, such as a semester.'
                }
            }, {
                text: 'Assignment', url: '{% url administrator-editors-assignment "create" %}',
                tooltip: {
                    title: 'Node &rArr; Subject &rArr; Period &rArr; <span class="tooltip-title-current-item">Assignment</span>',
                    body: 'An Assignment, such as an obligatory assignment, an anoymous home examination or a semester assignment.'
                }
            }]   
        });
        Ext.QuickTips.init();
    });


</script>

{% endblock %}


{% block main %}
<div id='searchwidget-container'></div>
<p class='searchwidget-help'>In the box above, you can search for anything related to anything that you
have permission to view or edit. Searching for a user will find any item
related to that user, and searching for a subject will find anything related to
that subject.</p>

<div id="createbuttonbar"></div>
{% endblock %}
