{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry admin interface{% endblock %}

{% block headextra %}

<link rel="stylesheet" type="text/css"
    href="{{ DEVILRY_STATIC_URL }}/administrator/main.css" />

<script>
    {{ RestfulSimplifiedNode|extjs_model }}
    var nodestore = {{ RestfulSimplifiedNode|extjs_store }}

    {{ RestfulSimplifiedSubject|extjs_model }}
    var subjectstore = {{ RestfulSimplifiedSubject|extjs_store }}

    {{ RestfulSimplifiedSubject|extjs_model }}
    var subjectstore = {{ RestfulSimplifiedSubject|extjs_store }}

    {{ RestfulSimplifiedPeriod|extjs_model:"subject" }}
    var periodstore = {{ RestfulSimplifiedPeriod|extjs_store }}

    Ext.require('devilry.administrator.SearchWidget');
    Ext.onReady(function() {
        var searchwidget = Ext.create('devilry.administrator.SearchWidget', {
            renderTo: 'searchwidget',
            searchResultItems: [{
                xtype: 'administratorsearchresults',
                title: 'Nodes',
                store: nodestore,
                editorurlprefix: '{% url administrator-editors-node %}'
            }, {
                xtype: 'administratorsearchresults',
                title: 'Subjects',
                store: subjectstore,
                editorurlprefix: '{% url administrator-editors-subject %}',
            }, {
                xtype: 'administratorsearchresults',
                title: 'Periods',
                store: periodstore,
                editorurlprefix: '{% url administrator-editors-period %}',
                formatRow: function(record) {
                    return this.getFormattedRow(
                        record.get('long_name'),
                        Ext.String.format('{0}.{1}',
                            record.get('parentnode__short_name'),
                            record.get('short_name')));
                }
            }]
        });

        searchwidget.loadInitialValues();
        searchwidget.focusOnSearchfield();
    });
</script>

{% endblock %}


{% block main %}
<div id='searchwidget'></div>
<div id='form-example'></div>
{% endblock %}
