{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry admin interface{% endblock %}

{% block headextra %}

<link rel="stylesheet" type="text/css"
    href="{{ DEVILRY_STATIC_URL }}/administrator/main.css" />

<script>
    {{ RestNode|extjs_model }}
    var nodestore = {{ RestNode|extjs_store }}

    {{ RestSubject|extjs_model }}
    var subjectstore = {{ RestSubject|extjs_store }}

    {{ RestPeriod|extjs_model:"subject" }}
    var periodstore = {{ RestPeriod|extjs_store }}
</script>

<script src="{{ DEVILRY_STATIC_URL }}/administrator/main.js"></script>
{% endblock %}


{% block main %}
<div id='searchwidget'></div>
{% endblock %}
