{% extends "administrator/single-base.django.html" %}
{% load extjs %}

{% block title %}Node - {{ block.super }}{% endblock %}

{% block headextra %}
{{ block.super }}

<script>
    {{ restfulapi.RestfulSimplifiedNode|extjs_model }}

    Ext.require('devilry.administrator.node.PrettyView');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('devilry.extjshelpers.forms.Node');
    Ext.require('devilry.extjshelpers.models.Node');
    Ext.onReady(function() {
        var prettyview = Ext.create('devilry.administrator.node.PrettyView', {
            renderTo: 'content-main',
            modelname: {{ restfulapi.RestfulSimplifiedNode|extjs_modelname }},
            objectid: {{ objectid }},
            dashboardUrl: DASHBOARD_URL
        });

        var heading = Ext.ComponentManager.create({
            xtype: 'component',
            renderTo: 'content-heading',
            data: {},
            tpl: [
                '<h1>{long_name} ({short_name})</h1>'
            ]
        });

        function showEditWindow(record, button) {
            var editpanel = Ext.ComponentManager.create({
                xtype: 'restfulsimplified_editpanel',
                model: 'devilry.extjshelpers.models.Node',
                editform: Ext.widget('nodeform'),
                foreignkeyfieldnames: ['parentnode'],
                record: record
            });
            var editwindow = Ext.create('devilry.administrator.DefaultEditWindow', {
                editpanel: editpanel,
                prettyview: prettyview,
                width: 500,
                height: 300
            });
            editwindow.show();
            editwindow.alignTo(button, 'br', [-editwindow.getWidth(), 0]);
        }

        prettyview.addListener('edit', showEditWindow);
        prettyview.addListener('loadmodel', function(record) {
            heading.update(record.data);
            //showEditWindow(record);
        });
    });
</script>
{% endblock %}
