{% extends "administrator/single-base.django.html" %}
{% load extjs %}

{% block title %}Period - {{ block.super }}{% endblock %}

{% block headextra %}
{{ block.super }}

<script>
    {{ restfulapi.RestfulSimplifiedSubject|extjs_model }}
    {{ restfulapi.RestfulSimplifiedPeriod|extjs_model:"subject,admins" }}

    Ext.require('devilry.administrator.period.PrettyView');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('devilry.extjshelpers.forms.administrator.Period');
    Ext.onReady(function() {
        var prettyview = Ext.create('devilry.administrator.period.PrettyView', {
            renderTo: 'content-main',
            modelname: {{ restfulapi.RestfulSimplifiedPeriod|extjs_modelname }},
            objectid: {{ objectid }},
            dashboardUrl: DASHBOARD_URL
        });

        var heading = Ext.ComponentManager.create({
            xtype: 'component',
            renderTo: 'content-heading',
            data: {},
            tpl: [
                '<h1>{parentnode__parentnode__long_name}</h1>',
                '<h2>{parentnode__long_name}</h2>',
                '<h3>{long_name} ({short_name})</h3>'
            ]
        });

        prettyview.addListener('loadmodel', function(record) {
            heading.update(record.data);
        });

        prettyview.addListener('edit', function(record, button) {
            var editpanel = Ext.ComponentManager.create({
                xtype: 'restfulsimplified_editpanel',
                model: {{ restfulapi.RestfulSimplifiedPeriod|extjs_modelname }},
                editform: Ext.widget('administrator_periodform'),
                record: record
            });
            var editwindow = Ext.create('devilry.administrator.DefaultEditWindow', {
                editpanel: editpanel,
                prettyview: prettyview,
                listeners: {
                    scope: this,
                    close: function() {
                        button.toggle(false);
                    }
                }
            });
            editwindow.show();
            editwindow.alignTo(button, 'br', [-editwindow.getWidth(), 0]);
        });
    });
</script>
{% endblock %}
