{% extends "devilry_subjectadmin/base.django.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans "Grading system" %}
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {% block heading %}{% endblock heading %}
            </h1>
        </div>
        <ol class="breadcrumb">
            {% include "devilry_subjectadmin/include/assignment_breadcrumb.django.html" %}
            {% block breadcrumbtail %}
                <li><a href="{% url 'devilry_gradingsystem_admin_summary' assignment.id %}">{% trans "Grading system" %}</a></li>
            {% endblock breadcrumbtail %}
        </ol>
        {% block subheading %}{% endblock subheading %}
    </div>
    {% block content %}{% endblock content %}
{% endblock body %}