{% extends "devilry_gradingsystem/admin/base.django.html" %}
{% load i18n %}
{% load url from future %}

{% block heading %}
    {% trans "Grading system" %}
{% endblock heading %}

{% block subheading %}
    <p class="text-muted">
        {% trans "Devilry has a plugin architecture for grading systems. This makes it easy to handle vastly diverging methods of providing feedback to students." %}
    </p>    
{% endblock subheading %}
{% block breadcrumbtail %}
    <li class="active">{% trans "Grading system" %}</li>
{% endblock breadcrumbtail %}

{% block content %}
    <div class="container">
        {% if no_grading_system_plugin_id or not has_valid_grading_setup %}
            <div class="alert alert-danger">
                {% if no_grading_system_plugin_id %}
                    {% trans "No grading system configured. This can happen if this assignment was created using Devilry 1.3.6 or older." %}
                {% else %}
                    {% trans "The grading system is not configured correctly. This can happen if you or another admin has started reconfiguring the grading system, and did no complete the wizard." %}
                {% endif %}
                {% trans "Before you can provide feedback to your students, you have to reconfigure the grading system for this assignment." %}
            </div>
        {% else %}
            <h2>{% trans "Current configuration" %}</h2>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "How do you provide feedback to your students?" %}</th>
                    <td>{{ pluginapi.title }}</td>
                </tr>
                <tr>
                    <th>{% trans "How are results presented to the student?" %}</th>
                    <td>{{ assignment.get_points_to_grade_mapper_display }}</td>
                </tr>
                <tr>
                    <th>{% trans "Maximum possible number of points" %}</th>
                    <td>{{ assignment.max_points }}</td>
                </tr>
                <tr>
                    <th>{% trans "Minumum number of points required to pass" %}</th>
                    <td>{{ assignment.passing_grade_min_points }}</td>
                </tr>
            </table>
        {% endif %}

        <h2>{% trans "Reconfigure the grading system" %}</h2>
        {% if has_staticfeedbacks %}
            <div class="alert alert-warning">
                <p>
                    {% trans "You SHOULD NOT reconfigure the grading system for this assignment. A least one student has already been given feedback. If you reconfigure the grading system, you should consider providing new feedback to all students." %}
                </p>
                <a class="btn btn-warning" href="{% url 'devilry_gradingsystem_admin_selectplugin' assignment.id %}">
                    {% trans "Reconfigure the grading system" %}
                </a>
            </div>
        {% else %}
            {% if has_feedbackdrafts %}
                <p>
                    <span class="text-warning">{% trans "You can reconfigure the grading system for this assignment, but be careful, at least one examiner has saved a feedback draft." %}</span>
                    <small class="text-muted">{% trans "This means that no students have received feedback yet, but at at least one examiner has started giving feedback." %}</small>
                </p>
            {% else %}
                <p>
                    <span class="text-success">{% trans "You can safely reconfigure the grading system for this assignment." %}</span>
                    <small class="text-muted">{% trans "No students have been given feedback yet, and no examiner has saved any feedback drafts." %}</small>
                </p>
            {% endif %}
            <a class="btn btn-default" href="{% url 'devilry_gradingsystem_admin_selectplugin' assignment.id %}">{% trans "Reconfigure the grading system" %}</a>
        {% endif %}


        <h2>{% trans "Plugins and why you may care about them" %}</h2>
        <p>{% trans "The system for grading students and providing feedback is very flexible in Devilry. Common for all methods of grading (passed/failed, points, A-F, ...) is that the end result is the following information:" %}</p>
        <dl class="dl-horizontal">
            <dt>{% trans "Points" %}</dt>
            <dd>{% trans 'Any grade in Devilry is represented as a number. This number is used for statistics and to calculate final grades. Points is not available directly to students, but some grading system plugins make them available through the "Short text" (below).' %}</dd>
            <dt>{% trans "Short text" %}</dt>
            <dd>{% trans 'A very short text that students view. Usually something like: "Approved", "B" or "7/10".' %}</dd>
            <dt>{% trans "Long text" %}</dt>
            <dd>{% trans "A longer text that students can view. This is usually the detailed feedback text, however some grading system plugins also fill this with autogenerated information based on input from examiners. What a grading system plugin can display in the long text is virtually unlimited." %}</dd>
        </dl>

        <p>{% trans "Your examiners/correctors may provide this information in many ways; by specifying a numeric value, by selecting approved, by answering a set of questions, and so on. Each of these different ways of providing feedback is a plugin to the grading system in Devilry." %}</p>
        <p>
            {% blocktrans with websitelink='<a href="http://devilry.org">http://devilry.org</a>' %}
                If none of the plugins shown in the first page of the <em>Reconfigure the grading system</em> wizard fit your needs, please contact your local devilry system administrators, or contact the developers of the Devilry open source project directly at {{ websitelink }}.
            {% endblocktrans %}
        </p>
    </div>
{% endblock content %}