{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}

<p>
{% blocktrans %}The roles (staff, superuser, active) is explained below the list of users.{% endblocktrans %}
{% blocktrans %}You can search for username, email and full name.{% endblocktrans %}
</p>

{{ block.super }}

<h2>{% trans "Roles explained:" %}</h2>
<table>
    <tbody>
        <tr>
            <th>{% trans "staff" %}</th>
            <td>{% trans "A user with access to this admin panel." %}</td>
        </tr>
        <tr>
            <th>{% trans "superuser" %}</th>
            <td>
                <p>{% blocktrans %}A user permission to view and delete EVERYTHING. The superuser can edit most of the data in Devilry, however some data is only editable by students and examiners.{% endblocktrans %}</p>
                <p>{% blocktrans %}Superusers can delete things that normaladmins can not delete, such as assignments with deliveries. Only HIGLY TRUSTED individuals should have this role.{% endblocktrans %}</p>
            </td>
        </tr>
        <tr>
            <th>{% trans "active" %}</th>
            <td>{% trans "An inactive user can not log in. It is usually better to deactivate users than to delete them, since deleting users delete any data related to that user, which may also delete data useful for other users, or for historic purposes." %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
