	@import "forms.css";
	@import "rst.css";


	body {
		font-family: "Tahoma", "Geneva", sans-serif;
		margin: 0;
		padding: 0;
		/*background-color: #fff;*/
		/*background-image: url("theme-bg.gif");*/
		background-color: #fff;
	}

	#top {
	padding: 0 6%;
	background-color: #000;
}


.help-box {
	font-size: 0.9em;
	color: #456;
}


/***********************************************************
 * Branding
 **********************************************************/

#branding {
	margin: 0;
	text-align: left;
	padding: 30px 0;
}

#logo-maintext {
	color: #fff;
	font-size: 35px;
	font-family: "Arial Black", sans-serif;
	font-weight: bold;
}
#logo-subtext {
	font-family: "Arial Black", sans-serif;
}
#logo-subtext a {
	text-decoration: none;
	color: #B30000;
}
#logo-subtext a:hover {
	color: #f00;
}

/***********************************************************
 * Linkbar
 **********************************************************/

#linkbar {
	/*background-color: #000;*/
	float: right;
}

#linkbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
#linkbar li {
	font-size: 11px;
	display: inline-block;
	padding: 0;
	margin: 0 0 0 20px;
	color: #888;
}
#linkbar a {
	color: #aaa;
	font-weight: bold;
	text-decoration: none;
}
#linkbar a:hover {
	color: #fff;
	text-decoration: none;
}


/***********************************************************
 * Breadcrumbs
 **********************************************************/

#breadcrumbs {
	/*border-top: 1px solid #D4D2CE;*/
	background-color: #eaeaea;
	/*border-bottom: 1px solid #D4D2CE;*/
	border-style: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 -20px 0 -20px;
	padding: 5px 20px 10px 20px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}

#breadcrumbs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#breadcrumbs li {
	font-size: 11px;
	display: inline-block;
	padding: 0;
	margin: 0;
	color: #776B5F;
}
#breadcrumbs a {
	color: #776B5F;
	text-decoration: underline;
}
#breadcrumbs a:hover {
	color: #333;
	text-decoration: underline;
}


/***********************************************************
 * Page
 **********************************************************/

#page {
	clear: both;
	padding: 20px 6%;
	margin: 0;
	background-color: #f8f8f8;
}


.bigbox {
	clear: both;
	background-color: #fff;
	padding: 0 10px 10px 10px;
	margin: 20px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background-color: #fff;

}


/***********************************************************
 * Page heading
 **********************************************************/
#heading h1 {
	color: #000;
	font-size: 1.8em;
	font-family: "Georgia", serif;
	font-weight: normal;
	padding: 0 0 15px 0;
	margin: 0;
}


/***********************************************************
 * Page messages
 **********************************************************/
#messages ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#messages ul ul {
	list-style: disc outside none;
	margin-left: 40px;
	padding: 0;
}
#messages ul ul li {
	padding: 2px;
	margin: 0;
}

#messages li {
	padding: 10px;
	font-size: 0.8em;
	margin: 10px 0 10px 0;
}
#messages li.success_message,
.success-box{
	border: 1px solid #315C00;
	background-color: #BFFF75;
}
#messages li.info_message,
.info-box {
	border: 1px solid #808000;
	background-color: #FFFFCC;
}
#messages li.warning_message,
.warning-box {
	border: 1px solid #B34700;
	background-color: #FFB380;
}
#messages li.error_message,
.error-box {
	border: 1px solid #700;
	background-color: #a00;
	color: #fff;
	font-weight: bold;
}


.error-box,
.warning-box,
.info-box,
.success-box {
	padding: 10px;
}


/***********************************************************
 * Page sidebar
 **********************************************************/
#sidebar {
	width: 230px;
	font-size: 0.8em;
	float: right;
	margin: 45px 0 0 0;
}
#sidebar a {
	color: #7A9DBD;
}
#sidebar a:visited {
	color: #9A7ABD;
}
#sidebar .section {
	margin-bottom: 20px;
	padding: 15px;
	background-color: #303030;
	border: 1px solid #D4D2CE;
	background-color: #fff;
	color: #444;
}
/*#sidebar .section:first-child {*/
	/*background-color: #44513c;*/
	/*color: #c3d0bb;*/
	/*background-color: #2b4358;*/
	/*color: #dfe8ef;*/
/*}*/
#sidebar .section h2 {
	font-size: 1.6em;
	font-family: "Arial Black", sans-serif;
	margin: 0 0 10px 0;
}
#sidebar dt {
	margin-top: 3px;
	font-style: italic;
}
#sidebar dd {
	margin-left: 20px;
}
#sidebar ul {
	margin: 4px 0 0 20px;
	padding: 0;
	list-style: disc url(listbullet.png);
}



/***********************************************************
 * Page content
 **********************************************************/

#content {
	font-size: 0.8em;
}

h2 {
	font-family: "Georgia", serif;
	font-size: 1.4em;
	font-weight: normal;
	margin: 30px 0 10px 0;
}

h3 {
	font-family: "Century Gothic", sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

ul {
	margin-top: 2px;
	margin-bottom: 2px;
}

#content a, #messages a {
	color: #0B5A9D;
	text-decoration: none;
}

#content a:hover, #messages a:hover {
	text-decoration: underline;
}

#page-footer {
	clear: both;
}

#content dt {
	margin-top: 3px;
	font-style: italic;
}
#content dd {
	margin-left: 20px;
}

table.vertical_infotable {
	border-collapse:collapse;
	border: 1px solid #D4D2CE;
	margin: 15px 0 15px 0;
}
table.vertical_infotable th {
	text-align: right;
	font-weight: normal;
	font-style: italic;
	background-color: #ECEBE9;
}
table.vertical_infotable td,
table.vertical_infotable th {
	padding: 2px 6px;
	border: 1px solid #D4D2CE;
}
table.vertical_infotable td {
	background-color: #fff;
}
table.vertical_infotable ul.files-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
table.vertical_infotable span.filesize {
	color: #666;
	font-size: 0.8em;
}


table.horizontal_ordered_table {
	border-collapse:collapse;
	border: 1px solid #D4D2CE;
	margin: 15px 0 15px 0;
}
table.horizontal_ordered_table th {
	text-align: left;
	font-weight: normal;
	background-color: #ECEBE9;
	padding: 4px;
	border: 1px solid #D4D2CE;
	border-bottom-width: 3px;
	font-style: italic;
}
table.horizontal_ordered_table td {
	padding: 4px;
	border: 1px solid #D4D2CE;
	background-color: #fff;
}



/***********************************************************
 * Footer
 **********************************************************/

#footer {
	text-align: right;
	clear: both;
	padding: 20px 20px 20px 20px;
	margin: 0 auto 0 auto;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #ECEBE9;
	color: #D4D2CE;
}
#footer a {
	color: #D4D2CE;
}
#footer a:hover {
	color: #776B5F;
}



/*******************************
 * jquery UI extra
 *******************************/

.ui-widget {
	font-family: "Tahoma", "Geneva", sans-serif;
	font-size: 0.8em;
}

a.autocomplete_item span {
	display: block;
}

span.autocomplete_item_desc {
	font-size: 1.0em;
}

span.autocomplete_item_desc {
	font-size: 0.8em;
}


/*******************************
 * XML-RPC
 *******************************/

.xmlrpc-docs {
}

.xmlrpc-function h3 em {
	font-weight: normal;
}

table.xmlrpc-function-constraints {
	margin-left: 20px;
}
table.xmlrpc-function-constraints td:first-child {
	background-color: #E6E600;
	font-weight: bold;
}
table.xmlrpc-function-constraints ul {
	padding-left: 20px;
}
table.xmlrpc-function-constraints li {
	font-style: italic;
}

.xmlrpc-function-docs {
	margin-left: 20px;
}



/*******************************
 * Dashboard
 *******************************/
#dashboard-important {
	width: 60%;
	float: left;
}
#dashboard-important .dashboarditem {
	border: 1px solid #D4D2CE;
	padding: 0;
	margin: 0;
	background-color: #fff;
	margin-bottom: 20px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#dashboard-important h2 {
	border-bottom: 1px solid #D4D2CE;
	margin: 0;
	font-family: "Arial";
	font-weight: bold;
	font-size: 1.8em;
	padding: 10px;
}
#dashboard-important .dashboarditem-body{
	padding: 10px;
}

#dashboard-normal{
	width: 35%;
	float: right;
	border-style: solid;
	border-color: #D4D2CE;
	border-width: 0 1px 1px 1px;
	background-color: #fff;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#dashboard-normal .dashboarditem {
	border-top: 1px solid #D4D2CE;
	padding: 0;
	margin: 0;
}
#dashboard-normal h2 {
	color: #555;
	margin: 0;
	padding: 10px;
	font-family: "Arial";
	font-weight: bold;
	font-size: 1.2em;
}
#dashboard-normal .dashboarditem-body{
	padding: 0 10px 10px 10px;
	color: #555;
}
#dashboard-normal .dashboarditem-body a{
	color: #555;
}
#dashboard-normal .ui-button-text {
	color: #555;
}
#dashboard-normal .delete .ui-button-text {
	color: #a44;
}
#dashboard-normal .buttonbar,
#dashboard-important .buttonbar {
	margin-top: 10px;
}
#dashboard-normal .dashboarditem .dashboard-help-box,
#dashboard-important .dashboarditem .dashboard-help-box {
	margin-bottom: 10px;
	font-size: 0.8em;
	color: #456;
}


/*******************************
 * Autocomplete
 *******************************/
ul.autocomplete-list-result {
	margin: 0; padding: 0;
}
ul.autocomplete-list-result li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#content ul.autocomplete-list-result li a {
	display: block;
	margin: 1px;
	padding: 2px 5px;
	border: 1px solid transparent;
	text-decoration: none;
	color: #444;
}
#content ul.autocomplete-list-result li a:hover {
	border: 1px solid #D4D2CE;
	background-color: #f8f8f8;
	text-decoration: none;
	color: #111;
}
input.autocomplete-list {
	width: 98%;
}


/*******************************
 * Examiner
 *******************************/

.deadline-box {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #fff;
}

.deadline-box .delete-deadline {
	float: right;
}
.deadline-box .deadline-text {
	font-size: 0.8em;
	color: #555;
	margin-bottom: 10px;
}
.deadline-box .deadline-text-prefix {
	font-style: italic;
}
.deadline-box .deadline-text-text {
	margin-left: 20px;
}

.deadline-box h3 {
	margin: 5px 0 10px 0;
}

.group_closed-hint {
	border: 1px solid #aa0000;
	background-color: #6960EC;
	padding: 5px;
}

/*.deadline-box-after {*/
	/*border: 1px solid #aa0000;*/
	/*background-color: #dd0000;*/
/*}*/
.after_last_deadline_msg {
	color: #aa0000;
	font-style: italic;
	font-weight: normal;
}
.delivery_published_msg {
	color: green;
	font-style: italic;
	font-weight: normal;
}

.delivery_unpublished_msg {
	color: red;
	font-style: italic;
	font-weight: normal;
}

/*******************************
 * Student
 *******************************/
.student-assignments-accordion h4 {
	font-size: 1.0em;
	font-weight: bold;
	margin-top: 10px;
}
.student-assignments-accordion h4:first-child {
	margin-top: 0;
}
.student-assignments-accordion ul {
	margin-left: 0;
	padding-left: 25px;
}
.old-deadline {
	color: #a00;
	font-style: italic;
}
