body {
	font-family: "Tahoma", "Geneva", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #222;
	background-image: url("theme-bg.gif");
}




/*@import "tablesorter.css";*/


/***********************************************************
 * Branding
 **********************************************************/

#branding {
	width: 700px;
	padding: 0;
	margin: 20px auto 20px auto;
	text-align: right;
}

#logo-maintext {
	color: #6d3939;
	font-size: 35px;
	font-family: "Arial Black", sans-serif;
	font-weight: bold;
}
#logo-subtext {
	font-family: "Arial Black", sans-serif;
}
#logo-subtext a {
	color: #555;
	text-decoration: none;
}
#logo-subtext a:hover {
	color: #ccc;
}

/***********************************************************
 * Topbar
 **********************************************************/

#topbar {
	background-color: #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 700px;
	margin: 0 auto 0 auto;
	padding: 10px 40px 10px 40px;
	min-height: 20px;
}

#topbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#topbar li {
	font-size: 0.8em;
	display: inline-block;
	padding: 0;
	margin: 0 6px 0 0;
	color: #888;
}
#topbar a {
	color: #888;
}

#topbar ul#breadcrumbs {
	float: right;
}


/***********************************************************
 * Page
 **********************************************************/

#page {
	clear: both;
	background-color: #fff;
	width: 700px;
	padding: 20px 20px 20px 20px;
	margin: 0 auto 0 auto;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}



/***********************************************************
 * Page sidebar
 **********************************************************/
#sidebar {
	width: 200px;
	font-size: 0.8em;
	float: right;
	margin: 0 -70px 0 0;
}
#sidebar a {
	color: #acc2d6;
}
#sidebar a:visited {
	color: #acacd6;
}
#sidebar .section {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #303030;
	color: #ccc;
}
#sidebar .section:first-child {
	/*background-color: #44513c;*/
	/*color: #c3d0bb;*/
	background-color: #2b4358;
	color: #dfe8ef;
}
#sidebar .section h2 {
	font-size: 1.6em;
	font-family: "Arial Black", sans-serif;
	margin: 0 0 10px 0;
}
#sidebar dt {
	margin-top: 3px;
	font-style: italic;
}
#sidebar dd {
	margin-left: 20px;
}
#sidebar ul {
	margin: 4px 0 0 4px;
	padding: 0;
	list-style: disc url(listbullet.png) inside;
}


/***********************************************************
 * Page heading
 **********************************************************/
#heading h1 {
	color: #111;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 1.6em;
	font-family: "Century Gothic", sans-serif;
	font-weight: normal;
}


/***********************************************************
 * Page content
 **********************************************************/

#content {
	font-size: 0.8em;
}



/***********************************************************
 * Footer
 **********************************************************/

#footer {
	color #666;
	text-align: right;
	clear: both;
	width: 700px;
	padding: 20px 20px 20px 20px;
	margin: 0 auto 0 auto;
	font-size: 0.8em;
	color: #555;
	text-align: center;
}
#footer a {
	color: #555;
}
#footer a:hover {
	color: #ccc;
}
