fieldset {
	border: 1px solid #D4D2CE;
	padding: 0;
	margin: 15px 0 15px 0;
	background-color: #fff;
}


fieldset h2.legend {
	padding: 3px 10px 3px 10px;
	margin: 0;
	border: none;
	background-color: #ECEBE9;
	color: #776B5F;
	font-family: "Century Gothic", sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}

ol.form-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.form-li {
	margin: 0;
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #D4D2CE;
}

label {
	color: #333;
}

li.form-li-required label {
	font-weight: bold;
}

ul.errorlist {
	list-style: none;
	margin: 0 0 5px 0;
	padding: 0;
}

li.form-li-errors, div.rstschema_field-error {
	background-color: rgb(255, 255, 204);
}

ul.errorlist li {
	padding: 5px;
	background-color: red;
	color: #fff;
}

p.form-help {
	color: #777;
}

span.devilry-date-format, span.devilry-time-format {
	color: #666;
}

.submit-row-right {
}

.form-link-as-button a {
	text-decoration: none;
}



/*******************************************
 * stdfieldset
 * - A "normal" fieldset with somewhat short labels.
 *******************************************/

fieldset.stdfieldset ol.form-list label {
	display: block;
	width: 130px;
	float: left;
}
fieldset.stdfieldset ol.form-list label:after {
	content: ':';
}
fieldset.stdfieldset .form-field {
	margin-left: 140px;
}
fieldset.stdfieldset p.form-help {
	margin: 5px 0 0 140px;
	color: #777;
}
fieldset.stdfieldset textarea {
	font-family: "Lucida Console", "Andale Mono", monospace;
}


/********************************
 * Tabular inline
 *******************************/
table.tabular-inline {
	width: 100%;
	border-collapse: collapse;
}
table.tabular-inline th {
	font-weight: normal;
	text-align: left;
	background-color: #fff;
	color: #666;
	border: 1px solid #ddd;
}
table.tabular-inline th.required-field {
	font-weight: bold;
}
table.tabular-inline th,
table.tabular-inline td {
	vertical-align: top;
	padding: 2px 8px;
}
table.tabular-inline tr.oddrow {
	background-color: #eee;
}


div.rstschema_field-radio {
	display: inline;
}
