fieldset {
	border: 1px solid #aaa;
	padding: 0;
	margin: 0 0 15px 0;
}


h2.legend {
	padding: 5px 15px 5px 15px;
	margin: 0;
	font-weight: bold;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 1.2em;
}

ol.form-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.form-li {
	margin: 0;
	padding: 5px 15px 5px 15px;
	border-top: 1px solid #eee;
}

label {
	color: #333;
}

li.form-li-required label {
	font-weight: bold;
}

ul.errorlist {
	list-style: none;
	margin: 0 0 5px 0;
	padding: 0;
}

li.form-li-errors {
	background-color: rgb(255, 255, 204);
}

ul.errorlist li {
	padding: 5px;
	background-color: red;
	color: #fff;
}

p.form-help {
	color: #777;
}

span.devilry-date-format, span.devilry-time-format {
	color: #666;
}

.submit-row-right {
	float: right;
}

.form-link-as-button a {
	text-decoration: none;
}



/*******************************************
 * stdfieldset
 * - A "normal" fieldset with somewhat short labels.
 *******************************************/

fieldset.stdfieldset label {
	display: block;
	width: 130px;
	float: left;
}
fieldset.stdfieldset label:after {
	content: ':';
}
fieldset.stdfieldset .form-field {
	margin-left: 140px;
}
fieldset.stdfieldset p.form-help {
	margin: 5px 0 0 140px;
	color: #777;
}



.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 0.8em; }
