tr.odd.good {
	background-color: #ddffdd;
}

tr.even.good {
	background-color: #eeffee;
}

tr.odd.bad {
	background-color: #ffdddd;
}

tr.even.bad {
	background-color: #ffeeee;
}

tr.odd.trash {
	background-color: #ddd;
}

tr.even.trash {
	background-color: #eee;
}



/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.good td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.good td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.good td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.good td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.good td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.good td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.bad td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.bad td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.bad td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.bad td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.bad td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.bad td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.trash td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.trash td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.trash td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.trash td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.trash td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.trash td.sorting_3 {
	background-color: #e2e2e2;
}


