.comment-form-container{
    background-color: @comment-background-color;
    padding: @devilry-spacing--small;
}


.devilry-group-feedbackfeed-comment-rolemixin(@brand-color, @brand-color-dark) {
    border-left-color: @brand-color;
    a {
        color: @brand-color-dark;
        text-decoration: underline;
        &:hover {
            //color: @link-hover-color;
            color: @brand-color;
        }
    }
}

.devilry-group-feedbackfeed-comment {
    display: block;
    margin-bottom: @devilry-vertical-rythm--medium;
    background-color: @comment-background-color;
    min-height: 5.0em;
    border: 0 solid @default-left-border-color;
    border-left-width: 12px;
    //.clearfix();


    &.devilry-group-feedbackfeed-comment-student {
        .devilry-group-feedbackfeed-comment-rolemixin(@devilry-brand-color-student, @devilry-brand-color-student-dark);
    }
    &.devilry-group-feedbackfeed-comment-examiner {
      .devilry-group-feedbackfeed-comment-rolemixin(@devilry-brand-color-examiner, @devilry-brand-color-examiner-dark);
    }
    &.devilry-group-feedbackfeed-comment-admin {
        .devilry-group-feedbackfeed-comment-rolemixin(@devilry-brand-color-admin, @devilry-brand-color-admin-dark);
    }

    &--with-badge {
        display: flex;
        min-width: 40%;
        max-width: 100%;
        .devilry-group-feedbackfeed-comment-content {
            //float:left;
            max-width:100%;
            min-width: 65%;
            @media(min-width: @screen-md-min) {
                min-width: 75%;
            }
            @media(min-width: @screen-lg-min) {
                min-width: 80%;
            }
        }
    }

    .devilry-group-feedbackfeed-comment-content {
        padding: @devilry-spacing--small;

        .devilry-group-comment-meta {
            //word-break: break-all;
            display: block;
            white-space: normal;
            //float: left;
            color: @comment-text-color;
            font-size: @font-size-small;
            line-height: (@font-size-base + 4px);
            margin-bottom: @devilry-vertical-rythm--medium;
        }

        .devilry-group-comment-created-by {
            //.devilry-group-comment-meta;
            font-weight: bold;
            font-size: @font-size-base;
            //margin-right: 8px;
        }

        .devilry-group-comment-created-by-role {
            display: block;
            @media(min-width: @screen-sm-min) {
                float: right;
            }
        }

        .devilry-group-comment-published-date {
            display: block;
        }

        /**/
        .devilry-group-comment-text{
            font-size: ceil(@font-size-base + 4px);
            margin-bottom: @devilry-vertical-rythm--medium;

            /* we need all these to support browsers that DOES NOT support break-word... edge -_- */
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;

            &:last-child {
                margin-bottom: 0;
            }


            h1, h2, h3 {
                font-weight: normal;
                margin-top: @devilry-vertical-rythm--medium;
                margin-bottom: @devilry-vertical-rythm;
            }

            h4, h5, h6 {
                font-weight: bold;
                font-size: ceil(@font-size-base + 4px);
                margin-top: @devilry-vertical-rythm;
                margin-bottom: @devilry-vertical-rythm;
            }

            h1 {
                font-size: ceil(@font-size-base * 2.5);
                border-bottom: @devilry-brand-border-width solid @devilry-brand-color-default-light4;
                padding-bottom: @devilry-vertical-rythm;
            }
            h2 {
                font-size: ceil(@font-size-base * 2.0);
            }
            h3 {
                font-size: ceil(@font-size-base * 1.5);
            }

            pre {
                margin-bottom: 15px;
            }

            a {
                text-decoration: underline;
            }

            h1, h2, h3, h4, h5, h6, ul, ol, pre, p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            border-left: 1px solid #999999;
      }

    }

    .devilry-group-feedbackfeed-right-badge-field{
        //float: right;
        min-width: 35%;
        min-height: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        @media(min-width: @screen-md-min) {
            min-width: 25%;
        }
        @media(min-width: @screen-lg-min) {
            min-width: 20%;
        }

        &.after-deadline-badge{
            background-color: @devilry-brand-danger-bg;
            color: @devilry-brand-danger-color;
        }

        &.not-published-badge{
            background-color: @devilry-examiner-bgcolor;
        }

        &.not-published-badge-admin{
            background-color: @devilry-anyadmin-bgcolor;
        }
    }
}


.devilry-group-feedbackfeed-badge-text{
    font-size: @badge-text-size;
    font-weight: @badge-text-weight;
    color: @badge-text-color;
    margin: 0;
    left: 0;
    right: 0;
    padding: @devilry-spacing--small;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    //padding: 3em 3em 3em 3em;
    transform: translate(0, -50%);
    //display: inline-block;
    .clearfix();
}
