/* line 8, ../sass/devilry_nodeadmin.scss */
ul.devilry_nodeadmin_massive_navlist li a {
  border: 1px solid #cccccc;
  padding: 14px;
  margin: 5px 0 5px 0;
  background-color: #fff;
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
/* line 18, ../sass/devilry_nodeadmin.scss */
ul.devilry_nodeadmin_massive_navlist li a:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}

/* line 26, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodebrowsersidebar {
  border: none;
  margin-top: 0;
  background-color: #fff;
}

/* line 36, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_defaultnodelist .to-frontpage {
  font-size: 14px;
  float: right;
  margin-left: 10px;
  font-weight: normal;
}
/* line 43, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_defaultnodelist i {
  margin-right: 5px;
}

/* line 48, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

/* line 52, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator {
  min-height: 20px;
  margin-top: 5px;
  padding: 6px 10px;
}
/* line 56, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator a.homelink {
  float: right;
}
/* line 60, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator i {
  margin-right: 5px;
}
/* line 64, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_navigator span {
  margin-right: 50px;
}

/* line 70, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview h1 {
  margin-top: 0;
}
/* line 75, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodedetailsoverview ul.devilry_nodeadmin_toolslist strong {
  font-size: 16px;
}

/* line 81, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist {
  margin-top: 15px;
}
/* line 83, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist li {
  margin: 0;
}
/* line 85, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist li a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 10px;
}
/* line 93, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist li a:hover {
  text-decoration: none;
  background-color: #fff;
}
/* line 99, ../sass/devilry_nodeadmin.scss */
.devilry_nodeadmin_nodechildrenlist .no_nodes_on_level {
  padding: 6px 10px;
}
