{% load i18n %}
{% load devilry_account_tags %}

<p class="objecttable-cellvalue devilry-admin-adminlist-name">
    {% devilry_user_verbose_inline relatedexaminer %}
</p>
{% if buttons %}
    <p class="objecttable-cellbuttons">
        {% for button in buttons %}
            {{ button.render }}
        {% endfor %}
        {% for primary_useremail_object in user.primary_useremail_objects %}
            <a class="btn btn-sm btn-link devilry-btn-link-nouppercase
                        devilry-admin-adminlist-email"
                    href="mailto:{{ primary_useremail_object.email }}">
                {% blocktrans trimmed with email=primary_useremail_object.email %}Contact at {{ email }}{% endblocktrans %}
            </a>
        {% endfor %}
    </p>
{% endif %}
