{% load i18n %}

<dl class="deliveries_by_deadline">
{% comment %}
  {% if deliveries_by_deadline.after_last_deadline %}
  <dt class="deadlineheader">{% trans "After last deadline" %}</dt>
  <dd>
    {% with deliveries_by_deadline.after_last_deadline as deliveries %}
    {% include "devilry/examiner/include/list-deliveries.django.html" %}
    {% endwith %}
  </dd>
  {% endif %}
{% endcomment %}  

  {% for deadline, deliveries in deliveries_by_deadline.within_a_deadline %}
  
  <dt class="deadlineheader">
    {% with deadline.deadline|date:"DATETIME_FORMAT" as deadline %}
    {% blocktrans %} Deadline {{ deadline }}{% endblocktrans %}
    {% endwith %}
  </dt>
  <dd>
    {% include "devilry/examiner/include/list-deliveries.django.html" %}
  </dd>
  {% endfor %}
  
  {% if deliveries_by_deadline.ungrouped_deliveries %}
<dt class="deadlineheader">
    {% with deadline.deadline|date:"DATETIME_FORMAT" as deadline %}
    {% blocktrans %} Deliveries {% endblocktrans %}
    {% endwith %}
  </dt>
  <dd>
    {% with deliveries_by_deadline.ungrouped_deliveries as deliveries %}
    {% for delivery in deliveries %}
	
	<ul class="deliverylist">
	  {% include "devilry/examiner/include/deliverylisting.django.html" %}
	</ul>
	
    {% endfor %}
    {% endwith %}
  </dd>
  {% endif %}
</dl>
