{% extends "devilry/ui/base.django.html" %}
{% load markup %}

{% block title %}XML-RPC - {{name}}{% endblock %}


{% block sidebar %}
<div id='sidebar'>
	<div class="section">
		<h2>Other XML-RPC API's</h2>
		<ul>
		{% for n, xmlrpc in xmlrpcs.iteritems %}
			<li>
				{% if n == name %}
					<strong><a href='{{xmlrpc.get_url}}'>{{n}}</a></strong>
				{% else %}
					<a href='{{xmlrpc.get_url}}'>{{n}}</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<h1>XML-RPC - {{name}}</h1>
<h2>Functions</h2>
{% for name, docs in docs %}
	<h3>{{name}}(...)</h3>
	<div class="function-docs">{{ docs|restructuredtext }}</div>
{% endfor %}
{% endblock %}
