{% extends "cradmin_legacy/menuitem.django.html" %}
{% load cradmin_legacy_icon_tags %}

{% block link-label %}
    <span class="devilry_accountbutton__iconwrapper">
        <span class='{% cradmin_icon "devilry-account" %} devilry_accountbutton__icon'
              aria-hidden="true"></span>
    </span>
    {% if menuitem.user.fullname %}
        <span class="devilry_accountbutton__initials" aria-hidden="true">{{ menuitem.user.get_initials }}</span>
    {% else %}
        <span class="devilry_accountbutton__shortname" aria-hidden="true">{{ menuitem.user.shortname }}</span>
    {% endif %}
    <span class="devilry_accountbutton__displayname">{{ menuitem.user.get_displayname }}</span>
{% endblock link-label %}
