{% load static %}
<html>
<head>
    <link href='{% get_static_prefix %}rest/resources/stylesheets/screen.css' media="screen, projection" rel="stylesheet" type="text/css" />
    <link href='{% get_static_prefix %}rest/resources/stylesheets/print.css' media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href='{% get_static_prefix %}rest/resources/stylesheets/ie.css' media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script type="text/javascript">
        function open_alternative_format(content_type) {
            var search = window.location.search;
            var regex = /\&?_devilry_accept=[a-zA-Z0-9+\/-]+/;
            var newsearch = search.replace(regex, '');
            newsearch += '';
            if(!newsearch.match(/^\?.*/)) {
                newsearch = '?' + newsearch;
            }
            newsearch += '&_devilry_accept=' + content_type;
            window.location.href = newsearch;
        }
    </script>
</head>
{{ body|safe }}

</html>
