{% extends "devilry_gradingsystem/feedbackbulkeditorbase.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block pagecontent %}



<div class="container">
    {% if not group_ids_form.is_valid %}
        {% include "devilry_examiner/include/django_formerrors_as_alertboxes.django.html" with form=group_ids_form %}
    {% else %}
        <h2>{% trans "You are now correcting the following groups in bulk" %}</h2>
        {% for group in group_ids_form.cleaned_groups %}
            <p>{{ group }}</p>
        {% endfor  %}

        {% crispy form %}
    {% endif %}
</div>

{% endblock pagecontent %}
