// BREADCRUMBS
// -----------

.devilry_extjsextras_breadcrumb {
  padding: 7px 40px 8px 10px;
  margin: 0;
  li {
    display: inline;
    font-size: $baseFontSize - 1px;
    a {
        color: $grayLighter;
        text-decoration: underline;
    }
  }
  .divider {
    padding: 0 5px;
    color: $grayLighter;
  }
  .active {
    color: $grayLighter;
    font-weight: bold;
  }
  .prefixtext {
    color: $gray;
    font-weight: normal;
    margin-right: 4px;
  }
}
