$almostblack: #191919 !default;
//$orangeDark: #DC5600 !default;
$devilry_selected_box_bordercolor: darken($blueDark, 10%);
$devilry_selected_box_bgcolor: $blueDark;

//$devilry_studentcolor_bg: #77B300;
$devilry_examinercolor_bg: #0077B3;
//$devilry_subjectadmin_bg: #FFCC00;
//$devilry_administratorcolor_bg: #ff9900;
//$devilry_superusercolor_bg: #CC3300;
