@import "compass/css3/border-radius";

.formhelp {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $grayLight;
}

//label,
//input,
//select,
//textarea {
    //@include sans-serif-font(normal,14px,normal);
//}

label {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: #444;
    cursor: pointer;
    &:hover {
        color: #000;
    }
}

// Can be set on ExtJS fields with label to make the label strong
.stronglabel label {
    font-weight: bold;
}
.extrastronglabel label {
    font-weight: bold;
    font-size: $baseFontSize + 3px;
    line-height: $baseLineHeight + 3px;
}

// Focus states
input,
textarea,
input.x-form-text,
.x-border-box .x-field-default-toolbar .x-form-text,
textarea.x-form-field {
    $transition: border linear .2s, box-shadow linear .2s;
    @include transition($transition);
    @include box-shadow(inset 0 1px 3px rgba(0,0,0,.1));
    @include border-radius(3px);
    padding: 4px 6px;
    height: auto;
}
input:focus,
textarea:focus {
    outline: 0;
    border-color: rgba(82,168,236,.8);
    $shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    @include box-shadow($shadow);
}
input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
    @include box-shadow(none); // override for file inputs
    outline: 1px dotted #666; // Select elements don't get box-shadow styles, so instead we do outline
}


.hugefield {
    input[type=text] {
        height: auto;
        font-size: 25px;
        line-height: normal;
    }
}
