@import "compass/css3/border-radius";


.x-grid-row .x-grid-cell-inner {
    @include selectableRowStyles();
}

.x-grid-row-selected .x-grid-cell-inner {
    @include selectableRowStylesSelected();
}


.x-grid table.x-grid-table {
    tr.x-grid-row {
        td.x-grid-cell-row-checker.devilry-grid-cell-row-checker-bigbutton {
            .x-grid-cell-inner {
                padding: 0;
                .x-grid-row-checker {
                    padding: 0;
                    margin: 2px;
                    height: 40px !important;
                    width: 46px !important;
                    background-position: 50% 10px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    &:hover {
                        //background-color: $devilry_selected_box_bgcolor;
                        background-color: #ddd;
                        @include border-radius(6px);
                        border-color: #bbb;
                    }
                }
            }
        }

        &.x-grid-row-selected td.x-grid-cell-row-checker.devilry-grid-cell-row-checker-bigbutton .x-grid-row-checker {
            &:hover {
                background-color: darken($devilry_selected_box_bgcolor, 5%);
                border-color: darken($devilry_selected_box_bgcolor, 10%);;
            }
        }
    }
}
.x-column-header-checkbox.devilry-column-header-checkbox-bigbutton .x-column-header-text {
    width: 50px !important;
    margin: 0;
    cursor: pointer;
    background-position: 50% -1px;
}

.x-grid-row-checker {
    cursor: pointer;
}
