@include extjs-panel-ui(
    'helpsidebar',
    $ui-base-color: #fff,

    $ui-border-color: darken($successBorder, 15%),
    $ui-border-radius: null,
    //$ui-border-width: 1,

    $ui-header-color: darken($successText, 15%),
    $ui-header-font-family: $panel-header-font-family,
    $ui-header-font-size: $panel-header-font-size,
    $ui-header-font-weight: $panel-header-font-weight,
    $ui-header-line-height: $panel-header-line-height,
    $ui-header-border-color: darken($successBorder, 15%),
    $ui-header-background-color: darken($successBorder, 15%),
    $ui-header-background-gradient: null,
    $ui-header-inner-border-color: null,

    $ui-body-color: $successText,
    $ui-body-border-color: darken($successBorder, 15%),
    $ui-body-border-width: 1,
    $ui-body-border-style: solid,
    $ui-body-background-color: $successBackground,
    $ui-body-font-size: null,
    $ui-body-font-weight: null,
    // optional image label to use when background header images are required (no linear-gradient),
    // but border-radius is supported (no framing els) e.g. IE9.
    $ui-image-label-with-border-radius: null
);

.x-panel-helpsidebar .guidesystem_progress {
    font-weight: bold;
    background-color: $successBorder;
    padding: 3px 0 3px 8px;
}
