@include extjs-panel-ui(
    'inset-header-panel',

    $ui-base-color: $panel-base-color,
    $ui-border-width: 3px,
    $ui-border-color: #ddd,
    $ui-border-radius: 6px,

    $ui-header-color: $grayDark,
    $ui-header-font-size: $baseFontSize + 4px,
    $ui-header-font-weight: normal,
    $ui-header-border-color: #fff,
    $ui-header-background-color: null,
    $ui-header-background-gradient: null,

    $ui-body-color: $almostblack,
    $ui-body-border-color: $panel-body-border-color,
    $ui-body-border-width: 0,
    $ui-body-background-color: transparent
);

.x-panel-inset-header-panel {
    overflow: visible !important;
    .x-panel-header-inset-header-panel {
        overflow: visible !important;
        padding: 0;
        .x-panel-header-body-inset-header-panel-horizontal {
            overflow: visible !important;
            .x-box-inner {
                overflow: visible !important;
                .x-panel-header-text-container {
                    height: auto !important;
                    line-height: 1.6em;
                    overflow: visible !important;
                    position: relative;
                    span.x-panel-header-text-inset-header-panel {
                        padding: 0 15px 0 15px;
                        position: absolute;
                        top: -17px;
                        left: 0;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .x-panel-body-inset-header-panel {
        padding: 15px 20px 20px 20px;
    }
}
