// Scaffolding

.bootstrap {
    // This is the bootstrap body style, however we only use bootrap when
    // requested using the bootstrap class.
    margin: 0;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    background-color: $white;

    // LINKS
    // -----
    a {
      color: $linkColor;
      text-decoration: none;
    }
    a:hover {
      color: $linkColorHover;
      text-decoration: underline;
    }
}
