{% extends "cradmin_legacy/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block title %}
    {% blocktrans trimmed with period=period.get_path %}
        Students on {{ period }}
    {% endblocktrans %}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'overview' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to semester overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% blocktrans trimmed with period=period.get_path %}
            Students on {{ period }}
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}


{% block content %}
    <div class="container">
        <p id="devilry_admin_period_students_overview_buttonbar"
                class="devilry-buttonbar">
            <a id="devilry_admin_period_students_overview_button_add"
                    class="btn btn-primary"
                    href="{% cradmin_appurl 'add' %}">
                {% trans "Add students" %}
            </a>
            {% if user_is_department_admin %}
                <a id="devilry_admin_period_students_overview_button_importstudents"
                        class="btn btn-default"
                        href="{% cradmin_appurl 'importstudents' %}">
                    {% trans "Import students" %}
                </a>
            {% endif %}
        </p>
    </div>

    {{ block.super }}
{% endblock content %}


{% block no-items-paragraph-contents %}
    {% trans "You have no students. Use the buttons above to add students." %}
{% endblock no-items-paragraph-contents %}
