.devilry-tabulardata-list {
  &--as-table{
    max-width: 100%;
    overflow-x: auto;

    .devilry-tabulardata-list__content{
      display: table;
    }
  }

  .devilry-tabulardata-list__header {
    display: table-row-group;
    font-size: 18px;
    font-weight: bold;
  }

  .devilry-tabulardata-list__body {
    display: table-row-group;
  }

  .devilry-tabulardata-list__row {
    display: table-row;
    clear: both;

    &--result-info{
      &:hover {
        background-color: @devilry-brand-color-admin-light3;
      }
    }
  }

  .devilry-tabulardata-list__cell {
    display: table-cell;
    padding: 20px;
    border-bottom: 1px solid @devilry-brand-color-admin-light3;

    &--columnheader{
      border-bottom: 5px solid @devilry-brand-color-admin;
    }
  }
}


//@media only screen and (max-width: 768px){
//
//  .devilry-tabulardata-list--as-table {
//    position: relative;
//    width: 100%;
//
//    .devilry-tabulardata-list__header {
//      display: inline-block;
//      width: 100%;
//      border-bottom: solid @devilry-brand-color-admin;
//    }
//
//    .devilry-tabulardata-list__body {
//      display: inline-block;
//      width: 100%;
//    }
//
//    .devilry-tabulardata-list__row {
//      &:nth-child(even) {
//        background-color: #eeddee;
//      }
//      display: inline-block;
//      width: 100%;
//    }
//
//    .devilry-tabulardata-list__cell {
//      display: inline-block;
//      width: 100%;
//      border-bottom: 0;
//    }
//
//    .devilry-tabulardata-list__cell--columnheader {
//      .devilry-tabulardata-list__cell;
//      display: inline-block;
//      width: 100%;
//    }
//  }
//
//}