/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 30px;
}
h1 {
    font-size: 2.0em;    
}
body>dl {
    &>dt {
        border-top: 3px solid #eee;
        color: #333;
        margin-top: 30px;
        font-size: 1.8em;
        font-weight: bold;
    }
    &>dd {
        margin-left: 0;
        dt {
            font-weight: bold;
        }
    }
}
