{% extends "cradmin_legacy/base.django.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load cradmin_legacy_tags %}

{% block title %}
    {{ assignment.get_path }}
{% endblock title %}

{% block pageheader-inner %}
    <div class="row">
        <div class="col-sm-8">
            <h1>
                {{ assignment.long_name }}
            </h1>
        </div>
        <div class="col-sm-4">
            <p id="devilry_admin_assignment_edit_long_name" class="text-right">
                <a href="{% cradmin_appurl "update_assignment_short_and_long_name" assignment.id %}"
                        class="btn btn-default btn-sm">
                    {% trans "Edit name" %}
                </a>
            </p>
        </div>
    </div>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        {% include "devilry_admin/assignment/includes/batchdownload_assignment.django.html" %}

        <div class="devilry-dashboard-container devilry-dashboard-container-focus">
            {% include "devilry_admin/assignment/include/students.django.html" %}
        </div>
        <div class="devilry-dashboard-container devilry-dashboard-container-focus">
            {% include "devilry_admin/assignment/include/examiners.django.html" %}
        </div>
        <div class="devilry-dashboard-container">
            {% include "devilry_admin/assignment/include/published.django.html" %}
        </div>
        <div class="devilry-dashboard-container">
            {% include "devilry_admin/assignment/include/gradingconfiguration.django.html" %}
        </div>
        <div class="devilry-dashboard-container">
            {% include "devilry_admin/assignment/include/settings.django.html" %}
        </div>
        <div class="devilry-dashboard-container">
            {% include "devilry_admin/assignment/include/utilities.django.html" %}
        </div>
        <div class="devilry-dashboard-container">
            {% include "devilry_admin/assignment/include/statistics.django.html" %}
        </div>
    </div>
{% endblock content %}

{% block end-of-body %}
    {{ block.super }}
    {% include "devilry_theme3/include/devilry_all_js.django.html" %}
{% endblock end-of-body %}
