{% extends "django_cradmin/base.django.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}
    {{ assignment.get_path }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {{ assignment.long_name }}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container django-cradmin-container-focus">
        <div class="row">
            {% include "devilry_admin/assignment/include/main.django.html" %}
        </div>
        <hr>
        <div class="row">
            {% include "devilry_admin/assignment/include/published.django.html" %}
        </div>
        <hr>
        <div class="row">
            {% include "devilry_admin/assignment/include/gradingconfiguration.django.html" %}
        </div>
        <hr>
        <div class="row">
            {% include "devilry_admin/assignment/include/settings.django.html" %}
        </div>
        <hr>
        <div class="row">
            {% include "devilry_admin/assignment/include/utilities.django.html" %}
        </div>
        <hr>
{#        <div class="row">#}
{#            {% include "devilry_admin/assignment/include/administrators.django.html" %}#}
{#        </div>#}
    </div>
{% endblock content %}
