{% load i18n %}

{% if messages %}
    <ul id="django_cradmin_messages" role="complementary" class="list-unstyled">
        {% for message in messages %}
            <li>
                <div class="alert django-cradmin-alert-nomargin django-cradmin-alert-edge-to-edge
                            {% if message.tags == "error" %}
                                alert-danger
                            {% else %}
                                alert-{{ message.tags }}
                            {% endif %}
                        "
                        role="alertdialog">
                    <span class="sr-only">
                        {% if message.tags == "error" %}
                            {% trans "Error" %}
                        {% elif message.tags == "warning" %}
                            {% trans "Warning" %}
                        {% elif message.tags == "info" %}
                            {% trans "Info" %}
                        {% elif message.tags == "success" %}
                            {% trans "Success" %}
                        {% endif %}
                        :
                    </span>
                    {{ message }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
