{% extends "devilry_group/base.django.html" %}

{% block body %}
    <h1>Hello, world! <small> - When I grow up, I want to be a feedback feed full of comments and stuffs!</small></h1>
    <h2>Someone stole my sidebar menu.. :/</h2>
    <div class="admin_comment">
        <div class="left-field">
            <div class="comment-meta">
                <h1 class="comment-created-by">Name</h1>
                <h1 class="comment-created-meta-text">(admin) - 2 days ago (2015-05-17 09:01)</h1>
            </div>
            <div class="comment-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin non nisl purus. Fusce elementum, odio id molestie elementum,
                sem eros vehicula magna, vitae blandit purus lacus sed justo.
                Etiam mattis tellus massa, nec vehicula nulla volutpat condimentum.
                Sed eget odio sit amet erat vulputate porta. Donec vitae cursus nulla.
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="examiner_comment">
        <div class="left-field">
            <div class="comment-meta">
                <h1 class="comment-created-by">Name</h1>
                <h1 class="comment-created-meta-text">(examiner) - 2 days ago (2015-05-17 09:01)</h1>
            </div>
            <div class="comment-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin non nisl purus. Fusce elementum, odio id molestie elementum,
                sem eros vehicula magna, vitae blandit purus lacus sed justo.
                Etiam mattis tellus massa, nec vehicula nulla volutpat condimentum.
                Sed eget odio sit amet erat vulputate porta. Donec vitae cursus nulla.
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="student_comment">
        <div class="left-field">
            <div class="comment-meta">
                <h1 class="comment-created-by">Name</h1>
                <h1 class="comment-created-meta-text">(student) - 2 days ago (2015-05-17 09:01)</h1>
            </div>
            <div class="comment-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin non nisl purus. Fusce elementum, odio id molestie elementum,
                sem eros vehicula magna, vitae blandit purus lacus sed justo.
                Etiam mattis tellus massa, nec vehicula nulla volutpat condimentum.
                Sed eget odio sit amet erat vulputate porta. Donec vitae cursus nulla.
            </div>
            <div class="file-icon"></div>
            <div class="file-icon"></div>
            <div class="file-icon"></div>
            <div class="image-icon"></div>
        </div>
        <div class="after-deadline-badge">
            <p class="badge-text">NOT PART OF THE DELIVERY</p>
        </div>
    </div>
{% endblock body %}