@import "compass/css3/border-radius";

$borderColor: #ccc;


ul.devilry_nodeadmin_massive_navlist {
    li {
        a {
            border: 1px solid $borderColor;
            padding: 14px;
            margin: 5px 0 5px 0;
//            @include border-radius(5px);
            background-color: #fff;
            display: block;
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
            &:hover {
                text-decoration: none;
                background-color: lighten($borderColor, 15%);
            }
        }
    }
}

.devilry_nodeadmin_nodebrowsersidebar {
    border: none;
    margin-top: 0;
    background-color: #fff;
//    &.devilry_subjectadmin_editsidebarcontainer_hover {
//        background-color: #fff;
//    }
}

.devilry_nodeadmin_defaultnodelist {
    .to-frontpage {
      font-size: 14px;
      float: right;
      margin-left: 10px;
      font-weight: normal;
    }

    i {
      margin-right: 5px;
    }
}

.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

.devilry_nodeadmin_navigator {
    min-height: 20px;
    margin-top: 5px;
    padding: 6px 10px;
    a.homelink {
        float: right;
    }

    i {
        margin-right: 5px;
    }

    span {
        margin-right: 50px;
    }
}

.devilry_nodeadmin_nodedetailsoverview {
    h1 {
        margin-top: 0;
    }

    ul.devilry_nodeadmin_toolslist {
        strong {
            font-size: 16px;
        }
    }
}

.devilry_nodeadmin_nodechildrenlist {
    margin-top: 15px;
    li {
        margin: 5px 0 5px 0;
        a {
            font-size: 20px;
            border-top: 1px dotted $borderColor;
            border-bottom: 1px dotted $borderColor;
            display: block;
            text-decoration: none;
            font-weight: bold;
            padding: 6px 10px;
            &:hover {
                text-decoration: none;
                background-color: #fff;
            }
        }
    }
    .no_nodes_on_level {
        padding: 6px 10px;
    }
}
