{% extends "cradmin_legacy/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{{ backlink_url }}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {{ backlink_label }}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    {{ block.super }}
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <div class="devilry-dashboard-container">
            <strong>
                <p class="devilry-cradmin-confirmview-message">
                    {% if uses_email_auth_backend %}
                        {% blocktrans trimmed %}
                            Please verify that the emails you add below match existing users in Devilry to avoid generating new users.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans trimmed %}
                            Please verify that the usernames you add below match existing users in Devilry to avoid generating new users.
                        {% endblocktrans %}
                    {% endif %}
                </p>
            </strong>
        </div>
    </div>
    {{ block.super }}
{% endblock content %}
