{% extends "devilry/gradestats/user-base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>{{ period }}</li>
{% endblock %}

{% block customcss %}
  <style type="text/css">
    .hidden {
      display: none;
    }
    .important {
      font-weight: bold;
    }
    .passing_grade {
      color: #090;
    }
    .failed_grade {
      color: #d00;
      font-weight: bold;
    }
    tr.odd td.
  </style>
{% endblock %}
{% block customjs %}

  {% include "devilry/ui/include/datatables.django.html" %}
  
  <script type="text/javascript">
    $(function() {
      var statstable = $("#statstable").dataTable({
        "bJQueryUI": true,
        "bStateSave": true,
        "sPaginationType": "full_numbers"
      });

      $("#toggle_details").click(function(e) {
        $(".details").toggleClass("hidden");
        $(".nodetails").toggleClass("hidden");
      });
    });
  </script>          
{% endblock %}

{% block heading %}{{ period.parentnode.short_name }} - {{ period.long_name }}{% endblock %}

{% block content %}


<p>This period requires each student to get at least <em>
{{ period.minimum_points }} points</em>.</p>

</p>
{% if mustpass_assignments.count %}
  <p>In addition the <strong>emphasized</strong> assignments below must be passed:</p>
  <ul>
  {% for a in period.assignments.all %}
    <li>
      <a href='{% url devilry-admin-edit_assignment a.id %}'
        style='font-weight:{{ a.must_pass|yesno:"bold,normal"}};'>{{ a.long_name }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

<h2>{% trans "Overview" %}</h2>

<p class='help-box'>{% blocktrans %}Each row contains the points a student have
been given on every assignments within this period and the sum of these points.
The maximum number of points is the number in parentheses in each column
header. If the grade on a single assignment is a failing grade, the points are
shown as bold red. If the entire period is failed, the entire row has a red
background. Passed assignments and periods are shown with green. Click "toggle
details" to show/hide extra details, and click on a username for detailed statistics for
that user in this period.{% endblocktrans %}</p>

<button class='button' id='toggle_details'>{% trans "Toggle details" %}</button>
{% if usergrades %}
  <table id="statstable" class='display' cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>{% trans "Student" %}</th>
        <th class='important'>{% trans "Sum" %} ({{ maxpoints }})</th>
        {% for assignment in assignments_in_period %}
          <th>{{ assignment.short_name }} ({{ assignment.pointscale }})</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user, assignments, points, passes_period in usergrades %}
        <tr class="{{ passes_period|yesno:"good,bad" }}">
          <td>
            <a href="{% url devilry-gradestats-admin_userstats period.id user.username %}">
              {{ user }}
            </a>
          </td>
          <td class='important'>
            {{ points|floatformat:"-2" }}
          </td>
          {% for assignment, assignmentpoints, is_passing_grade, groups in assignments %}
            <td>
              <div class='nodetails {{ is_passing_grade|yesno:"passing_grade,failed_grade" }}'>
                {{ assignmentpoints|floatformat:"-2" }}
              </div>
              {% if groups|length > 1 %}
                <div class='warning'>
                  {% trans "Student is in more than one group on this assignment" %}
                </div>
              {% else %}
                {% comment %}
                <ul class='details hidden'>
                  <li>{% trans "Points" %}:{{ assignmentpoints|floatformat:"-2" }}</li>
                  {% for group in groups %}
                    <li>{% trans "Grade" %}:{{ group.get_grade_as_short_string }}</li>
                    <li>
                      {% trans "Status" %}:
                      <span class="{{ group.get_status_cssclass }}">
                        {{ group.get_localized_student_status }}
                      </span>
                    </li>
                  {% endfor %}
                </ul>
                {% endcomment %}
              {% endif %}
           </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class='warning-box'>{% trans "No statistics available." %}</p>
{% endif %}

{% endblock %}
