{% extends "devilry/ui/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    {% blocktrans %}Statistics for {{ period }}{% endblocktrans %}
  </li>
{% endblock %}

{% block heading %}{{ period }}{% endblock %}

{% block content %}

<table class='horizontal_ordered_table'>
	<thead>
		<tr>
			<th>{% trans "User" %}</th>
			<th>{% trans "Grade" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for user, grades in usergrades %}
			<tr>
				<td>
          <a href="{% url devilry-gradestats-admin_userstats period.id user.username %}">
            {{ user }}
          </a>
        </td>
				<td>
					{% for grade in grades %}
						<span class="inline-infobox">{{ grade }}</span>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
