{% extends "devilry/gradestats/user-base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>{{ period }}</li>
{% endblock %}

{% block customcss %}
  <link rel="stylesheet" type="text/css" href="{{ DEVILRY_RESOURCES_URL }}/thirdparty/datatables/media/css/demo_table.css" />
  <link rel="stylesheet" type="text/css" href="{{ DEVILRY_RESOURCES_URL }}/thirdparty/datatables/media/css/demo_table_jui.css" />
  <link rel="stylesheet" type="text/css" href="{{ DEVILRY_RESOURCES_URL }}/thirdparty/datatables/media/css/demo_page.css" />
  <style type="text/css">
    .hidden {
      display: none;
    }
    .important {
      font-weight: bold;
    }
  </style>
{% endblock %}
{% block customjs %}
  <script type="text/javascript" src="{{ DEVILRY_RESOURCES_URL }}/thirdparty/datatables/media/js/jquery.dataTables.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#statstable").dataTable({
        "bJQueryUI": true,
        //"sPaginationType": "full_numbers"
      });

      $("#toggle_details").click(function(e) {
        $(".details").toggleClass("hidden");
        $(".nodetails").toggleClass("hidden");
      });
    });
  </script>          
{% endblock %}

{% block heading %}{{ period.parentnode.short_name }} - {{ period.long_name }}{% endblock %}

{% block content %}


<button class='button' id='toggle_details'>{% trans "Toggle details" %}</button>


{% if usergrades %}
  <table id="statstable" class='display' cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>{% trans "User" %}</th>
        <th class='important'>{% trans "Sum" %}</th>
        {% for assignment in assignments_in_period %}
          <th>{{ assignment.short_name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user, assignments, points in usergrades %}
        <tr>
          <td>
            <a href="{% url devilry-gradestats-admin_userstats period.id user.username %}">
              {{ user }}
            </a>
          </td>
          <td class='important'>
            {{ points }}
          </td>
          {% for assignment, assignmentpoints, groups in assignments %}
            <td>
              <div class='nodetails'>{{ assignmentpoints }}</div>
              <ul class='details hidden'>
                <li>{% trans "Points" %}:{{ points }}</li>
                {% for group in groups %}
                  <li>
                    {% trans "Status" %}:
                    <span class="{{ group.get_status_cssclass }}">
                      {{ group.get_localized_student_status }}
                    </span>
                  </li>
                {% endfor %}
                {% if groups|length > 1 %}
                  <li class='warning'>
                    {% trans "More than one group" %}
                  </li>
                {% endif %}
              </ul>
           </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class='warning-box'>{% trans "No statistics available." %}</p>
{% endif %}

{% endblock %}
