{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% if showboth %}
  <h3>{% trans "Periods where you are admin" %}</h3>
{% endif %}
{% for subject in where_is_admin_or_superadmin %}
  <h4>{{ subject }}</h4>
  <ul>
  {% for period in subject %}
    <li>
      <a href="{% url devilry-gradestats-admin_periodstats period.node.id %}">
        {{ period }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

{% if showboth %}
  <h3>{% trans "Periods where you are student" %}</h3>
{% endif %}
{% for subject in where_is_student %}
  <h4>{{ subject }}</h4>
  <ul>
  {% for period in subject %}
    <li>
      <a href="{% url devilry-gradestats-userstats period.node.id %}">
        {{ period }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}
