{% extends "devilry/gradestats/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block heading %}Statistics for {{ userobj }} in {{ period }}{% endblock %}
{% block title %}Statistics for {{ userobj }} in {{ period }}{% endblock %}

{% block customcss %}
  <style type="text/css">
    .passing_grade {
      background-color: green;
    }

  </style>
{% endblock %}

{% block content %}
  <table class="horizontal_ordered_table">
    <thead>
      <tr>
        <th>{% trans "Assignment" %}</th>
        <th>{% trans "Group members" %}</th>
        <th>{% trans "Grade" %}</th>
        <th>{% trans "Points" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr class="{% cycle "odd" "even" %}
            {% if group.status < 3 or not group.parentnode.student_can_see_grade %}
              trash
            {% else %}
              {% if group.is_passing_grade %}
                good
              {% else %}
                bad
              {% endif %}
            {% endif %}">
          <td>
            <a href="{% block groupurl %}{% endblock %}">
              {{ group.parentnode.long_name }}
            </a>
          </td>
          <td>{{ group.get_candidates }}</td>
          {% if group.status == 3 %}
            <td>{{ group.get_grade_as_short_string }}</td>
          {% else %}
            <td class='{{ group.get_status_student_cssclass }}'>{{ group.get_localized_student_status }}</td>
          {% endif %}
		  {% if group.parentnode.student_can_see_grade %}
			<td>{{ group.scaled_points|floatformat:"-2" }}/{{ group.parentnode.pointscale|floatformat:"-2" }}</td>
          {% else %}
			<td>{% trans "Not available" %}</td>
		  {% endif %}
		  </tr>
      {% endfor %}
    </tbody>
    <tfoot>
	  {% if show_sum %}
		<tr>
		  <td colspan='3'>{% trans "Sum" %}</td>
		  <td>{{ total|floatformat:"-2" }}/{{ maxpoints|floatformat:"-2" }}</td>
		</tr>
      {% endif %}
	</tfoot>
  </table>
{% endblock %}
