{% extends "devilry/gradestats/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block heading %}Statistics for {{ userobj }} in {{ period }}{% endblock %}
{% block title %}Statistics for {{ userobj }} in {{ period }}{% endblock %}

{% block content %}
  <table class="horizontal_ordered_table">
    <thead>
      <tr>
        <th>{% trans "Assignment" %}</th>
        <th>{% trans "Group members" %}</th>
        <th>{% trans "Grade" %}</th>
        <th>{% trans "Points" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td>
            <a href="{% block groupurl %}{% endblock %}">
              {{ group.parentnode.long_name }}
            </a>
          </td>
          <td>{{ group.get_candidates }}</td>
          <td>{{ group.get_grade_as_short_string|default_if_none:"" }}</td>
          <td>{{ group.scaled_points|floatformat:"-2" }}/{{ group.parentnode.pointscale|floatformat:"-2" }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan='3'>{% trans "Sum" %}</td>
        <td>{{ total|floatformat:"-2" }}</td>
      </tr>
    </tfoot>
  </table>
{% endblock %}
