{% extends "devilry_examiner/allgroupsoverview.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}
{% trans "Edit" %} {{ block.super }}
{% endblock title %}

{% block breadcrumbtail %}
{{ block.super }}
<li class="active">{% trans "Edit feedback" %}</li>
{% endblock breadcrumbtail %}

{% block pagecontent %}
<div class="container cradmin-legacy-container-focus">
    {% if optionsform and not optionsform.is_valid %}
        {% include "devilry_examiner/include/django_formerrors_as_alertboxes.django.html" with form=optionsform %}
    {% else %}
        {% block edit_feedback_for_list %}
           <span class="text-muted">{% trans "Edit feedback for" %}:</span>
            <ul class="list-inline text-muted">
                {% for group in selected_groups %}
                    <li>{{ group.long_displayname }}</li>
                {% endfor %}
            </ul>       
        {% endblock edit_feedback_for_list %}
        {% block edit_draft_form %}
            {% if submitted_primaryform %}
                {% crispy submitted_primaryform %}
            {% else %}
                {% crispy primaryforms.submit_publish %}
            {% endif %}
        {% endblock edit_draft_form %}
    {% endif %}
</div>
{% endblock pagecontent %}
