{% extends "devilry_examiner/allgroupsoverview.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "Preview" %} {{ block.super }}
{% endblock title %}

{% block breadcrumbtail %}
{{ block.super }}
<li class="active">{% trans "Preview feedback" %}</li>
{% endblock breadcrumbtail %}

{% block pagecontent %}
    <div class="read-feedback-box">
        {% include "devilry_examiner/readonly-feedback.django.html" with feedback=unsaved_staticfeedback %}
    </div>

    <div class="container cradmin-legacy-container-focus">
        <form method='post' class="pull-right">
            <button type="submit" class="btn btn-success btn-lg" name="submit_publish">
                {% trans "Publish" %}
            </button>
        </form>
        <form method='post' action="{{ edit_draft_form_url }}">
            {% crispy edit_draft_form %}
            <button type="submit" class="btn btn-default" name="submit_edit_draft">
                <i class="fa fa-edit"></i>
                {% trans "Edit draft" %}
            </button>
        </form>
    </div>
{% endblock pagecontent %}
