<html>
    <head>
        <title>Devilry</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >


        {% block translations %}
        {% endblock %}

        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/i18n/i18n.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ DEVILRY_STATIC_URL }}/themebase/css/devilry.css" />
        {% if with_css %}
            <link rel="stylesheet" type="text/css" href="{{ DEVILRY_STATIC_URL }}/{{ appname }}/resources/stylesheets/{{ appname }}.css" />
        {% endif %}

        {% block devilryjs %}
        {% endblock %}

        {% if debug %}
            <script type="text/javascript" src="{{ DEVILRY_EXTJS_URL }}/ext-debug.js"></script>
            <script type="text/javascript">
                Ext.syncRequire('Ext.Ajax');
                Ext.Ajax.defaultHeaders = {
                    'X_DEVILRY_USE_EXTJS': true
                };
                Ext.Loader.setConfig({
                    enabled: {% if debug %}true{% else %}false{% endif %},
                    paths: {
                        {% if include_old_exjsclasses %}
                            'devilry': '{{ DEVILRY_STATIC_URL }}/extjs_classes',
                        {% endif %}
                        {% for lib in libs %}
                            '{{ lib }}': '{{ DEVILRY_STATIC_URL }}/{{ lib }}/lib',
                        {% endfor %}
                        // Add the app here to be able to require Application.js
                        '{{ appname }}': '{{ DEVILRY_STATIC_URL }}/{{ appname }}/app'
                    }
                });

                // Load RestProxy synchronously. This is required to make it
                // possible for model classes to use RestProxy at load time (when
                // the JS file is loaded).
                Ext.syncRequire('devilry.extjshelpers.RestProxy');
            </script>
        {% else %}
            <script type="text/javascript" src="{{ DEVILRY_EXTJS_URL }}/ext.js"></script>
            <script type="text/javascript">
                Ext.Loader.setConfig({
                    enabled: false
                });
            </script>
            <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/{{ appname }}/app-all.js"></script>
            <script type="text/javascript">
                Ext.Ajax.defaultHeaders = {
                    'X_DEVILRY_USE_EXTJS': true
                };
            </script>
        {% endif %}

        {% block appjs %}{% endblock %}
    </head>

    <body class="{{ appname }}"></body>
</html>
