{% extends "jsapp/base.django.html" %}

{% block devilryjs %}
    <script type="text/javascript">

        var DevilrySettings = {
            DEVILRY_STATIC_URL: '/static',
            DEVILRY_URLPATH_PREFIX: '',
            DEVILRY_SYNCSYSTEM: 'Example sync system',
            DEVILRY_HELP_URL: 'http://help.example.com',
            DEVILRY_COMMON_CSS: '/static/theme/themes/devilry/common.css',
            DEVILRY_I18N_CURRENT_LOCALE: '',
            DEVILRY_SORT_FULL_NAME_BY_LASTNAME: true,
            DEVILRY_LOGOUT_URL: '/authenticate/logout',
            DEVILRY_LOGIN_URL: '/authenticate/login'
            
        };
    </script>
{% endblock %}

{% block appjs %}
    <script type="text/javascript">
        Ext.require('subjectadmin.TestApplication');

        Ext.onReady(function() {
            Ext.create('subjectadmin.TestApplication');
        });
    </script>
{% endblock %}
