{% load i18n %}

<script type="module">
    class DevilryCommentEditor extends HTMLElement {
        constructor () {
            super();
            this.attrRootElementId = this.getAttribute('root-element-id');
            this.attrLabelFor = this.getAttribute('label-for');
            this.attrLabelText = this.getAttribute('label-text');
            this.attrTextareaName = this.getAttribute('textarea-name');
            this.attrTextareaValue = this.getAttribute('textarea-value');
            this.attrHelpText = this.getAttribute('help-text');
            this.attrMarkdownGuideLinkUrl = this.getAttribute('markdown-guide-link-url');
            this.attrMarkdownGuideLinkText = this.getAttribute('markdown-guide-link-text');
        }
        
        get elementId () {
            return `id_${this.attrTextareaName}`;
        }

        connectedCallback () {
            this.renderEditor()
        }

        renderEditor () {
            const commentEditor = new DOMParser().parseFromString(`
                <div class="devilry-comment-editor">
                    <div class="devilry-comment-editor-toolbar" aria-hidden="true">
                        <button type="button" id="${this.elementId}_toolbar_option_heading" class="btn btn-default devilry-comment-editor-toolbar__option">
                            <p>Heading</p>
                        </button>
                        <button type="button" id="${this.elementId}_toolbar_option_bold" class="btn btn-default devilry-comment-editor-toolbar__option">
                            <p>Bold</p>
                        </button>
                        <button type="button" id="${this.elementId}_toolbar_option_italic" class="btn btn-default devilry-comment-editor-toolbar__option">
                            <p>Italic</p>
                        </button>
                        <button type="button" id="${this.elementId}_toolbar_option_link" class="btn btn-default devilry-comment-editor-toolbar__option">
                            <p>Link</p>
                        </button>
                    </div>
                    <label for="${this.elementId}" class="screenreader-only">
                        {% translate "Comment" context "devilry comment editor" %}
                    </label>
                    <div class="devilry-comment-editor__textarea">
                        <textarea
                            id="${this.elementId}"
                            cols="40"
                            rows="10"
                            class="devilry-comment-editor-textarea devilrymarkdownwidget form-control"
                            name="${this.attrTextareaName}"
                            aria-describedby="${this.elementId}_help">${this.attrTextareaValue}</textarea>
                        <div class="devilry-comment-editor-textarea--copy"></div>
                    </div>
                    <div class="devilry-comment-editor devilry-comment-editor__example-help">
                        <p id="${this.elementId}_help">
                            ${this.attrHelpText}
                            <a href="${this.attrMarkdownGuideLinkUrl}" target='_blank'>
                                ${this.attrMarkdownGuideLinkText}
                            </a>
                        </p>
                    </div>
                </div>
            `, 'text/html').body.firstChild;
            this.appendChild(commentEditor)

            // Add toolbar event listeners
            document.getElementById(`${this.elementId}_toolbar_option_heading`)
                .addEventListener('click', () => {
                    this.insertAtCursor('heading', '\n###', '', 'ADD HEADING HERE')
                }, false);
            document.getElementById(`${this.elementId}_toolbar_option_bold`)
                .addEventListener('click', () => {
                    this.insertAtCursor('bold', '**', '**', 'ADD BOLD TEXT HERE')
                }, false);
            document.getElementById(`${this.elementId}_toolbar_option_italic`)
                .addEventListener('click', () => {
                    this.insertAtCursor('italic', '*', '*', 'ADD ITALIC TEXT HERE')
                }, false);
            document.getElementById(`${this.elementId}_toolbar_option_link`)
                .addEventListener('click', () => {
                    this.insertAtCursor('link', '[', ']()', 'ADD LINK TEXT HERE')
                }, false);
            
            // Add toolbar keyboard-shortcut event listeners
            // const keyPressed = {
            //     'Meta': false,
            //     'b': false
            // };
            // document.onkeydown = (keyDownEvent) => {
            //     console.log(`DOWN: ${keyDownEvent.key}`);
            //     keyPressed[keyDownEvent.key] = true;
            //     if (document.activeElement.id === `${this.elementId}`) {
            //         if (keyPressed['Meta'] && keyPressed['b']) {
            //             this.insertAtCursor('bold', '**', '**', 'INSERT BOLD TEXT HERE');
            //         }
            //     }
            // };
            // document.onkeyup = (keyUpEvent) => {
            //     console.log(`UP: ${keyUpEvent.key}`);
            //     keyPressed[keyUpEvent.key] = false;
            // };
        }

        insertAtCursor (type, preTag, postTag, placeholder) {
            if (type === 'heading') {
                console.log('insert HEADING');
            } else if (type === 'bold') {
                console.log('insert BOLD');
            } else if (type === 'italic') {
                console.log('insert ITALIC');
            } else if (type === 'link') {
                console.log('insert LINK');
            } else {
                throw Error(`Unsupported tag: ${type}`);
            }

            // Get textarea to manipulate
            const textArea = document.getElementById(`${this.elementId}`);

            // Get start and end position of the cursor.
            const cursorStart = textArea.selectionStart;
            const cursorEnd = textArea.selectionEnd;

            // Get text marked in range. This is text, if any, is inserted 
            // between the preTag and the postTag.
            let selectedText = textArea.value.substring(cursorStart, cursorEnd);

            // Insert markdown
            if (!selectedText) {
                selectedText = placeholder
            }
            const taggedText = preTag + selectedText + postTag
            textArea.value = textArea.value.substring(0, cursorStart) + taggedText + textArea.value.substring(cursorEnd, textArea.value.length)

            // Place focus back to the end of the tagged text.
            textArea.focus()
            textArea.selectionEnd = cursorStart + taggedText.length;

        }
    }

    window.customElements.define('devilry-comment-editor', DevilryCommentEditor);
</script>

<devilry-comment-editor
    root-element-id="id_comment_root"
    label-for="id_{{ widget.name }}"
    label-text="{% translate 'Comment' context 'devilry comment editor' %}"
    textarea-name="{{ widget.name }}"
    textarea-value="{% if widget.value %}{{ widget.value }}{% endif %}"
    help-text="{% blocktranslate trimmed context 'devilry comment editor' %}Write a comment in markdown format. Use <strong>**text here**</strong> for bold and <em>*text here*</em> for italic.{% endblocktranslate %}"
    markdown-guide-link-url="/markdown-help"
    markdown-guide-link-text="{% translate 'Full guide for the markdown we support here' context 'devilry comment editor' %}"
></devilry-comment-editor>
