{% load i18n %}

<script type="module">
    class DevilryCommentEditor extends HTMLElement {
        constructor () {
            super();
            this.attrRootElementId = this.getAttribute('root-element-id');
            this.attrLabelFor = this.getAttribute('label-for');
            this.attrLabelText = this.getAttribute('label-text');
            this.attrTextareaName = this.getAttribute('textarea-name');
            this.attrTextareaValue = this.getAttribute('textarea-value');
            this.attrHelpText = this.getAttribute('help-text');
            this.attrMarkdownGuideLinkUrl = this.getAttribute('markdown-guide-link-url');
            this.attrMarkdownGuideLinkText = this.getAttribute('markdown-guide-link-text');
            this.attrTextareaAttrs = ''
            const _attrTextareaAttrs = JSON.parse(this.getAttribute('textarea-attrs'));
            for (const key of Object.keys(_attrTextareaAttrs)) {
                this.attrTextareaAttrs += `${key}="${_attrTextareaAttrs[key]}" `
            }

            // console.log(`DevilryCommentEditor attrRootElementId: ${this.attrRootElementId}`);
            // console.log(`DevilryCommentEditor attrLabelFor: ${this.attrLabelFor}`);
            // console.log(`DevilryCommentEditor attrLabelText: ${this.attrLabelText}`);
            // console.log(`DevilryCommentEditor attrTextareaName: ${this.attrTextareaName}`);
            // console.log(`DevilryCommentEditor attrTextareaValue: start|${this.attrTextareaValue}|end`);
            // console.log(`DevilryCommentEditor attrTextareaAttrs: ${this.attrTextareaAttrs}`);
            // console.log(`DevilryCommentEditor attrHelpText: ${this.attrHelpText}`);
            // console.log(`DevilryCommentEditor attrMarkdownGuideLinkUrl: ${this.attrMarkdownGuideLinkUrl}`);
            // console.log(`DevilryCommentEditor attrMarkdownGuideLinkText: ${this.attrMarkdownGuideLinkText}`);
        }

        connectedCallback () {
            this.renderEditor()
        }

        renderEditor () {
            const commentEditor = new DOMParser().parseFromString(`
                <div class="devilry-comment-editor">
                    <div class="devilry-comment-editor-toolbar" aria-hidden="true">
                        <div id="id_${this.attrTextareaName}_toolbar_option_heading" class="devilry-comment-editor-toolbar__option">
                            <p>H</p>
                        </div>
                        <div id="id_${this.attrTextareaName}_toolbar_option_bold" class="devilry-comment-editor-toolbar__option">
                            <p>B</p>
                        </div>
                        <div id="id_${this.attrTextareaName}_toolbar_option_italic" class="devilry-comment-editor-toolbar__option">
                            <p>I</p>
                        </div>
                        <div id="id_${this.attrTextareaName}_toolbar_option_link" class="devilry-comment-editor-toolbar__option">
                            <p>@</p>
                        </div>
                    </div>
                    <label for="id_${this.attrTextareaName}" class="screenreader-only">
                        {% translate "Comment" context "devilry comment editor" %}
                    </label>
                    <div class="devilry-comment-editor__textarea">
                        <textarea
                            ${this.attrTextareaAttrs}
                            name="${this.attrTextareaName}"
                            aria-describedby="id_${this.attrTextareaName}_help">${this.attrTextareaValue}</textarea>
                    </div>
                    <div class="devilry-comment-editor devilry-comment-editor__example-help">
                        <p id="id_${this.attrTextareaName}_help">
                            ${this.attrHelpText}
                            <a href="${this.attrMarkdownGuideLinkUrl}" target='_blank'>
                                ${this.attrMarkdownGuideLinkText}
                            </a>
                        </p>
                    </div>
                </div>
            `, 'text/html').body.firstChild;
            this.appendChild(commentEditor)

            // Add event listeners
            const toolbarOptionHeading = document.getElementById(`id_${this.attrTextareaName}_toolbar_option_heading`);
            const toolbarOptionBold = document.getElementById(`id_${this.attrTextareaName}_toolbar_option_bold`);
            const toolbarOptionItalic = document.getElementById(`id_${this.attrTextareaName}_toolbar_option_italic`);
            const toolbarOptionLink = document.getElementById(`id_${this.attrTextareaName}_toolbar_option_link`);
            toolbarOptionHeading.addEventListener('click', () => {this.insertAtCursor('heading', '###')}, false);
            toolbarOptionBold.addEventListener('click', () => {this.insertAtCursor('bold', '** **')}, false);
            toolbarOptionItalic.addEventListener('click', () => {this.insertAtCursor('italic', '* *')}, false);
            toolbarOptionLink.addEventListener('click', () => {this.insertAtCursor('link', '[]()')}, false);
        }

        insertAtCursor (type, insertionValue) {
            if (type === 'heading') {
                console.log('insert HEADING');
            } else if (type === 'bold') {
                console.log('insert BOLD');
            } else if (type === 'italic') {
                console.log('insert ITALIC');
            } else if (type === 'link') {
                console.log('insert LINK');
            } else {
                throw Error('WHAT THE CRAP!');
            }
            const textArea = document.getElementById(`id_${this.attrTextareaName}`);
            const startPosition = textArea.selectionStart;
            const endPosition = textArea.selectionEnd;
            if (textArea.selectionStart || textArea.selectionStart === '0') {
                textArea.value = textArea.value.substring(0, startPosition) + insertionValue + textArea.value.substring(endPosition, textArea.value.length)
            } else {
                textArea.value += insertionValue;
            }
            textArea.focus()
            textArea.selectionEnd = startPosition;
        }
    }

    window.customElements.define('devilry-comment-editor', DevilryCommentEditor);
</script>

<devilry-comment-editor
    root-element-id="id_comment_root"
    label-for="id_{{ widget.name }}"
    label-text="{% translate 'Comment' context 'devilry comment editor' %}"
    textarea-name="{{ widget.name }}"
    textarea-value="{% if widget.value %}{{ widget.value }}{% endif %}"
    textarea-attrs="{{ widget.json_attrs }}"
    help-text="{% blocktranslate trimmed context 'devilry comment editor' %}Write a comment in markdown format. Use <strong>**text here**</strong> for bold and <em>*text here*</em> for italic.{% endblocktranslate %}"
    markdown-guide-link-url="/markdown-help"
    markdown-guide-link-text="{% translate 'Full guide for the markdown we support here' context 'devilry comment editor' %}"
></devilry-comment-editor>








{% comment %}
    <div class="devilry-comment-editor">
        <div class="devilry-comment-editor devilry-comment-editor__toolbar">
            
        </div>
        <label for="id_{{ widget.name }}" class="screenreader-only">
            {% translate "Comment" context "devilry comment editor" %}
        </label>
        <div class="devilry-comment-editor__textarea">
            <textarea
                id="id_{{ widget.name }}"
                name="{{ widget.name }}"
                aria-describedby="id_{{ widget.name }}_help"
                {% include "django/forms/widgets/attrs.html" %}>
                {% if widget.value %}
                    {{ widget.value }}
                {% endif %}
            </textarea>
        </div>
        <div class="devilry-comment-editor devilry-comment-editor__example-help">
            <p id="id_{{ widget.name }}_help">
                {% blocktranslate trimmed context "devilry comment editor" %}
                    Write a comment in markdown format. Use <strong>**text here**</strong> for bold and <em>*text here*</em> for italic.
                {% endblocktranslate %}
                <a href="/markdown-help" target='_blank'>{% translate "Full guide for the markdown we support here" context "devilry comment editor" %}</a>
            </p>
        </div>
    </div>
{% endcomment %}