{% load extjs %}

<script>
    {{ RestfulSimplifiedClass|extjs_model:"pointfields" }}


    Ext.onReady(function() {
        var mainlayout = Ext.create('devilry.extjshelpers.RestfulSimplifiedLayout', {
            id: 'editor',
            renderTo: 'editorcontainer',
            supports_delete: {{ RestfulSimplifiedClass.supports_delete|yesno:"true,false" }},
            model: {{ RestfulSimplifiedClass|extjs_modelname}},
            editformitems: {{ RestfulSimplifiedClass|extjs_form_items}},
            foreignkeyfieldnames: {{ RestfulSimplifiedClass|extjs_foreignkeys }}
        });
        mainlayout.loadMode('{{ initial_mode }}', {{ record_id|default_if_none:"null" }});
    });

</script>

<div id='editorcontainer'></div>
