{% extends "administrator/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block headextra %}

<script>
    {{ RestfulSimplifiedClass|extjs_model:"pointfields" }}


    Ext.onReady(function() {
        var mainlayout = Ext.create('devilry.extjshelpers.RestfulSimplifiedLayout', {
            id: 'editor',
            renderTo: 'editorcontainer',
            supports_delete: {{ RestfulSimplifiedClass.supports_delete|yesno:"true,false" }},
            model: {{ RestfulSimplifiedClass|extjs_modelname}},
            editformitems: {{ RestfulSimplifiedClass|extjs_form_items}},
            foreignkeys: {{ RestfulSimplifiedClass|extjs_foreignkeys }}
        });
        mainlayout.loadMode('{{ initial_mode }}', {{ record_id|default_if_none:"null" }});

    });

</script>
{% endblock %}


{% block main %}
<div id='editorcontainer'></div>
{% endblock %}
