{% extends "theme/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block title %}Devilry node editor{% endblock %}

{% block headextra %}

<script>
    {{ RestfulSimplifiedNode|extjs_model }}
    var nodestore = {{ RestfulSimplifiedNode|extjs_store }}

    Ext.onReady(function() {
        var nodeform = Ext.create('Ext.form.Panel', {
            renderTo: 'form',
            title: '{% trans "Edit node" %}',
            defaultType: 'textfield',

            {{ RestfulSimplifiedNode|extjs_forms}},

            buttons: [{
                text: '{% trans "Delete" %}',
                handler: function() {
                    this.up('form').getForm().submit({
                        submitEmptyText: true,
                        method: 'DELETE',
                        waitMsg: '{% trans "Deleting node..."%}'
                    });
                }
            }, {
                text: '{% trans "Save" %}',
                scale: 'large',
                handler: function() {
                    this.up('form').getForm().submit({
                        submitEmptyText: true,
                        waitMsg: '{% trans "Saving node..."%}'
                    });
                }
            }]
        });

        Ext.ModelManager.getModel('devilry.apps.administrator.simplified.SimplifiedNode').load({{ id }}, {
            success: function(node) {
                nodeform.loadRecord(node);
            }
        });
    });
</script>
{% endblock %}


{% block main %}
<div id='form'></div>
{% endblock %}
