{% extends "theme/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block title %}Devilry node editor{% endblock %}

{% block headextra %}

<script>
    {{ RestfulSimplifiedNode|extjs_model }}
    var nodestore = {{ RestfulSimplifiedNode|extjs_store }}
    nodestore.load();


    function loadNode(node) {
        var form = Ext.getCmp('editform');
        form.loadRecord(node);
        var title = Ext.String.format('{% trans "Edit" %}: {0}', node.data.long_name);
        form.setTitle(title);
    }

    Ext.onReady(function() {
        Ext.create('Ext.panel.Panel', {
            height: 400,
            layout: 'border',
            preventHeader: true,
            renderTo: 'layout',
            items: [{
                title: 'Browse all nodes',
                region:'east',
                xtype: 'grid',
                margins: '0 0 0 0',
                width: 200,
                collapsible: true,   // make collapsible
                collapsed: true,
                id: 'nodegrid',
                layout: 'fit',
                store: nodestore,
                hideHeaders: true,

                columns: [{
                    header: 'Nodes', dataIndex: 'long_name', flex: 1,
                    renderer: function(value, p, record) {
                        return Ext.String.format(
                            '<div class="itemlisting"><div class="title">{0}</div><div class="subtitle">{1}</div></div>',
                            record.get('long_name'), record.get('short_name'));
                    }
                }],

                listeners: {
                    selectionchange: function(selModel, selections) {
                        var selection = selections[0];
                        if(selection) {
                            var form = Ext.getCmp('editform');
                            loadNode(selection);
                        }
                    }
                }
            },{
                region: 'center',
                xtype: 'form',
                margins: '0',
                title: '{% trans "Create node" %}',
                id: 'editform',

                defaultType: 'textfield',

                {{ RestfulSimplifiedNode|extjs_forms}},

                buttons: [{
                    text: '{% trans "Delete" %}',
                    handler: function() {
                        this.up('form').getForm().submit({
                            submitEmptyText: true,
                            method: 'DELETE',
                            waitMsg: '{% trans "Deleting node..."%}',
                            success: function() {
                                nodestore.load(); // Reloads grid
                            }
                        });
                    }
                }, {
                    text: '{% trans "Save" %}',
                    scale: 'large',
                    handler: function() {
                        this.up('form').getForm().submit({
                            submitEmptyText: true,
                            waitMsg: '{% trans "Saving node..."%}',
                            success: function() {
                                nodestore.load(); // Reloads grid
                            }
                        });
                    }
                }]
            }]
        });

        {% if mode == "edit" %}
            // Load the request record into the form
            Ext.ModelManager.getModel('devilry.apps.administrator.simplified.SimplifiedNode').load({{ record_id }}, {
                success: function(node) {
                    loadNode(node);
                }
            });
        {% endif %}
    });
</script>
{% endblock %}


{% block main %}
<div id='layout'></div>
{% endblock %}
