{% extends "theme/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block headextra %}

<script>
    {{ RestfulSimplifiedPeriod|extjs_model }}
    var periodstore = {{ RestfulSimplifiedPeriod|extjs_store }}
    //periodstore.load();


    function loadNode(node) {
    }

    function loadRecordFromStore(id) {
        // Load the request record into the form
        Ext.ModelManager.getModel({{ RestfulSimplifiedPeriod|get_extjsname_from_class }}).load(id, {
            success: function(node) {
                var form = Ext.getCmp('editform');
                form.loadRecord(node);
                var title = Ext.String.format('{0} ({1})', node.data.long_name, node.data.short_name);
                form.setTitle(title);
            }
        });
    }


    function loadUpdateMode(id) {
        loadRecordFromStore({{ record_id }});
    }

    //function enableEditform() {
        //var form = Ext.getCmp('editform');
        //form.enable();
    //}

    Ext.onReady(function() {
        var layout = Ext.create('Ext.container.Container', {
            renderTo: 'layout',
            //height: 400,
            layout: 'card',
            items: [{
                xtype: 'panel',
                id: 'overview',
                html: '<h2>Overview</h2><p><strong>Search</strong>, <em>button</em> to create, .....</p>'
            }, {
                xtype: 'panel',
                id: 'editcard',
                items: [{
                    xtype: 'form',
                    id: 'editform',
                    layout: 'fit',
                    disabled: true,
                    model: {{ RestfulSimplifiedPeriod|get_extjsname_from_class}},

                    defaultType: 'textfield',
                    items: {{ RestfulSimplifiedPeriod|extjs_form_items}}
                }, {
                    xtype: 'container',
                    id: 'editform-buttoncarddeck',
                    layout: 'card',
                    items: [{
                        xtype: 'container',
                        id: 'editform-readonlybuttons',
                        height: 40,
                        layout: {
                            type: 'hbox',
                            pack: 'start',
                            align: 'stretch'
                        },
                        items: [
                            {% if RestfulSimplifiedPeriod.supports_delete %}
                            {
                                xtype: 'button',
                                text: '{% trans "Delete" %}',
                                flex: 0,
                                handler: function() {
                                    // TODO: Confirm
                                    Ext.getCmp('editform').submit({
                                        submitEmptyText: true,
                                        method: 'DELETE',
                                        waitMsg: '{% trans "Deleting node..."%}',
                                        success: function() {
                                        }
                                    });
                                }
                            },
                            {% endif %}
                            {
                                xtype: 'tbspacer',
                                flex: 1
                            } ,{
                                xtype: 'button',
                                flex: 0,
                                text: '{% trans "Edit" %}',
                                //flex: 1,
                                handler: function() {
                                    console.log('edit');
                                    Ext.getCmp('editform').enable();
                                    Ext.getCmp('editform-buttoncarddeck').getLayout().setActiveItem('editform-savebutton');
                                }
                            },
                        ]
                    }, {
                        xtype: 'container',
                        id: 'editform-savebutton',
                        height: 40,
                        layout: {
                            type: 'hbox',
                            pack: 'start',
                            align: 'stretch'
                        },
                        items: [{
                            xtype: 'tbspacer',
                            flex: 1
                        } ,{
                            xtype: 'button',
                            text: '{% trans "Save" %}',
                            scale: 'large',
                            handler: function() {
                                Ext.getCmp('editform').getForm().submit({
                                    submitEmptyText: true,
                                    waitMsg: '{% trans "Saving node..."%}',
                                    success: function() {
                                    }
                                });
                            }
                        }]
                    }]
                }]
            }]
        });

        {% if initial_mode == "update" or initial_mode == "create" %}
            {% if initial_mode == "update" %}
                loadUpdateMode();
            {% endif %}

            layout.getLayout().setActiveItem('editcard');
        {% else %}
            layout.getLayout().setActiveItem('overview');
        {% endif %}

    });
</script>
{% endblock %}


{% block main %}
<div id='layout'></div>
{% endblock %}
