{% extends "theme/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block headextra %}

<script>
    {{ RestfulSimplifiedPeriod|extjs_model }}
    var periodstore = {{ RestfulSimplifiedPeriod|extjs_store }}
    periodstore.load();


    function loadNode(node) {
        var form = Ext.getCmp('editform');
        form.loadRecord(node);
        var title = Ext.String.format('{% trans "Edit" %}: {0}', node.data.long_name);
        form.setTitle(title);
    }

    Ext.onReady(function() {
        var layout = Ext.create('Ext.container.Container', {
            renderTo: 'layout',
            //height: 400,
            layout: 'card',
            items: [{
                xtype: 'panel',
                id: 'overview',
                html: '<h2>Overview</h2><p><strong>Search</strong>, <em>button</em> to create, .....</p>'
            }, {
                xtype: 'form',
                id: 'editform',
                model: {{ RestfulSimplifiedPeriod|get_extjsname_from_class}},

                defaultType: 'textfield',
                items: {{ RestfulSimplifiedPeriod|extjs_form_items}},

                buttons: [
                
                {% if RestfulSimplifiedPeriod.supports_delete %}
                {
                    text: '{% trans "Delete" %}',
                    handler: function() {
                        this.up('form').getForm().submit({
                            submitEmptyText: true,
                            method: 'DELETE',
                            waitMsg: '{% trans "Deleting node..."%}',
                            success: function() {
                                periodstore.load(); // Reloads grid
                            }
                        });
                    }
                },
                {% endif %}
                
                {
                    text: '{% trans "Save" %}',
                    scale: 'large',
                    handler: function() {
                        this.up('form').getForm().submit({
                            submitEmptyText: true,
                            waitMsg: '{% trans "Saving node..."%}',
                            success: function() {
                                periodstore.load(); // Reloads grid
                            }
                        });
                    }
                }]
            }]
        });

        {% if mode == "edit" %}
            // Load the request record into the form
            Ext.ModelManager.getModel({{ RestfulSimplifiedPeriod|get_extjsname_from_class }}).load({{ record_id }}, {
                success: function(node) {
                    loadNode(node);
                }
            });

            layout.getLayout().setActiveItem('editform');
        {% else %}
            layout.getLayout().setActiveItem('overview');
        {% endif %}

    });
</script>
{% endblock %}


{% block main %}
<div id='layout'></div>
{% endblock %}
