<html>
    <head>
        <title>Devilry</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >


        {% block translations %}
        {% endblock %}

        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/i18n/i18n.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ DEVILRY_STATIC_URL }}/themebase/css/devilry.css" />
        {% if with_css %}
            <link rel="stylesheet" type="text/css" href="{{ DEVILRY_STATIC_URL }}/{{ appname }}/resources/stylesheets/{{ appname }}.css" />
        {% endif %}

        {% block devilryjs %}
        {% endblock %}

        {% if debug %}
            <script type="text/javascript" src="{{ DEVILRY_EXTJS_URL }}/ext-debug.js"></script>
            <script type="text/javascript">
                Ext.Loader.setConfig({
                    enabled: {% if debug %}true{% else %}false{% endif %},
                    paths: {
                        'devilry': '{{ DEVILRY_STATIC_URL }}/extjs_classes',
                        'Ext.ux': '{{ DEVILRY_STATIC_URL }}/extjsux',
                        'guibase': '{{ DEVILRY_STATIC_URL }}/guibase'
                    }
                });

                // Load RestProxy synchronously. This is required to make it
                // possible for model classes to use RestProxy at load time (when
                // the JS file is loaded).
                Ext.syncRequire('devilry.extjshelpers.RestProxy');
            </script>
            <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/{{ appname }}/{% block appfile %}{% endblock %}"></script>
        {% else %}
            <script type="text/javascript" src="{{ DEVILRY_EXTJS_URL }}/ext.js"></script>
            <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/{{ appname }}/app-all.js"></script>
        {% endif %}

    </head>

    <body class="{{ appname }}"></body>
</html>
