<html>
    <head>
        <title>Devilry</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >


        {% block translations %}
        {% endblock %}

        <link rel="stylesheet" href="{{DEVILRY_THEME_URL }}/common.css"
            type="text/css" media="screen" charset="utf-8"/>
        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/i18n/i18n.js"></script>

        <!-- ** ExtJS ** -->
        <link rel="stylesheet" type="text/css"
                href="{{ DEVILRY_EXTJS_URL }}/resources/css/ext-all-gray.css" />
        <script type="text/javascript" src="{{ DEVILRY_EXTJS_URL }}/{% block extjsfile %}{% endblock %}"></script>

        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/extjshelpers/formatoverrides.js"></script>

        {% block devilryjs %}
        {% endblock %}

        <script type="text/javascript">
            // Load RestProxy synchronously. This is required to make it
            // possible for model classes to use RestProxy at load time (when
            // the JS file is loaded).
            //Ext.syncRequire('devilry.extjshelpers.RestProxy');
        </script>

        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/{{ appname }}/app.js"></script>
    </head>

    <body></body>
</html>
