{% extends "guibase/base.django.html" %}
{% block translations %}
    <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/i18n/translations/messages{{ DEVILRY_I18N_CURRENT_LOCALE }}.js"></script>
{% endblock %}

{% block extjsfile %}ext-debug.js{% endblock %}

{% block devilryjs %}
    <script type="text/javascript">

        var DevilrySettings = {
            DEVILRY_STATIC_URL: '{{ DEVILRY_STATIC_URL}}',
            DEVILRY_URLPATH_PREFIX: '{{ DEVILRY_URLPATH_PREFIX }}',
            DEVILRY_SYNCSYSTEM: '{{ DEVILRY_SYNCSYSTEM|escapejs }}',
            DEVILRY_HELP_URL: '{{ DEVILRY_HELP_URL }}',
            DEVILRY_COMMON_CSS: '{{DEVILRY_THEME_URL }}/common.css',
            DEVILRY_I18N_CURRENT_LOCALE: '{{ DEVILRY_I18N_CURRENT_LOCALE }}',
            DEVILRY_SORT_FULL_NAME_BY_LASTNAME: {{ DEVILRY_SORT_FULL_NAME_BY_LASTNAME|yesno:"true,false" }},
            DEVILRY_LOGOUT_URL: '{{ DEVILRY_LOGOUT_URL }}',
            DEVILRY_LOGIN_URL: '{% url login %}'
        };

        var DevilryUser = {
            is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
            is_superuser: {{ user.is_superuser|lower }},
            username: '{{ user.username }}'
        };
    </script>
{% endblock %}
