{% extends "devilry_detektor/admin/base.django.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbtail %}
    <li class="active">
        {% trans "Similarity checks" %}
    </li>
{% endblock breadcrumbtail %}

{% block belowheading %}
    {% if not detektor_disabled %}
        <p>
            {% trans "In this view, you can run similarity checks for all deliveries on this assignment. It only works for Java and Python code for now." %}
        </p>
        <p>
            <strong class="text-warning">
                This is a beta feature, please contact us via <a href="http://devilry.org">devilry.org</a>
                if you encounter any problems, if you want to help (provide feedback, request or submit
                support for more languages, etc.)
            </strong>
        </p>
    {% endif %}
{% endblock belowheading %}


{% block content %}

    {% if detektor_disabled %}
        {% include "devilry_detektor/admin/include/assignmentassembly-content-disabled.django.html" %}
    {% else %}
        {% include "devilry_detektor/admin/include/assignmentassembly-content.django.html" %}
    {% endif %}

{% endblock content %}
