{% extends "devilry_subjectadmin/base.django.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Edit" %} - {{ assignment.get_path }}{% endblock title %}


{% block body %}
    <div class="page-header">
        <div class="container-fluid">
            <h1>
                {% trans "Edit" %}
                {{ assignment.long_name }}
            </h1>
            <p>
                {{ assignment.subject.long_name }} -
                {{ assignment.period.long_name }}
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <ol class="breadcrumb">
            {% include "devilry_subjectadmin/include/assignment_breadcrumb.django.html" %}
            <li class="active">{% trans "Edit" %}</li>
        </ol>

        <div class="devilry-focusbox">
            {% crispy form %}
        </div>
    </div>
{% endblock body %}
