{% extends "django_cradmin/viewhelpers/listbuilder/itemvalue/titledescription.django.html" %}
{% load i18n %}
{% load devilry_core_tags %}

{% block title-content %}
    {% devilry_multiple_candidates_long_displayname me.get_assignment me.group.candidates.all me.get_devilryrole %}
{% endblock title-content %}

{% block below-description %}
    {% if me.should_include_examiners %}
        <p class="devilry-cradmin-groupitemvalue-examiners">
            <span class="devilry-cradmin-groupitemvalue-examiners-title">
                {% trans "Examiners" %}:
            </span>
            <span class="devilry-cradmin-groupitemvalue-examiners-names">
                {% devilry_multiple_examiners_long_displayname me.get_assignment me.get_examiners me.get_devilryrole %}
            </span>
        </p>
    {% endif %}
    {% if me.group.is_corrected %}
        <p class="devilry-cradmin-groupitemvalue-grade">
            <span class="sr-only">{% trans "Grade" context "group grade" %}:</span>
            {% devilry_grade_full me.get_assignment me.group.grading_points me.get_devilryrole %}
        </p>
    {% else %}
        <p class="devilry-cradmin-groupitemvalue-status">
            <span class="devilry-cradmin-groupitemvalue-status-title">
                {% trans "Status" context "group status" %}:
            </span>
            {% devilry_groupstatus me.group %}
        </p>
    {% endif %}
    <p class="devilry-cradmin-groupitemvalue-comments">
        {% devilry_comment_summary me.group %}
    </p>
{% endblock below-description %}
