{% extends "devilry_cradmin/devilry_listbuilder/assignmentgroup/multiselect-item-value.django.html" %}
{% load i18n %}
{% load devilry_core_tags %}

{% block end-of-content %}
    {% if me.group.has_unpublished_feedbackdraft %}
        <p class="devilry-cradmin-groupitemvalue-unpublished-feedbackdraft">
            <span class="devilry-cradmin-groupitemvalue-unpublished-feedbackdraft-label">
                {% trans "Unpublished feedback draft" %}:
            </span>
            <span class="devilry-cradmin-groupitemvalue-unpublished-feedbackdraft-grade">
                {% devilry_grade_full me.get_assignment me.group.drafted_grading_points me.get_devilryrole %}
            </span>
        </p>
    {% endif %}
    {{ block.super }}
{% endblock end-of-content %}
