body {
	background-color: #fff;
	color: #222;
}

body>header {background-color: #000; color: #fff;}
body>header a#projectlink {color: #a00;}
body>header>nav {background-color: #111;}
body>header>nav a {
    color: #08C;
    border-bottom: 5px solid transparent;
}
body>header>nav a:hover {
    color: #05a;
    border-bottom: 5px solid #fff;
}
body>header>nav a:visited {color: #08C;}

body>#main {background-color: #f8f8f8;}

body>footer {
	color: #D4D2CE;
	border-top-color: 1px solid #ECEBE9;
	background-color: #fff;
}

body>footer a {
	color: #D4D2CE;
}
body>footer a:hover {
	color: #776B5F;
}
body>footer a:visited{
	color: #D4D2CE;
}

a {
    color: #0B5A9D;
}
a:visited {
    color: #6E0840;
}

.unimportant {
    color: #444;
}

.important {
    color: #111;
}


.x-item-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1.0 !important;
}

