.footer {
	text-align: right;
	clear: both;
	padding-top: 5px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	color: #D4D2CE;
	border-top-color: 1px solid #ECEBE9;
	background-color: #fff;

    a {
        color: #D4D2CE;
    }
    a:hover {
        color: #776B5F;
    }
    a:visited {
        color: #D4D2CE;
    }
}
