.footer {
	text-align: right;
	clear: both;
	padding-top: 5px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	color: #C8C6C0;
	border-top-color: 1px solid #ECEBE9;
	background-color: #fff;

    a {
        color: #C8C6C0;
        &.projectlink {
            color: #BDBAB3 !important;
            font-weight: bold;
        }
        &:hover {
            color: #776B5F !important;
        }
        &:visited {
            color: #C8C6C0;
        }
    }
}
