.icon-info-16 { }
.icon-delete-16 { background-image: url(icons/16x16/delete.png) !important; }
.icon-edit-16 { background-image: url(icons/16x16/edit.png) !important; }
.icon-save-16 { background-image: url(icons/16x16/save.png) !important; }
.icon-save-16 { background-image: url(icons/16x16/save.png) !important; }
.icon-add-16 { background-image: url(icons/16x16/add.png) !important; }

.icon-help-32 { background-image: url(icons/32x32/help.png) !important; }
.icon-previous-32 { background-image: url(icons/32x32/previous.png) !important; }
.icon-next-32 { background-image: url(icons/32x32/next.png) !important; }
.icon-delete-32 { background-image: url(icons/32x32/delete.png) !important; }
.icon-edit-32 { background-image: url(icons/32x32/edit.png) !important; }
.icon-save-32 { background-image: url(icons/32x32/save.png) !important; }
.icon-save-32 { background-image: url(icons/32x32/save.png) !important; }
.icon-add-32 { background-image: url(icons/32x32/add.png) !important; }
