@mixin overlayMask($opacity) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity*100})" !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity*100}) !important;
    opacity: $opacity !important;
    background-color: #000 !important;
    width: 100% !important;
}

.x-mask {
    @include overlayMask(0.7);
}
.page-load-mask {
    //width: 600px !important;
    //height: 400px !important;
    padding: 20px !important;
    border-radius: 20px;
    background-color: #000 !important;
    border: none !important;
    div {
        background-color: transparent !important;
        color: #eee !important;
        border: none !important;
        font-size: 1.2em !important;
    }
}
.x-window-maximized {
    width: 100% !important;
}
