@mixin inlineItem($bg, $fg, $bordercolor) {
    border: 1px solid $bordercolor;
    border-radius: 3px;
    background-color: $bg;
    color: $fg;
    font-weight: bold;
    padding: 1px 4px;
    white-space: nowrap;
}

@mixin goodInlineItem() {
    @include inlineItem(#fff, $goodcolor_bg, $goodcolor_hoverbg);
}
@mixin neutralInlineItem() {
    @include inlineItem(#fff, $neutralcolor_bg, $neutralcolor_hoverbg);
}
@mixin warningInlineItem() {
    @include inlineItem(#fff, $warningcolor_bg, $warningcolor_hoverbg);
}
@mixin errorInlineItem() {
    @include inlineItem(#fff, $errorcolor_bg, $errorcolor_hoverbg);
}
@mixin inlineList($separator:", ") {
    li {
        display: inline; 
        &:after {
            content: $separator;
        }
        &:last-child:after {
            content: "";
        }
    }
}
@mixin commonSectionElements() {
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }

    p {
        padding: 5px 0;
        line-height: 1.2em;
    }

    pre, code {
        background-color: #f8f8f8;;
        border: 1px solid #eee;
    }
    code {
        padding: 1px 4px;
        color: #600;
        white-space: nowrap;
    }
    pre {
        padding: 8px;
    }

    ul {
        li {
            padding: 5px 0;
            margin-left: 25px !important;
            list-style-type: disc !important;
            list-style-position: outside !important;
        }
    }
}
