body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	font-size: 12px;
	background-color: #fff;
	color: #222;
}

body>header {
    background-color: #000; color: #fff;
}


/**
 *
 * Heading
 *
 */
body>header>#heading {
    float: right;
}
body>header>#heading>h1 {font-size: 2.0em; padding: 20px 20px 5px 20px; text-align: right;}
body>header>#heading>a#projectlink {
	display: block;
	margin: 0 20px 5px 20px;
	text-decoration: none;
	font-size: 0.8em;
	text-align: right;
    color: #a00;
}


/**
 *
 * Version
 *
 *
 */
body>header>#version {
	/*margin: 0 20px 5px 20px;*/
    top: 24px;
    left: 35%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
	text-decoration: none;
	font-size: 16px;
    font-weight: bold;
	text-align: right;
    position: absolute;
    color: #444;
    font-family: "Arial Black", sans-serif;
}
/*body>header>#version>span.number {*/
    /*font-weight: bold;*/
/*}*/
body>header>#version span.codename {
    font-style: italic;
}



/**
 *
 * Header userinfo/logout
 *
 */
body>header>#authenticated-user-bar {
    padding-top: 20px;
    padding-left: 20px;
    color: #ccc;
    font-size: 0.8em;
}
body>header>#authenticated-user-bar>a#logout-link {
    color: #fff;
    font-weight: bold;
}
body>header>#authenticated-user-bar>a#logout-link:visited {
    color: #fff;
}
body>header>#authenticated-user-bar>a#logout-link:hover {
    color: #fff;
}


/**
 *
 * Header navigation bar
 *
 */
body>header>nav {
    margin-top: 20px;
    /*background-color: #111;*/
}
body>header>nav ul {
	margin: 0 0 0 20px;
    padding: 0;
}
body>header>nav li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
}
body>header>nav a {
	text-decoration: none;
	display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px;
    font-size: 1.0em;
    font-weight: normal;
    color: #08C;
    border-bottom: 5px solid transparent;
    border-radius: 6px 6px 0 0;
}
body>header>nav a:hover {
    color: #05a;
    border-bottom: 5px solid #fff;
}
body>header>nav a:visited {
    color: #08C;
}

/*body>header>nav.examiner>ul>li.examiner-navitem a {*/
    /*font-weight: bold;*/
    /*color: */
/*}*/

body>header>nav>ul>li.examiner-navitem a {
    background-color: #08c;
    color: #E5F7FF;
    font-weight: bold;
}
body>header>nav>ul>li.student-navitem a {
    background-color: #88CC00;
    color: #F7FFE5;
    font-weight: bold;
}
body>header>nav>ul>li.administrator-navitem a {
    background-color: #CC4400;
    color: #FFEEE5;
    font-weight: bold;
}

body>header>nav.examiner {
    border-bottom: 10px solid #08c;
}
body>header>nav.administrator {
    border-bottom: 10px solid #CC4400;
}
body>header>nav.student {
    border-bottom: 10px solid #88CC00;
}



/**
 *
 * Main (dynamic) content
 *
 */

body>#main {
	padding: 20px;
    background-color: #f8f8f8;
}
#main h2 {
    font-size: 1.4em;
    margin: 20px 0 15px 0;
}
#main a {
    font-size: 1.2em;
    font-weight: bold;
    color: #0B5A9D;
}
#main a:visited {
    color: #6E0840;
}
#main strong {
    font-weight: bold;
}
#main em {
    font-style: italic;
}

#main p {
    padding: 5px 0;
    line-height: 1.2em;
}

#main dt {
    padding-top: 6px;
    font-weight: bold;
}
#main dd {
    margin-left: 15px;
}



/**
 *
 * SearchWidget
 *
 */

.searchfield {
    font-size: 18px;
    line-height: normal !important;
    height: auto !important;
    padding: 7px !important;
    border-radius: 15px;
}
.search-popup-panel {
    box-shadow: 0 3px 8px #888;
}
.searchresults-row>.links {
    float: right;
    font-size: 12px;
    font-weight: bold;
}
.searchwidget-help {
    padding: 4px 15px 15px 15px !important;
    color: #444;
    font-size: 0.9em;
    width: 600px;
}



/**
 *
 * Make <a> look like a button
 *
 */

a.button {
    display: inline-block;
    padding: 5px 10px 6px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px #999;
    text-shadow: 1px 1px 1px #000;
    position: relative;
    cursor: pointer;
}
a.button:hover {
    border: 1px solid #999;
}
a.good-button {
    background-color: #88CC00;
    color: #F7FFE5;
}
a.warning-button {
    background-color: #CC4400;
    color: #FFEEE5;
}
a.neutral-button {
    background-color: #08c;
    color: #E5F7FF;
}



/**
 *
 * Icons
 *
 */

.icon-delete-16 { background-image: url(icons/16x16/delete.png); }
.icon-edit-16 { background-image: url(icons/16x16/edit.png); }
.icon-save-16 { background-image: url(icons/16x16/save.png); }
.icon-save-16 { background-image: url(icons/16x16/save.png); }
.icon-add-16 { background-image: url(icons/16x16/add.png); }

.icon-delete-32 { background-image: url(icons/32x32/delete.png); }
.icon-edit-32 { background-image: url(icons/32x32/edit.png); }
.icon-save-32 { background-image: url(icons/32x32/save.png); }
.icon-save-32 { background-image: url(icons/32x32/save.png); }
.icon-add-32 { background-image: url(icons/32x32/add.png); }




/**
 *
 * Forms
 *
 *
 */

.errorlist .x-panel-header-text {
    color: #BB0000;
}
.errorlist .errorlist-body {
    padding: 15px;
}
.errorlist p.errorlist-item {
    color: #BB0000;
}

.editform .editform-body {
    padding: 15px;
}



/**
 *
 * Tooltips
 *
 */

.tooltip-title {
    margin-bottom: 5px;
    font-size: 1.2em;
}
.tooltip-title span.tooltip-title-current-item {
    font-weight: bold;
}

.x-item-disabled { /* The overlay of disabled ExtJS forms. */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1.0 !important;
}



/*
 *
 * General purpose style classes
 *
 */

/* .x-layer are floating ExtJS items */
#main .unimportant .x-layer .important {
    font-size: 0.9em;
    color: #444;
}
#main .important, .x-layer .important {
    font-size: 1.1em;
    font-weight: bold;
    color: #111;
}

span.error {
    color: #a00;
}



/**
 *
 * Footer
 *
 */

body>footer {
	text-align: right;
	clear: both;
	padding: 20px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	color: #D4D2CE;
	border-top-color: 1px solid #ECEBE9;
	background-color: #fff;
}
body>footer a {
	color: #D4D2CE;
}
body>footer a:hover {
	color: #776B5F;
}
body>footer a:visited {
	color: #D4D2CE;
}
