html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal; }

body {
  /*line-height:1;*/ }

article, aside, details, figcaption, figure, summary,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #fff;
  color: #222; }

header {
  background-color: #000;
  color: #fff;
  /**
   *
   * Heading
   *
   */
  /**
   *
   * Version
   *
   *
   */
  /*>#version>span.number {*/
  /*font-weight: bold;*/
  /*}*/
  /**
   *
   * Header userinfo/logout
   *
   */
  /**
   *
   * Header navigation bar
   *
   */
  /* Color the bottom border of the header with the color of the current section. */ }
  header > #heading {
    float: right; }
  header > #heading > h1 {
    font-size: 2.0em;
    padding: 20px 20px 5px 20px;
    text-align: right; }
  header > #heading > a#projectlink {
    display: block;
    margin: 0 20px 5px 20px;
    text-decoration: none;
    font-size: 0.8em;
    text-align: right;
    color: #a00; }
  header > #version {
    /*margin: 0 20px 5px 20px;*/
    top: 24px;
    left: 35%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    color: #444;
    font-family: "Arial Black", sans-serif; }
  header > #version span.codename {
    font-style: italic; }
  header > #authenticated-user-bar {
    padding-top: 20px;
    padding-left: 20px;
    color: #ccc;
    font-size: 0.8em; }
  header > #authenticated-user-bar > a#logout-link {
    color: #fff;
    font-weight: bold; }
  header > #authenticated-user-bar > a#logout-link:visited {
    color: #fff; }
  header > #authenticated-user-bar > a#logout-link:hover {
    color: #fff; }
  header > nav {
    margin-top: 20px; }
    header > nav ul {
      margin: 0 0 0 20px;
      padding: 0; }
    header > nav li {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0; }
    header > nav li a {
      text-decoration: none;
      display: block;
      margin-left: 0;
      margin-right: 0;
      padding: 10px 20px;
      font-size: 1.0em;
      font-weight: normal;
      color: #08C;
      border-radius: 14px 6px 0 0;
      font-weight: bold; }
    header > nav li.student-navitem a {
      background-color: #77b300;
      color: #f7ffe5; }
      header > nav li.student-navitem a:hover {
        background-color: #88cc00; }
    header > nav li.examiner-navitem a {
      background-color: #0077b3;
      color: #e5f7ff; }
      header > nav li.examiner-navitem a:hover {
        background-color: #0088cc; }
    header > nav li.administrator-navitem a {
      background-color: #cc4400;
      color: #ffeee5; }
      header > nav li.administrator-navitem a:hover {
        background-color: #e64d00; }
  header > nav.student {
    border-bottom: 10px solid #77b300; }
  header > nav.examiner {
    border-bottom: 10px solid #0077b3; }
  header > nav.administrator {
    border-bottom: 10px solid #cc4400; }

/**
 *
 * Main (dynamic) content
 *
 */
#mainwrapper {
  background-color: #f8f8f8; }
  #mainwrapper #main {
    width: 930px;
    padding: 30px 0 30px 0;
    margin: 0 auto 0 auto; }
    #mainwrapper #main a {
      font-size: 1.2em;
      font-weight: bold;
      color: #0B5A9D; }
    #mainwrapper #main a:visited {
      color: #6E0840; }
    #mainwrapper #main strong {
      font-weight: bold; }
    #mainwrapper #main em {
      font-style: italic; }
    #mainwrapper #main p {
      padding: 5px 0;
      line-height: 1.2em; }
    #mainwrapper #main dt {
      padding-top: 6px;
      font-weight: bold; }
    #mainwrapper #main dd {
      margin-left: 15px; }

/**
 *
 * SearchWidget
 *
 */
.widget-searchwidget .widget-searchfield {
  font-size: 24px;
  line-height: normal !important;
  height: auto !important;
  padding: 4px 15px 4px 15px !important;
  border-radius: 20px;
  width: 930px !important; }

.multisearchresults {
  width: 900px; }
  .multisearchresults > .x-panel-body {
    background-color: #fff;
    border: 3px solid #111;
    border-radius: 0 0 14px 6px; }
    .multisearchresults > .x-panel-body .searchresults {
      margin: 20px; }
      .multisearchresults > .x-panel-body .searchresults .searchresultitem {
        padding: 4px;
        border: 4px solid transparent; }
        .multisearchresults > .x-panel-body .searchresults .searchresultitem:hover {
          border: 4px solid #77b300;
          background-color: #f7ffe5; }
      .multisearchresults > .x-panel-body .searchresults .searchresultitem-even {
        background-color: #f8f8f8; }

.searchwidget-help {
  padding: 4px 15px 15px 15px !important;
  color: #444;
  font-size: 0.9em; }

.dashboard-buttonbar {
  width: 930px; }

/**
 *
 * Make <a> look like a button
 *
 */
a.button {
  display: inline-block;
  padding: 5px 10px 6px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px #999;
  text-shadow: 1px 1px 1px #000;
  position: relative;
  cursor: pointer; }
  a.button:hover {
    border: 1px solid #999; }

a.good-button {
  background-color: #77b300;
  color: #f7ffe5; }
  a.good-button:hover {
    background-color: #88cc00; }

a.neutral-button {
  background-color: #0077b3;
  color: #e5f7ff; }
  a.neutral-button:hover {
    background-color: #0088cc; }

a.warning-button {
  background-color: #cc4400;
  color: #ffeee5; }
  a.warning-button:hover {
    background-color: #e64d00; }

/**
 *
 * Icons
 *
 */
.icon-delete-16 {
  background-image: url(icons/16x16/delete.png); }

.icon-edit-16 {
  background-image: url(icons/16x16/edit.png); }

.icon-save-16 {
  background-image: url(icons/16x16/save.png); }

.icon-save-16 {
  background-image: url(icons/16x16/save.png); }

.icon-add-16 {
  background-image: url(icons/16x16/add.png); }

.icon-delete-32 {
  background-image: url(icons/32x32/delete.png); }

.icon-edit-32 {
  background-image: url(icons/32x32/edit.png); }

.icon-save-32 {
  background-image: url(icons/32x32/save.png); }

.icon-save-32 {
  background-image: url(icons/32x32/save.png); }

.icon-add-32 {
  background-image: url(icons/32x32/add.png); }

/**
 *
 * Forms
 *
 *
 */
.errorlist .x-panel-header-text {
  color: #BB0000; }
.errorlist .errorlist-body {
  padding: 15px; }
.errorlist p.errorlist-item {
  color: #BB0000; }

.editform .editform-body {
  padding: 15px; }
  .editform .editform-body .extrabaronright {
    margin-left: 30px; }

section.helpsection strong {
  font-weight: bold; }
section.helpsection em {
  font-style: italic; }
section.helpsection ul li {
  padding: 5px 0;
  margin-left: 25px !important;
  list-style-type: disc !important;
  list-style-position: outside !important; }
section.helpsection p {
  padding: 5px 0;
  line-height: 1.3em; }

/**
 *
 * Tooltips
 *
 */
.tooltip-title {
  margin-bottom: 5px;
  font-size: 1.2em; }
  .tooltip-title span.tooltip-title-current-item {
    font-weight: bold; }

.x-item-disabled {
  /* The overlay of disabled ExtJS forms. */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1.0 !important; }

/*
 *
 * General purpose style classes
 *
 */
.unimportant {
  font-size: 0.8em;
  color: #444; }

.important {
  font-size: 1.1em;
  font-weight: bold;
  color: #111; }

span.error {
  color: #a00; }

span.menuref {
  border: 1px solid #0088cc;
  border-radius: 3px;
  background-color: #0077b3;
  color: #e5f7ff;
  font-weight: bold;
  padding: 1px 4px;
  white-space: nowrap; }

table.verticalinfotable {
  border-collapse: collapse;
  border: 1px solid #D4D2CE; }
  table.verticalinfotable thead th {
    text-align: left;
    font-weight: bold;
    font-style: normal;
    /*background-color: #ECEBE9;*/ }
  table.verticalinfotable th {
    text-align: right;
    font-weight: normal;
    font-style: italic;
    background-color: #ECEBE9; }
  table.verticalinfotable td, table.verticalinfotable th {
    padding: 2px 6px;
    border: 1px solid #D4D2CE; }
  table.verticalinfotable td {
    background-color: #fff; }

.widget-assignmentgroupoverview .widget-staticfeedbackinfo {
  width: 100% !important;
  padding: 30px; }
  .widget-assignmentgroupoverview .widget-staticfeedbackinfo .widget-staticfeedbackinfo-feedbackview {
    padding: 20px; }
    .widget-assignmentgroupoverview .widget-staticfeedbackinfo .widget-staticfeedbackinfo-feedbackview table.verticalinfotable {
      margin: 0 auto 20px auto; }
  .widget-assignmentgroupoverview .widget-staticfeedbackinfo .no-feedback, .widget-assignmentgroupoverview .widget-staticfeedbackinfo .no-feedback-editable {
    padding: 40px;
    text-align: center;
    font-size: 2.0em; }
  .widget-assignmentgroupoverview .widget-staticfeedbackinfo .no-feedback-editable {
    cursor: pointer;
    border: 4px solid transparent; }
    .widget-assignmentgroupoverview .widget-staticfeedbackinfo .no-feedback-editable:hover {
      border: 4px solid #77b300;
      background-color: #f7ffe5; }
  .widget-assignmentgroupoverview .widget-staticfeedbackinfo .infotable {
    margin: 0 auto 30px auto !important; }
    .widget-assignmentgroupoverview .widget-staticfeedbackinfo .infotable .widget-staticfeedbackdetailstable table.verticalinfotable {
      width: 100%; }

.after-deadline {
  display: inline-block;
  color: #cc4400; }

td.selectable-gridcell {
  border: none !important; }
  td.selectable-gridcell .x-grid-cell-inner {
    padding: 8px 4px 8px 4px !important;
    border: 4px solid transparent !important;
    cursor: pointer; }
    td.selectable-gridcell .x-grid-cell-inner:hover {
      border: 4px solid #77b300 !important;
      background-color: #f7ffe5; }

section.extravisible {
  border-radius: 14px;
  padding: 10px 10px 10px 158px !important;
  background-position: 10px 10px;
  min-height: 148px !important;
  margin: 20px !important;
  box-shadow: 0 0 5px 5px #aaa; }

section.ok {
  padding: 0px 0 0 148px;
  min-height: 128px;
  background-image: url(icons/128x128/ok.png);
  background-repeat: no-repeat;
  margin: 20px 0 20px 0; }
  section.ok p {
    padding: 5px 0;
    line-height: 1.6em !important; }
  section.ok strong {
    font-weight: bold; }
  section.ok em {
    font-style: italic; }
  section.ok ul li {
    padding: 5px 0;
    margin-left: 25px !important;
    list-style-type: disc !important;
    list-style-position: outside !important; }

section.info {
  padding: 0px 0 0 148px;
  min-height: 128px;
  background-image: url(icons/128x128/info.png);
  background-repeat: no-repeat;
  margin: 20px 0 20px 0; }
  section.info p {
    padding: 5px 0;
    line-height: 1.6em !important; }
  section.info strong {
    font-weight: bold; }
  section.info em {
    font-style: italic; }
  section.info ul li {
    padding: 5px 0;
    margin-left: 25px !important;
    list-style-type: disc !important;
    list-style-position: outside !important; }

section.help {
  padding: 0px 0 0 148px;
  min-height: 128px;
  background-image: url(icons/128x128/help.png);
  background-repeat: no-repeat;
  margin: 20px 0 20px 0; }
  section.help p {
    padding: 5px 0;
    line-height: 1.6em !important; }
  section.help strong {
    font-weight: bold; }
  section.help em {
    font-style: italic; }
  section.help ul li {
    padding: 5px 0;
    margin-left: 25px !important;
    list-style-type: disc !important;
    list-style-position: outside !important; }

section.warning {
  padding: 0px 0 0 148px;
  min-height: 128px;
  background-image: url(icons/128x128/warning.png);
  background-repeat: no-repeat;
  margin: 20px 0 20px 0; }
  section.warning p {
    padding: 5px 0;
    line-height: 1.6em !important; }
  section.warning strong {
    font-weight: bold; }
  section.warning em {
    font-style: italic; }
  section.warning ul li {
    padding: 5px 0;
    margin-left: 25px !important;
    list-style-type: disc !important;
    list-style-position: outside !important; }

section.error {
  padding: 0px 0 0 148px;
  min-height: 128px;
  background-image: url(icons/128x128/error.png);
  background-repeat: no-repeat;
  margin: 20px 0 20px 0; }
  section.error p {
    padding: 5px 0;
    line-height: 1.6em !important; }
  section.error strong {
    font-weight: bold; }
  section.error em {
    font-style: italic; }
  section.error ul li {
    padding: 5px 0;
    margin-left: 25px !important;
    list-style-type: disc !important;
    list-style-position: outside !important; }

.widget-fileuploadpanel section.ok ul li {
  list-style: square !important;
  font-style: italic; }
.widget-fileuploadpanel .x-form-file-wrap {
  margin-top: 20px; }
  .widget-fileuploadpanel .x-form-file-wrap input[type="text"] {
    font-size: 24px !important;
    padding: 6px !important;
    height: auto !important; }

section h1 {
  font-size: 2.6em;
  margin: 20px 0 15px 0; }

section h1:first-child {
  margin-top: 0; }

section h2 {
  font-size: 2.0em;
  margin: 16px 0 6px 0; }

section h3 {
  font-size: 1.5em;
  margin: 16px 0 6px 0; }

section.treeheading {
  margin-bottom: 30px; }
  section.treeheading h1 {
    margin: 0 0 8px 0; }
  section.treeheading h2 {
    margin: 0 0 8px 0; }
  section.treeheading h3 {
    margin: 0 0 8px 0; }
  section.treeheading ul li {
    display: inline; }
    section.treeheading ul li:after {
      content: ", "; }
    section.treeheading ul li:last-child:after {
      content: ""; }

#content-main {
  margin-top: 30px; }

.studentsmanager .pointscolumn {
  font-size: 30px; }
.studentsmanager .nofeedback {
  color: #aaa; }

/**
 *
 * Footer
 *
 */
footer {
  text-align: right;
  clear: both;
  padding: 20px;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  color: #D4D2CE;
  border-top-color: 1px solid #ECEBE9;
  background-color: #fff; }
  footer a {
    color: #D4D2CE; }
  footer a:hover {
    color: #776B5F; }
  footer a:visited {
    color: #D4D2CE; }
