.treeheading {
    margin-bottom: 20px;
    h1 {
        font-size: 1.4em !important;
        font-weight: bold;
        padding: 0;
        margin: 0 0 5px 0 !important;
        display: inline-block;
        &:after { content: ', '; }
    }
    h2 {
        font-size: 1.0em !important;
        margin: 0 0 5px 10px !important;
        display: inline-block;
        padding: 0;
        &:after { content: ', '; }
    }
    .endoflist {
        &:after { content: '' !important; }
    }
    h3 {
        font-size: 1.0em !important;
        font-style: italic;
        margin: 0 0 5px 10px !important;
        display: inline-block;
        padding: 0;
    }
    ul {
        @include inlineList();
    }
    a.email {
        display: inline-block;
        height: 18px;
        padding-left: 19px;
        color: #444;
        background-image: url(icons/16x16/email.png);
        background-repeat: no-repeat;
        background-position: left center;
    }
}
