@import "compass/css3/border-radius";


ul.devilry_nodeadmin_massive_navlist {
    li {
        a {
            border: 1px solid rgb( 230, 230, 230 );
            padding: 14px;
            margin: 5px 0 5px 0;
            @include border-radius(5px);
            background-color: #fff;
            display: block;
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
        }
    }
}

//.devilry_nodeadmin_primary {
//}

.devilry_nodeadmin_nodebrowsersidebar {
    border: 1px dotted #ccc;
    border-right: none;
    margin-top: 6px;
    @include border-radius(6px 0 0 6px);
}

.devilry_nodeadmin_defaultnodelist {
    .to-frontpage {
      font-size: 14px;
      float: right;
      margin-left: 10px;
      font-weight: normal;
    }

    i {
      margin-right: 5px;
    }
}

.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

.devilry_nodeadmin_navigator {
    min-height: 20px;
    margin-top: 5px;
    padding: 6px 10px;
    a.homelink {
        float: right;
    }

    i {
        margin-right: 5px;
    }

    span {
        margin-right: 50px;
    }
}

.secondary {
  line-height: 20px;
}


.devilry_nodeadmin_nodedetailsoverview {
    h1 {
        margin-top: 0;
    }
}

.devilry_nodeadmin_nodechildrenlist {
    margin-top: 15px;
    li {
        margin: 5px 0 5px 0;
        a {
            font-size: 20px;
            border-top: 1px dotted #ccc;
            border-bottom: 1px dotted #ccc;
            display: block;
            text-decoration: none;
            font-weight: bold;
            padding: 6px 10px;
            &:hover {
                text-decoration: none;
                background-color: #fff;
            }
        }
    }
    .no_nodes_on_level {
        padding: 6px 10px;
    }
}
