.devilry_nodeadmin_primary {
  line-height: 20px;

  .footer {
    margin-top: 25px;
  }

  .node {
    border: 1px solid rgb( 230, 230, 230 );
    padding: 9px 9px 9px 14px;
    margin: 5px;
    border-radius: 5px;
    display: block;
    font-size: 28px;
    line-height: 48px;
    font-weight: bold;
  }
}

.devilry_nodeadmin_defaultnodelist {
    .to-frontpage {
      font-size: 14px;
      float: right;
      margin-left: 10px;
      font-weight: normal;
    }

    i {
      margin-right: 5px;
    }
}

.devilry_nodeadmin_betawarning {
  line-height: 20px;
}

.devilry_nodeadmin_navigator {

  a {
    margin-right: 15px;
    float: right;
  }

  i {
    margin-right: 5px;
  }

  span {
    margin-right: 50px;
  }

}

.secondary {
  line-height: 20px;
}


.devilry_nodeadmin_nodedetailsoverview {
  h3 {
    font-style: italic;
  }
}

