.primary {
  line-height: 20px;

  .footer {
    margin-top: 25px;
  }

  .node {
    border: 1px solid rgb( 230, 230, 230 );
    padding: 9px 5px 5px 10px;
    margin: 5px;
    border-radius: 5px;
  }
}

.navigator {

  a {
    margin-right: 15px;
    float: right;
  }

  i {
    margin-right: 5px;
  }

  span {
    margin-right: 50px;
  }

}

.secondary {
  line-height: 20px;
}


