// Header
.devilry-group-feedbackfeed-header {
  padding: @cradmin-page-header-padding-top 0 @cradmin-page-header-padding-bottom 0;
  background: @cradmin-page-header-bg;
  color: @cradmin-page-header-color;
  border: none;
  margin: @cradmin-page-header-margin;

  .devilry-group-feedbackfeed-current-deadline-wrapper {
    @media(min-width: @screen-sm-min) {
      text-align: right;
    }
  }

  .devilry-group-feedbackfeed-current-deadline-heading {
    padding: 0;
    margin: 0;
    font-size: @cradmin-page-header-h1-font-size;
    font-weight: bold;
    vertical-align: middle;
    line-height: @cradmin-page-header-h1-line-height;
    //text-transform: uppercase;
  }

  .devilry-group-feedbackfeed-feedback-button{}

  .devilry-group-feedbackfeed-discuss-button{}

  .devilry-group-feedbackfeed-create-feedbackset-button{}

  .devilry-group-feedbackfeed-header-assignment {
    padding: 0;
    margin: 0;
    font-size: @cradmin-page-header-h1-font-size;
    font-weight: bold;
    vertical-align: middle;
    line-height: @cradmin-page-header-h1-line-height;
    //text-transform: uppercase;
  }

  .devilry-group-feedbackfeed-header-subject-period{
    margin-bottom: 15px;
    .devilry-group-feedbackfeed-header-subject {
      display: inline;
    }
    .devilry-group-feedbackfeed-header-period {
      display: inline;
    }
  }

  .devilry-group-feedbackfeed-current-deadline {}

  .devilry-group-feedbackfeed-current-deadline-expired {
      font-weight: bold;
      color: @after-deadline-color;
    }
}

// Sidebar
.devilry-group-feedbackfeed-sidebar {
  background: @cradmin-focus-bg;
  padding: 5px 15px 0 15px;
  margin-bottom: 15px;

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: @font-size-h4;
    display: inline-block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      margin: 0;
      display: inline-block;
      padding: 0;
    }
  }
}


// feedbackfeed
.devilry-group-feedbackfeed-feed {

   /*
   Event messages such as passed, failed and general messages between comments.
   */
    .devilry-group-feedbackfeed-event-message{
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: @font-size-base;
    }

    .event-spacing{
        //margin-top: 4.0em;
        //margin-bottom: 4.0em;
    }

    .devilry-group-feedbackfeed-event-message-deadline-created{
      .devilry-group-feedbackfeed-event-message;
    }

    .devilry-group-feedbackfeed-event-message-deadline-expired{
      .devilry-group-feedbackfeed-event-message;
    }

    .devilry-group-feedbackfeed-event-message-passed{
        .devilry-group-feedbackfeed-event-message;
        //color: #5d8c08;
        //border-bottom: 1px solid #999999;
    }

    .devilry-group-feedbackfeed-event-message-grade{
      .devilry-group-feedbackfeed-event-message;
      font-weight: bold;
      .devilry-core-grade-passed {
        color: @devilry-brand-success-color;
        background: @devilry-brand-success-bg;
        display: inline-block;
        padding: 2px 5px;
      }
      .devilry-core-grade-failed {
        color: @devilry-brand-danger-color;
        background: @devilry-brand-danger-bg;
        display: inline-block;
        padding: 2px 5px;
      }
    }

    .devilry-group-feedbackfeed-event-message-failed{
        .devilry-group-feedbackfeed-event-message;
        //color:#9b0d28;
        //border-bottom: 1px solid #999999;
    }

  .devilry-group-feedbackfeed-feed-uploaded-file-tag{
    display: inline-block;
    float:right;

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-examiner{
    }

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-after-deadline{
      color: @after-deadline-color;
    }
  }
}
