// Header
.devilry-group-feedbackfeed-header {
  padding: @cradmin-page-header-padding-top 0 @cradmin-page-header-padding-bottom 0;
  background: @cradmin-page-header-bg;
  color: @cradmin-page-header-color;
  border: none;
  margin: @cradmin-page-header-margin;

  .devilry-group-feedbackfeed-current-deadline-wrapper {
    @media(min-width: @screen-sm-min) {
      text-align: right;
    }
  }

  .devilry-group-feedbackfeed-current-deadline-heading {
    padding: 0;
    margin: 0;
    font-size: @cradmin-page-header-h1-font-size;
    font-weight: bold;
    vertical-align: middle;
    line-height: @cradmin-page-header-h1-line-height;
  }

  .devilry-group-feedbackfeed-feedback-button{}

  .devilry-group-feedbackfeed-discuss-button{}

  .devilry-group-feedbackfeed-create-feedbackset-button{}

  .devilry-group-feedbackfeed-header-assignment {
    padding: 0;
    margin: 0;
    font-size: @cradmin-page-header-h1-font-size;
    font-weight: bold;
    vertical-align: middle;
    line-height: @cradmin-page-header-h1-line-height;
  }

  .devilry-group-feedbackfeed-header-subject-period{
    margin-bottom: 15px;
    .devilry-group-feedbackfeed-header-subject {
      display: inline;
    }
    .devilry-group-feedbackfeed-header-period {
      display: inline;
    }
  }

  .devilry-group-feedbackfeed-current-deadline {}

  .devilry-group-feedbackfeed-current-deadline-expired {
    font-weight: bold;
    color: @after-deadline-color;
  }
}

// Sidebar
.devilry-group-feedbackfeed-buttonbar {
  background: @cradmin-focus-bg;
  padding: 5px 15px 5px 15px;
  margin-bottom: @devilry-vertical-rythm--medium;

  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: ceil((@font-size-base * 0.7));;
    text-transform: uppercase;
    color: @text-muted;
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      margin: 0;
      display: inline-block;
      padding: 0;

      .btn {
        margin-bottom: 5px;
      }
    }
  }
}


@devilry-feedbackfeed-leftmargin: 30px;

// feedbackfeed
.devilry-group-feedbackfeed-feed {

  border-left: @devilry-brand-border-width solid @devilry-brand-color-default-light3;
  margin-left: @devilry-feedbackfeed-leftmargin;

  > li {
    margin-left: -(@devilry-feedbackfeed-leftmargin);
  }

  &__feedbackset-wrapper {
    &__content-merge-type {
      display: block;
    }

    // feedbackset wrapper header style.
    .header{
      display: block;
      text-align: center;
      margin-bottom: @devilry-vertical-rythm--medium;
      background-color: @comment-background-color;
      min-height: 5.0em;
      padding: @devilry-spacing--small;
      margin-top: (@devilry-unit * 10);

      .devilry-core-grade-passed {
        color: @devilry-brand-color-success;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
      }

      .devilry-core-grade-failed {
        color: @devilry-brand-color-danger-dark;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
      }

      .header-title{
        font-size: 32px;
        font-weight: bold;
        padding-top: 5px;
      }

      .header-attempt-number{
        font-size: 20px;
        padding-top: 5px;
      }

      .header-grading-info{
        font-size: 20px;
        color: @devilry-brand-muted-color;
        padding-top: 5px;
      }

      .header-buttons{
        padding-top: 5px;
      }
    }

    // Used if the feedbackset is the first in the feed, we don't additional spacing
    // between the feed header and the feedbackset wrapper header.
    &--header-first-attempt {
      .header;
    }

    // Used if feedbackset is not the first in the feed.
    &--header {
      .header;
      //margin-top: (@devilry-unit * 20);
    }
  }

  /*
  Event messages such as passed, failed and general messages between comments.
  */
  .devilry-group-feedbackfeed-event-message{
    margin-left: (@devilry-feedbackfeed-leftmargin + @devilry-spacing);
    margin-bottom: (@devilry-vertical-rythm--medium + @devilry-spacing--small);
    margin-top: (@devilry-vertical-rythm--medium + @devilry-spacing--small);
    font-size: @font-size-small;

    &__user_display_name{}

    &__deadline-expired{}

    &__passed {}

    &__failed {}

    &__deadline-moved {
      .deadline-move-info {
        //margin-left: (@devilry-feedbackfeed-leftmargin);
        color: @devilry-brand-muted-color;
      }
    }

    .btn {
      display: inline-block;
      padding: 1px 1px;
    }

    &__grade {
      //font-weight: bold;

      .devilry-core-grade-passed {
        color: @devilry-brand-success-color;
        background: @devilry-brand-success-bg;
        display: inline-block;
        padding: 2px 5px;
      }

      .devilry-core-grade-failed {
        color: @devilry-brand-danger-color;
        background: @devilry-brand-danger-bg;
        display: inline-block;
        padding: 2px 5px;
      }
    }
  }

  .event-spacing{
  }

  .devilry-group-feedbackfeed-feed-uploaded-file-tag{
    display: inline-block;
    float:right;

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-examiner{
    }

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-after-deadline{
      color: @after-deadline-color;
    }
  }
}
