// Header
.devilry-group-feedbackfeed-header {
  .devilry-group-feedbackfeed-current-deadline-heading {
    margin: 0 0 0 0;
    padding: 0;
    font-size: @cradmin-page-header-h1-font-size;
    line-height: @cradmin-page-header-h1-line-height;
    vertical-align: middle;
    text-transform: uppercase;

  }

  .devilry-group-feedbackfeed-feedback-button{}

  .devilry-group-feedbackfeed-discuss-button{}

  .devilry-group-feedbackfeed-create-feedbackset-button{}

  .devilry-group-feedbackfeed-header-assignment{}

  .devilry-group-feedbackfeed-header-subject-period{}

  .devilry-group-feedbackfeed-current-deadline {}

  .devilry-group-feedbackfeed-current-deadline-expired {
      font-weight: bold;
      color: @after-deadline-color;
    }
}

// Sidebar
.devilry-group-feedbackfeed-sidebar {
  background: @cradmin-focus-bg;
  padding: 10px;
  text-align: right;

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: @font-size-h4;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}


// feedbackfeed
.devilry-group-feedbackfeed-feed {

   /*
   Event messages such as passed, failed and general messages between comments.
   */
    .devilry-group-feedbackfeed-event-message{
        margin-left: 3.0em;
        margin-top: 4.0em;
        margin-bottom: 4.0em;
        font-size: 1.0em;
    }

    .event-spacing{
        //margin-top: 4.0em;
        //margin-bottom: 4.0em;
    }

    .devilry-group-feedbackfeed-event-message-deadline-created{
      .devilry-group-feedbackfeed-event-message;
    }

    .devilry-group-feedbackfeed-event-message-deadline-expired{
      .devilry-group-feedbackfeed-event-message;
    }

    .devilry-group-feedbackfeed-event-message-passed{
        .devilry-group-feedbackfeed-event-message;
        //color: #5d8c08;
        //border-bottom: 1px solid #999999;
    }

    .devilry-group-feedbackfeed-event-message-grade{
      .devilry-group-feedbackfeed-event-message
    }

    .devilry-group-feedbackfeed-event-message-failed{
        .devilry-group-feedbackfeed-event-message;
        //color:#9b0d28;
        //border-bottom: 1px solid #999999;
    }

  .devilry-group-feedbackfeed-feed-uploaded-file-tag{
    display: inline-block;
    float:right;

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-examiner{
    }

    &.devilry-group-feedbackfeed-feed-uploaded-file-tag-after-deadline{
      color: @after-deadline-color;
    }
  }
}
