<html>
    <body>
        <h1>Email sent</h1>
        <p>Sent the following email to {{ email }}:</p>
        <strong>Subject:</strong>
        <p>{{ subject }}</p>
        <strong>Body:</strong>
        <pre>{{ body }}</pre>

        <h2>What do I do if the email does not reach the user?</h2>
        <p>Check the Devilry logs (on the server) for messages like this:
        <pre>
[ERROR timestamp devilry.utils.devilry_email]
        </pre>
        <p>If you have any such messages, the SMTP config for Devilry is probably wrong.</p>
        </p>
    </body>
</html>
