{% extends "devilry/adminscripts/base.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}


{% block breadcrumbs %}
  {{ block.super }}
	<li>{% trans "Database sanity checks" %}</li>
{% endblock %}

{% block title %}{% trans "Database sanity checks" %}{% endblock %}
{% block heading %}{% trans "Database sanity checks" %}{% endblock %}

{% block content %}

<table class='horizontal_ordered_table'>
  <thead>
    <tr>
      <th>{% trans "Label" %}</th>
      <th>{% trans "Result" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for key, check in registry.iterchecks %}
    <tr>
      <td>{{ check.get_label }}</td>
      <td>
        {% if check.is_ok %}
          <div class="success-box">{% trans "OK" %}</div>
        {% else %}
          {% if check.autofixable_errors %}
            <div class="warning-message">
              <i>{% trans "Errors that can be automatically fixed:" %}</i>
              <ul>
              {% for error in check.autofixable_errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if check.fatal_errors %}
            <div class="error-box">
              <i>{% trans "Errors which can not be fixed automatically:" %}</i>
              <ul>
              {% for error in check.fatal_errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p><a href="{% url devilry-adminscripts-dbsanity_fix %}" class="button">Click
here</a> to fix all errors wich can be automatically fixed.</p>

{% endblock content %}
