Django==1.4
Markdown==2.1.0
Pygments==1.5
URLObject==2.0.1
django-errortemplates==1.0.1
django-extjs4==1.1.2-extjs4.1.1
django-seleniumhelpers==1.1
djangorestframework==0.3.3
djangosenchatools==1.0.5
flup==1.0.2
gunicorn==0.14.6
mr.developer==1.21
selenium==2.25.0
zc.recipe.egg==1.3.2

#Required by:
#zc.buildout 1.6.3
#mr.developer 1.21
#devilry-authenticateduserinfo 1.0
#devilry-extjsextras 1.0
#devilry-frontpage 1.0
#devilry-header 1.0
#devilry-helplinks 1.0
#devilry-i18n 1.0
#devilry-qualifiesforexam 1.0
#devilry-settings 1.0
#devilry-student 1.0
#devilry-subjectadmin 1.0
#devilry-theme 1.0
#devilry-university-translations 1.0
#devilry-useradmin 1.0
#devilry-usersearch 1.0
#devilry 1.1

#Required by:
#mr.developer 1.21
zc.buildout==1.6.3
