{% extends "cradmin_legacy/viewhelpers/multiselect2view/listbuilderfilterview.django.html" %}

{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_appindex_url %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to deadline-overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% blocktrans trimmed with assignmentname=assignment.long_name %}
            {{ pageheading }}
        {% endblocktrans %}
    </h1>
    <p class="devilry-deadlinemanagement-select-deadline-subheading">
        {{ page_subheading }}
    </p>
{% endblock pageheader-inner %}

{% block content %}
    {% include excluded_groups_info_box_template %}
    {{ block.super }}
{% endblock content %}