{% load i18n %}
{% load tz %}
{% load devilry_core_tags %}

{% if suggested_deadlines %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-5 hidden-xs devilry-vertical-separator-container">
        <div class="devilry-vertical-separator">
            <div class="devilry-vertical-separator-line"></div>
        </div>
        <div class="form-group">
            <div id="devilry_deadlinemanagement_suggested_deadlines"
                    class="devilry-deadlinemanagement-suggested-deadlines"
                    aria-hidden="true">
                <label class="control-label requiredField">
                    {% trans "Select a suggested deadline" %}
                </label>
                {% for suggested_deadline in suggested_deadlines %}
                    <button type="button"
                            class="btn btn-default btn-block btn-xs devilry-deadlinemanagement-suggested-deadline"
                            cradmin-legacy-setfieldvalue="{{ suggested_deadline|localtime|devilry_isoformat_datetime }}"
                            cradmin-legacy-setfieldvalue-field-id="id_new_deadline">
                        {{ suggested_deadline|localtime|date:"DATETIME_FORMAT" }}
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
