{% extends "examiner/base.django.html" %}
{% load extjs %}


{% block headextra %}
{{ block.super }}

<script>
    {% include "extjshelpers/AssignmentGroupOverviewExtjsClasses.django.html" %}
    Ext.require('devilry.extjshelpers.assignmentgroup.AssignmentGroupOverview');
    Ext.onReady(function() {
        Ext.create('devilry.extjshelpers.assignmentgroup.AssignmentGroupOverview', {
            assignmentgroupid: {{ objectid }},
            isAdministrator: false,
            canExamine: true
        });
    });
</script>
{% endblock %}


{% block main %}

<section class="treeheading" id="content-heading"></section>
<div id="content-main"></div>

{% endblock %}
