{% extends "examiner/base.django.js" %}
{% load extjs %}


{% block imports %}
    {{ block.super }}
    Ext.require('devilry.examiner.AssignmentLayout');
{% endblock %}

{% block appjs %}
    {{ block.super }}
    {{ restfulapi.RestfulSimplifiedDelivery|extjs_model }}
    {{ restfulapi.RestfulSimplifiedDeadline|extjs_model }}
    {{ restfulapi.RestfulSimplifiedAssignment|extjs_model:"period,subject" }};
    {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_model:"feedback,assignment,period,subject,candidates" }};
    {{ gradeeditors.RestfulSimplifiedConfig|extjs_model }};
    var assignmentgroupstore = {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_store }};
    {{ gradeeditors.RestfulSimplifiedFeedbackDraft|extjs_model }};
{% endblock %}

    
{% block onready %}
    {{ block.super }}
    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        cls: 'viewport',
        items: [{
            region: 'north',
            xtype: 'pageheader',
            navclass: 'examiner'
        }, {
            region: 'south',
            xtype: 'pagefooter'
        }, {
            region: 'center',
            xtype: 'examiner-assignmentlayout',
            margin: {left: 10, right: 10},
            assignmentmodelname: {{ restfulapi.RestfulSimplifiedAssignment|extjs_modelname }},
            assignmentid: {{ assignmentid }},
            assignmentgroupstore: assignmentgroupstore
        }]
    });
{% endblock %}
