{% extends "theme/base.django.html" %}
{% load extjs %}

{% block title %}Devilry examiner{% endblock %}
{% block nav-class %}examiner{% endblock %}


{% block headextra %}
<script>
    {{ restfulapi.RestfulSimplifiedAssignment|extjs_combobox_model:"Search" }};
    {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_combobox_model:"Search" }};
    {{ restfulapi.RestfulSimplifiedDelivery|extjs_combobox_model:"Search" }};

    var assignmentstore = {{ restfulapi.RestfulSimplifiedAssignment|extjs_store:"Search" }};
    var assignmentgroupstore = {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_store:"Search" }};
    var deliverystore = {{ restfulapi.RestfulSimplifiedDelivery|extjs_store:"Search" }};
    var DASHBOARD_URL = '{{ DEVILRY_URLPATH_PREFIX }}/examiner/';

    Ext.require('devilry.extjshelpers.searchwidget.SearchWidget');
    Ext.require('devilry.extjshelpers.searchwidget.FilterConfigDefaults');
    Ext.onReady(function() {
        var searchwidget = Ext.create('devilry.extjshelpers.searchwidget.SearchWidget', {
            renderTo: 'searchwidget-container',
            searchResultItems: [{
                xtype: 'searchresults',
                title: 'Deliveries',
                store: deliverystore,
                filterconfig: devilry.extjshelpers.searchwidget.FilterConfigDefaults.delivery,
                resultitemConfig: {
                    tpl: '{{ restfulapi.RestfulSimplifiedDelivery.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'View',
                        clickLinkTpl: 'assignmentgroup/{deadline__assignment_group}?deliveryid={id}'
                    }
                }
            }, {
                xtype: 'searchresults',
                title: 'Assignment groups',
                store: assignmentgroupstore,
                filterconfig: devilry.extjshelpers.searchwidget.FilterConfigDefaults.assignmentgroup,
                resultitemConfig: {
                    tpl: '{{ restfulapi.RestfulSimplifiedAssignmentGroup.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'View/edit',
                        clickLinkTpl: 'assignmentgroup/{id}'
                    },
                    menuitems: [{
                        text: 'Show deliveries',
                        clickFilter: 'type:delivery group:{id}'
                    }]
                }
            }, {
                xtype: 'searchresults',
                title: 'Assignments',
                store: assignmentstore,
                filterconfig: devilry.extjshelpers.searchwidget.FilterConfigDefaults.assignment,
                resultitemConfig: {
                    tpl: '{{ restfulapi.RestfulSimplifiedAssignment.ExtjsModelMeta.combobox_tpl|escapejs }}',
                    defaultbutton: {
                        text: 'View',
                        clickLinkTpl: 'assignment/{id}'
                    },
                    menuitems: [{
                        text: 'Show groups',
                        clickFilter: 'type:group assignment:{id}'
                    }, {
                        text: 'Show deliveries',
                        clickFilter: 'type:delivery assignment:{id}'
                    }]
                }
            }]
        });
        searchwidget.loadInitialValues();
        //searchwidget.focusOnSearchfield();

        {% block post-searchwidget-javascript %}{% endblock %}
    });
</script>
{% endblock %}


{% block main %}
<section id="searchsection" style="{% block searchsectionstyle %}{% endblock %}">
    <div id='searchwidget-container'></div>
    <p class='searchwidget-help'>In the box above, you can search for anything
    related to anything that you have permission to view or edit as an
    <strong>examiner</strong>. Searching for a user will find any item related to
    that user, and searching for a subject will find anything related to that
    subject.</p>
</section>
{% endblock %}
