{% extends "examiner/base.django.html" %}
{% load extjs %}

{% block headextra %}
{{ block.super }}
<script>
    Ext.require('devilry.extjshelpers.PermissionChecker');
    Ext.require('devilry.extjshelpers.DateTime');
    {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_model:";PermissionCheck" }};
    var assignmentgroup_permcheckstore = {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_store:"PermissionCheck" }};
    assignmentgroup_permcheckstore.pageSize = 1;

    Ext.onReady(function() {
        Ext.getBody().mask("Loading page", 'page-load-mask');
        Ext.create('devilry.extjshelpers.PermissionChecker', {
            stores: [assignmentgroup_permcheckstore],
            renderTo: 'no-permissions-message',
            emptyHtml: '<section class="info-small extravisible-small"><h1>You are not an examiner</h1>' +
                '<p>You are not registered as examiner on anything in Devilry. ' +
                'If this is wrong, please contact the system administrator at <a href="mailto:{{ DEVILRY_SYSTEM_ADMIN_EMAIL }}">{{ DEVILRY_SYSTEM_ADMIN_EMAIL }}</a>.' +
                '</p></section>',
            listeners: {
                allLoaded: function() {
                    Ext.getBody().unmask();
                },
                hasPermission: function() {
                    Ext.getDom('has-permission-section').style.display = 'block';
                    Ext.getDom('searchsection').style.display = 'block';
                    createActiveAssignmentsView();
                }
            }
        });
        assignmentgroup_permcheckstore.load();
    });

    var dashboard_assignment_model = {{ restfulapi.RestfulSimplifiedAssignment|extjs_model:"subject,period" }}
    function createActiveAssignmentsView() {
        var dashboard_assignment_store = Ext.create('Ext.data.Store', {
            model: dashboard_assignment_model,
            groupField: 'parentnode__parentnode__long_name',
            remoteFilter: true,
            remoteSort: true,
            autoSync: true
        });

        dashboard_assignment_model.proxy.extraParams.filters = Ext.JSON.encode([{
            field: 'parentnode__start_time',
            comp: '<',
            value: devilry.extjshelpers.DateTime.restfulNow()
        }, {
            field: 'parentnode__end_time',
            comp: '>',
            value: devilry.extjshelpers.DateTime.restfulNow()
        }]);
        //console.log(dashboard_assignment_model.proxy.extraParams.filters);

        var groupingFeature = Ext.create('Ext.grid.feature.Grouping',{
            groupHeaderTpl: '{name}',
        });
        var activeAssignmentsGrid = Ext.create('Ext.grid.Panel', {
            frame: false,
            frameHeader: false,
            border: false,
            sortableColumns: false,
            cls: 'selectable-grid',
            store: dashboard_assignment_store,
            features: [groupingFeature],
            columns: [{
                text: 'Assignment',
                menuDisabled: true,
                flex: 30,
                dataIndex: 'long_name'
            },{
                text: 'Period',
                menuDisabled: true,
                dataIndex: 'parentnode__long_name',
                flex: 20,
            },{
                text: 'Published',
                menuDisabled: true,
                flex: 15,
                dataIndex: 'publishing_time',
                renderer: function(value) {
                    var rowTpl = Ext.create('Ext.XTemplate',
                        '{.:date}'
                    );
                    return rowTpl.apply(value);
                }
            }],
            listeners: {
                scope: this,
                itemmouseup: function(view, record) {
                    var url = DASHBOARD_URL + "assignment/" + record.data.id
                    window.location = url;
                }
            }
        });
        var activeAssignmentsView = Ext.widget('container', {
            hidden: true,
            renderTo: 'activeassignments',
            items: [{
                xtype: 'box',
                html: '<h1>Assignments</h1>'
            }, activeAssignmentsGrid]
        });

        dashboard_assignment_store.load({
            callback: function(records, operation, success) {
                if(!success || records.length === 0) {
                    var args = {};
                    if(success) {
                        args = {
                            title: 'No active assignments',
                            msg: "You are not examiner on any assignments in an active period/semester. You can find inactive assignments using the search box.",
                            msgcls: 'info'
                        }
                    } else {
                        args = {
                            title: 'Error',
                            msg: "Failed to load assignments. Try re-loading the page.",
                            msgcls: 'error'
                        }
                    }
                    Ext.widget('box', {
                        renderTo: 'no-active-assignments-message',
                        html: Ext.create('Ext.XTemplate',
                            '<section class="{msgcls}-small extravisible-small">',
                            '   <h1>{title}</h1>',
                            '   <p>{msg}</p>',
                            '</section>'
                        ).apply(args)
                    });
                } else {
                    activeAssignmentsView.show();
                }
            }
        });
    }

</script>

{% endblock %}

{% block searchsectionstyle %}display: none;{% endblock %}

{% block main %}
{{ block.super }}
<div id="no-permissions-message"></div>
<div id="no-active-assignments-message"></div>
<section id="has-permission-section" style="display: none">
    <section id="activeassignments"></section>
</section>
{% endblock %}
