{% extends "examiner/base.django.html" %}
{% load extjs %}

{% block headextra %}
{{ block.super }}
<script>
    Ext.require('devilry.extjshelpers.PermissionChecker');
    Ext.require('devilry.examiner.ActiveAssignmentsView');
    Ext.require('devilry.examiner.RecentDeliveriesView');
    Ext.require('devilry.examiner.RecentFeedbacksView');

    {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_model:";PermissionCheck" }};
    var assignmentgroup_permcheckstore = {{ restfulapi.RestfulSimplifiedAssignmentGroup|extjs_store:"PermissionCheck" }};
    assignmentgroup_permcheckstore.pageSize = 1;

    Ext.onReady(function() {
        Ext.getBody().mask("Loading page", 'page-load-mask');
        Ext.create('devilry.extjshelpers.PermissionChecker', {
            stores: [assignmentgroup_permcheckstore],
            renderTo: 'no-permissions-message',
            emptyHtml: '<section class="info-small extravisible-small"><h1>You are not an examiner</h1>' +
                '<p>You are not registered as examiner on anything in Devilry. ' +
                'If this is wrong, please contact the system administrator at <a href="mailto:{{ DEVILRY_SYSTEM_ADMIN_EMAIL }}">{{ DEVILRY_SYSTEM_ADMIN_EMAIL }}</a>.' +
                '</p></section>',
            listeners: {
                allLoaded: function() {
                    Ext.getBody().unmask();
                },
                hasPermission: function() {
                    Ext.getDom('has-permission-section').style.display = 'block';
                    Ext.getDom('searchsection').style.display = 'block';
                    createActiveAssignmentsView();
                }
            }
        });
        assignmentgroup_permcheckstore.load();
    });

    var dashboard_assignment_model = {{ restfulapi.RestfulSimplifiedAssignment|extjs_model:"subject,period" }}
    var dashboard_delivery_model = {{ restfulapi.RestfulSimplifiedDelivery|extjs_model:"subject,period,assignment,assignment_group,deadline,candidates" }}
    var dashboard_feedback_model = {{ restfulapi.RestfulSimplifiedStaticFeedback|extjs_model:"subject,period,assignment,assignment_group,deadline,candidates" }}
    function createActiveAssignmentsView() {
        var activeAssignmentsView = Ext.create('devilry.examiner.ActiveAssignmentsView', {
            renderTo: 'activeassignments',
            model: dashboard_assignment_model
        });
        var recentDeliveries = Ext.create('devilry.examiner.RecentDeliveriesView', {
            model: dashboard_delivery_model,
            //limit: 3,
            flex: 1
        });
        var recentFeedbacks = Ext.create('devilry.examiner.RecentFeedbacksView', {
            model: dashboard_feedback_model,
            //limit: 3,
            flex: 1
        });
        Ext.widget('container', {
            renderTo: 'recent',
            margin: {top: 30},
            layout: {
                type: 'hbox',
                align: 'stretch'
            },
            height: 330,
            width: "100%",
            items: [recentDeliveries, {xtype: 'box', width: 40}, recentFeedbacks]
        });
    }

</script>

{% endblock %}

{% block searchsectionstyle %}display: none;{% endblock %}

{% block main %}
{{ block.super }}
<div id="no-permissions-message"></div>
<div id="no-active-assignments-message"></div>
<section id="has-permission-section" style="display: none">
    <section id="activeassignments"></section>
    <section id="recent"></section>
    <section id="recentfeedback"></section>
</section>
{% endblock %}
