{% extends "examiner/base.django.html" %}
{% load extjs %}


{% block headextra %}

<script>
    {{ RestfulSimplifiedDelivery|extjs_model:"subject,period,assignment,assignment_group" }};
    {{ RestfulSimplifiedFileMeta|extjs_model }};
    {{ RestfulSimplifiedStaticFeedback|extjs_model }};

    {{ RestfulSimplifiedFileMeta|extjs_store }};
    {{ RestfulSimplifiedStaticFeedback|extjs_store }};



    Ext.require('devilry.extjshelpers.AssignmentGroupOverview');
    Ext.onReady(function() {
        Ext.create('devilry.extjshelpers.AssignmentGroupOverview', {
            renderTo: 'showdelivery',
            deliveryid: {{ deliveryid }},
            deliverymodelname: {{ RestfulSimplifiedDelivery|extjs_modelname }},
            filemetastoreid: {{ RestfulSimplifiedFileMeta|extjs_storeid }},
            staticfeedbackstoreid: {{ RestfulSimplifiedStaticFeedback|extjs_storeid }}
        });
    });

</script>

{% endblock %}


{% block main %}

<div id="showdelivery"></div>

{% endblock %}
