{% extends "devilry_theme/apptemplate.django.html" %}
{% load static %}

{% block head_preapp %}
    {#<link rel="stylesheet" type="text/css" href="{% static "devilry_subjectadmin/resources/stylesheets/devilry_subjectadmin.css" %}" />#}
    <script type="text/javascript" src="{% url 'devilry_qualifiesforexam_select_i18n' %}"></script>
    <script type="text/javascript">
        window.devilry_qualifiesforexam_select_opts = {
            backurl: '{{ backurl }}'
        };
    </script>
{%  endblock %}
