/* line 7, ../sass/devilry_student.scss */
.devilry_student_groupinfo .notStudentOnPeriodBox a {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #eed3d7;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
}
/* line 17, ../sass/devilry_student.scss */
.devilry_student_groupinfo .notStudentOnPeriodBox a:hover {
  background: #e4b9b9;
  border-color: #dfaeb7;
  color: #953b39;
}

@media (min-width: 900px) {
  /* line 27, ../sass/devilry_student.scss */
  .devilry_student_groupinfo .notStudentOnPeriodBox a {
    font-size: 18px;
    padding: 14px;
  }
}
