{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            <h1>
                {% trans "Add delivery" %}
            </h1>
            <p id="devilry_student_add_delivery_deadline">
                {% trans "Deadline" %}:
                <span id="devilry_student_add_delivery_deadline_exact">
                    {{ active_deadline.deadline|date:"DATETIME_FORMAT" }}
                </span>
                <span id="devilry_student_add_delivery_deadline_natural"
                        class="
                            {% if active_deadline.is_in_the_future %}
                                label-success
                            {% else %}
                                label-warning
                            {% endif %}
                        ">
                    {{ active_deadline.deadline|naturaltime }}
                </span>
            </p>
        </div>
    </div>
    <div class="container-fluid">
        {% if deadline_has_expired == "hard" %}
            <div class="alert alert-danger">
                {% blocktrans with deadline=active_deadline.deadline|naturaltime %}{% endblocktrans %}
            </div>
        {% else %}
            {% if deadline_has_expired == "soft" %}
                <form id="devilry_student_add_delivery_form" action="{{ request.path }}"
                        method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ filemetaformset.management_form }}
                    {% for filemetaform in filemetaformset %}
                        {{ filemetaform.as_p }}
                    {% endfor %}

                    <p>
                        <button type="submit" class="btn btn-primary">
                            {% trans "Add delivery" %}
                        </button>
                    </p>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
