{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            <h1>
                {% trans "Add delivery" %}
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <form action="{{ request.path }}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ filemetaformset.management_form }}
            {% for filemetaform in filemetaformset %}
                {{ filemetaform.as_p }}
            {% endfor %}

            <p>
                <button type="submit" class="btn btn-primary">
                    {% trans "Add delivery" %}
                </button>
            </p>
        </form>
    </div>
{% endblock content %}
