{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            <h1>
                {% trans "Add delivery" %}
            </h1>
            <p id="devilry_student_add_delivery_deadline">
                {% trans "Deadline" %}:
                <span id="devilry_student_add_delivery_deadline_natural"">
                    {{ group.last_deadline_datetime|naturaltime }}
                </span>
                <small id="devilry_student_add_delivery_deadline_exact">
                    ({{ group.last_deadline_datetime|date:"SHORT_DATETIME_FORMAT" }})
                </small>
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-info">
            {% trans "Upload one or more files to make a delivery. Add as many deliveries as you like. Your last delivery is corrected." %}
        </div>
        <form id="devilry_student_add_delivery_form" action="{{ request.path }}"
                method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if deadline_has_expired == "soft" %}
                <div id="devilry_student_add_delivery_after_soft_deadline_warning" class="alert alert-danger">
                    <p>{% trans "Do you really want to add a delivery after the deadline? You normally need to have a valid reason when adding deadline after the deadline." %}</p>
                    <label>
                        <input type="checkbox" name="confirm_delivery_after_soft_deadline">
                        {% trans "I want to add a delivery after the deadline has expired." %}
                    </label>
                </div>
            {% endif %}

            {{ filemetaformset.management_form }}
            {% for filemetaform in filemetaformset %}
                {{ filemetaform.as_p }}
            {% endfor %}

            <p>
                <button type="submit" class="btn btn-primary btn-lg">
                    {% trans "Add delivery" %}
                </button>
            </p>
        </form>
    </div>
{% endblock content %}
