{% extends "devilry_examiner/singledelivery_base.django.html" %}
{% load i18n %}

{% block title %}
{% trans "Preview" %} {{ block.super }}
{% endblock title %}

{% block breadcrumbtail %}
{{ block.super }}
<li class="active">{% trans "Preview feedback" %}</li>
{% endblock breadcrumbtail %}

{% block pagecontent %}
<div class="container read-feedback-box">
    {% include "devilry_examiner/readonly-feedback.django.html" with feedback=unsaved_staticfeedback only %}
</div>
{% endblock pagecontent %}