{% extends 'devilry_group/feedbackfeed.django.html' %}
{% load cradmin_tags %}
{% load i18n %}

{% block navigation %}
    <div class="alert alert-info text-center devilry-group-feedbackfeed-examiner-after-publish-choice-alert">
        {% if request.cradmin_role.cached_data.last_published_feedbackset_is_last_feedbackset %}
                <p class="devilry-group-feedbackfeed-examiner-after-publish-choice-alert-info-text">
                    {% blocktrans trimmed with attempt_number=request.cradmin_role.cached_data.prettyformat_current_attempt_number %}
                        The {{ attempt_number }} has been graded. You can leave this grade
                        as their final grade for this assignment, or:
                    {% endblocktrans %}
                </p>
                <p>
                    {# If failing grade #}
    {#                <a href="{% cradmin_appurl 'new-deadline' %}"#}
    {#                   class="btn btn-default devilry-group-feedbackfeed-examiner-after-publish-choice-alert-new-attempt-button">#}
    {#                    {% trans "Give new attempt" %}#}
    {#                </a>#}
                    <a href="#" class="btn btn-default devilry-group-feedbackfeed-examiner-after-publish-choice-alert-reedit-button">
                        {% trans "Edit the grade" %}
                    </a>
                    <a href="{% cradmin_instance_url appname="manage-deadline" viewname="manage-deadline-single-group" handle_deadline="new-attempt" deadline=last_deadline_as_string group_id=last_feedbackset.group.id %}"
                       class="btn btn-default devilry-group-feedbackfeed-examiner-after-publish-choice-alert-new-attempt-button">
                        {% trans "Give new attempt" %}
                    </a>
                </p>
        {% else %}
            <a href="{% cradmin_instance_url appname="manage-deadline" viewname="manage-deadline-single-group" handle_deadline="move-deadline" deadline=last_deadline_as_string group_id=last_feedbackset.group.id %}"
               class="btn btn-default devilry-group-feedbackfeed-examiner-after-publish-choice-alert-move-deadline-button">
                {% trans "Move deadline" %}
            </a>
        {% endif %}
    </div>

    <nav class="devilry-tabs__tab-list" id="/tabs">
        <a href="{% cradmin_appurl 'public-discuss' %}"
           class="devilry-group-feedbackfeed-discuss-button
                devilry-tabs__tab
                {% block discuss_navigation_active_class %}{% endblock %}">
            <span class="devilry-tabs__title">
                {% trans 'Discuss with students' context 'devilry_group feedbackfeed examiner' %}
                {% block discuss_navigation_title_suffix %}{% endblock %}
            </span>
            <span class="devilry-tabs__meta">
                {% trans 'Communicate without grading' context 'devilry_group feedbackfeed examiner' %}
            </span>
        </a>
        <a href="{% cradmin_appurl 'examiner-admin-discuss' %}"
               class="devilry-group-feedbackfeed-discuss-button
                    devilry-tabs__tab
                    {% block examiner_admin_discuss_navigation_active_class %}{% endblock %}">
                <span class="devilry-tabs__title">
                    {% trans 'Discuss with examiners' context 'devilry_group feedbackfeed examiner' %}
                    {% block examiner_admin_discuss_navigation_title_suffix %}{% endblock %}
                </span>
                <span class="devilry-tabs__meta">
                    {% trans 'Only communicate with examiners and admins' context 'devilry_group feedbackfeed examiner' %}
                </span>
            </a>
        {% if not request.cradmin_role.cached_data.last_published_feedbackset_is_last_feedbackset %}
            <a href="{% cradmin_appurl 'feedback' %}#/tabs"
               class="devilry-group-feedbackfeed-feedback-button
                    devilry-tabs__tab
                    {% block feedback_navigation_active_class %}{% endblock %}">
                <span class="devilry-tabs__title">
                    {% trans 'Feedback' context 'devilry_group feedbackfeed examiner' %}
                    {% block feedback_navigation_title_suffix %}{% endblock %}
                </span>
                <span class="devilry-tabs__meta">
                    {% trans 'Grade / provide feedback' context 'devilry_group feedbackfeed examiner' %}
                </span>
            </a>
        {% endif %}
    </nav>
{% endblock %}
