{% extends "django_cradmin/viewhelpers/multiselect2view/listbuilderfilterview.django.html" %}

{% load i18n %}
{% load cradmin_tags %}
{% load cradmin_icon_tags %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'grouplist' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to assignment overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    {{ block.super }}
{% endblock pageheader-inner %}