{% extends "cradmin_legacy/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}
{% load devilry_theme3_tags %}

{% block pageheader-inner %}
    {{ block.super }}
{% endblock pageheader-inner %}


{% block listbuilderview_buttons %}
    {{ block.super }}
    <p id="devilry_examiner_bulk_operations_overview_buttonbar" class="devilry-buttonbar">
        {% if waiting_for_feedback_count > 0 %}
                <a id="devilry-examiner-bulk-feedback-button" class="btn btn-default"
                    href="{% cradmin_appurl 'bulk-feedback' %}">
                    {% trans "Bulk feedback" %}
                </a>
                <a id="devilry-examiner-simple-bulk-feedback-button" class="btn btn-default"
                    href="{% cradmin_appurl 'bulk-feedback-simple' %}">
                    {% trans "Simple bulk feedback" %}
                </a>
        {% endif %}
        <a id="devilry-examiner-bulk-new-attempt-button" class="btn btn-default"
            href="{% cradmin_instance_appindex_url 'manage-deadlines' %}">
            {% trans "Manage deadlines" %}
        </a>
    </p>
    {% include "devilry_examiner/assignment/includes/batchdownload_assignment.django.html" %}
{% endblock %}

{% block no-items-wrapper %}
    {% if excluding_filters_other_than_status_is_applied %}
        <p class="cradmin-legacy-listing-no-items-message cradmin-legacy-listbuilderview-no-items-message">
            {% trans "No students found matching your filters/search." %}
        </p>
    {% else %}
        <div class="devilry-examiner-grouplist-empty devilry-examiner-grouplist-empty-{{ status_filter_value_normalized }}">
            {% if status_filter_value_normalized == "waiting-for-feedback" %}
                {% trans "You have no students waiting for feedback." %}
            {% elif status_filter_value_normalized == "waiting-for-deliveries" %}
                {% trans "You are currently not expecting new deliveries from any students." %}
            {% elif status_filter_value_normalized == "corrected" %}
                {% trans "You have not finished correcting any students yet." %}
            {% endif %}
            {% comment %}
                NOTE: We never get status_filter_value_normalized == "all" here
                      - that would end in a 404 instead because the examiner does
                      not have access.
            {% endcomment %}
        </div>
    {% endif %}
{% endblock no-items-wrapper %}

{% block end-of-body %}
    {{ block.super }}
    {% include "devilry_theme3/include/devilry_all_js.django.html" %}
{% endblock end-of-body %}
