{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

<div id='assignmentgroups-table'></div>
<script type="text/javascript">
	$(function() {
		$("#assignmentgroups-table").autocompletetable(
			"{% url devilry-examiner-assignmentgroup_filtertable_json %}",
			["Subject", "Period", "Assignment", "Group id", "Candidates", "Name", "Latest delivery", "Status"],
			"{% trans "Show" %}", "{% trans "Show all" %}",
      {
        filters: {
          "Show groups with": {
            nodeliveries: {
              label: "No deliveries"
            },
            notcorrected: {
              label: "Not corrected",
              enabled: false 
            },
            corrected: {
              label: "Corrected"
            }
          }
        }
      })
	});
</script>
