{% extends "devilry/quickdash/viewbase.django.html" %}
{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

{% block heading %}{% trans "Not corrected" %}{% endblock %}

{% block body %}
<p class="help-box">{{ not_corrected.count }} of the {{ not_corrected_count }}
groups where you are examiner with status <span
class="status_not_corrected">Not corrected</span>. They are ordered by the time
of the last delivery (those who delivered first are at the top), and groups
where the deadline has not yet expired is excluded.</p>

<dl>
{% for group in not_corrected %}
	<dt>
		{{ group.get_candidates }}
		{% if group.name %}
			({{ group.name }})
		{% endif %}
	</dt>
	<dd>
		<div>
			{{ group.parentnode.parentnode.parentnode.short_name }}
			- {{ group.parentnode.parentnode.short_name }}
			-
      <a href="{% url devilry-examiner-list_assignmentgroups group.parentnode.id %}">
        {{ group.parentnode.short_name }}
      </a>
		</div>
		<div>
			Last delivery: <em>{{ group.time_of_last_delivery|date:"DATETIME_FORMAT" }}</em>
		</div>
		{% if group.time_of_last_delivery > group.active_deadline %}
			<div>
				<em class="bad">{% trans "After deadline" %} ({{ group.active_deadline|date:"DATETIME_FORMAT" }})</em>
			</div>
		{% endif %}
		<div>
			<a href="{% url devilry-examiner-edit-feedback group.get_latest_delivery.id %}">
        <strong>
          {% trans "Show delivery/Create feedback" %}
        </strong>
      </a>
		</div>
	</dd>
{% endfor %}
</dl>

{% endblock %}
