{% comment %} vim: set ts=2 sts=2 et sw=2: {% endcomment %}
{% load i18n %}

<div class="help-box">
{% blocktrans %}These are the assignments where
you are registered as examiner. Active assignments are assignments within an
active period (like a semester). Choose an assignment to browse deliveries by
students or groups of students on that assignment.{% endblocktrans %}
</div>

{% for subject in subjects %}
  {% for period in subject %}
    <h3>{{ subject }} - {{ period }}</h3>
    <ul>
      {% for assignment in period %}
        <li><a href='{% url devilry-examiner-list_assignmentgroups assignment.node.id %}'>{{ assignment }}</a> </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
