{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}

{% load static %}
{% load i18n %}
{% load cradmin_tags %}
{% load cradmin_icon_tags %}

{% block title %}
    {{ pagetitle }}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock pageheader-outer-extraclasses %}

{% block pageheader-inner %}
    <a href="{% cradmin_instance_appindex_url 'overview' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
    <h1>
        {% blocktrans %}
            Tags on semester
        {% endblocktrans %}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <p id="devilry_admin_period_examiners_overview_buttonbar"
                class="devilry-buttonbar">
            <a id="devilry_admin_period_manage_tags_overview_button_add_tag"
                    class="btn btn-default"
                    href="{% cradmin_appurl viewname='add_tag' %}">
                {% trans "Add tag" %}
            </a>
        </p>
    </div>
    {{ block.super }}
{% endblock content %}
