/* line 8, /Users/espeak/code/devilry-django/src/devilry_header/devilry_header/static/devilry_header/resources/sass/_breadcrumbs.scss */
.devilry_header_breadcrumb {
  padding: 7px 40px 8px 10px;
  margin: 0;
}
/* line 11, /Users/espeak/code/devilry-django/src/devilry_header/devilry_header/static/devilry_header/resources/sass/_breadcrumbs.scss */
.devilry_header_breadcrumb li {
  display: inline;
  font-size: 12px;
}
/* line 14, /Users/espeak/code/devilry-django/src/devilry_header/devilry_header/static/devilry_header/resources/sass/_breadcrumbs.scss */
.devilry_header_breadcrumb li a {
  color: #e6e6e6;
  text-decoration: underline;
}
/* line 19, /Users/espeak/code/devilry-django/src/devilry_header/devilry_header/static/devilry_header/resources/sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .divider {
  padding: 0 5px;
  color: #e6e6e6;
}
/* line 23, /Users/espeak/code/devilry-django/src/devilry_header/devilry_header/static/devilry_header/resources/sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .active {
  color: #e6e6e6;
  font-weight: bold;
}
/* line 27, /Users/espeak/code/devilry-django/src/devilry_header/devilry_header/static/devilry_header/resources/sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .prefixtext {
  color: gray;
  font-weight: normal;
  margin-right: 4px;
}

/* line 38, ../sass/screen.scss */
.devilryheader {
  font-size: 13px;
  background-color: #191919;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 48, ../sass/screen.scss */
.devilryheader .flatbutton .textwrapper {
  color: #000;
  padding: 7px 10px 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 55, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_loading {
  background-color: #191919;
}
/* line 57, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_loading .textwrapper {
  color: #999;
}
/* line 61, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_hover {
  cursor: pointer;
  background-color: #666666 !important;
}
/* line 68, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_pressed {
  background-color: #444444;
}
/* line 71, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable {
  background-image: url("../images/menuarrow_black_down.png");
  background-repeat: no-repeat;
  background-position: 92% 10px;
}
/* line 75, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable .textwrapper {
  padding-right: 20px;
}
/* line 78, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable.flatbutton_pressed {
  background-image: url("../images/menuarrow_black_up.png");
}
/* line 83, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.student {
  background-color: #77b300;
}
/* line 86, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.examiner {
  background-color: #0077b3;
}
/* line 89, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.administrator {
  background-color: #ff9900;
}
/* line 92, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.superuser {
  background-color: #cc3300;
}
/* line 98, ../sass/screen.scss */
.devilryheader .currentrolebutton {
  background-image: url("../images/reversearrow_down.png");
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 102, ../sass/screen.scss */
.devilryheader .currentrolebutton .textwrapper {
  padding-right: 28px;
}
/* line 105, ../sass/screen.scss */
.devilryheader .currentrolebutton.flatbutton_pressed {
  background-image: url("../images/reversearrow_up.png") !important;
}
/* line 110, ../sass/screen.scss */
.devilryheader .devilrylogo {
  padding: 6px 10px 0 35px;
  background-color: black;
  background-image: url("../images/devilrylogo_small.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
/* line 116, ../sass/screen.scss */
.devilryheader .devilrylogo .logotext {
  font-weight: bold;
  font-size: 15px;
  color: #aa0000;
}

/* line 124, ../sass/screen.scss */
.devilryheader_hovermenu {
  font-size: 13px;
  background-color: black;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 132, ../sass/screen.scss */
.devilryheader_hovermenu h2 {
  font-size: 20px;
  margin: 0 0 7px 0;
}
/* line 138, ../sass/screen.scss */
.devilryheader_hovermenu .discreet {
  font-size: 11px;
  color: #aaa;
}
/* line 141, ../sass/screen.scss */
.devilryheader_hovermenu .discreet a {
  color: #fff;
  text-decoration: underline;
}
/* line 147, ../sass/screen.scss */
.devilryheader_hovermenu a {
  text-decoration: underline;
  color: #3366FF;
}
/* line 152, ../sass/screen.scss */
.devilryheader_hovermenu p {
  margin: 0 0 9px;
  line-height: 18px;
}

/* line 160, ../sass/screen.scss */
.devilryheader_roles ul {
  margin: 0 0 10px 0;
}
/* line 162, ../sass/screen.scss */
.devilryheader_roles ul li {
  margin: 0;
  padding: 0;
}
/* line 165, ../sass/screen.scss */
.devilryheader_roles ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 18px;
}
/* line 171, ../sass/screen.scss */
.devilryheader_roles ul li a .heading {
  font-weight: bold;
}
/* line 176, ../sass/screen.scss */
.devilryheader_roles ul li a.student_role {
  background-color: #77b300;
  padding: 8px 12px 4px 8px;
  border-left: 8px solid #77b300;
  border-right: 8px solid black;
}
/* line 26, ../sass/screen.scss */
.devilryheader_roles ul li a.student_role:hover {
  border-left: 8px solid black;
  border-right: 8px solid #669a00;
  background-color: #669a00;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 100% center;
}
/* line 179, ../sass/screen.scss */
.devilryheader_roles ul li a.examiner_role {
  background-color: #0077b3;
  padding: 8px 12px 4px 8px;
  border-left: 8px solid #0077b3;
  border-right: 8px solid black;
}
/* line 26, ../sass/screen.scss */
.devilryheader_roles ul li a.examiner_role:hover {
  border-left: 8px solid black;
  border-right: 8px solid #00669a;
  background-color: #00669a;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 100% center;
}
/* line 182, ../sass/screen.scss */
.devilryheader_roles ul li a.administrator_role {
  background-color: #ff9900;
  padding: 8px 12px 4px 8px;
  border-left: 8px solid #ff9900;
  border-right: 8px solid black;
}
/* line 26, ../sass/screen.scss */
.devilryheader_roles ul li a.administrator_role:hover {
  border-left: 8px solid black;
  border-right: 8px solid #e68a00;
  background-color: #e68a00;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 100% center;
}
/* line 185, ../sass/screen.scss */
.devilryheader_roles ul li a.superuser_role {
  background-color: #cc3300;
  padding: 8px 12px 4px 8px;
  border-left: 8px solid #cc3300;
  border-right: 8px solid black;
}
/* line 26, ../sass/screen.scss */
.devilryheader_roles ul li a.superuser_role:hover {
  border-left: 8px solid black;
  border-right: 8px solid #b32d00;
  background-color: #b32d00;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 100% center;
}

/* line 195, ../sass/screen.scss */
.devilryheader_userinfobox table.userinfotable th, .devilryheader_userinfobox table.userinfotable td {
  line-height: 18px;
  font-size: 13px;
}
/* line 199, ../sass/screen.scss */
.devilryheader_userinfobox table.userinfotable th {
  color: #999;
  font-weight: bold;
  padding: 4px 10px 4px 0;
}
/* line 204, ../sass/screen.scss */
.devilryheader_userinfobox table.userinfotable td {
  color: #fff;
}

/* line 213, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li {
  margin: 0 0 10px 0;
}
/* line 216, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li .title a {
  font-weight: bold;
}
/* line 220, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li .description {
  font-size: 11px;
  color: #aaa;
}
