/* line 28, ../sass/screen.scss */
.devilryheader {
  background-color: #191919;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 37, ../sass/screen.scss */
.devilryheader .flatbutton .textwrapper {
  color: #000;
  padding: 7px 10px 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 44, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_loading {
  background-color: #191919;
}
/* line 46, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_loading .textwrapper {
  color: #999;
}
/* line 50, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_hover {
  cursor: pointer;
  background-color: #666 !important;
}
/* line 57, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_pressed {
  background-color: #444;
}
/* line 60, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable {
  background-image: url("../images/menuarrow_black_down.png");
  background-repeat: no-repeat;
  background-position: 92% 10px;
}
/* line 64, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable .textwrapper {
  padding-right: 20px;
}
/* line 67, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable.flatbutton_pressed {
  background-image: url("../images/menuarrow_black_up.png");
}
/* line 72, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.student {
  background-color: #77b300;
}
/* line 75, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.examiner {
  background-color: #0077b3;
}
/* line 78, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.administrator {
  background-color: #ff9900;
}
/* line 81, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.superuser {
  background-color: #cc3300;
}
/* line 87, ../sass/screen.scss */
.devilryheader .currentrolebutton {
  background-image: url("../images/reversearrow_down.png");
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 91, ../sass/screen.scss */
.devilryheader .currentrolebutton .textwrapper {
  padding-right: 28px;
}
/* line 94, ../sass/screen.scss */
.devilryheader .currentrolebutton.flatbutton_pressed {
  background-image: url("../images/reversearrow_up.png") !important;
}
/* line 99, ../sass/screen.scss */
.devilryheader .devilrylogo {
  padding: 6px 10px 0 35px;
  background-color: #000;
  background-image: url("../images/devilrylogo_small.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
/* line 105, ../sass/screen.scss */
.devilryheader .devilrylogo .logotext {
  font-weight: bold;
  font-size: 15px;
  color: #aa0000;
}

/* line 113, ../sass/screen.scss */
.devilryheader_hovermenu {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 120, ../sass/screen.scss */
.devilryheader_hovermenu h2 {
  font-size: 20px;
  margin: 0 0 7px 0;
}
/* line 126, ../sass/screen.scss */
.devilryheader_hovermenu .discreet {
  font-size: 11px;
  color: #aaa;
}
/* line 129, ../sass/screen.scss */
.devilryheader_hovermenu .discreet a {
  color: #fff;
  text-decoration: underline;
}
/* line 135, ../sass/screen.scss */
.devilryheader_hovermenu a {
  text-decoration: underline;
  color: #3366FF;
}
/* line 140, ../sass/screen.scss */
.devilryheader_hovermenu p {
  margin: 0 0 9px;
  line-height: 18px;
}

/* line 148, ../sass/screen.scss */
.devilryheader_roles ul {
  margin: 0 0 10px 0;
}
/* line 150, ../sass/screen.scss */
.devilryheader_roles ul li {
  margin: 0;
  padding: 0;
}
/* line 153, ../sass/screen.scss */
.devilryheader_roles ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 18px;
}
/* line 159, ../sass/screen.scss */
.devilryheader_roles ul li a .heading {
  font-weight: bold;
}
/* line 164, ../sass/screen.scss */
.devilryheader_roles ul li a.student_role {
  background-color: #77b300;
  padding: 8px 12px 4px 8px;
  border-bottom: 4px solid #77b300;
  border-top: 4px solid #77b300;
}
/* line 22, ../sass/screen.scss */
.devilryheader_roles ul li a.student_role:hover {
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
}
/* line 167, ../sass/screen.scss */
.devilryheader_roles ul li a.examiner_role {
  background-color: #0077b3;
  padding: 8px 12px 4px 8px;
  border-bottom: 4px solid #0077b3;
  border-top: 4px solid #0077b3;
}
/* line 22, ../sass/screen.scss */
.devilryheader_roles ul li a.examiner_role:hover {
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
}
/* line 170, ../sass/screen.scss */
.devilryheader_roles ul li a.administrator_role {
  background-color: #ff9900;
  padding: 8px 12px 4px 8px;
  border-bottom: 4px solid #ff9900;
  border-top: 4px solid #ff9900;
}
/* line 22, ../sass/screen.scss */
.devilryheader_roles ul li a.administrator_role:hover {
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
}
/* line 173, ../sass/screen.scss */
.devilryheader_roles ul li a.superuser_role {
  background-color: #cc3300;
  padding: 8px 12px 4px 8px;
  border-bottom: 4px solid #cc3300;
  border-top: 4px solid #cc3300;
}
/* line 22, ../sass/screen.scss */
.devilryheader_roles ul li a.superuser_role:hover {
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
}

/* line 183, ../sass/screen.scss */
.devilryheader_userinfobox table.userinfotable th, .devilryheader_userinfobox table.userinfotable td {
  line-height: 18px;
}
/* line 186, ../sass/screen.scss */
.devilryheader_userinfobox table.userinfotable th {
  color: #999;
  font-weight: bold;
  padding: 4px 10px 4px 0;
}
/* line 191, ../sass/screen.scss */
.devilryheader_userinfobox table.userinfotable td {
  color: #fff;
}

/* line 200, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li {
  margin: 0 0 10px 0;
}
/* line 203, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li .title a {
  font-weight: bold;
}
/* line 207, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li .description {
  font-size: 11px;
  color: #aaa;
}
