/* line 8, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb {
  padding: 7px 40px 8px 10px;
  margin: 0;
}
/* line 11, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb li {
  display: inline;
  font-size: 12px;
}
/* line 14, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb li a {
  color: #e6e6e6;
  text-decoration: underline;
}
/* line 19, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .divider {
  padding: 0 5px;
  color: #e6e6e6;
}
/* line 23, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .active {
  color: #e6e6e6;
  font-weight: bold;
}
/* line 27, ../sass/_breadcrumbs.scss */
.devilry_header_breadcrumb .prefixtext {
  color: gray;
  font-weight: normal;
  margin-right: 4px;
}

/* line 42, ../sass/screen.scss */
.devilryheader {
  font-size: 13px;
  background-color: #191919;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 52, ../sass/screen.scss */
.devilryheader .flatbutton .textwrapper {
  color: #000;
  padding: 7px 10px 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 59, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_loading {
  background-color: #191919;
}
/* line 61, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_loading .textwrapper {
  color: #999;
}
/* line 65, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_hover {
  cursor: pointer;
  background-color: #666666 !important;
}
/* line 72, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_pressed {
  background-color: #444444;
}
/* line 75, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable {
  background-image: url("../images/menuarrow_black_down.png");
  background-repeat: no-repeat;
  background-position: 92% 10px;
}
/* line 79, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable .textwrapper {
  padding-right: 20px;
}
/* line 82, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_toggleable.flatbutton_pressed {
  background-image: url("../images/menuarrow_black_up.png");
}
/* line 87, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.no_role {
  background-color: #555555;
}
/* line 90, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.student {
  background-color: #77b300;
}
/* line 93, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.examiner {
  background-color: #0077b3;
}
/* line 96, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.administrator {
  background-color: #ff9900;
}
/* line 99, ../sass/screen.scss */
.devilryheader .flatbutton.flatbutton_not_pressed.superuser {
  background-color: #cc3300;
}
/* line 105, ../sass/screen.scss */
.devilryheader .currentrolebutton {
  background-image: url("../images/reversearrow_down.png");
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 109, ../sass/screen.scss */
.devilryheader .currentrolebutton .textwrapper {
  padding-right: 28px;
}
/* line 112, ../sass/screen.scss */
.devilryheader .currentrolebutton.flatbutton_pressed {
  background-image: url("../images/reversearrow_up.png") !important;
}
/* line 117, ../sass/screen.scss */
.devilryheader .devilrylogo {
  padding: 6px 10px 0 35px;
  background-color: black;
  background-image: url("../images/devilrylogo_small.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
/* line 123, ../sass/screen.scss */
.devilryheader .devilrylogo a.logotext {
  font-weight: bold;
  font-size: 15px;
  color: #aa0000;
  text-decoration: none;
}
/* line 128, ../sass/screen.scss */
.devilryheader .devilrylogo a.logotext:hover {
  text-decoration: underline;
}

/* line 135, ../sass/screen.scss */
.devilryheader_hovermenu {
  font-size: 13px;
  background-color: black;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 143, ../sass/screen.scss */
.devilryheader_hovermenu h2 {
  font-size: 20px;
  margin: 0 0 7px 0;
}
/* line 149, ../sass/screen.scss */
.devilryheader_hovermenu .discreet {
  font-size: 11px;
  color: #aaa;
}
/* line 152, ../sass/screen.scss */
.devilryheader_hovermenu .discreet a {
  color: #fff;
  text-decoration: underline;
}
/* line 158, ../sass/screen.scss */
.devilryheader_hovermenu a {
  text-decoration: underline;
  color: #3366FF;
}
/* line 163, ../sass/screen.scss */
.devilryheader_hovermenu p {
  margin: 0 0 9px;
  line-height: 18px;
}

/* line 171, ../sass/screen.scss */
.devilryheader_roles ul {
  margin: 0 0 10px 0;
}
/* line 173, ../sass/screen.scss */
.devilryheader_roles ul li {
  margin: 0;
  padding: 0;
}
/* line 176, ../sass/screen.scss */
.devilryheader_roles ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 18px;
}
/* line 182, ../sass/screen.scss */
.devilryheader_roles ul li a .heading {
  font-weight: bold;
}
/* line 187, ../sass/screen.scss */
.devilryheader_roles ul li a.student_role {
  padding: 8px 28px 4px 8px;
  background-color: #77b300;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 33, ../sass/screen.scss */
.devilryheader_roles ul li a.student_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #669a00;
  text-decoration: none;
  color: #000;
}
/* line 190, ../sass/screen.scss */
.devilryheader_roles ul li a.examiner_role {
  padding: 8px 28px 4px 8px;
  background-color: #0077b3;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 33, ../sass/screen.scss */
.devilryheader_roles ul li a.examiner_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #00669a;
  text-decoration: none;
  color: #000;
}
/* line 193, ../sass/screen.scss */
.devilryheader_roles ul li a.administrator_role {
  padding: 8px 28px 4px 8px;
  background-color: #ff9900;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 33, ../sass/screen.scss */
.devilryheader_roles ul li a.administrator_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #e68a00;
  text-decoration: none;
  color: #000;
}
/* line 196, ../sass/screen.scss */
.devilryheader_roles ul li a.superuser_role {
  padding: 8px 28px 4px 8px;
  background-color: #cc3300;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("../images/navarrow.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  margin-right: 8px;
  margin-left: 0;
}
/* line 33, ../sass/screen.scss */
.devilryheader_roles ul li a.superuser_role:hover {
  margin-right: 0;
  margin-left: 8px;
  background-color: #b32d00;
  text-decoration: none;
  color: #000;
}
/* line 202, ../sass/screen.scss */
.devilryheader_roles div.loading {
  font-size: 36px;
  font-weight: bold;
}

/* line 211, ../sass/screen.scss */
.devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable th, .devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable td {
  line-height: 18px;
  font-size: 13px;
}
/* line 215, ../sass/screen.scss */
.devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable th {
  color: #999;
  font-weight: bold;
  padding: 4px 10px 4px 0;
}
/* line 220, ../sass/screen.scss */
.devilryheader_hovermenu .devilryheader_userinfobox table.userinfotable td {
  color: #fff;
}
/* line 224, ../sass/screen.scss */
.devilryheader_hovermenu .devilryheader_userinfobox div.logout_para {
  margin-top: 10px !important;
}
/* line 226, ../sass/screen.scss */
.devilryheader_hovermenu .devilryheader_userinfobox div.logout_para a.logout_button {
  text-decoration: none;
}

/* line 236, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li {
  margin: 0 0 10px 0;
}
/* line 239, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li .title a {
  font-weight: bold;
}
/* line 243, ../sass/screen.scss */
.devilryheader_helplinksbox ul.helplinks li .description {
  font-size: 11px;
  color: #aaa;
}
