{% extends "django_cradmin/viewhelpers/listbuilderview/filterlist-right.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
{% trans "Administrator dashboard" %}
{% endblock title %}

{% block pageheader-inner %}
<h1>
    {% trans "Administrator dashboard" %}
</h1>
{% endblock pageheader-inner %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="container">
            <div class="devilry-buttonbar">
                <a href="{% cradmin_instance_appindex_url 'createsubject' %}"
                        class="btn btn-primary" id="id_createsubject_button">
                    {% trans "Create new course" %}
                </a>
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock content %}
