{% extends "cradmin_legacy/base.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}

{% block title %}
    {% trans "Devilry frontpage" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>{% trans "Choose your role" %}</h1>
{% endblock pageheader-inner %}

{% block bodyclass %}
    devilry-frontpage
{% endblock bodyclass %}

{% block content %}
    <div class="container">
        {% if roleselect_list.user_has_no_roles %}
            <div class="alert alert-warning">
                {% trans "You do not have access to anything in Devilry." %}
                <a href="{{ DEVILRY_LACKING_PERMISSIONS_URL }}" id="devilry_frontpage_lacking_permissions_link" class='plain-link'>
                    {% trans "Click here to learn how to get access to Devilry" %}</a>.
            </div>
            <div class="row">
                <div class="col-sm-4 devilry-frontpage-more-roles-link-wrapper">
                    <a href="{% cradmin_url instanceid='devilry_account' appname='account' viewname='INDEX' roleid='' %}"
                            target="_blank"
                            id="devilry_frontpage_see_active_roles_link"
                            class="devilry-frontpage-see-active-roles-link plain-link">
                        {% trans "See all active roles" %}
                    </a>
                </div>
            </div>
        {% else %}
            {% cradmin_render_renderable roleselect_list %}
            <div class="row">
                <div class="col-sm-4 devilry-frontpage-more-roles-link-wrapper">
                    <a href="{{ DEVILRY_LACKING_PERMISSIONS_URL }}"
                            id="devilry_frontpage_lacking_permissions_link"
                            class="devilry-frontpage-more-roles-link plain-link">
                        {% trans "I should have had more roles" %}
                    </a>
                </div>
                <div class="col-sm-4 devilry-frontpage-more-roles-link-wrapper">
                    <a href="{% cradmin_url instanceid='devilry_account' appname='account' viewname='INDEX' roleid='' %}"
                            target="_blank"
                            id="devilry_frontpage_see_active_roles_link"
                            class="devilry-frontpage-see-active-roles-link plain-link">
                        {% trans "See all active roles" %}
                    </a>
                </div>
                <div class="col-sm-4 devilry-frontpage-superuser-link-wrapper">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="devilry-frontpage-superuser-link plain-link">
                            {% trans "Superuser UI" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block body %}
    {% if DEVILRY_FRONTPAGE_HEADER_INCLUDE_TEMPLATE %}
        {% include DEVILRY_FRONTPAGE_HEADER_INCLUDE_TEMPLATE %}
    {% endif %}
    {{ block.super }}
    {% if DEVILRY_FRONTPAGE_FOOTER_INCLUDE_TEMPLATE %}
        {% include DEVILRY_FRONTPAGE_FOOTER_INCLUDE_TEMPLATE %}
    {% endif %}
{% endblock body %}


{% block devilry_footer %}
    {% include "devilry_deploy/frontpage_footer.django.html" %}
{% endblock devilry_footer %}
