{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}
    {% trans "Devilry frontpage" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>{% trans "Choose your role" %}</h1>
{% endblock pageheader-inner %}

{% block bodyclass %}
    devilry-frontpage
{% endblock bodyclass %}

{% block content %}
    <div class="container">
        {% if roleselect_list.user_has_no_roles %}
            <div class="alert alert-warning">
                {% trans "You do not have access to anything in Devilry." %}
                <a href="{{ DEVILRY_LACKING_PERMISSIONS_URL }}" id="devilry_frontpage_lacking_permissions_link">
                    {% trans "Click here to learn how to get access to Devilry" %}</a>.
            </div>
        {% else %}
            {% cradmin_render_renderable roleselect_list %}
            <div class="row">
                <div class="col-sm-6 devilry-frontpage-more-roles-link-wrapper">
                    <a href="{{ DEVILRY_LACKING_PERMISSIONS_URL }}"
                            id="devilry_frontpage_lacking_permissions_link"
                            class="devilry-frontpage-more-roles-link">
                        {% trans "I should have had more roles" %}
                    </a>
                </div>
                <div class="col-sm-6 devilry-frontpage-superuser-link-wrapper">
                    {% if request.user.is_superuser %}
                        <a href="/superuser/" class="devilry-frontpage-superuser-link">
                            {% trans "Superuser UI" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block body %}
    {% if DEVILRY_FRONTPAGE_HEADER_INCLUDE_TEMPLATE %}
        {% include DEVILRY_FRONTPAGE_HEADER_INCLUDE_TEMPLATE %}
    {% endif %}
    {{ block.super }}
    {% if DEVILRY_FRONTPAGE_FOOTER_INCLUDE_TEMPLATE %}
        {% include DEVILRY_FRONTPAGE_FOOTER_INCLUDE_TEMPLATE %}
    {% endif %}
{% endblock body %}
