{% load i18n %}

<span class="devilry-core-comment-summary">
    <span class="devilry-core-comment-summary-studentcomments">
        {% if group.cached_data.public_student_comment_count == 1 %}
            {% blocktrans trimmed with commentcount=group.cached_data.public_student_comment_count %}
                {{ commentcount }} comment from student.
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed with commentcount=group.cached_data.public_student_comment_count%}
                {{ commentcount }} comments from student.
            {% endblocktrans %}
        {% endif %}
    </span>
    <span class="devilry-core-comment-summary-studentfiles">
        {% if group.cached_data.public_student_file_upload_count == 1 %}
            {% blocktrans trimmed with filecount=group.cached_data.public_student_file_upload_count %}
                {{ filecount }} file from student.
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed with filecount=group.cached_data.public_student_file_upload_count %}
                {{ filecount }} files from student.
            {% endblocktrans %}
        {% endif %}
    </span>
    <span class="devilry-core-comment-summary-examinercomments">
        {% if group.cached_data.public_examiner_comment_count == 1 %}
            {% blocktrans trimmed with commentcount=group.cached_data.public_examiner_comment_count %}
                {{ commentcount }} comment from examiner.
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed with commentcount=group.cached_data.public_examiner_comment_count %}
                {{ commentcount }} comments from examiner.
            {% endblocktrans %}
        {% endif %}
    </span>
    {% if group.number_of_private_groupcomments_from_user > 0 %}
        <span class="devilry-core-comment-summary-unpublishedcomments">
            {% if group.number_of_private_groupcomments_from_user == 1 %}
                {% blocktrans trimmed with commentcount=group.number_of_private_groupcomments_from_user %}
                    {{ commentcount }} unpublished comment from you.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed with commentcount=group.number_of_private_groupcomments_from_user %}
                    {{ commentcount }} unpublished comments from you.
                {% endblocktrans %}
            {% endif %}
        </span>
    {% endif %}
</span>
