{% load devilry_core_tags %}
{% load i18n %}

<br>
    {% if num_relatedexaminers == 0 %}
        <span class="devilry-core-periodtag-no-relatedexaminers">
            <strong>NO EXAMINERS</strong>
        </span>
    {% else %}
        <span class="devilry-core-periodtag-relatedexaminers">
            <strong>Examiners</strong>:
            {% for relatedexaminer in relatedexaminers %}
                <span class="devilry-core-periodtag-relatedexaminer">
                    {{ relatedexaminer.user.shortname }}
                </span>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
    {% endif %}
<br>