{% load devilry_core_tags %}
{% load i18n %}

{#<br>#}
{% if num_relatedstudents == 0 %}
    <span class="devilry-core-periodtag-no-relatedstudents">
        <strong>NO STUDENTS</strong>
    </span>
{% else %}
    <span class="devilry-core-periodtag-relatedstudents">
        <strong>Students</strong>:
        {% for relatedstudent in relatedstudents %}
            <span class="devilry-core-periodtag-relatedstudent">
                {{ relatedstudent.user.shortname }}
            </span>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </span>
{% endif %}
<br><br>