.devilry-comment-editor {

    .devilry-comment-editor-toolbar {
        display: flex;
        align-items: flex-start;

        .btn {
            margin-bottom: 0;
        }

        &__option {
            margin-right: 3px;
        }
    }

    &__textarea {
        .devilry-comment-editor-textarea {
            &--copy {
                visibility: hidden;
            }
        }
    }
}