{% extends "cradmin_legacy/viewhelpers/listbuilderview/filterlist-right.django.html" %}

{% load i18n %}
{% load cradmin_legacy_tags %}
{% load cradmin_legacy_icon_tags %}

{% block title %}
    {{ pagetitle }}
{% endblock title %}

{% block pageheader-outer-extraclasses %}
    {{ block.super }}
    devilry-page-header-with-backlink
{% endblock pageheader-outer-extraclasses %}

{% block pageheader-inner %}
    {{ block.super }}
    <a href="{% cradmin_instanceindex_url appname='overview' %}" class="devilry-page-header-backlink">
        <span class="sr-only">
            {% trans "Back to overview" %}
        </span>
        <span class="{% cradmin_icon 'devilry-pageheader-back' %}" aria-hidden="true"></span>
    </a>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        <div class="devilry-dashboard-container">
            <p class="text-muted">
                {% blocktrans trimmed %}
                    Please select a student. Use the search box to find the student. You
                    can search by both full name and username/email.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    {{ block.super }}
{% endblock content %}