{% extends "theme/no-body.django.html" %}
{% load extjs %}

{% block title %}Statistics{% endblock %}


{% block headextra %}

<script>
    var period_model = {{ RestfulSimplifiedPeriod|extjs_model }};
    var assignment_model = {{ RestfulSimplifiedAssignment|extjs_model }};
    var assignment_store = {{ RestfulSimplifiedAssignment|extjs_store }};
    var assignmentgroup_model = {{ RestfulSimplifiedAssignmentGroup|extjs_model:"assignment,users,feedback" }};
    var assignmentgroup_store = {{ RestfulSimplifiedAssignmentGroup|extjs_store }};

    

    Ext.require('devilry.statistics.Loader');
    Ext.require('devilry.statistics.FilterGroup');
    Ext.onReady(function() {
        Ext.getBody().mask("Loading page", 'page-load-mask');
        Ext.create('devilry.statistics.Loader', {{ periodid }}, {
            listeners: {
                loaded: function(loader) {
                    var extjsStructures = loader.extjsFormat();
                    Ext.getBody().unmask();
                    //console.log(loader.students);
                    //console.log(loader.columns);

                    var store = Ext.create('Ext.data.Store', {
                        fields: extjsStructures.storeFields,
                        data: {'items': extjsStructures.storeStudents},
                        proxy: {
                            type: 'memory',
                            reader: {
                                type: 'json',
                                root: 'items'
                            }
                        }
                    });

                    Ext.create('Ext.panel.Panel', {
                        layout: 'fit',
                        items: [{
                            xtype: 'grid',
                            store: store,
                            columns: extjsStructures.gridColumns,
                            renderTo: Ext.getBody()
                        }]
                    });

                    //console.log(loader.students);
                    ////store.filter('username', /student1/);
                    var approvedFilter = Ext.create('devilry.statistics.FilterGroup', {
                        title: 'Approved'
                    });
                    approvedFilter.addFilter({
                        must_pass: ['week1', 'week2'],
                        pointspec: Ext.create('devilry.statistics.PointSpec', {
                            assignments: ['week2', 'week3'],
                            min: 6,
                            max: 14
                        })
                    });
                    store.filter(
                        Ext.create('Ext.util.Filter', {
                            filterFn: function(item) {
                                var username = item.get('username');
                                var student = loader.students[username];
                                //console.log(student);
                                var m = approvedFilter.match(student);
                                return m;
                            }
                        })
                    );
                }
            }
        });
    });
</script>

{% endblock %}
